Repository univention/ucsschool-kelvin-rest-api: changes, and which GitLab CI jobs are due for each by the changed paths.
All: docs-html, docs-pdf, docs-linkcheck, docs-spelling, docs-merge-to-one-artifact, docs-review, docs-create-production-merge-request, test ucs-school-lib, test kelvin-api, ucs_test_deb_lint, ucs_test_deb_build_git, ucs_test_deb_repo_import, ucs_test_deb_repo_build

docs-merge-to-one-artifact:
  needs:
  - job: docs-html
  - job: docs-pdf
  - job: docs-spelling
    artifacts: false
  - job: docs-linkcheck
    artifacts: false

docs-review:
  needs:
  - job: docs-merge-to-one-artifact

docs-create-production-merge-request:
  needs:
  - job: docs-merge-to-one-artifact

test ucs-school-lib:
  stage: tests
  needs:
  - job: build_docker_image
  image: $IMAGE_TAG
  script:
  - cp ucs-school-import/modules/ucsschool/lib/create_ou.py ucs-school-lib/modules/ucsschool/lib/
  - cd ucs-school-lib/modules
  ...

test kelvin-api:
  stage: tests
  needs:
  - job: build_docker_image
  image: $IMAGE_TAG
  script:
  - cd ${CI_PROJECT_DIR}/kelvin-api
  ...

ucs_test_deb_lint:
  stage: lint
  image:
    name: $UCSLINT_IMAGE
    entrypoint:
    - ''
  script:
  - cd ucs-test-ucsschool-kelvin && ucslint -j ucslint.xml
  artifacts:
    reports:
      junit: ucs-test-ucsschool-kelvin/ucslint.xml

ucs_test_deb_build_git:
  stage: build
  image: $DEB_IMAGE
  script:
  - apt-get update
  - cd ucs-test-ucsschool-kelvin
  - apt-get -q --assume-yes build-dep .
  - dpkg-buildpackage -us -uc
  - install -d -m 755 build
  - mv ../*.tar.*z ../*.dsc ../*.deb ../*.buildinfo ../*.changes build/
  artifacts:
    paths:
  ...

ucs_test_deb_repo_import:
  stage: build
  variables:
    GIT_STRATEGY: none
  tags:
  - omar
  script:
  - 'repo_admin.py -G $CI_REPOSITORY_URL -b $CI_COMMIT_BRANCH -P ucs-test-ucsschool-kelvin -r ${UCS_RELEASE}-0-0 -s $SCOPE -p $PACKAGE
  
    '

ucs_test_deb_repo_build:
  stage: build
  needs:
  - job: ucs_test_deb_repo_import
    artifacts: false
  variables:
    GIT_STRATEGY: none
  tags:
  - ladda
  script:
  - 'build-package-ng --no-pbuilder-update -r ${UCS_RELEASE}-0-0 -s $SCOPE -p $PACKAGE
  
    '

fix: Add parameter description to PATCH, PUT & POST requests
  kelvin-api/ucsschool/kelvin/routers/user.py
Due: test kelvin-api

fix: Increased git-depth also necessary here
  .gitlab-ci.yml
Due: none

fix: Can't assume legal-guardian is in same school - use existing make_legal_guardians method
  kelvin-api/ucsschool/kelvin/routers/user.py
Due: test kelvin-api

fix: Send URL instead of dn and accept URL or username for legal_guardians & legal_wards
  kelvin-api/tests/test_route_user.py
  kelvin-api/ucsschool/kelvin/routers/user.py
Due: test kelvin-api

fix: Here it still uses the dn as it comes from udm
  kelvin-api/tests/test_route_user.py
Due: test kelvin-api

fix: Add comment that there are no cases with "/" in the username
  kelvin-api/ucsschool/kelvin/routers/user.py
Due: test kelvin-api

fix: Needs to prepare attributes after setting them
  kelvin-api/ucsschool/kelvin/routers/user.py
Due: test kelvin-api

fix: Fix wording for legal guardians
  kelvin-api/tests/test_import_user.py
  ucs-school-import/debian/ucs-school-import.postinst
  ucs-school-import/debian/ucs-school-import.univention-config-registry-variables
  ucs-school-import/udm_hook/de.po
  ucs-school-import/udm_hook/ucsschool_legal_guardian.py
  ucs-school-import/udm_hook/ucsschool_legal_ward.py
  ucs-school-import/usr/share/ucs-school-import/scripts/migrate_ucsschool_roles
  ucs-school-import/usr/share/ucs-school-import/scripts/ucs-school-import
  ucs-school-lib/modules/ucsschool/lib/i18n.py
  ucs-school-lib/modules/ucsschool/lib/models/school.py
  ucs-school-lib/modules/ucsschool/lib/models/user.py
  ucs-school-lib/modules/ucsschool/lib/schoolldap.py
  ucs-school-lib/modules/ucsschool/lib/tests/test_validation_users.py
Due: test ucs-school-lib, test kelvin-api

fix: Remove this assignment again as it's no longer needed
  kelvin-api/ucsschool/kelvin/routers/user.py
Due: test kelvin-api

fix: Change this back as it isn't a read-problem - the change didn't happen
  kelvin-api/tests/test_route_user.py
Due: test kelvin-api

fix: Add default value to these lists
  kelvin-api/ucsschool/kelvin/routers/user.py
Due: test kelvin-api

fix: Change parameter description
  .gitlab-ci.yml
  kelvin-api/ucsschool/kelvin/routers/user.py
Due: test kelvin-api

fix: Use UserDN instead of string here
  ucs-school-lib/modules/ucsschool/lib/models/attributes.py
Due: test ucs-school-lib

fix: Remove legacy role checks
  ucs-school-lib/modules/ucsschool/lib/models/user.py
Due: test ucs-school-lib

feat: Fix problems in tests without completely understanding the reason
  kelvin-api/tests/test_route_user.py
Due: test kelvin-api

fix: Fixed two issues when creating / updating users
  kelvin-api/ucsschool/kelvin/routers/user.py
Due: test kelvin-api

feat: Fix problem of lastname being used as record_uid in tests (same name twice)
  ucs-school-lib/modules/ucsschool/lib/tests/conftest.py
Due: test ucs-school-lib

feat: Remove Hyphon from LastName and add a digit to the name
  ucs-school-lib/modules/ucsschool/lib/tests/conftest.py
Due: test ucs-school-lib

fix: Fix several more issues with the tests
  ucs-school-lib/modules/ucsschool/lib/models/user.py
  ucs-school-lib/modules/ucsschool/lib/roleshares.py
  ucs-school-lib/modules/ucsschool/lib/tests/test_hook.py
  ucs-school-lib/modules/ucsschool/lib/tests/test_user.py
  ucs-test-ucsschool-kelvin/94_ucsschool-kelvin/conftest.py
Due: test ucs-school-lib, ucs_test_deb_lint, ucs_test_deb_build_git

fix: Make the lists optional
  kelvin-api/ucsschool/kelvin/routers/user.py
Due: test kelvin-api

fix: When disabled is true, it shouldn't have an expiration_date
  kelvin-api/tests/conftest.py
  kelvin-api/tests/test_route_user.py
Due: test kelvin-api

chore: remove useless check
  kelvin-api/tests/test_import_user.py
Due: test kelvin-api

fix: Increase git-depth to 100 to not get this problem again
  .gitlab-ci.yml
Due: none

fix: Remove legacy role tests and add legal-guardian role to tests
  ucs-school-lib/modules/ucsschool/lib/tests/test_user.py
Due: test ucs-school-lib

feat: Fix problem that this ou gives different samba-path when cached
  kelvin-api/tests/test_route_school.py
Due: test kelvin-api

feat: Fix problem of different _hook_path values being used and not all hooks being deleted afterwards
  kelvin-api/tests/test_pyhook.py
Due: test kelvin-api

fix: Fix tests in ucs-test-ucsschool-kelvin
  kelvin-api/ucsschool/kelvin/routers/user.py
  ucs-school-import/modules/ucsschool/importer/models/import_user.py
  ucs-test-ucsschool-kelvin/94_ucsschool-kelvin/02_role_resource.py
  ucs-test-ucsschool-kelvin/94_ucsschool-kelvin/conftest.py
Due: test kelvin-api, ucs_test_deb_lint, ucs_test_deb_build_git

docs: add inline doc string
  kelvin-api/tests/test_pyhook.py
Due: test kelvin-api

fix: Fix pipeline issues
  .gitlab-ci.yml
Due: none

fix: Better fix for disable & shadowExpire problem
  kelvin-api/tests/conftest.py
  kelvin-api/tests/test_route_user.py
Due: test kelvin-api

fix: Make legal-guardian changes version 2.1.0
  appcenter/README_UPDATE_EN
  kelvin-api/changelog.rst
Due: docs-html, docs-pdf, docs-linkcheck, docs-spelling, docs-merge-to-one-artifact, docs-review, docs-create-production-merge-request, test kelvin-api

fix: Do text changes: legal ward -> student, Schutzbefohlener -> Schüler
  ucs-school-import/modules/ucsschool/importer/models/import_user.py
  ucs-school-import/udm_hook/de.po
  ucs-school-import/udm_hook/ucsschool_legal_guardian.py
  ucs-school-import/udm_hook/ucsschool_legal_ward.py
  ucs-school-lib/modules/ucsschool/lib/de.po
  ucs-school-lib/modules/ucsschool/lib/models/attributes.py
  ucs-school-lib/modules/ucsschool/lib/models/user.py
Due: test ucs-school-lib

Path conditions:
  docs-html: any of: doc/docs/**/*, kelvin-api/changelog.rst
  docs-pdf: any of: doc/docs/**/*, kelvin-api/changelog.rst
  docs-linkcheck: any of: doc/docs/**/*, kelvin-api/changelog.rst
  docs-spelling: any of: doc/docs/**/*, kelvin-api/changelog.rst
  docs-merge-to-one-artifact: any of: doc/docs/**/*, kelvin-api/changelog.rst
  docs-review: any of: doc/docs/**/*, kelvin-api/changelog.rst
  docs-create-production-merge-request: any of: doc/docs/**/*, kelvin-api/changelog.rst
  test ucs-school-lib: any of: ucs-school-lib/**/*
  test kelvin-api: any of: kelvin-api/**/*
  ucs_test_deb_lint: any of: ucs-test-ucsschool-kelvin/**/*
  ucs_test_deb_build_git: any of: ucs-test-ucsschool-kelvin/**/*
  ucs_test_deb_repo_import: any of: ucs-test-ucsschool-kelvin/debian/changelog
  ucs_test_deb_repo_build: any of: ucs-test-ucsschool-kelvin/debian/changelog
