Repository univention/ucsschool-kelvin-rest-api: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test ucs-school-lib, test kelvin-api, ucs_test_deb_lint, ucs_test_deb_build_git, ucs_test_deb_repo_import, ucs_test_deb_repo_build

Path conditions:
  test ucs-school-lib: any of: ucs-school-lib/**/*
  test kelvin-api: any of: kelvin-api/**/*
  ucs_test_deb_lint: any of: ucs-test-ucsschool-kelvin/**/*
  ucs_test_deb_build_git: any of: ucs-test-ucsschool-kelvin/**/*
  ucs_test_deb_repo_import: any of: ucs-test-ucsschool-kelvin/debian/changelog
  ucs_test_deb_repo_build: any of: ucs-test-ucsschool-kelvin/debian/changelog

test: add new fixtures for "module" scope and for new import configs
  kelvin-api/tests/conftest.py
  kelvin-api/tests/test_import_framework_config.py
  kelvin-api/tests/test_route_user.py
Due: test kelvin-api

test: add specific tests to PATCH email with existing scheme
  kelvin-api/tests/test_route_user_schemetest.py
Due: test kelvin-api

fix: fixup conftest.py
  kelvin-api/tests/conftest.py
Due: test kelvin-api

docs: add changelog entry
  appcenter/README_UPDATE_EN
Due: none

chore: make autoupdate-kelvin-container more resilient
  autoupdate-kelvin-container
Due: none

docs: improve Kelvin README
  README.md
Due: none

test: fix tests after revamping the import configure reset handling
  kelvin-api/tests/conftest.py
  kelvin-api/tests/test_config.py
Due: test kelvin-api

docs: add changelog entry
  appcenter/README_UPDATE_EN
  kelvin-api/changelog.rst
Due: test kelvin-api

chore: Fix version strings
  appcenter/README_UPDATE_EN
  kelvin-api/VERSION.txt
  kelvin-api/changelog.rst
Due: test kelvin-api

chore: rename team
  .gitlab-ci.yml
Due: none

fix: Don't use user_class method here because of multi-role users
  kelvin-api/ucsschool/kelvin/routers/user.py
Due: test kelvin-api

test: Activated school-admin filter as it's fixed now
  kelvin-api/tests/test_route_user.py
Due: test kelvin-api

docs: Add changelog entry
  appcenter/README_UPDATE_EN
  kelvin-api/changelog.rst
Due: test kelvin-api

chore: uv for packages
  .gitignore
  .gitlab-ci.yml
  .justfile
  .python-version
  README.md
  appcenter/ini.jinja
  appcenter/inst
  autoupdate-kelvin-container
  docker/Dockerfile
  docker/alpine_apk_list.build
  docker/alpine_apk_list.runtime
  docker/build.sh
  docker/start-kelvin.sh
  kelvin-api/empty_configs/global.json
  kelvin-api/empty_configs/user_import.json
  kelvin-api/empty_configs/user_import_http-api.json
  kelvin-api/empty_configs/user_import_legacy.json
  kelvin-api/requirements_all.txt
  kelvin-api/setup.cfg
  kelvin-api/setup.py
  kelvin-api/ucsschool/kelvin/token_auth.py
  kelvin-api/update_openapi_client
  openapi-client-udm-1.0.2.tar.gz
  pyproject.toml
  ucs-school-import/modules/requirements.txt
  ucs-school-import/modules/setup.py
  ucs-school-import/pyproject.toml
  ucs-school-lib/modules/setup.cfg
  ucs-school-lib/modules/setup.py
  ucs-school-lib/modules/ucsschool/lib/tests/conftest.py
  ucs-school-lib/pyproject.toml
  univention-directory-manager-modules-slim/pyproject.toml
  univention-directory-manager-modules-slim/requirements.txt
  univention-directory-manager-modules-slim/setup.py
  univention-lib-slim/pyproject.toml
  univention-lib-slim/requirements.txt
  univention-lib-slim/setup.py
  univention-lib-slim/univention/lib/__init__.py
  uv.lock
Due: test ucs-school-lib, test kelvin-api

ci: Update pre-commit hooks
  .pre-commit-config.yaml
Due: none

fix: Use split with maxsplit of 1
  ucs-test-ucsschool-kelvin/94_ucsschool-kelvin-performance/conftest.py
  ucs-test-ucsschool-kelvin/94_ucsschool-kelvin/04_workgroup_resource.py
Due: ucs_test_deb_lint, ucs_test_deb_build_git

fix: Temporary test to create one user before starting tests
  ucs-test-ucsschool-kelvin/94_ucsschool-kelvin-performance/conftest.py
Due: ucs_test_deb_lint, ucs_test_deb_build_git

fix(update_openapi_client): Don't ignore SSL verification errors
  appcenter/listener_trigger
  docker/start-kelvin.sh
Due: none

fix: Install openapi_client_udm if missing
  appcenter/listener_trigger
  docker/start-kelvin.sh
  kelvin-api/changelog.rst
Due: test kelvin-api

ci(prek): Use prek instead of pre-commit in Gitlab Pipeline.
  .gitlab-ci.yml
Due: none

test: Test automatic run of update_openapi_client
  ucs-test-ucsschool-kelvin/94_ucsschool-kelvin/60_missing_openapi_udm_client.py
Due: ucs_test_deb_lint, ucs_test_deb_build_git

feat: Modify user, not groups when removing school-groups
  ucs-school-lib/modules/ucsschool/lib/models/user.py
Due: test ucs-school-lib

wip: drafting the chapterr
  doc/docs/conf.py
  doc/docs/index.rst
  doc/docs/what-to-do-in-case-of-errors.rst
Due: none

feat: Only use local LDAP to verify existence where it's expected
  ucs-school-lib/modules/ucsschool/lib/models/base.py
Due: test ucs-school-lib

feat: Only use local LDAP to verify existence (in case of running on backup system)
  ucs-school-lib/modules/ucsschool/lib/models/base.py
Due: test ucs-school-lib

feat: Alternatively use primary server for LDAP check
  ucs-school-lib/modules/ucsschool/lib/models/base.py
  ucs-school-lib/modules/ucsschool/lib/models/utils.py
Due: test ucs-school-lib

feat: Alternatively only check locally in some cases
  ucs-school-lib/modules/ucsschool/lib/models/base.py
Due: test ucs-school-lib

feat: Alternatively only use primary if it's a backup system
  ucs-school-lib/modules/ucsschool/lib/models/utils.py
Due: test ucs-school-lib

feat: Let method use primary LDAP in backup systems
  kelvin-api/ucsschool/kelvin/routers/school.py
Due: test kelvin-api

feat: Retry method if it fails
  kelvin-api/requirements_all.txt
  ucs-school-lib/modules/ucsschool/lib/models/user.py
Due: test ucs-school-lib, test kelvin-api

test: Add test where UDM fails on first call
  ucs-school-lib/modules/ucsschool/lib/tests/test_user.py
Due: test ucs-school-lib

feat(kelvin-api): Use http header `X-Forwarded-For` to set correlation_id
  kelvin-api/changelog.rst
  kelvin-api/ucsschool/kelvin/constants.py
  kelvin-api/ucsschool/kelvin/main.py
Due: test kelvin-api

test: Test automatic run of update_openapi_client
  ucs-test-ucsschool-kelvin/94_ucsschool-kelvin/60_missing_openapi_udm_client.py
  ucs-test-ucsschool-kelvin/debian/changelog
Due: ucs_test_deb_lint, ucs_test_deb_build_git, ucs_test_deb_repo_import, ucs_test_deb_repo_build
