Repository univention/ucsschool-kelvin-rest-api: changes, and which GitLab CI jobs are due for each by the changed paths.
All: prepare, docs-html, docs-pdf, docs-linkcheck, docs-spelling, docs-warnings, docs-merge-to-one-artifact, docs-create-production-merge-request, build_docker_image, tests, ucs_test_deb_lint, ucs_test_deb_build_git, ucs_test_deb_repo_import, ucs_test_deb_repo_build, upload_appcenter_scripts_to_test_appcenter

prepare:
  stage: prepare
  image:
    name: python:3.9-bullseye
  artifacts:
    paths:
    - docker/build/
    expire_in: 1 day
  cache:
  - key: $CI_COMMIT_REF_SLUG
    paths:
    - docker/build/
  script:
  - apt-get update
  - apt-get install -y git rsync
  - cd ${CI_PROJECT_DIR}/docker
  - ./gitlab_prepare_docker_image

docs-merge-to-one-artifact:
  needs:
  - job: docs-html
  - job: docs-pdf
  - job: docs-spelling
    artifacts: false
  - job: docs-linkcheck
    artifacts: false

docs-create-production-merge-request:
  needs:
  - job: docs-merge-to-one-artifact

build_docker_image:
  stage: build
  variables:
    KANIKO_BUILD_CONTEXT: $CI_PROJECT_DIR/docker/build/
    KANIKO_ARGS: --build-arg app_id="$APP_ID" --build-arg commit="$CI_COMMIT_SHA" --build-arg date="$CI_JOB_STARTED_AT" --cache=true --cache-repo $CI_REGISTRY_IMAGE/cache --cache-copy-layers

tests:
  stage: tests
  needs:
  - job: build_docker_image
  image: $IMAGE_TAG
  script:
  - cd ${CI_PROJECT_DIR}/ucs-school-lib/modules/ucsschool/lib && python3 -m pytest -lvv --asyncio-mode=auto tests
  - cd ${CI_PROJECT_DIR}/kelvin-api && python3 -m pytest -lvv --asyncio-mode=auto tests

ucs_test_deb_lint:
  stage: lint
  image:
    name: $UCSLINT_IMAGE
    entrypoint:
    - ''
  script:
  - cd ucs-test-ucsschool-kelvin && ucslint -j ucslint.xml
  artifacts:
    reports:
      junit: ucs-test-ucsschool-kelvin/ucslint.xml

ucs_test_deb_build_git:
  stage: build
  image: $DEB_IMAGE
  script:
  - apt-get update
  - cd ucs-test-ucsschool-kelvin
  - apt-get -q --assume-yes build-dep .
  - dpkg-buildpackage -us -uc
  - install -d -m 755 build
  - mv ../*.tar.*z ../*.dsc ../*.deb ../*.buildinfo ../*.changes build/
  artifacts:
    paths:
  ...

ucs_test_deb_repo_import:
  stage: build
  variables:
    GIT_STRATEGY: none
  tags:
  - omar
  script:
  - 'repo_admin.py -G $CI_REPOSITORY_URL -b $CI_COMMIT_BRANCH -P ucs-test-ucsschool-kelvin -r ${UCS_RELEASE}-0-0 -s $SCOPE -p $PACKAGE
  
    '

ucs_test_deb_repo_build:
  stage: build
  needs:
  - job: ucs_test_deb_repo_import
    artifacts: false
  variables:
    GIT_STRATEGY: none
  tags:
  - ladda
  script:
  - 'build-package-ng --no-pbuilder-update -r ${UCS_RELEASE}-0-0 -s $SCOPE -p $PACKAGE
  
    '

upload_appcenter_scripts_to_test_appcenter:
  stage: production
  image: $APPCENTER_CONTROL_IMAGE
  script:
  - APP_VERSION="$(cat kelvin-api/VERSION.txt)"
  - cd appcenter
  - echo "updating $APP_NAME=$APP_VERSION"
  ...

Issue #108: changelog
  appcenter/README_UPDATE_EN
  kelvin-api/changelog.rst
Due: prepare, build_docker_image, tests, upload_appcenter_scripts_to_test_appcenter

Issue #108: fix appname in ci
  .gitlab-ci.yml
Due: none

Issue #108: fix: missing update-certificates in appcenter upload
  .gitlab-ci.yml
  appcenter/update-certificates
Due: upload_appcenter_scripts_to_test_appcenter

Issue #123: install logrotate templates during docker build
  docker/Dockerfile
  docker/gitlab_prepare_docker_image
  docker/logrotate_kelvin_info
  docker/logrotate_kelvin_template
  files/logrotate.d/ucsschool-kelvin-rest-api
  ucs-school-lib/modules/ucsschool/lib/models/utils.py
Due: prepare, build_docker_image, tests

fix: wip fix logrotation for http log
  .gitlab-ci.yml
  appcenter/inst
  appcenter/logrotate_kelvin_info
  appcenter/logrotate_kelvin_template
  appcenter/logrotate_opa_info
  appcenter/logrotate_opa_template
  appcenter/logrotate_validation_info
  appcenter/logrotate_validation_log_template
  docker/Dockerfile
  docker/gitlab_prepare_docker_image
Due: prepare, build_docker_image, upload_appcenter_scripts_to_test_appcenter

fix(docker): fix filepath for copying files
  appcenter/logrotate_validation_template
  docker/gitlab_prepare_docker_image
Due: prepare, build_docker_image, upload_appcenter_scripts_to_test_appcenter

fix(appcenter): use correct module for configRegistry
  appcenter/logrotate_validation_template
Due: upload_appcenter_scripts_to_test_appcenter

Issue #137: Fix traceback if servers do not exist
  kelvin-api/tests/test_route_school.py
  kelvin-api/ucsschool/kelvin/routers/school.py
Due: prepare, build_docker_image, tests

Issue #137: changelog
  appcenter/README_UPDATE_EN
  kelvin-api/changelog.rst
Due: prepare, build_docker_image, tests, upload_appcenter_scripts_to_test_appcenter

Issue #127: squah me qa improvments
  .gitlab-ci.yml
  appcenter/logrotate_validation_info
Due: upload_appcenter_scripts_to_test_appcenter

fix: wip fix logrotation for http log
  appcenter/inst
Due: upload_appcenter_scripts_to_test_appcenter

docs: wip add documentation for the new logrotation handled in docker
  doc/docs/installation-configuration.rst
Due: docs-html, docs-pdf, docs-linkcheck, docs-spelling, docs-warnings, docs-merge-to-one-artifact, docs-create-production-merge-request

Issue #137: Fix traceback if servers do not exist
  appcenter/README_UPDATE_EN
  kelvin-api/changelog.rst
  kelvin-api/tests/test_route_school.py
  kelvin-api/ucsschool/kelvin/routers/school.py
Due: prepare, build_docker_image, tests, upload_appcenter_scripts_to_test_appcenter

Issue #137: Fix empty edu and admin servers
  kelvin-api/tests/test_route_school.py
  kelvin-api/ucsschool/kelvin/routers/school.py
Due: prepare, build_docker_image, tests

Issue #126: release 1.10.0
  appcenter/README_UPDATE_EN
  kelvin-api/changelog.rst
Due: prepare, build_docker_image, tests, upload_appcenter_scripts_to_test_appcenter

Issue #126: Update changelog
  kelvin-api/changelog.rst
Due: prepare, build_docker_image, tests

Issue #126: Update README_UPDATE_EN
  appcenter/README_UPDATE_EN
Due: upload_appcenter_scripts_to_test_appcenter

Issue #126: Update Changelog
  appcenter/README_UPDATE_EN
  kelvin-api/changelog.rst
Due: prepare, build_docker_image, tests, upload_appcenter_scripts_to_test_appcenter

doc(.gitlab): issue template
  .gitlab/issue_templates/default.md
Due: none

Bug #56590: Applied suggested fix.
  kelvin-api/ucsschool/kelvin/routers/user.py
Due: prepare, build_docker_image, tests

Bug #56590: Added unittest.
  kelvin-api/tests/test_route_user.py
Due: prepare, build_docker_image, tests

Bug #56590: Changelog.
  appcenter/README_UPDATE_EN
  doc/docs/conf.py
  kelvin-api/VERSION.txt
  kelvin-api/changelog.rst
Due: prepare, docs-html, docs-pdf, docs-linkcheck, docs-spelling, docs-warnings, docs-merge-to-one-artifact, docs-create-production-merge-request, build_docker_image, tests, upload_appcenter_scripts_to_test_appcenter

ci(docs): Remove deprecated warnings job
  .gitlab-ci.yml
Due: none

docs: Cleanup docs configuration
  doc/docs/conf.py
Due: docs-html, docs-pdf, docs-linkcheck, docs-spelling, docs-warnings, docs-merge-to-one-artifact, docs-create-production-merge-request

ci(docs): Add review job
  .gitlab-ci.yml
Due: none

Bug #56314: serve swagger-ui statically instead of using CDN
  .pre-commit-config.yaml
  appcenter/README_UPDATE_EN
  kelvin-api/changelog.rst
  kelvin-api/static/redoc.standalone-2.0.0-rc.75.js
  kelvin-api/static/swagger-ui-5.17.14.css
  kelvin-api/static/swagger-ui-bundle-5.17.14.js
  kelvin-api/tests/test_route_base.py
  kelvin-api/ucsschool/kelvin/main.py
Due: prepare, build_docker_image, tests, upload_appcenter_scripts_to_test_appcenter

Bug #56314: add ini to repo
  appcenter/ini
Due: upload_appcenter_scripts_to_test_appcenter

Issue #139: Remove duplicate version numbers
  .gitlab-ci.yml
  appcenter/ucsschool-kelvin-rest-api.ini
  doc/docs/conf.py
  kelvin-api/VERSION.txt
Due: prepare, docs-html, docs-pdf, docs-linkcheck, docs-spelling, docs-warnings, docs-merge-to-one-artifact, docs-create-production-merge-request, build_docker_image, tests, upload_appcenter_scripts_to_test_appcenter

Issue #139: Run appcenter job without docs
  .gitlab-ci.yml
Due: none

Issue #139: option force appcenter-upload
  .gitlab-ci.yml
Due: none

Bug #56314: mark swagger-ui as binary to avoid git noise
  .gitattributes
Due: none

fix: Fix OPA service restart failure
  docker/ucsschool-kelvin-rest-api.initd
Due: prepare, build_docker_image

chore: Update changelog
  appcenter/README_UPDATE_EN
  kelvin-api/changelog.rst
Due: prepare, build_docker_image, tests, upload_appcenter_scripts_to_test_appcenter

chore: update changelogs/readme for release
  README.md
  appcenter/README_UPDATE_EN
  kelvin-api/changelog.rst
Due: prepare, build_docker_image, tests, upload_appcenter_scripts_to_test_appcenter

docs: Add changelog.rst to public docs
  doc/docs/changelog.rst
  doc/docs/index.rst
  kelvin-api/changelog.rst
Due: prepare, docs-html, docs-pdf, docs-linkcheck, docs-spelling, docs-warnings, docs-merge-to-one-artifact, docs-create-production-merge-request, build_docker_image, tests

chore: bump version
  kelvin-api/VERSION.txt
Due: prepare, build_docker_image, tests

docs: improve changelog
  kelvin-api/changelog.rst
Due: prepare, build_docker_image, tests

ci: include changelog file in trigger
  .gitlab-ci.yml
Due: none

Issue #142: write html coverage report
  ucs-test-ucsschool-kelvin/94_ucsschool-kelvin/12_in_container_tests_kelvin_api_coverage
  ucs-test-ucsschool-kelvin/debian/changelog
Due: ucs_test_deb_lint, ucs_test_deb_build_git, ucs_test_deb_repo_import, ucs_test_deb_repo_build

Path conditions:
  prepare: any of: docker/*, kelvin-api/**/*, ucs-school-import/**/*, ucs-school-lib/**/*, univention-directory-manager-modules-slim/**/*, univention-lib-slim/**/*
  docs-html: any of: doc/docs/**/*
  docs-pdf: any of: doc/docs/**/*
  docs-linkcheck: any of: doc/docs/**/*
  docs-spelling: any of: doc/docs/**/*
  docs-warnings: any of: doc/docs/**/*
  docs-merge-to-one-artifact: any of: doc/docs/**/*
  docs-create-production-merge-request: any of: doc/docs/**/*
  build_docker_image: any of: docker/*, kelvin-api/**/*, ucs-school-import/**/*, ucs-school-lib/**/*, univention-directory-manager-modules-slim/**/*, univention-lib-slim/**/*
  tests: any of: kelvin-api/**/*, ucs-school-lib/**/*
  ucs_test_deb_lint: any of: ucs-test-ucsschool-kelvin/**/*
  ucs_test_deb_build_git: any of: ucs-test-ucsschool-kelvin/**/*
  ucs_test_deb_repo_import: any of: ucs-test-ucsschool-kelvin/debian/changelog
  ucs_test_deb_repo_build: any of: ucs-test-ucsschool-kelvin/debian/changelog
  upload_appcenter_scripts_to_test_appcenter: any of: appcenter/**
