Repository univention/ucsschool-kelvin-rest-api: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test ucs-school-lib, test kelvin-api, ucs_test_deb_lint, ucs_test_deb_build_git, ucs_test_deb_repo_import, ucs_test_deb_repo_build

Path conditions:
  test ucs-school-lib: any of: ucs-school-lib/**/*
  test kelvin-api: any of: kelvin-api/**/*
  ucs_test_deb_lint: any of: ucs-test-ucsschool-kelvin/**/*
  ucs_test_deb_build_git: any of: ucs-test-ucsschool-kelvin/**/*
  ucs_test_deb_repo_import: any of: ucs-test-ucsschool-kelvin/debian/changelog
  ucs_test_deb_repo_build: any of: ucs-test-ucsschool-kelvin/debian/changelog

feat(connector): add consumer module
  Makefile
  appcenter/compose.jinja
  appcenter/inst
  dev/docker-compose.yaml
  docker/Dockerfile
  kelvin-connector/pyproject.toml
  kelvin-connector/src/kelvin_connector/__init__.py
  kelvin-connector/src/kelvin_connector/consumer.py
  kelvin-connector/src/kelvin_connector/consumer_lib.py
  uv.lock
Due: none

docs: Update architecture documentation
  Makefile
  doc/dev/architecture.rst
  doc/dev/architecture/er.mmd
  doc/dev/architecture/group-attributes.rst
  doc/dev/architecture/group-relations.rst
  doc/dev/architecture/grouptype-attributes.rst
  doc/dev/architecture/grouptype-relations.rst
  doc/dev/architecture/school-attributes.rst
Due: none

refactor(ucsschool-objects): replace GroupType with role-based M2M and simplify display_name
  alembic/versions/f1c5bf519a40_init_tables.py
  ucsschool-objects/src/ucsschool_objects/core/adapters/sqlalchemy/managers/group_manager.py
  ucsschool-objects/src/ucsschool_objects/core/adapters/sqlalchemy/mappers/to_domain.py
  ucsschool-objects/src/ucsschool_objects/core/adapters/sqlalchemy/mappers/to_orm.py
  ucsschool-objects/src/ucsschool_objects/core/domain/models.py
  ucsschool-objects/src/ucsschool_objects/database_models.py
  ucsschool-objects/tests/conftest.py
  ucsschool-objects/tests/core/adapters/test_nested_field_queries.py
  ucsschool-objects/tests/core/contracts/test_manager_create_contracts.py
  ucsschool-objects/tests/core/contracts/test_manager_load_spec_projections.py
  ucsschool-objects/tests/core/contracts/test_manager_modify_contracts.py
  ucsschool-objects/tests/core/domain/helpers/model_builders.py
  ucsschool-objects/tests/core/domain/test_user_model_identity_semantics.py
  ucsschool-objects/tests/test_database_models/test_scalars.py
  ucsschool-objects/tests/test_types.py
Due: none

fix(connector): correct alembic revision, missing DB secret, and password variable typo
  .env.alembic
  alembic/versions/e8b27dd51414_add_mapping_tables.py
  dev/docker-compose.yaml
  kelvin-api/ucsschool/kelvin/database.py
Due: test kelvin-api

refactor(ucsschool-objects): Complete group_type -> role refactor
  kelvin-connector/src/kelvin_connector/sync.py
  kelvin-connector/tests/conftest.py
  kelvin-connector/tests/test_sync.py
  ucsschool-objects/src/ucsschool_objects/core/adapters/sqlalchemy/managers/_shared.py
  ucsschool-objects/src/ucsschool_objects/core/adapters/sqlalchemy/managers/group_manager.py
  ucsschool-objects/src/ucsschool_objects/core/adapters/sqlalchemy/managers/user_manager.py
  ucsschool-objects/src/ucsschool_objects/core/adapters/sqlalchemy/mappers/to_domain.py
  ucsschool-objects/src/ucsschool_objects/core/adapters/sqlalchemy/mappers/to_orm.py
  ucsschool-objects/src/ucsschool_objects/core/domain/models.py
  ucsschool-objects/src/ucsschool_objects/core/domain/validators.py
  ucsschool-objects/src/ucsschool_objects/database_models.py
  ucsschool-objects/tests/conftest.py
  ucsschool-objects/tests/core/adapters/test_nested_field_queries.py
  ucsschool-objects/tests/core/adapters/test_sqlalchemy_session.py
  ucsschool-objects/tests/core/contracts/contract_test_support.py
  ucsschool-objects/tests/core/contracts/test_exception_raises.py
  ucsschool-objects/tests/core/contracts/test_manager_contracts.py
  ucsschool-objects/tests/core/contracts/test_manager_create_contracts.py
  ucsschool-objects/tests/core/contracts/test_manager_load_spec_projections.py
  ucsschool-objects/tests/core/contracts/test_manager_modify_contracts.py
  ucsschool-objects/tests/core/contracts/test_query_contracts.py
  ucsschool-objects/tests/core/domain/helpers/model_builders.py
  ucsschool-objects/tests/core/domain/test_model_validation.py
  ucsschool-objects/tests/core/domain/test_user_model_identity_semantics.py
  ucsschool-objects/tests/test_database_models/test_relationships.py
  ucsschool-objects/tests/test_database_models/test_scalars.py
Due: none

fix: Rename association tables related to group role and member role
  ucsschool-objects/src/ucsschool_objects/database_models.py
  ucsschool-objects/tests/test_database_models/test_relationships.py
Due: none

feat(connector): seed default roles and implement CRUD event handlers for user, group, and school
  alembic/versions/a3f9c12e8b01_seed_default_roles.py
  kelvin-connector/src/kelvin_connector/consumer.py
  kelvin-connector/src/kelvin_connector/sync.py
Due: none

refactor(db): use ucsschool-objects URL builder in alembic and support _FILE env vars
  alembic/env.py
  ucsschool-objects/src/ucsschool_objects/core/adapters/sqlalchemy/session.py
  ucsschool-objects/tests/core/adapters/test_sqlalchemy_session.py
Due: none

fix: suppress health endpoint and third-party library log noise
  kelvin-api/ucsschool/kelvin/service/log.py
  kelvin-api/ucsschool/kelvin/service/middleware.py
Due: test kelvin-api

fix: provisioning_config.json doesn't exist at container start and the mount fails
  appcenter/compose.jinja
Due: none

chore: use files for db settings
  appcenter/compose.jinja
Due: none

chore(SonarQube): Variable names should follow shell naming conventions
  appcenter/includes/setup-provisioning-subscription.sh
Due: none

fix: move provisioning_config.json into a subfolder
  Makefile
  appcenter/compose.jinja
  appcenter/includes/setup-provisioning-subscription.sh
  dev/docker-compose.yaml
  docker/start-connector.sh
  kelvin-connector/src/kelvin_connector/connector.py
Due: none

fix: avoid ROLLBACK on read-only alembic version check
  kelvin-api/ucsschool/kelvin/service/dependency.py
Due: test kelvin-api

fix: typo
  appcenter/compose.jinja
Due: none

fix: wait for provisioning_config.json
  docker/start-connector.sh
Due: none

chore(SonarQube): Use "[[" instead of "[" for conditional tests
  appcenter/includes/setup-provisioning-subscription.sh
Due: none

fix: use home grown dependency checks to fix app start
  appcenter/compose.jinja
  dev/docker-compose.yaml
  docker/start-connector.sh
  docker/start-kelvin.sh
  kelvin-api/ucsschool/kelvin/main.py
Due: test kelvin-api

feat: allow setting NUM_WORKERS as env var
  docker/start-kelvin.sh
Due: none

chore(SonarQube): Error messages should be sent to stderr
  docker/start-connector.sh
  docker/start-kelvin.sh
Due: none

fix: missing LDAP_SERVER_PORT
  Makefile
Due: none

fix: add provisioning-service as app dependency
  appcenter/ini.jinja
Due: none

feat: Move DN mapper to ucsschool_objects core library
  alembic/env.py
  kelvin-connector/src/kelvin_connector/connector.py
  kelvin-connector/src/kelvin_connector/database_models.py
  kelvin-connector/src/kelvin_connector/nubus_compat.py
  kelvin-connector/src/kelvin_connector/ports.py
  kelvin-connector/src/kelvin_connector/sync.py
  kelvin-connector/tests/test_dummy.py
  kelvin-connector/tests/test_sync.py
  ucsschool-objects/src/ucsschool_objects/__init__.py
  ucsschool-objects/src/ucsschool_objects/core/adapters/sqlalchemy/__init__.py
  ucsschool-objects/src/ucsschool_objects/core/adapters/sqlalchemy/dn_mapper.py
  ucsschool-objects/src/ucsschool_objects/core/domain/ports/__init__.py
  ucsschool-objects/src/ucsschool_objects/core/domain/ports/dn_mapper.py
  ucsschool-objects/src/ucsschool_objects/database_models.py
  ucsschool-objects/tests/test_nubus_compat.py
Due: none

refactor: move routers to v1 package
  kelvin-api/tests/conftest.py
  kelvin-api/tests/test_base.py
  kelvin-api/tests/test_pyhook.py
  kelvin-api/tests/test_route_school.py
  kelvin-api/tests/test_route_school_class.py
  kelvin-api/tests/test_route_user.py
  kelvin-api/tests/test_route_user_schemetest.py
  kelvin-api/tests/test_route_workgroup.py
  kelvin-api/tests/test_school_class_name_syntax.py
  kelvin-api/ucsschool/kelvin/main.py
  kelvin-api/ucsschool/kelvin/routers/v1/__init__.py
  kelvin-api/ucsschool/kelvin/routers/v1/base.py
  kelvin-api/ucsschool/kelvin/routers/v1/computer_client.py
  kelvin-api/ucsschool/kelvin/routers/v1/computer_room.py
  kelvin-api/ucsschool/kelvin/routers/v1/computer_server.py
  kelvin-api/ucsschool/kelvin/routers/v1/doc.py
  kelvin-api/ucsschool/kelvin/routers/v1/fastapi_doc_patch.py
  kelvin-api/ucsschool/kelvin/routers/v1/role.py
  kelvin-api/ucsschool/kelvin/routers/v1/school.py
  kelvin-api/ucsschool/kelvin/routers/v1/school_class.py
  kelvin-api/ucsschool/kelvin/routers/v1/user.py
  kelvin-api/ucsschool/kelvin/routers/v1/workgroup.py
Due: test kelvin-api

feat: implement v2 routes
  kelvin-api/tests/test_db_compatibility.py
  kelvin-api/ucsschool/kelvin/routers/v2/__init__.py
  kelvin-api/ucsschool/kelvin/routers/v2/role.py
  kelvin-api/ucsschool/kelvin/routers/v2/school.py
  kelvin-api/ucsschool/kelvin/routers/v2/school_class.py
  kelvin-api/ucsschool/kelvin/routers/v2/user.py
  kelvin-api/ucsschool/kelvin/routers/v2/workgroup.py
  kelvin-api/ucsschool/kelvin/service/dependency.py
  kelvin-api/ucsschool/kelvin/service/lifespan.py
  ucsschool-objects/src/ucsschool_objects/core/adapters/sqlalchemy/managers/user_manager.py
Due: test kelvin-api

fix: Fix matching on hostgroup name
  kelvin-connector/src/kelvin_connector/consumer.py
Due: none

fix: Reorder provisioning topic selection
  appcenter/includes/setup-provisioning-subscription.sh
Due: none

feat: Add preliminary log config
  kelvin-connector/src/kelvin_connector/connector.py
  kelvin-connector/tests/test_connector.py
Due: none

fix: Update on create event if already exists
  kelvin-connector/src/kelvin_connector/sync.py
Due: none

docs: Add notice about hook execution and v2
  doc/docs/installation-configuration.rst
Due: none

test: Add comparison test v1/v2
  kelvin-api/tests/conftest.py
  kelvin-api/tests/test_route_v1_v2_parity.py
Due: test kelvin-api

feat: Add connector to autoupdate script
  autoupdate-kelvin-container
Due: none

test: Test v2 school endpoints
  kelvin-api/tests/test_route_school.py
Due: test kelvin-api

fix: Ignore delete if object does not exist
  kelvin-connector/src/kelvin_connector/sync.py
  kelvin-connector/tests/test_sync.py
Due: none

ci: Install provisioning-service app
  .gitlab-ci/branch_tests.cfg
Due: none

test: Increase integration test timeout to 7200
  ucs-test-ucsschool-kelvin/94_ucsschool-kelvin/11_in_container_tests_kelvin_api_v1
  ucs-test-ucsschool-kelvin/94_ucsschool-kelvin/11_in_container_tests_kelvin_api_v2
Due: ucs_test_deb_lint, ucs_test_deb_build_git

chore: test package version bump
  ucs-test-ucsschool-kelvin/debian/changelog
Due: ucs_test_deb_lint, ucs_test_deb_build_git, ucs_test_deb_repo_import, ucs_test_deb_repo_build

fix: Use fixed provisioning-consumer-template
  kelvin-connector/pyproject.toml
  uv.lock
Due: none

test: Increase in container test timeout to 7200
  ucs-test-ucsschool-kelvin/94_ucsschool-kelvin/11_in_container_tests_kelvin_api
  ucs-test-ucsschool-kelvin/debian/changelog
Due: ucs_test_deb_lint, ucs_test_deb_build_git, ucs_test_deb_repo_import, ucs_test_deb_repo_build

ci: add performance-tests job with GitLab metrics artifact
  .gitlab-ci/branch_performance_tests.cfg
  .gitlab-ci/gitlab-ci.yml
  .gitlab-ci/locust_to_prometheus.py
Due: none
