Repository univention/ucsschool-kelvin-rest-api: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test ucs-school-lib, test kelvin-api, ucs_test_deb_lint, ucs_test_deb_build_git, ucs_test_deb_repo_import, ucs_test_deb_repo_build

Path conditions:
  test ucs-school-lib: any of: ucs-school-lib/**/*
  test kelvin-api: any of: kelvin-api/**/*
  ucs_test_deb_lint: any of: ucs-test-ucsschool-kelvin/**/*
  ucs_test_deb_build_git: any of: ucs-test-ucsschool-kelvin/**/*
  ucs_test_deb_repo_import: any of: ucs-test-ucsschool-kelvin/debian/changelog
  ucs_test_deb_repo_build: any of: ucs-test-ucsschool-kelvin/debian/changelog

chore(deps): update dependency univention/dev/tooling/ci-components to v2.20.1
  .gitlab-ci.yml
  .gitlab-ci/gitlab-ci-docs.yml
  .gitlab-ci/gitlab-ci.yml
Due: none

chore(ucs-school-lib): remove leftover requirements files
  ucs-school-lib/modules/requirements.txt
  ucs-school-lib/modules/requirements_test.txt
Due: test ucs-school-lib

docs(import): drop the stale intersphinx inventories
  ucs-school-import/usr/share/doc/ucs-school-import-http-api/source/conf.py
Due: none

fix(deps): update dependency setuptools to v84
  pyproject.toml
  ucs-school-lib/pyproject.toml
  uv.lock
Due: test ucs-school-lib

fix(deps): drop the unused setuptools dependency
  pyproject.toml
  ucs-school-lib/pyproject.toml
  uv.lock
Due: test ucs-school-lib

ci: add the baseline-buddy component for basedpyright baseline diffs
  .gitlab-ci/gitlab-ci.yml
Due: none

feat: make unwise change
  basedpyright-baseline.json
  custom_hooks/add_school_admins_to_admin_group.py
Due: none

chore(deps): lock pytest 9 for the performance tests
  ucs-test-ucsschool-kelvin/94_ucsschool-kelvin-performance/uv.lock
Due: ucs_test_deb_lint, ucs_test_deb_build_git

chore(deps): update dependency pytest to v9
  ucs-test-ucsschool-kelvin/94_ucsschool-kelvin-performance/requirements.txt
Due: ucs_test_deb_lint, ucs_test_deb_build_git

chore(deps): update dependency gevent to v26
  ucs-test-ucsschool-kelvin/94_ucsschool-kelvin-performance/requirements.txt
Due: ucs_test_deb_lint, ucs_test_deb_build_git

chore(deps): lock gevent 26 for the performance tests
  ucs-test-ucsschool-kelvin/94_ucsschool-kelvin-performance/uv.lock
Due: ucs_test_deb_lint, ucs_test_deb_build_git

chore(deps): lock tzdata 2026 for the performance tests
  ucs-test-ucsschool-kelvin/94_ucsschool-kelvin-performance/uv.lock
Due: ucs_test_deb_lint, ucs_test_deb_build_git

chore(deps): update dependency tzdata to v2026
  ucs-test-ucsschool-kelvin/94_ucsschool-kelvin-performance/requirements.txt
Due: ucs_test_deb_lint, ucs_test_deb_build_git

chore(deps): update dependency pywin32 to v312
  ucs-test-ucsschool-kelvin/94_ucsschool-kelvin-performance/requirements.txt
Due: ucs_test_deb_lint, ucs_test_deb_build_git

chore(deps): lock pywin32 312 for the performance tests
  ucs-test-ucsschool-kelvin/94_ucsschool-kelvin-performance/uv.lock
Due: ucs_test_deb_lint, ucs_test_deb_build_git

chore(deps): update dependency pycparser to v3
  ucs-test-ucsschool-kelvin/94_ucsschool-kelvin-performance/requirements.txt
Due: ucs_test_deb_lint, ucs_test_deb_build_git

chore(deps): lock pycparser 3 for the performance tests
  ucs-test-ucsschool-kelvin/94_ucsschool-kelvin-performance/uv.lock
Due: ucs_test_deb_lint, ucs_test_deb_build_git

chore(deps): lock packaging 26 for the performance tests
  ucs-test-ucsschool-kelvin/94_ucsschool-kelvin-performance/uv.lock
Due: ucs_test_deb_lint, ucs_test_deb_build_git

chore(deps): update dependency packaging to v26
  ucs-test-ucsschool-kelvin/94_ucsschool-kelvin-performance/requirements.txt
Due: ucs_test_deb_lint, ucs_test_deb_build_git

fix(deps): take only provisioning-consumer-lib from the knut index
  .pre-commit-config.yaml
  kelvin-connector/pyproject.toml
  pyproject.toml
  ucs-test-ucsschool-kelvin/94_ucsschool-kelvin-performance/requirements.txt
  uv.lock
Due: ucs_test_deb_lint, ucs_test_deb_build_git

ci: generate the performance test requirements.txt from uv.lock
  .pre-commit-config.yaml
  renovate.json
  ucs-test-ucsschool-kelvin/94_ucsschool-kelvin-performance/requirements.txt
Due: ucs_test_deb_lint, ucs_test_deb_build_git

docs: document pagination of the v2 searches
  doc/docs/resources.rst
  kelvin-api/changelog.rst
Due: test kelvin-api

feat(ucsschool-objects): add search_after to Manager.search
  ucsschool-objects/src/ucsschool_objects/__init__.py
  ucsschool-objects/src/ucsschool_objects/core/adapters/sqlalchemy/managers/group_manager.py
  ucsschool-objects/src/ucsschool_objects/core/adapters/sqlalchemy/managers/role_manager.py
  ucsschool-objects/src/ucsschool_objects/core/adapters/sqlalchemy/managers/school_manager.py
  ucsschool-objects/src/ucsschool_objects/core/adapters/sqlalchemy/managers/user_manager.py
  ucsschool-objects/src/ucsschool_objects/core/adapters/sqlalchemy/query_filter.py
  ucsschool-objects/src/ucsschool_objects/core/domain/errors.py
  ucsschool-objects/src/ucsschool_objects/core/domain/ports/manager.py
  ucsschool-objects/tests/core/contracts/test_query_contracts.py
Due: none

feat(kelvin): paginate the v2 searches
  kelvin-api/tests/test_pagination.py
  kelvin-api/tests/test_responses.py
  kelvin-api/tests/test_route_group_v2_filters.py
  kelvin-api/tests/test_route_school_class.py
  kelvin-api/tests/test_route_user.py
  kelvin-api/ucsschool/kelvin/routers/v2/_filters.py
  kelvin-api/ucsschool/kelvin/routers/v2/_pagination.py
  kelvin-api/ucsschool/kelvin/routers/v2/role.py
  kelvin-api/ucsschool/kelvin/routers/v2/school.py
  kelvin-api/ucsschool/kelvin/routers/v2/school_class.py
  kelvin-api/ucsschool/kelvin/routers/v2/user.py
  kelvin-api/ucsschool/kelvin/routers/v2/workgroup.py
Due: test kelvin-api

feat(ucsschool-objects): filter groups by role
  ucsschool-objects/src/ucsschool_objects/core/adapters/sqlalchemy/managers/group_manager.py
  ucsschool-objects/tests/core/adapters/test_nested_field_queries.py
  ucsschool-objects/tests/core/contracts/test_query_contracts.py
Due: none

fix: resolve the basedpyright findings of the pagination change
  basedpyright-baseline.json
  kelvin-api/tests/test_route_school_class.py
  kelvin-api/tests/test_route_user.py
  kelvin-api/ucsschool/kelvin/routers/v2/user.py
  ucsschool-objects/tests/core/adapters/test_nested_field_queries.py
Due: test kelvin-api

fix(kelvin): answer with the first page when paging back reaches the start
  doc/docs/resources.rst
  kelvin-api/tests/test_pagination.py
  kelvin-api/ucsschool/kelvin/routers/v2/_pagination.py
Due: test kelvin-api

fix(deps): update pyjwt to 2.15
  AGENTS.md
  basedpyright-baseline.json
  doc/dev/architecture.rst
  kelvin-api/changelog.rst
  kelvin-api/tests/conftest.py
  kelvin-api/tests/test_reader_auth.py
  kelvin-api/tests/test_token_auth.py
  kelvin-api/ucsschool/kelvin/main.py
  kelvin-api/ucsschool/kelvin/token_auth.py
  pyproject.toml
  ucs-test-ucsschool-kelvin/94_ucsschool-kelvin-performance/src/ucs_test_ucsschool_kelvin_performance/auth.py
  uv.lock
Due: test kelvin-api, ucs_test_deb_lint, ucs_test_deb_build_git

fix(deps): update ruamel.yaml to 0.19
  basedpyright-baseline.json
  kelvin-api/changelog.rst
  ucs-school-lib/modules/ucsschool/lib/models/utils.py
  ucs-school-lib/pyproject.toml
  uv.lock
Due: test ucs-school-lib, test kelvin-api

chore(deps): update pre-commit hook astral-sh/ruff-pre-commit to v0.16.10
  .pre-commit-config.yaml
Due: none

chore(deps): update dependency faker to ~=40.41.0
  pyproject.toml
  uv.lock
Due: none

chore(deps): lock file maintenance
  ucs-test-ucsschool-kelvin/94_ucsschool-kelvin-performance/uv.lock
  uv.lock
Due: ucs_test_deb_lint, ucs_test_deb_build_git

chore(deps): regenerate performance test requirements.txt
  ucs-test-ucsschool-kelvin/94_ucsschool-kelvin-performance/requirements.txt
Due: ucs_test_deb_lint, ucs_test_deb_build_git

fix(deps): adapt to SQLAlchemy 2.1, pydantic 2.14 and typed requests
  basedpyright-baseline.json
  kelvin-api/tests/test_schema.py
  kelvin-api/tests/test_urls.py
  kelvin-connector/pyproject.toml
  ucs-test-ucsschool-kelvin/94_ucsschool-kelvin/50_kelvin_app_ini.py
  ucsschool-objects/pyproject.toml
  ucsschool-objects/src/ucsschool_objects/core/adapters/sqlalchemy/managers/group_manager.py
  ucsschool-objects/src/ucsschool_objects/core/adapters/sqlalchemy/managers/user_manager.py
  ucsschool-objects/src/ucsschool_objects/core/adapters/sqlalchemy/query_filter.py
  ucsschool-objects/tests/core/adapters/test_nested_field_query_filter.py
  univention-directory-manager-modules-slim/univention/admin/client.py
  uv.lock
Due: test kelvin-api, ucs_test_deb_lint, ucs_test_deb_build_git

fix(deps): replace httpx with httpx2
  kelvin-api/changelog.rst
  pyproject.toml
  ucsschool-objects/tests/test_architecture.py
  uv.lock
Due: test kelvin-api

chore(deps): update postgres docker tag to v18
  dev/docker-compose.yaml
Due: none
