Repository univention/ucsschool-kelvin-rest-api: changes, and which GitLab CI jobs are due for each by the changed paths.
All: prepare, docs-html, docs-pdf, docs-linkcheck, docs-spelling, docs-warnings, docs-merge-to-one-artifact, docs-create-production-merge-request, build_docker_image, tests, ucs_test_deb_lint, ucs_test_deb_build_git, ucs_test_deb_repo_import, ucs_test_deb_repo_build, upload_appcenter_scripts_to_test_appcenter

prepare:
  stage: prepare
  image:
    name: python:3.9-bullseye
  artifacts:
    paths:
    - docker/build/
    expire_in: 1 day
  cache:
  - key: $CI_COMMIT_REF_SLUG
    paths:
    - docker/build/
  script:
  - apt-get update
  - apt-get install -y git rsync
  - cd ${CI_PROJECT_DIR}/docker
  - ./gitlab_prepare_docker_image

docs-merge-to-one-artifact:
  needs:
  - job: docs-html
  - job: docs-pdf
  - job: docs-spelling
    artifacts: false
  - job: docs-linkcheck
    artifacts: false

docs-create-production-merge-request:
  needs:
  - job: docs-merge-to-one-artifact

build_docker_image:
  stage: build
  variables:
    KANIKO_BUILD_CONTEXT: $CI_PROJECT_DIR/docker/build/
    KANIKO_ARGS: --build-arg app_id="$APP_ID" --build-arg commit="$CI_COMMIT_SHA" --build-arg date="$CI_JOB_STARTED_AT" --cache=true --cache-repo $CI_REGISTRY_IMAGE/cache --cache-copy-layers

tests:
  stage: tests
  needs:
  - job: build_docker_image
  image: $IMAGE_TAG
  script:
  - cd ${CI_PROJECT_DIR}/ucs-school-lib/modules/ucsschool/lib && python3 -m pytest -lvv --asyncio-mode=auto tests
  - cd ${CI_PROJECT_DIR}/kelvin-api && python3 -m pytest -lvv --asyncio-mode=auto tests

ucs_test_deb_lint:
  stage: lint
  image:
    name: $UCSLINT_IMAGE
    entrypoint:
    - ''
  script:
  - cd ucs-test-ucsschool-kelvin && ucslint -j ucslint.xml
  artifacts:
    reports:
      junit: ucs-test-ucsschool-kelvin/ucslint.xml

ucs_test_deb_build_git:
  stage: build
  image: $DEB_IMAGE
  script:
  - apt-get update
  - cd ucs-test-ucsschool-kelvin
  - apt-get -q --assume-yes build-dep .
  - dpkg-buildpackage -us -uc
  - install -d -m 755 build
  - mv ../*.tar.*z ../*.dsc ../*.deb ../*.buildinfo ../*.changes build/
  artifacts:
    paths:
  ...

ucs_test_deb_repo_import:
  stage: build
  variables:
    GIT_STRATEGY: none
  tags:
  - omar
  script:
  - 'repo_admin.py -G $CI_REPOSITORY_URL -b $CI_COMMIT_BRANCH -P ucs-test-ucsschool-kelvin -r ${UCS_RELEASE}-0-0 -s $SCOPE -p $PACKAGE
  
    '

ucs_test_deb_repo_build:
  stage: build
  needs:
  - job: ucs_test_deb_repo_import
    artifacts: false
  variables:
    GIT_STRATEGY: none
  tags:
  - ladda
  script:
  - 'build-package-ng --no-pbuilder-update -r ${UCS_RELEASE}-0-0 -s $SCOPE -p $PACKAGE
  
    '

upload_appcenter_scripts_to_test_appcenter:
  stage: production
  image: $APPCENTER_CONTROL_IMAGE
  script:
  - APP_VERSION="$(cat kelvin-api/VERSION.txt)"
  - cd appcenter
  - echo "updating $APP_NAME=$APP_VERSION"
  ...

Issue #142 fix: allow PATCH to set empty values
  .pre-commit-config.yaml
  docker/Dockerfile
  kelvin-api/tests/test_route_school_class.py
  kelvin-api/tests/test_route_user.py
  kelvin-api/tests/test_route_workgroup.py
  kelvin-api/ucsschool/kelvin/routers/base.py
  kelvin-api/ucsschool/kelvin/routers/school_class.py
  kelvin-api/ucsschool/kelvin/routers/user.py
  kelvin-api/ucsschool/kelvin/routers/workgroup.py
Due: prepare, build_docker_image, tests

Issue #142: Test null as the default for an empty user list
  kelvin-api/tests/test_route_school_class.py
  kelvin-api/tests/test_route_workgroup.py
Due: prepare, build_docker_image, tests

Issue #142: fix doc string and match code to doc string
  kelvin-api/tests/test_route_workgroup.py
  kelvin-api/ucsschool/kelvin/routers/school_class.py
  kelvin-api/ucsschool/kelvin/routers/user.py
  kelvin-api/ucsschool/kelvin/routers/workgroup.py
Due: prepare, build_docker_image, tests

Issue #142: test fix
  kelvin-api/tests/test_route_workgroup.py
Due: prepare, build_docker_image, tests

Issue #142: fix test
  kelvin-api/tests/test_route_workgroup.py
Due: prepare, build_docker_image, tests

fixup! Issue #142: fix test
  kelvin-api/ucsschool/kelvin/routers/school_class.py
  kelvin-api/ucsschool/kelvin/routers/workgroup.py
Due: prepare, build_docker_image, tests

fixup! fixup! Issue #142: fix test
  kelvin-api/tests/test_route_workgroup.py
Due: prepare, build_docker_image, tests

Issue #142: changelog
  appcenter/README_UPDATE_EN
  kelvin-api/changelog.rst
Due: prepare, build_docker_image, tests, upload_appcenter_scripts_to_test_appcenter

Issue #142
  appcenter/README_UPDATE_EN
Due: upload_appcenter_scripts_to_test_appcenter

Bug #57771: Workgroup PATCH does not differentiate between empty values and unset values
  .pre-commit-config.yaml
  appcenter/README_UPDATE_EN
  docker/Dockerfile
  kelvin-api/changelog.rst
  kelvin-api/tests/test_route_school_class.py
  kelvin-api/tests/test_route_user.py
  kelvin-api/tests/test_route_workgroup.py
  kelvin-api/ucsschool/kelvin/routers/base.py
  kelvin-api/ucsschool/kelvin/routers/school_class.py
  kelvin-api/ucsschool/kelvin/routers/user.py
  kelvin-api/ucsschool/kelvin/routers/workgroup.py
Due: prepare, build_docker_image, tests, upload_appcenter_scripts_to_test_appcenter

chore: Bump version to 1.10.4
  kelvin-api/VERSION.txt
Due: prepare, build_docker_image, tests

chore: add email template
  README.md
Due: none

Issue univention/components/ucsschool-kelvin-rest-api#144: Hook for error on user validation
  user_pre_mod_validation_hook.py
Due: none

chore(Issue #8478): Remove OPA from Kelvin
  kelvin-api/tests/conftest.py
  kelvin-api/tests/test_opa_integration.py
  kelvin-api/ucsschool/kelvin/ldap.py
  kelvin-api/ucsschool/kelvin/main.py
  kelvin-api/ucsschool/kelvin/opa.py
  kelvin-api/ucsschool/kelvin/routers/role.py
  kelvin-api/ucsschool/kelvin/routers/school.py
  kelvin-api/ucsschool/kelvin/routers/school_class.py
  kelvin-api/ucsschool/kelvin/routers/user.py
  kelvin-api/ucsschool/kelvin/routers/workgroup.py
  kelvin-api/ucsschool/kelvin/token_auth.py
Due: prepare, build_docker_image, tests

fixup! chore(Issue #8478): Remove OPA from Kelvin
  .gitlab-ci.yml
  .gitlab-ci/Dockerfile.pre-commit
  .pre-commit-config.yaml
  appcenter/inst
  appcenter/settings
  docker/Dockerfile
  docker/gitlab_prepare_docker_image
  docker/logrotate_opa_info
  docker/logrotate_opa_template
  docker/opa.initd
Due: prepare, build_docker_image, upload_appcenter_scripts_to_test_appcenter

chore: change default behaviour to validate usernames
  .gitlab-ci.yml
  appcenter/README_UPDATE_EN
  kelvin-api/VERSION.txt
  kelvin-api/changelog.rst
  kelvin-api/requirements.txt
  ucs-school-lib/modules/ucsschool/lib/models/attributes.py
Due: prepare, build_docker_image, tests, upload_appcenter_scripts_to_test_appcenter

fix[meta]: supported ucs version was not updated
  appcenter/ucsschool-kelvin-rest-api.ini
Due: upload_appcenter_scripts_to_test_appcenter

chore!: Remove OPA from Kelvin
  .gitlab-ci.yml
  .gitlab-ci/Dockerfile.pre-commit
  .pre-commit-config.yaml
  appcenter/inst
  appcenter/settings
  docker/Dockerfile
  docker/gitlab_prepare_docker_image
  docker/logrotate_opa_info
  docker/logrotate_opa_template
  docker/opa.initd
  docker/ucsschool-kelvin-rest-api.initd
  kelvin-api/changelog.rst
  kelvin-api/opa_policies/policies.rego
  kelvin-api/opa_policies/test_policies.rego
  kelvin-api/tests/conftest.py
  kelvin-api/tests/test_opa_integration.py
  kelvin-api/ucsschool/kelvin/constants.py
  kelvin-api/ucsschool/kelvin/ldap.py
  kelvin-api/ucsschool/kelvin/main.py
  kelvin-api/ucsschool/kelvin/opa.py
  kelvin-api/ucsschool/kelvin/routers/role.py
  kelvin-api/ucsschool/kelvin/routers/school.py
  kelvin-api/ucsschool/kelvin/routers/school_class.py
  kelvin-api/ucsschool/kelvin/routers/user.py
  kelvin-api/ucsschool/kelvin/routers/workgroup.py
  kelvin-api/ucsschool/kelvin/token_auth.py
Due: prepare, build_docker_image, tests, upload_appcenter_scripts_to_test_appcenter

ci: Add automatic test appcenter versions
  .gitlab-ci.yml
  appcenter/ini
  appcenter/push_config_to_appcenter
Due: upload_appcenter_scripts_to_test_appcenter

ci: Add commit message linting pre-commit hooks and gitlab ci pipeline
  .gitlab-ci.yml
  .pre-commit-config.yaml
Due: none

chore!: Remove OPA from Kelvin
  .gitlab-ci.yml
  .gitlab-ci/Dockerfile.pre-commit
  .pre-commit-config.yaml
  appcenter/inst
  appcenter/settings
  docker/Dockerfile
  docker/gitlab_prepare_docker_image
  docker/logrotate_opa_info
  docker/logrotate_opa_template
  docker/opa.initd
  docker/ucsschool-kelvin-rest-api.initd
  kelvin-api/changelog.rst
  kelvin-api/opa_policies/policies.rego
  kelvin-api/opa_policies/test_policies.rego
  kelvin-api/tests/conftest.py
  kelvin-api/tests/test_opa_integration.py
  kelvin-api/ucsschool/kelvin/constants.py
  kelvin-api/ucsschool/kelvin/main.py
  kelvin-api/ucsschool/kelvin/opa.py
  kelvin-api/ucsschool/kelvin/routers/role.py
  kelvin-api/ucsschool/kelvin/routers/school.py
  kelvin-api/ucsschool/kelvin/routers/school_class.py
  kelvin-api/ucsschool/kelvin/routers/user.py
  kelvin-api/ucsschool/kelvin/routers/workgroup.py
  kelvin-api/ucsschool/kelvin/token_auth.py
Due: prepare, build_docker_image, tests, upload_appcenter_scripts_to_test_appcenter

ci: Add tag pipeline job to publish docker image
  .gitlab-ci.yml
Due: none

ci: add commit tag pipeline job to publish app.
  .gitlab-ci.yml
Due: none

ci: Change app base version to 999.0.0-staging
  .gitlab-ci.yml
Due: none

ci: Add release chat message
  .gitlab-ci.yml
Due: none

fix: broken app update after 5.0 to 5.2 upgrade
  appcenter/preinst
Due: upload_appcenter_scripts_to_test_appcenter

ci: Add announcement mail job to pipeline
  .gitlab-ci.yml
Due: none

fix: shadowExpire has been changed to always be in UTC
  kelvin-api/ucsschool/kelvin/routers/user.py
Due: prepare, build_docker_image, tests

fix: remove more opa
  README.md
  kelvin-api/Makefile
  ucs-test-ucsschool-kelvin/94_ucsschool-kelvin/03_user_resource.py
Due: prepare, build_docker_image, tests, ucs_test_deb_lint, ucs_test_deb_build_git

chore: changelog
  ucs-test-ucsschool-kelvin/debian/changelog
Due: ucs_test_deb_lint, ucs_test_deb_build_git, ucs_test_deb_repo_import, ucs_test_deb_repo_build

fix: clean up hooks
  kelvin-api/tests/test_pyhook.py
Due: prepare, build_docker_image, tests

chore: changelog
  appcenter/README_UPDATE_EN
  kelvin-api/changelog.rst
Due: prepare, build_docker_image, tests, upload_appcenter_scripts_to_test_appcenter

ci: Improve release pipeline and documentation
  .gitlab-ci.yml
  README.md
Due: none

ci: update relase workflow
  .gitlab-ci.yml
Due: none

docs: how to release the app
  README.md
Due: none

feat: Add profiling option
  kelvin-api/requirements_dev.txt
  kelvin-api/ucsschool/kelvin/main.py
Due: prepare, build_docker_image, tests

Path conditions:
  prepare: any of: docker/*, kelvin-api/**/*, ucs-school-import/**/*, ucs-school-lib/**/*, univention-directory-manager-modules-slim/**/*, univention-lib-slim/**/*
  docs-html: any of: doc/docs/**/*
  docs-pdf: any of: doc/docs/**/*
  docs-linkcheck: any of: doc/docs/**/*
  docs-spelling: any of: doc/docs/**/*
  docs-warnings: any of: doc/docs/**/*
  docs-merge-to-one-artifact: any of: doc/docs/**/*
  docs-create-production-merge-request: any of: doc/docs/**/*
  build_docker_image: any of: docker/*, kelvin-api/**/*, ucs-school-import/**/*, ucs-school-lib/**/*, univention-directory-manager-modules-slim/**/*, univention-lib-slim/**/*
  tests: any of: kelvin-api/**/*, ucs-school-lib/**/*
  ucs_test_deb_lint: any of: ucs-test-ucsschool-kelvin/**/*
  ucs_test_deb_build_git: any of: ucs-test-ucsschool-kelvin/**/*
  ucs_test_deb_repo_import: any of: ucs-test-ucsschool-kelvin/debian/changelog
  ucs_test_deb_repo_build: any of: ucs-test-ucsschool-kelvin/debian/changelog
  upload_appcenter_scripts_to_test_appcenter: any of: appcenter/**
