Repository univention/ucsschool-kelvin-rest-api: changes, and which GitLab CI jobs are due for each by the changed paths.
All: docs-html, docs-pdf, docs-linkcheck, docs-spelling, docs-merge-to-one-artifact, docs-review, docs-create-production-merge-request, test ucs-school-lib, test kelvin-api, ucs_test_deb_lint, ucs_test_deb_build_git, ucs_test_deb_repo_import, ucs_test_deb_repo_build

Path conditions:
  docs-html: any of: doc/docs/**/*, kelvin-api/changelog.rst
  docs-pdf: any of: doc/docs/**/*, kelvin-api/changelog.rst
  docs-linkcheck: any of: doc/docs/**/*, kelvin-api/changelog.rst
  docs-spelling: any of: doc/docs/**/*, kelvin-api/changelog.rst
  docs-merge-to-one-artifact: any of: doc/docs/**/*, kelvin-api/changelog.rst
  docs-review: any of: doc/docs/**/*, kelvin-api/changelog.rst
  docs-create-production-merge-request: any of: doc/docs/**/*, kelvin-api/changelog.rst
  test ucs-school-lib: any of: ucs-school-lib/**/*
  test kelvin-api: any of: kelvin-api/**/*
  ucs_test_deb_lint: any of: ucs-test-ucsschool-kelvin/**/*
  ucs_test_deb_build_git: any of: ucs-test-ucsschool-kelvin/**/*
  ucs_test_deb_repo_import: any of: ucs-test-ucsschool-kelvin/debian/changelog
  ucs_test_deb_repo_build: any of: ucs-test-ucsschool-kelvin/debian/changelog

fix: Remove temporary test that wasn't suppose to be committed
  ucs-school-lib/modules/ucsschool/lib/models/user.py
Due: test ucs-school-lib

feat: adding lib changes legalGuardian branch of school repo
  ucs-school-lib/modules/ucsschool/lib/de.po
  ucs-school-lib/modules/ucsschool/lib/i18n.py
  ucs-school-lib/modules/ucsschool/lib/models/__main__.py
  ucs-school-lib/modules/ucsschool/lib/models/attributes.py
  ucs-school-lib/modules/ucsschool/lib/models/school.py
  ucs-school-lib/modules/ucsschool/lib/models/user.py
  ucs-school-lib/modules/ucsschool/lib/models/validator.py
  ucs-school-lib/modules/ucsschool/lib/roles.py
  ucs-school-lib/modules/ucsschool/lib/roleshares.py
  ucs-school-lib/modules/ucsschool/lib/roleshares_umc.py
  ucs-school-lib/modules/ucsschool/lib/schoolldap.py
Due: test ucs-school-lib

feat: adding import changes legalGuardian branch of school repo
  ucs-school-import/debian/ucs-school-import.postinst
  ucs-school-import/debian/ucs-school-import.univention-config-registry-variables
  ucs-school-import/modules/ucsschool/importer/default_user_import_factory.py
  ucs-school-import/modules/ucsschool/importer/exceptions.py
  ucs-school-import/modules/ucsschool/importer/frontend/parse_user_import_cmdline.py
  ucs-school-import/modules/ucsschool/importer/models/import_user.py
  ucs-school-import/modules/ucsschool/importer/reader/csv_reader.py
  ucs-school-import/modules/ucsschool/importer/utils/constants.py
  ucs-school-import/modules/ucsschool/importer/utils/format_pyhook.py
  ucs-school-import/modules/ucsschool/importer/utils/shell.py
  ucs-school-import/schema/ucs-school-import.schema
  ucs-school-import/syntax/syntax.ucs-school-import.py
  ucs-school-import/udm_hook/de.po
  ucs-school-import/udm_hook/ucsschool_legal_guardian.py
  ucs-school-import/udm_hook/ucsschool_legal_ward.py
  ucs-school-import/usr/share/ucs-school-import/pyhooks-available/legal_guardian_as_record_uid.py
  ucs-school-import/usr/share/ucs-school-import/scripts/ucs-school-import
Due: none

fix: Several more fixes for the automatic tests
  kelvin-api/tests/test_pyhook.py
  kelvin-api/tests/test_route_user.py
  ucs-school-lib/modules/ucsschool/lib/models/user.py
Due: test ucs-school-lib, test kelvin-api

feat: Create method for distinguishing between user-types and use it for all user APIs
  kelvin-api/ucsschool/kelvin/routers/user.py
Due: test kelvin-api

fix: make this method async, as this gave an error
  ucs-school-lib/modules/ucsschool/lib/models/user.py
Due: test ucs-school-lib

feat: several more changes for adding legalGuardian to kelvin
  kelvin-api/tests/test_route_user.py
  ucs-school-lib/modules/ucsschool/lib/models/user.py
  ucs-school-lib/modules/ucsschool/lib/tests/conftest.py
  ucs-school-lib/modules/ucsschool/lib/tests/test_user.py
Due: test ucs-school-lib, test kelvin-api

feat: Make users search API return one of three types of user models
  kelvin-api/ucsschool/kelvin/routers/user.py
  ucs-school-lib/modules/ucsschool/lib/models/user.py
Due: test ucs-school-lib, test kelvin-api

feat: Add changelog
  appcenter/README_UPDATE_EN
  kelvin-api/changelog.rst
Due: docs-html, docs-pdf, docs-linkcheck, docs-spelling, docs-merge-to-one-artifact, docs-review, docs-create-production-merge-request, test kelvin-api

fix: Allow legal-guardian to be a student (e.g. sibling)
  ucs-school-import/udm_hook/ucsschool_user_options.py
Due: none

fix: Fix this condition - it was changed when trying to test something
  ucs-school-lib/modules/ucsschool/lib/models/user.py
Due: test ucs-school-lib

fix: Add patch tests, fixing validations
  kelvin-api/tests/test_route_user.py
  ucs-school-lib/modules/ucsschool/lib/models/user.py
Due: test ucs-school-lib, test kelvin-api

fix: Add proper error message if legal-guardian parameters are used for wrong roles
  kelvin-api/tests/test_route_user.py
  kelvin-api/ucsschool/kelvin/routers/user.py
Due: test kelvin-api

fix: Add proper error message for POST & PUT requests
  kelvin-api/tests/test_route_user.py
  kelvin-api/ucsschool/kelvin/routers/user.py
Due: test kelvin-api

fix: Remove unused parameter, increase git depth
  .gitlab-ci.yml
  kelvin-api/tests/test_route_user.py
Due: test kelvin-api

fix: Modify the Kelvin doc to add the two new roles
  doc/docs/resource-roles.rst
Due: docs-html, docs-pdf, docs-linkcheck, docs-spelling, docs-merge-to-one-artifact, docs-review, docs-create-production-merge-request

fix: Create rsyslog.d conf in configure_host script
  appcenter/configure_host
  kelvin-api/etc/rsyslog.d/univention_kelvin.conf
Due: test kelvin-api

fix: Applied suggested changes to tests of QA
  kelvin-api/tests/test_import_user.py
  kelvin-api/tests/test_route_user.py
  kelvin-api/ucsschool/kelvin/routers/user.py
Due: test kelvin-api

fix: Check role first to speed up tests
  kelvin-api/tests/test_route_user.py
Due: test kelvin-api

fix: Few more changes from QA
  kelvin-api/tests/test_route_user.py
  ucs-school-import/syntax/syntax.ucs-school-import.py
Due: test kelvin-api

fix: Make tests work
  kelvin-api/tests/test_pyhook.py
  kelvin-api/tests/test_route_user.py
  ucs-school-lib/modules/ucsschool/lib/tests/test_validation_to_dict.py
Due: test ucs-school-lib, test kelvin-api

fix: Add lines from previous commit to this test
  kelvin-api/tests/test_route_user.py
Due: test kelvin-api

fix: Make legal-guardian changes version 2.1.0
  appcenter/README_UPDATE_EN
  kelvin-api/changelog.rst
Due: docs-html, docs-pdf, docs-linkcheck, docs-spelling, docs-merge-to-one-artifact, docs-review, docs-create-production-merge-request, test kelvin-api

docs: add inline doc string
  kelvin-api/tests/test_pyhook.py
Due: test kelvin-api

chore: remove useless check
  kelvin-api/tests/test_import_user.py
Due: test kelvin-api

fix: Make the lists optional
  kelvin-api/ucsschool/kelvin/routers/user.py
Due: test kelvin-api

test: reload gunicorn, instead of restarting
  kelvin-api/tests/conftest.py
Due: test kelvin-api

fix: make autoupdate-kelvin-container more robust
  autoupdate-kelvin-container
Due: none

feat: remove openrc service and run gunicorn directly
  docker/Dockerfile
  docker/alpine_apk_list.runtime
  docker/build.sh
  docker/start-kelvin.sh
  kelvin-api/tests/conftest.py
Due: test kelvin-api

feat: new type of logger handler to use Docker stdout
  docker/Dockerfile
  docker/build.sh
  docker/logsocket.initd
  kelvin-api/etc/rsyslog.d/univention_kelvin.conf
  kelvin-api/socket_server.py
  kelvin-api/ucsschool/kelvin/main.py
  ucs-school-lib/modules/ucsschool/lib/models/utils.py
Due: test ucs-school-lib, test kelvin-api

fix: Activate logsocket service
  docker/build.sh
Due: none

fix: This should be this variable for the logic to work
  kelvin-api/ucsschool/kelvin/main.py
Due: test kelvin-api

fix: Use the built-in Union type of Python 3.10
  ucs-school-lib/modules/ucsschool/lib/models/utils.py
Due: test ucs-school-lib

fix: Fix failed test that constant wasn't used
  kelvin-api/tests/conftest.py
  kelvin-api/ucsschool/kelvin/constants.py
  kelvin-api/ucsschool/kelvin/main.py
  ucs-school-lib/modules/ucsschool/lib/models/utils.py
Due: test ucs-school-lib, test kelvin-api

fix: Use UserDN instead of string here
  ucs-school-lib/modules/ucsschool/lib/models/attributes.py
Due: test ucs-school-lib

fix: Add default value to these lists
  kelvin-api/ucsschool/kelvin/routers/user.py
Due: test kelvin-api

fix: Fixed two issues when creating / updating users
  kelvin-api/ucsschool/kelvin/routers/user.py
Due: test kelvin-api
