Repository univention/ucsschool-kelvin-rest-api: changes, and which GitLab CI jobs are due for each by the changed paths.
All: prepare, html, pdf, linkcheck, spelling, docs-merge, build, tests

Path conditions:
  prepare: any of: docker/*, kelvin-api/**/*, ucs-school-import/**/*, ucs-school-lib/**/*, univention-directory-manager-modules-slim/**/*, univention-lib-slim/**/*
  html: any of: doc/docs/**/*
  pdf: any of: doc/docs/**/*
  linkcheck: any of: doc/docs/**/*
  spelling: any of: doc/docs/**/*
  docs-merge: any of: doc/docs/**/*
  build: any of: docker/*, kelvin-api/**/*, ucs-school-import/**/*, ucs-school-lib/**/*, univention-directory-manager-modules-slim/**/*, univention-lib-slim/**/*
  tests: any of: kelvin-api/**/*, ucs-school-lib/**/*

Issue #00: move label to bottom of dockerfile
  docker/Dockerfile
Due: prepare, build

Issue #00: use docker services kaniko template
  .gitlab-ci.yml
  docker/Dockerfile
  docker/gitlab_prepare_docker_image
Due: prepare, build

Issue #00: only run on new files in mr
  .gitlab-ci.yml
  docker/gitlab_prepare_docker_image
Due: prepare, build

Issue #00: use pre-commit from docker-services
  .gitlab-ci.yml
Due: none

Issue #62: performance improvements in pipeline
  .gitlab-ci.yml
  docker/Dockerfile
  docker/gitlab_prepare_docker_image
Due: prepare, build

Issue #50: document bug create school single server
  doc/docs/known-issues.rst
Due: html, pdf, linkcheck, spelling, docs-merge

fixup! Issue #50: document bug create school single server
  doc/docs/known-issues.rst
Due: html, pdf, linkcheck, spelling, docs-merge

fixup! fixup! Issue #50: document bug create school single server
  doc/docs/known-issues.rst
Due: html, pdf, linkcheck, spelling, docs-merge

fixup! fixup! fixup! Issue #50: document bug create school single server
  doc/docs/known-issues.rst
Due: html, pdf, linkcheck, spelling, docs-merge

fixup! fixup! fixup! fixup! Issue #50: replace LDAPAccess with uldap
  kelvin-api/ucsschool/kelvin/ldap.py
Due: prepare, build, tests

fixup! fixup! Issue #50: replace LDAPAccess with uldap
  kelvin-api/ucsschool/kelvin/ldap.py
Due: prepare, build, tests

fixup! Issue #50: cache get_uldap_conf
  kelvin-api/tests/conftest.py
Due: prepare, build, tests

fixup! Issue #50: replace LDAPAccess with uldap
  kelvin-api/tests/conftest.py
Due: prepare, build, tests

fixup! Issue #50: replace LDAPAccess with uldap
  kelvin-api/tests/conftest.py
  kelvin-api/ucsschool/kelvin/ldap.py
Due: prepare, build, tests

Issue #50: replace LDAPAccess with uldap
  docker/Dockerfile
  kelvin-api/tests/conftest.py
  kelvin-api/tests/test_ldap.py
  kelvin-api/tests/test_route_school.py
  kelvin-api/tests/test_route_user.py
  kelvin-api/ucsschool/kelvin/ldap.py
  kelvin-api/ucsschool/kelvin/ldap_access.py
  kelvin-api/ucsschool/kelvin/main.py
  kelvin-api/ucsschool/kelvin/routers/base.py
  kelvin-api/ucsschool/kelvin/routers/school.py
  kelvin-api/ucsschool/kelvin/routers/user.py
  kelvin-api/ucsschool/kelvin/token_auth.py
  kelvin-api/ucsschool/kelvin/urls.py
  ucs-school-lib/modules/ucsschool/lib/tests/test_create_ou.py
Due: prepare, build, tests

fixup! fixup! fixup! Issue #50: replace LDAPAccess with uldap
  kelvin-api/ucsschool/kelvin/ldap.py
Due: prepare, build, tests

fixup! fixup! Issue #50: cache get_uldap_conf
  kelvin-api/tests/conftest.py
  kelvin-api/tests/test_ldap.py
Due: prepare, build, tests

Issue #50: remove ldap3 dependency
  kelvin-api/requirements.txt
Due: prepare, build, tests

Issue #50: cache get_uldap_conf
  kelvin-api/ucsschool/kelvin/ldap.py
Due: prepare, build, tests

Issue #50: cache get_uldap_conf
  kelvin-api/tests/test_ldap.py
  kelvin-api/ucsschool/kelvin/ldap.py
Due: prepare, build, tests

Issue #00: remove me
  .gitlab-ci.yml
  kelvin-api/changelog.rst
Due: prepare, build, tests

Issue #62: use image with IMAGE_TAG in test stage
  .gitlab-ci.yml
Due: none

Issue #62: fix tests failing due to too many whitespaces
  kelvin-api/tests/test_route_user.py
Due: prepare, build, tests

Issue #62: fix test failing to added point in udm create error
  kelvin-api/tests/test_route_user.py
Due: prepare, build, tests

Bug #55384: Speed up validation when creating or changing users (#37)
  appcenter/README_UPDATE_EN
  appcenter/settings
  doc/docs/conf.py
  kelvin-api/changelog.rst
  kelvin-api/ucsschool/kelvin/routers/school.py
  ucs-school-import/modules/ucsschool/importer/models/import_user.py
Due: prepare, html, pdf, linkcheck, spelling, docs-merge, build, tests

Issue #00: add app id to gitlab-ci
  .gitlab-ci.yml
Due: none

Issue #00: remove me too
  .gitlab-ci.yml
  kelvin-api/changelog.rst
Due: prepare, build, tests

Issue #62: add app id to gitlab-ci
  .gitlab-ci.yml
Due: none

Issue #50: Update Readme + version
  appcenter/README_UPDATE_EN
  kelvin-api/VERSION.txt
  kelvin-api/changelog.rst
Due: prepare, build, tests

Issue #50: update readme
  appcenter/README_UPDATE_EN
Due: none

Issue #50: rerun kelvin tests once
  kelvin-api/Makefile
Due: prepare, build, tests

Issue #50: revert rerun kelvin tests once
  kelvin-api/Makefile
Due: prepare, build, tests

Issue #29: log unhandled exceptions (Bug #55114)
  kelvin-api/ucsschool/kelvin/main.py
Due: prepare, build, tests

Issue #29: bump to version 1.8.3 (Bug #55114)
  appcenter/README_UPDATE_EN
  doc/docs/conf.py
  kelvin-api/VERSION.txt
  kelvin-api/changelog.rst
Due: prepare, html, pdf, linkcheck, spelling, docs-merge, build, tests
