Repository univention/ucsschool-kelvin-rest-api: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test ucs-school-lib, test kelvin-api, ucs_test_deb_lint, ucs_test_deb_build_git, ucs_test_deb_repo_import, ucs_test_deb_repo_build

test ucs-school-lib:
  stage: tests
  needs:
  - job: build_docker_image
  image: $IMAGE_TAG
  script:
  - cp ucs-school-import/modules/ucsschool/lib/create_ou.py ucs-school-lib/modules/ucsschool/lib/
  - cd ucs-school-lib/modules
  ...

test kelvin-api:
  stage: tests
  needs:
  - job: build_docker_image
  image: $IMAGE_TAG
  script:
  - cd ${CI_PROJECT_DIR}/kelvin-api
  ...

ucs_test_deb_lint:
  stage: build
  variables:
    GIT_DEPTH: 100
  image:
    name: $UCSLINT_IMAGE
    entrypoint:
    - ''
  script:
  - cd ucs-test-ucsschool-kelvin && ucslint -j ucslint.xml
  artifacts:
    reports:
      junit: ucs-test-ucsschool-kelvin/ucslint.xml

ucs_test_deb_build_git:
  stage: build
  image: $DEB_IMAGE
  variables:
    GIT_DEPTH: 100
  script:
  - apt-get update
  - cd ucs-test-ucsschool-kelvin
  - apt-get -q --assume-yes build-dep .
  - dpkg-buildpackage -us -uc
  - install -d -m 755 build
  - mv ../*.tar.*z ../*.dsc ../*.deb ../*.buildinfo ../*.changes build/
  artifacts:
    paths:
  ...

ucs_test_deb_repo_import:
  stage: build
  variables:
    GIT_STRATEGY: none
  tags:
  - omar
  script:
  - 'repo_admin.py -G $CI_REPOSITORY_URL -b $CI_COMMIT_BRANCH -P ucs-test-ucsschool-kelvin -r ${UCS_RELEASE}-0-0 -s $SCOPE -p $PACKAGE
  
    '

ucs_test_deb_repo_build:
  stage: build
  needs:
  - job: ucs_test_deb_repo_import
    artifacts: false
  variables:
    GIT_STRATEGY: none
  tags:
  - ladda
  script:
  - 'build-package-ng --no-pbuilder-update -r ${UCS_RELEASE}-0-0 -s $SCOPE -p $PACKAGE
  
    '

refactor(query-filter): enforce strict nested field map contract
  ucsschool-objects/src/ucsschool_objects/core/adapters/sqlalchemy/query_filter.py
  ucsschool-objects/tests/core/adapters/test_nested_field_queries.py
  ucsschool-objects/tests/core/adapters/test_nested_field_query_filter.py
Due: none

test(user_manager): add test to check for membership creation
  ucsschool-objects/src/ucsschool_objects/core/adapters/sqlalchemy/managers/user_manager.py
  ucsschool-objects/src/ucsschool_objects/core/domain/patch.py
  ucsschool-objects/tests/core/contracts/test_manager_modify_contracts.py
Due: none

fix: avoid ROLLBACK on read-only alembic version check
  kelvin-api/ucsschool/kelvin/service/dependency.py
Due: test kelvin-api

fix: improve handling of numeric values in `_udm_property_filters`
  kelvin-api/ucsschool/kelvin/routers/v2/user.py
Due: test kelvin-api

refactor(connector): decouple DN mapper, remove property mapper, and add tests for sync, consumer, and connector
  appcenter/includes/setup-provisioning-subscription.sh
  kelvin-connector/pyproject.toml
  kelvin-connector/src/kelvin_connector/connector.py
  kelvin-connector/src/kelvin_connector/consumer.py
  kelvin-connector/src/kelvin_connector/models.py
  kelvin-connector/src/kelvin_connector/nubus_compat.py
  kelvin-connector/src/kelvin_connector/ports.py
  kelvin-connector/src/kelvin_connector/sync.py
  kelvin-connector/tests/conftest.py
  kelvin-connector/tests/test_connector.py
  kelvin-connector/tests/test_consumer.py
  kelvin-connector/tests/test_mapper.py
  kelvin-connector/tests/test_sync.py
  pyproject.toml
  uv.lock
Due: none

fix: provisioning_config.json doesn't exist at container start and the mount fails
  appcenter/compose.jinja
Due: none

chore: fixed pyright warnings
  ucsschool-objects/src/ucsschool_objects/core/adapters/sqlalchemy/managers/_shared.py
  ucsschool-objects/src/ucsschool_objects/core/adapters/sqlalchemy/managers/group_manager.py
  ucsschool-objects/src/ucsschool_objects/core/adapters/sqlalchemy/managers/school_manager.py
  ucsschool-objects/src/ucsschool_objects/core/adapters/sqlalchemy/managers/user_manager.py
  ucsschool-objects/src/ucsschool_objects/core/adapters/sqlalchemy/mappers/to_domain.py
  ucsschool-objects/src/ucsschool_objects/core/adapters/sqlalchemy/mappers/to_orm.py
  ucsschool-objects/src/ucsschool_objects/core/adapters/sqlalchemy/query_filter.py
  ucsschool-objects/src/ucsschool_objects/core/adapters/sqlalchemy/session.py
  ucsschool-objects/src/ucsschool_objects/core/domain/patch.py
Due: none

chore: update version number
  ucs-test-ucsschool-kelvin/debian/changelog
Due: ucs_test_deb_lint, ucs_test_deb_build_git, ucs_test_deb_repo_import, ucs_test_deb_repo_build

refactor: enhance type hints and improve public ID handling across managers and mappers
  ucsschool-objects/src/ucsschool_objects/core/adapters/sqlalchemy/managers/_shared.py
  ucsschool-objects/src/ucsschool_objects/core/adapters/sqlalchemy/managers/group_manager.py
  ucsschool-objects/src/ucsschool_objects/core/adapters/sqlalchemy/managers/school_manager.py
  ucsschool-objects/src/ucsschool_objects/core/adapters/sqlalchemy/managers/user_manager.py
  ucsschool-objects/src/ucsschool_objects/core/adapters/sqlalchemy/mappers/to_domain.py
  ucsschool-objects/src/ucsschool_objects/core/adapters/sqlalchemy/mappers/to_orm.py
  ucsschool-objects/src/ucsschool_objects/core/adapters/sqlalchemy/query_filter.py
  ucsschool-objects/src/ucsschool_objects/core/domain/errors.py
  ucsschool-objects/tests/core/adapters/test_nested_field_queries.py
  ucsschool-objects/tests/core/contracts/test_manager_modify_contracts.py
Due: none

feat: Add connector to autoupdate script
  autoupdate-kelvin-container
Due: none

test: Add comparison test v1/v2
  kelvin-api/tests/conftest.py
  kelvin-api/tests/test_route_v1_v2_parity.py
Due: test kelvin-api

refactor(ucsschool-objects): move wildcard matching to domain-neutral MATCHES filters
  kelvin-api/ucsschool/kelvin/routers/v2/school.py
  kelvin-api/ucsschool/kelvin/routers/v2/school_class.py
  kelvin-api/ucsschool/kelvin/routers/v2/user.py
  kelvin-api/ucsschool/kelvin/routers/v2/workgroup.py
  kelvin-connector/src/kelvin_connector/sync.py
  ucsschool-objects/README.md
  ucsschool-objects/src/ucsschool_objects/__init__.py
  ucsschool-objects/src/ucsschool_objects/core/adapters/sqlalchemy/query_filter.py
  ucsschool-objects/src/ucsschool_objects/core/domain/errors.py
  ucsschool-objects/src/ucsschool_objects/core/domain/query.py
  ucsschool-objects/tests/core/adapters/test_nested_field_queries.py
  ucsschool-objects/tests/core/adapters/test_nested_field_query_filter.py
  ucsschool-objects/tests/core/contracts/test_exception_raises.py
  ucsschool-objects/tests/core/contracts/test_invalid_filter_behavior.py
  ucsschool-objects/tests/core/contracts/test_query_contracts.py
  ucsschool-objects/tests/core/domain/test_query_ast.py
  ucsschool-objects/tests/core/domain/test_wildcard_filter.py
Due: test kelvin-api

chore(consumer): Extract magic numbers as module constants
  kelvin-connector/src/kelvin_connector/consumer.py
Due: none

fix(patch): support deep replace fields for membership groups and roles
  kelvin-connector/src/kelvin_connector/sync.py
  kelvin-connector/tests/test_sync.py
  ucsschool-objects/src/ucsschool_objects/core/domain/patch.py
  ucsschool-objects/tests/core/domain/test_patch.py
Due: none

refactor(models): replace SerializableDomainObject with DomainObject for consistency
  ucsschool-objects/src/ucsschool_objects/core/adapters/sqlalchemy/managers/_shared.py
  ucsschool-objects/src/ucsschool_objects/core/domain/json.py
  ucsschool-objects/src/ucsschool_objects/core/domain/load_spec.py
  ucsschool-objects/src/ucsschool_objects/core/domain/models.py
  ucsschool-objects/tests/core/domain/test_load_spec.py
Due: none

fix: suppress health endpoint and third-party library log noise
  kelvin-api/ucsschool/kelvin/service/log.py
  kelvin-api/ucsschool/kelvin/service/middleware.py
Due: test kelvin-api

fix: missing LDAP_SERVER_PORT
  Makefile
Due: none

refactor(db): use ucsschool-objects URL builder in alembic and support _FILE env vars
  alembic/env.py
  ucsschool-objects/src/ucsschool_objects/core/adapters/sqlalchemy/session.py
  ucsschool-objects/tests/core/adapters/test_sqlalchemy_session.py
Due: none

docs: Update architecture documentation
  Makefile
  doc/dev/architecture.rst
  doc/dev/architecture/er.mmd
  doc/dev/architecture/group-attributes.rst
  doc/dev/architecture/group-relations.rst
  doc/dev/architecture/grouptype-attributes.rst
  doc/dev/architecture/grouptype-relations.rst
  doc/dev/architecture/school-attributes.rst
Due: none

test: Fix restart_kelvin_api_server fixture.
  kelvin-api/tests/conftest.py
Due: test kelvin-api

refactor(models, json): encapsulate serialization logic and introduce domain object properties utility
  ucsschool-objects/src/ucsschool_objects/core/adapters/sqlalchemy/managers/_shared.py
  ucsschool-objects/src/ucsschool_objects/core/domain/json.py
  ucsschool-objects/src/ucsschool_objects/core/domain/models.py
  ucsschool-objects/tests/core/domain/test_models.py
Due: none

refactor(test): add comprehensive tests for domain_asdict and model setters
  ucsschool-objects/tests/core/domain/test_models.py
Due: none

fix(tests): rename user_like_case to user_ilike_case_insensitive and update query value
  ucsschool-objects/tests/core/contracts/test_query_contracts.py
Due: none

chore(ucsschool-objects): improve test coverage for domain models and session
  ucsschool-objects/src/ucsschool_objects/core/adapters/sqlalchemy/session.py
  ucsschool-objects/src/ucsschool_objects/core/domain/models.py
  ucsschool-objects/src/ucsschool_objects/core/domain/ports/unit_of_work.py
  ucsschool-objects/tests/core/adapters/test_sqlalchemy_session.py
  ucsschool-objects/tests/core/domain/test_user_model_identity_semantics.py
Due: none

refactor(tests): replace usage of `domain_asdict`
  ucsschool-objects/tests/core/adapters/test_nested_field_queries.py
  ucsschool-objects/tests/core/contracts/test_manager_load_spec_projections.py
  ucsschool-objects/tests/core/domain/test_user_model_identity_semantics.py
Due: none

fix(user_manager): create and delete school memberships on modify
  ucsschool-objects/src/ucsschool_objects/core/adapters/sqlalchemy/managers/user_manager.py
  ucsschool-objects/tests/core/contracts/test_manager_modify_contracts.py
Due: none

fix(query_filter): coerce string values for UUID column filters
  ucsschool-objects/src/ucsschool_objects/__init__.py
  ucsschool-objects/src/ucsschool_objects/core/adapters/sqlalchemy/query_filter.py
  ucsschool-objects/src/ucsschool_objects/core/domain/errors.py
  ucsschool-objects/src/ucsschool_objects/core/domain/query.py
  ucsschool-objects/tests/core/contracts/test_invalid_filter_behavior.py
  ucsschool-objects/tests/core/contracts/test_query_contracts.py
Due: none

feat(connector): seed default roles and implement CRUD event handlers for user, group, and school
  alembic/versions/a3f9c12e8b01_seed_default_roles.py
  kelvin-connector/src/kelvin_connector/consumer.py
  kelvin-connector/src/kelvin_connector/sync.py
Due: none

refactor: moved normalise and to_json into separate module
  ucsschool-objects/src/ucsschool_objects/core/adapters/sqlalchemy/managers/_shared.py
  ucsschool-objects/src/ucsschool_objects/core/adapters/sqlalchemy/managers/group_manager.py
  ucsschool-objects/src/ucsschool_objects/core/adapters/sqlalchemy/managers/user_manager.py
  ucsschool-objects/src/ucsschool_objects/core/domain/json.py
  ucsschool-objects/src/ucsschool_objects/core/domain/patch.py
  ucsschool-objects/tests/core/domain/test_patch.py
  ucsschool-objects/tests/core/test_json.py
Due: none

refactor(connector): integrate session port with synchronous coroutine wrapper
  kelvin-connector/src/kelvin_connector/consumer.py
  kelvin-connector/src/kelvin_connector/ports.py
  kelvin-connector/src/kelvin_connector/sync.py
Due: none

refactor(user_manager): document patch path classification
  ucsschool-objects/src/ucsschool_objects/core/adapters/sqlalchemy/managers/user_manager.py
  ucsschool-objects/tests/core/contracts/test_manager_modify_contracts.py
Due: none

feat(objects): store UDM properties on schools, groups and users
  alembic/versions/f1c5bf519a40_init_tables.py
  ucsschool-objects/src/ucsschool_objects/core/adapters/sqlalchemy/managers/_shared.py
  ucsschool-objects/src/ucsschool_objects/core/adapters/sqlalchemy/managers/group_manager.py
  ucsschool-objects/src/ucsschool_objects/core/adapters/sqlalchemy/managers/school_manager.py
  ucsschool-objects/src/ucsschool_objects/core/adapters/sqlalchemy/managers/user_manager.py
  ucsschool-objects/src/ucsschool_objects/core/adapters/sqlalchemy/mappers/to_domain.py
  ucsschool-objects/src/ucsschool_objects/core/adapters/sqlalchemy/mappers/to_orm.py
  ucsschool-objects/src/ucsschool_objects/core/domain/models.py
  ucsschool-objects/src/ucsschool_objects/database_models.py
  ucsschool-objects/tests/core/adapters/test_nested_field_queries.py
  ucsschool-objects/tests/core/contracts/test_manager_create_contracts.py
  ucsschool-objects/tests/core/contracts/test_manager_modify_contracts.py
Due: none

refactor(domain_model): drop `domain_asdict` in favor of just keeping `to_json()`
  ucsschool-objects/src/ucsschool_objects/core/adapters/sqlalchemy/managers/_shared.py
  ucsschool-objects/src/ucsschool_objects/core/domain/json.py
  ucsschool-objects/src/ucsschool_objects/core/domain/models.py
  ucsschool-objects/tests/core/domain/test_models.py
Due: none

test(kelvin-api): retry v1/v2 parity comparisons until replication caught up
  kelvin-api/tests/test_route_v1_v2_parity.py
Due: test kelvin-api

fix(user_manager): support roles and groups on newly added memberships
  ucsschool-objects/src/ucsschool_objects/core/adapters/sqlalchemy/managers/user_manager.py
  ucsschool-objects/tests/core/contracts/test_manager_modify_contracts.py
Due: none

feat: raising getters
  kelvin-connector/tests/test_sync.py
  ucsschool-objects/src/ucsschool_objects/__init__.py
  ucsschool-objects/src/ucsschool_objects/core/adapters/sqlalchemy/managers/_shared.py
  ucsschool-objects/src/ucsschool_objects/core/adapters/sqlalchemy/managers/group_manager.py
  ucsschool-objects/src/ucsschool_objects/core/adapters/sqlalchemy/managers/user_manager.py
  ucsschool-objects/src/ucsschool_objects/core/adapters/sqlalchemy/mappers/to_orm.py
  ucsschool-objects/src/ucsschool_objects/core/domain/__init__.py
  ucsschool-objects/src/ucsschool_objects/core/domain/models.py
  ucsschool-objects/src/ucsschool_objects/core/domain/patch.py
  ucsschool-objects/tests/core/adapters/test_nested_field_queries.py
  ucsschool-objects/tests/core/contracts/test_manager_create_contracts.py
  ucsschool-objects/tests/core/contracts/test_manager_load_spec_projections.py
  ucsschool-objects/tests/core/contracts/test_manager_modify_contracts.py
  ucsschool-objects/tests/core/domain/test_user_model_groups.py
  ucsschool-objects/tests/core/domain/test_user_model_identity_semantics.py
  ucsschool-objects/tests/core/domain/test_user_model_primary_school.py
  ucsschool-objects/tests/core/domain/test_user_model_roles.py
Due: none

fix: wait for provisioning_config.json
  docker/start-connector.sh
Due: none

feat: allow setting NUM_WORKERS as env var
  docker/start-kelvin.sh
Due: none

refactor(ucsschool-objects): Complete group_type -> role refactor
  kelvin-connector/src/kelvin_connector/sync.py
  kelvin-connector/tests/conftest.py
  kelvin-connector/tests/test_sync.py
  ucsschool-objects/src/ucsschool_objects/core/adapters/sqlalchemy/managers/_shared.py
  ucsschool-objects/src/ucsschool_objects/core/adapters/sqlalchemy/managers/group_manager.py
  ucsschool-objects/src/ucsschool_objects/core/adapters/sqlalchemy/managers/user_manager.py
  ucsschool-objects/src/ucsschool_objects/core/adapters/sqlalchemy/mappers/to_domain.py
  ucsschool-objects/src/ucsschool_objects/core/adapters/sqlalchemy/mappers/to_orm.py
  ucsschool-objects/src/ucsschool_objects/core/domain/models.py
  ucsschool-objects/src/ucsschool_objects/core/domain/validators.py
  ucsschool-objects/src/ucsschool_objects/database_models.py
  ucsschool-objects/tests/conftest.py
  ucsschool-objects/tests/core/adapters/test_nested_field_queries.py
  ucsschool-objects/tests/core/adapters/test_sqlalchemy_session.py
  ucsschool-objects/tests/core/contracts/contract_test_support.py
  ucsschool-objects/tests/core/contracts/test_exception_raises.py
  ucsschool-objects/tests/core/contracts/test_manager_contracts.py
  ucsschool-objects/tests/core/contracts/test_manager_create_contracts.py
  ucsschool-objects/tests/core/contracts/test_manager_load_spec_projections.py
  ucsschool-objects/tests/core/contracts/test_manager_modify_contracts.py
  ucsschool-objects/tests/core/contracts/test_query_contracts.py
  ucsschool-objects/tests/core/domain/helpers/model_builders.py
  ucsschool-objects/tests/core/domain/test_model_validation.py
  ucsschool-objects/tests/core/domain/test_user_model_identity_semantics.py
  ucsschool-objects/tests/test_database_models/test_relationships.py
  ucsschool-objects/tests/test_database_models/test_scalars.py
Due: none

refactor: imports for type checking
  ucsschool-objects/src/ucsschool_objects/core/adapters/sqlalchemy/managers/_shared.py
  ucsschool-objects/src/ucsschool_objects/core/adapters/sqlalchemy/managers/group_manager.py
  ucsschool-objects/src/ucsschool_objects/core/adapters/sqlalchemy/managers/role_manager.py
  ucsschool-objects/src/ucsschool_objects/core/adapters/sqlalchemy/managers/school_manager.py
  ucsschool-objects/src/ucsschool_objects/core/adapters/sqlalchemy/managers/user_manager.py
  ucsschool-objects/src/ucsschool_objects/core/adapters/sqlalchemy/mappers/to_domain.py
  ucsschool-objects/src/ucsschool_objects/core/adapters/sqlalchemy/mappers/to_orm.py
  ucsschool-objects/src/ucsschool_objects/core/adapters/sqlalchemy/query_filter.py
  ucsschool-objects/src/ucsschool_objects/core/domain/errors.py
  ucsschool-objects/src/ucsschool_objects/core/domain/load_spec.py
  ucsschool-objects/src/ucsschool_objects/core/domain/models.py
  ucsschool-objects/src/ucsschool_objects/core/domain/patch.py
  ucsschool-objects/src/ucsschool_objects/core/domain/ports/manager.py
  ucsschool-objects/src/ucsschool_objects/core/domain/ports/unit_of_work.py
  ucsschool-objects/src/ucsschool_objects/core/domain/query.py
  ucsschool-objects/tests/core/adapters/test_nested_field_queries.py
  ucsschool-objects/tests/core/adapters/test_nested_field_query_filter.py
  ucsschool-objects/tests/core/adapters/test_sqlalchemy_session.py
  ucsschool-objects/tests/core/contracts/contract_test_support.py
  ucsschool-objects/tests/core/contracts/test_exception_raises.py
  ucsschool-objects/tests/core/contracts/test_invalid_filter_behavior.py
  ucsschool-objects/tests/core/contracts/test_manager_contracts.py
  ucsschool-objects/tests/core/contracts/test_manager_create_contracts.py
  ucsschool-objects/tests/core/contracts/test_manager_load_spec_projections.py
  ucsschool-objects/tests/core/contracts/test_manager_modify_contracts.py
  ucsschool-objects/tests/core/contracts/test_query_contracts.py
  ucsschool-objects/tests/core/contracts/test_query_filter_primitives.py
Due: none

Path conditions:
  test ucs-school-lib: any of: ucs-school-lib/**/*
  test kelvin-api: any of: kelvin-api/**/*
  ucs_test_deb_lint: any of: ucs-test-ucsschool-kelvin/**/*
  ucs_test_deb_build_git: any of: ucs-test-ucsschool-kelvin/**/*
  ucs_test_deb_repo_import: any of: ucs-test-ucsschool-kelvin/debian/changelog
  ucs_test_deb_repo_build: any of: ucs-test-ucsschool-kelvin/debian/changelog
