Repository univention/ucsschool-kelvin-rest-api: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test ucs-school-lib, test kelvin-api, ucs_test_deb_lint, ucs_test_deb_build_git, ucs_test_deb_repo_import, ucs_test_deb_repo_build

test ucs-school-lib:
  stage: tests
  needs:
  - job: build_docker_image
  image: $IMAGE_TAG
  script:
  - cp ucs-school-import/modules/ucsschool/lib/create_ou.py ucs-school-lib/modules/ucsschool/lib/
  - cd ucs-school-lib/modules
  ...

test kelvin-api:
  stage: tests
  needs:
  - job: build_docker_image
  image: $IMAGE_TAG
  script:
  - cd ${CI_PROJECT_DIR}/kelvin-api
  ...

ucs_test_deb_lint:
  stage: build
  variables:
    GIT_DEPTH: 100
  image:
    name: $UCSLINT_IMAGE
    entrypoint:
    - ''
  script:
  - cd ucs-test-ucsschool-kelvin && ucslint -j ucslint.xml
  artifacts:
    reports:
      junit: ucs-test-ucsschool-kelvin/ucslint.xml

ucs_test_deb_build_git:
  stage: build
  image: $DEB_IMAGE
  variables:
    GIT_DEPTH: 100
  script:
  - apt-get update
  - cd ucs-test-ucsschool-kelvin
  - apt-get -q --assume-yes build-dep .
  - dpkg-buildpackage -us -uc
  - install -d -m 755 build
  - mv ../*.tar.*z ../*.dsc ../*.deb ../*.buildinfo ../*.changes build/
  artifacts:
    paths:
  ...

ucs_test_deb_repo_import:
  stage: build
  variables:
    GIT_STRATEGY: none
  tags:
  - omar
  script:
  - 'repo_admin.py -G $CI_REPOSITORY_URL -b $CI_COMMIT_BRANCH -P ucs-test-ucsschool-kelvin -r ${UCS_RELEASE}-0-0 -s $SCOPE -p $PACKAGE
  
    '

ucs_test_deb_repo_build:
  stage: build
  needs:
  - job: ucs_test_deb_repo_import
    artifacts: false
  variables:
    GIT_STRATEGY: none
  tags:
  - ladda
  script:
  - 'build-package-ng --no-pbuilder-update -r ${UCS_RELEASE}-0-0 -s $SCOPE -p $PACKAGE
  
    '

chore: Add pytest dev dependency to ucsschool-objects
  ucsschool-objects/pyproject.toml
  uv.lock
Due: none

feat: validation of domain objects
  ucsschool-objects/src/ucsschool_objects/core/domain/__init__.py
  ucsschool-objects/src/ucsschool_objects/core/domain/validators.py
  ucsschool-objects/tests/core/domain/test_model_validation.py
Due: none

fix: Rename association tables related to group role and member role
  ucsschool-objects/src/ucsschool_objects/database_models.py
  ucsschool-objects/tests/test_database_models/test_relationships.py
Due: none

fix(appcenter): run provisioning setup and remove empty Docker artifact
  appcenter/inst
Due: none

feat(connector): integrate DN<->public_id mapping and cover nubus_compat
  alembic/env.py
  alembic/versions/e8b27dd51414_add_mapping_tables.py
  kelvin-connector/pyproject.toml
  kelvin-connector/src/kelvin_connector/database_models.py
  kelvin-connector/src/kelvin_connector/nubus_compat.py
  kelvin-connector/src/kelvin_connector/sync.py
  kelvin-connector/tests/test_nubus_compat.py
  uv.lock
Due: none

chore(SonarQube): _apply_group_patch is too complex
  ucsschool-objects/src/ucsschool_objects/core/adapters/sqlalchemy/managers/_shared.py
  ucsschool-objects/src/ucsschool_objects/core/adapters/sqlalchemy/managers/group_manager.py
  ucsschool-objects/src/ucsschool_objects/core/adapters/sqlalchemy/managers/user_manager.py
  ucsschool-objects/tests/core/contracts/test_manager_modify_contracts.py
Due: none

fix: add provisioning-service as app dependency
  appcenter/ini.jinja
Due: none

fix: make domain object relationship consistent
  ucsschool-objects/src/ucsschool_objects/core/domain/models.py
Due: none

feat: add lazy loading support across domain models
  ucsschool-objects/src/ucsschool_objects/core/adapters/sqlalchemy/mapping.py
  ucsschool-objects/src/ucsschool_objects/core/adapters/sqlalchemy/readers.py
  ucsschool-objects/src/ucsschool_objects/core/domain/models.py
  ucsschool-objects/tests/core/adapters/test_nested_field_queries.py
  ucsschool-objects/tests/core/contracts/test_query_contracts.py
  ucsschool-objects/tests/core/contracts/test_reader_contracts.py
  ucsschool-objects/tests/core/contracts/test_reader_load_spec_projections.py
  ucsschool-objects/tests/core/contracts/test_user_reader_membership_projections.py
  ucsschool-objects/tests/core/domain/test_school_membership_roles.py
  ucsschool-objects/tests/core/domain/test_user_model_groups.py
  ucsschool-objects/tests/core/domain/test_user_model_identity_semantics.py
  ucsschool-objects/tests/core/domain/test_user_model_primary_school.py
  ucsschool-objects/tests/core/domain/test_user_model_roles.py
Due: none

fix: (fixup 568342) refactor: school_memberships are stored with keyed
  ucsschool-objects/src/ucsschool_objects/core/adapters/sqlalchemy/managers/user_manager.py
  ucsschool-objects/src/ucsschool_objects/core/adapters/sqlalchemy/mapping.py
  ucsschool-objects/tests/core/contracts/test_manager_create_contracts.py
  ucsschool-objects/tests/core/contracts/test_manager_load_spec_projections.py
  ucsschool-objects/tests/core/domain/helpers/model_builders.py
  ucsschool-objects/tests/core/domain/test_user_model_groups.py
  ucsschool-objects/tests/core/domain/test_user_model_primary_school.py
  ucsschool-objects/tests/core/domain/test_user_model_roles.py
Due: none

chore(SonarQube): Use "[[" instead of "[" for conditional tests
  appcenter/includes/setup-provisioning-subscription.sh
Due: none

chore: remove todo (sets can not be yielded)
  ucsschool-objects/src/ucsschool_objects/core/domain/models.py
Due: none

chore(SonarQube): merge code branches
  ucsschool-objects/src/ucsschool_objects/core/adapters/sqlalchemy/managers/group_manager.py
Due: none

refactor(ucsschool-objects): replace GroupType with role-based M2M and simplify display_name
  alembic/versions/f1c5bf519a40_init_tables.py
  ucsschool-objects/src/ucsschool_objects/core/adapters/sqlalchemy/managers/group_manager.py
  ucsschool-objects/src/ucsschool_objects/core/adapters/sqlalchemy/mappers/to_domain.py
  ucsschool-objects/src/ucsschool_objects/core/adapters/sqlalchemy/mappers/to_orm.py
  ucsschool-objects/src/ucsschool_objects/core/domain/models.py
  ucsschool-objects/src/ucsschool_objects/database_models.py
  ucsschool-objects/tests/conftest.py
  ucsschool-objects/tests/core/adapters/test_nested_field_queries.py
  ucsschool-objects/tests/core/contracts/test_manager_create_contracts.py
  ucsschool-objects/tests/core/contracts/test_manager_load_spec_projections.py
  ucsschool-objects/tests/core/contracts/test_manager_modify_contracts.py
  ucsschool-objects/tests/core/domain/helpers/model_builders.py
  ucsschool-objects/tests/core/domain/test_user_model_identity_semantics.py
  ucsschool-objects/tests/test_database_models/test_scalars.py
  ucsschool-objects/tests/test_types.py
Due: none

refactor: school_memberships are stored with keyed
  ucsschool-objects/src/ucsschool_objects/core/domain/models.py
Due: none

test: fix test_pyhook.py
  kelvin-api/tests/test_pyhook.py
Due: test kelvin-api

feat: add connector skeleton
  .gitlab-ci/gitlab-ci.yml
  alembic/env.py
  appcenter/compose.jinja
  dev/docker-compose.yaml
  docker/Dockerfile
  docker/start-connector.sh
  kelvin-connector/README.md
  kelvin-connector/pyproject.toml
  kelvin-connector/src/kelvin_connector/__init__.py
  kelvin-connector/src/kelvin_connector/database_models.py
  kelvin-connector/src/kelvin_connector/py.typed
  kelvin-connector/tests/test_dummy.py
  pyproject.toml
  uv.lock
Due: none

chore: Add alembic migration
  alembic/versions/62810ee19208_rename_group_type_to_role.py
Due: none

fix: tenacity is a prod dependency
  ucs-school-lib/pyproject.toml
  uv.lock
Due: test ucs-school-lib

test: old UDM_MAPPING_CONFIG in tests
  kelvin-api/tests/conftest.py
Due: test kelvin-api

fix(connector): use build_settings for DB, fix ORM relations, and extract provisioning script
  Makefile
  appcenter/includes/inst
  appcenter/includes/setup-provisioning-subscription.sh
  appcenter/inst.jinja
  kelvin-connector/src/kelvin_connector/consumer.py
  kelvin-connector/src/kelvin_connector/sync.py
  ucsschool-objects/src/ucsschool_objects/core/adapters/sqlalchemy/session.py
  ucsschool-objects/src/ucsschool_objects/core/domain/models.py
Due: none

feat(manager): add create, modify, and delete methods to Manager protocol with JSONPath support
  ucsschool-objects/src/ucsschool_objects/core/adapters/sqlalchemy/managers/group_manager.py
  ucsschool-objects/src/ucsschool_objects/core/adapters/sqlalchemy/managers/role_manager.py
  ucsschool-objects/src/ucsschool_objects/core/adapters/sqlalchemy/managers/school_manager.py
  ucsschool-objects/src/ucsschool_objects/core/adapters/sqlalchemy/managers/user_manager.py
  ucsschool-objects/src/ucsschool_objects/core/domain/models.py
  ucsschool-objects/src/ucsschool_objects/core/domain/ports/manager.py
  ucsschool-objects/tests/core/domain/helpers/model_builders.py
  ucsschool-objects/tests/core/domain/test_model_validation.py
  ucsschool-objects/tests/core/domain/test_user_model_identity_semantics.py
  ucsschool-objects/tests/core/test_ports.py
Due: none

refactor: split SQLAlchemy readers into modules and consolidate shared logic
  ucsschool-objects/src/ucsschool_objects/core/adapters/sqlalchemy/readers.py
  ucsschool-objects/src/ucsschool_objects/core/adapters/sqlalchemy/readers/__init__.py
  ucsschool-objects/src/ucsschool_objects/core/adapters/sqlalchemy/readers/_shared.py
  ucsschool-objects/src/ucsschool_objects/core/adapters/sqlalchemy/readers/group_reader.py
  ucsschool-objects/src/ucsschool_objects/core/adapters/sqlalchemy/readers/role_reader.py
  ucsschool-objects/src/ucsschool_objects/core/adapters/sqlalchemy/readers/school_reader.py
  ucsschool-objects/src/ucsschool_objects/core/adapters/sqlalchemy/readers/user_reader.py
  ucsschool-objects/tests/core/adapters/test_nested_field_queries.py
Due: none

fix(test): Introduce constants module for MAPPED_UDM_PROPERTIES and update imports
  kelvin-api/tests/conftest.py
  kelvin-api/tests/constants.py
  kelvin-api/tests/test_route_user.py
Due: test kelvin-api

fix: use home grown dependency checks to fix app start
  appcenter/compose.jinja
  dev/docker-compose.yaml
  docker/start-connector.sh
  docker/start-kelvin.sh
  kelvin-api/ucsschool/kelvin/main.py
Due: test kelvin-api

feat(connector): add Kelvin health check and startup dependency
  appcenter/compose.jinja
  dev/docker-compose.yaml
  docker/Dockerfile
  docker/start-connector.sh
  kelvin-api/ucsschool/kelvin/main.py
Due: test kelvin-api

refactor(db): use ucsschool-objects URL builder in alembic and support _FILE env vars
  alembic/env.py
  ucsschool-objects/src/ucsschool_objects/core/adapters/sqlalchemy/session.py
  ucsschool-objects/tests/core/adapters/test_sqlalchemy_session.py
Due: none

refactor: simplify contract test support by removing unused ManagerProtocol and SearchManagerProtocol
  ucsschool-objects/tests/core/contracts/contract_test_support.py
  ucsschool-objects/tests/core/contracts/test_manager_contracts.py
  ucsschool-objects/tests/core/contracts/test_query_contracts.py
Due: none

chore: Add eralchemy and graphviz as development dependencies
  pyproject.toml
  uv.lock
Due: none

refactor(connector): decouple DN mapper, remove property mapper, and add tests for sync, consumer, and connector
  appcenter/includes/setup-provisioning-subscription.sh
  kelvin-connector/pyproject.toml
  kelvin-connector/src/kelvin_connector/connector.py
  kelvin-connector/src/kelvin_connector/consumer.py
  kelvin-connector/src/kelvin_connector/models.py
  kelvin-connector/src/kelvin_connector/nubus_compat.py
  kelvin-connector/src/kelvin_connector/ports.py
  kelvin-connector/src/kelvin_connector/sync.py
  kelvin-connector/tests/conftest.py
  kelvin-connector/tests/test_connector.py
  kelvin-connector/tests/test_consumer.py
  kelvin-connector/tests/test_mapper.py
  kelvin-connector/tests/test_sync.py
  pyproject.toml
  uv.lock
Due: none

fix: support changing members, allowed_email_senders_groups and allowed_email_senders_users
  ucsschool-objects/src/ucsschool_objects/core/adapters/sqlalchemy/managers/_shared.py
  ucsschool-objects/src/ucsschool_objects/core/adapters/sqlalchemy/managers/group_manager.py
  ucsschool-objects/src/ucsschool_objects/core/adapters/sqlalchemy/managers/user_manager.py
  ucsschool-objects/tests/core/contracts/test_manager_modify_contracts.py
Due: none

feat: add modify implementation
  ucsschool-objects/src/ucsschool_objects/core/adapters/sqlalchemy/managers/group_manager.py
  ucsschool-objects/src/ucsschool_objects/core/adapters/sqlalchemy/managers/school_manager.py
  ucsschool-objects/src/ucsschool_objects/core/adapters/sqlalchemy/managers/user_manager.py
  ucsschool-objects/src/ucsschool_objects/core/adapters/sqlalchemy/mappers/to_domain.py
  ucsschool-objects/src/ucsschool_objects/core/domain/patch.py
  ucsschool-objects/tests/conftest.py
  ucsschool-objects/tests/core/contracts/test_manager_modify_contracts.py
  ucsschool-objects/tests/core/domain/test_patch.py
Due: none

docs: Update architecture documentation
  Makefile
  doc/dev/architecture.rst
  doc/dev/architecture/er.mmd
  doc/dev/architecture/group-attributes.rst
  doc/dev/architecture/group-relations.rst
  doc/dev/architecture/grouptype-attributes.rst
  doc/dev/architecture/grouptype-relations.rst
  doc/dev/architecture/school-attributes.rst
Due: none

fix(docs): Update diagram output to mmd (mermaid) for nicer IDE support
  Makefile
  doc/dev/architecture.rst
  doc/dev/architecture/er.mmd
  doc/dev/render_er_diagram.py
Due: none

fix: Explicity import data_models from Kelvin-Connector
  alembic/env.py
Due: none

chore: use files for db settings
  appcenter/compose.jinja
Due: none

refactor: Update type hints
  .pre-commit-config.yaml
  ucsschool-objects/src/ucsschool_objects/database_models.py
  ucsschool-objects/tests/__init__.py
  ucsschool-objects/tests/conftest.py
  ucsschool-objects/tests/py.typed
  ucsschool-objects/tests/test_database_models/test_relationships.py
  ucsschool-objects/tests/test_database_models/test_scalars.py
  ucsschool-objects/tests/test_database_models/test_school_membership.py
  ucsschool-objects/tests/test_types.py
Due: none

chore: test package version bump
  ucs-test-ucsschool-kelvin/debian/changelog
Due: ucs_test_deb_lint, ucs_test_deb_build_git, ucs_test_deb_repo_import, ucs_test_deb_repo_build

chore: TEMPORAL extract changelog for feature v2
  ucs-test-ucsschool-kelvin/debian/changelog_feature_v2
Due: ucs_test_deb_lint, ucs_test_deb_build_git

test: Increase in container test timeout to 7200
  ucs-test-ucsschool-kelvin/94_ucsschool-kelvin/11_in_container_tests_kelvin_api_v1
  ucs-test-ucsschool-kelvin/debian/changelog
Due: ucs_test_deb_lint, ucs_test_deb_build_git, ucs_test_deb_repo_import, ucs_test_deb_repo_build

Path conditions:
  test ucs-school-lib: any of: ucs-school-lib/**/*
  test kelvin-api: any of: kelvin-api/**/*
  ucs_test_deb_lint: any of: ucs-test-ucsschool-kelvin/**/*
  ucs_test_deb_build_git: any of: ucs-test-ucsschool-kelvin/**/*
  ucs_test_deb_repo_import: any of: ucs-test-ucsschool-kelvin/debian/changelog
  ucs_test_deb_repo_build: any of: ucs-test-ucsschool-kelvin/debian/changelog
