Repository univention/ucsschool-kelvin-rest-api: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test ucs-school-lib, test kelvin-api, ucs_test_deb_lint, ucs_test_deb_build_git, ucs_test_deb_repo_import, ucs_test_deb_repo_build

Path conditions:
  test ucs-school-lib: any of: ucs-school-lib/**/*
  test kelvin-api: any of: kelvin-api/**/*
  ucs_test_deb_lint: any of: ucs-test-ucsschool-kelvin/**/*
  ucs_test_deb_build_git: any of: ucs-test-ucsschool-kelvin/**/*
  ucs_test_deb_repo_import: any of: ucs-test-ucsschool-kelvin/debian/changelog
  ucs_test_deb_repo_build: any of: ucs-test-ucsschool-kelvin/debian/changelog

docs: Fix changelog date entry and kelvin client compatiblity list
  doc/docs/kelvin-client-compatibility.rst
  kelvin-api/changelog.rst
Due: test kelvin-api

fix: groupmod fails with "GID already exists"
  docker/pre_commit/Dockerfile
Due: none

fix(openapi): mark nullable properties in the schema.
  basedpyright-baseline.json
  kelvin-api/changelog.rst
  kelvin-api/tests/test_openapi_schema.py
  kelvin-api/ucsschool/kelvin/routers/v1/base.py
  kelvin-api/ucsschool/kelvin/routers/v1/role.py
  kelvin-api/ucsschool/kelvin/routers/v1/school_class.py
  kelvin-api/ucsschool/kelvin/routers/v1/user.py
  kelvin-api/ucsschool/kelvin/routers/v1/workgroup.py
  kelvin-api/ucsschool/kelvin/schema.py
  kelvin-api/ucsschool/kelvin/token_auth.py
Due: test kelvin-api

fix(openapi): do not advertise unsupported nulls in the group patch documents
  kelvin-api/changelog.rst
  kelvin-api/tests/test_openapi_schema.py
  kelvin-api/ucsschool/kelvin/routers/v1/school_class.py
  kelvin-api/ucsschool/kelvin/routers/v1/workgroup.py
  kelvin-api/ucsschool/kelvin/schema.py
Due: test kelvin-api

docs(changelog): correct the v4.0.2 release date
  kelvin-api/changelog.rst
Due: test kelvin-api

test: retry test_search_with_filter until replicated
  basedpyright-baseline.json
  kelvin-api/tests/test_route_school.py
Due: test kelvin-api

test: draw unique mail local parts from user_name
  basedpyright-baseline.json
  ucs-school-lib/modules/ucsschool/lib/tests/conftest.py
Due: test ucs-school-lib

docs: /v2/users/<username> is case-sensitive
  doc/docs/known-issues.rst
Due: none

docs: /v2/users/ endpoint does not return Exam users
  doc/docs/known-issues.rst
Due: none

wip performance fix
  alembic/env.py
  alembic/versions/e3d39f016714_add_reverse_association_indexes.py
  doc/dev/database.rst
  kelvin-api/changelog.rst
  ucsschool-objects/src/ucsschool_objects/database_models.py
  ucsschool-objects/tests/core/adapters/test_index_usage_postgres.py
  ucsschool-objects/tests/test_database_models/test_indexes.py
Due: test kelvin-api

fixup! wip performance fix
  alembic/env.py
  alembic/versions/e3d39f016714_add_reverse_association_indexes.py
  doc/dev/database.rst
  kelvin-api/changelog.rst
  ucsschool-objects/src/ucsschool_objects/database_models.py
  ucsschool-objects/tests/core/adapters/test_index_usage_postgres.py
  ucsschool-objects/tests/test_database_models/test_indexes.py
Due: test kelvin-api

add group/school_membership indices
  alembic/versions/e3d39f016714_add_reverse_association_indexes.py
  doc/dev/database.rst
  kelvin-api/changelog.rst
  ucsschool-objects/src/ucsschool_objects/database_models.py
Due: test kelvin-api

feat(v2): retrieve several users in one search request
  basedpyright-baseline.json
  doc/docs/resource-users.rst
  kelvin-api/changelog.rst
  kelvin-api/tests/test_route_user.py
  kelvin-api/tests/test_route_user_v2_filters.py
  kelvin-api/ucsschool/kelvin/routers/v2/user.py
  ucsschool-objects/src/ucsschool_objects/core/adapters/sqlalchemy/query_filter.py
  ucsschool-objects/src/ucsschool_objects/core/domain/errors.py
  ucsschool-objects/src/ucsschool_objects/core/domain/query.py
  ucsschool-objects/tests/core/adapters/test_case_insensitive_filters.py
  ucsschool-objects/tests/core/contracts/test_invalid_filter_behavior.py
  ucsschool-objects/tests/core/contracts/test_query_contracts.py
Due: test kelvin-api

fix(v2): match a username case-insensitively when fetching one user
  alembic/versions/e49791148e25_init_tables.py
  basedpyright-baseline.json
  doc/docs/known-issues.rst
  kelvin-api/changelog.rst
  kelvin-api/tests/test_route_user.py
  kelvin-api/ucsschool/kelvin/routers/v2/user.py
  ucsschool-objects/src/ucsschool_objects/database_models.py
  ucsschool-objects/tests/test_database_models/test_indexes.py
Due: test kelvin-api

fix: Cache check_db_compatibility engine
  kelvin-api/tests/test_db_compatibility.py
  kelvin-api/ucsschool/kelvin/service/dependency.py
Due: test kelvin-api

refactor: draw the DB-compatibility fence from the application pool
  basedpyright-baseline.json
  kelvin-api/tests/test_db_compatibility.py
  kelvin-api/ucsschool/kelvin/service/dependency.py
  kelvin-api/ucsschool/kelvin/service/lifespan.py
Due: test kelvin-api

fix: pre-ping pooled connections before handing them out
  ucsschool-objects/src/ucsschool_objects/core/adapters/sqlalchemy/session.py
  ucsschool-objects/tests/core/adapters/test_sqlalchemy_session.py
Due: none

feat: opt-in request profiling via KELVIN_PROFILE_DIR
  .gitignore
  Makefile
  README.md
  dev/docker-compose.yaml
  doc/dev/development.rst
  kelvin-api/ucsschool/kelvin/service/middleware.py
  kelvin-api/ucsschool/kelvin/service/profiling.py
  pyproject.toml
  uv.lock
Due: test kelvin-api

ci: add the baseline-buddy component for basedpyright baseline diffs
  .gitlab-ci/gitlab-ci.yml
Due: none

feat: make unwise change
  basedpyright-baseline.json
  custom_hooks/add_school_admins_to_admin_group.py
Due: none

refactor: make get_db_engine an async dependency
  kelvin-api/tests/test_db_compatibility.py
  kelvin-api/ucsschool/kelvin/service/dependency.py
Due: test kelvin-api

fix: pre-ping sqlite-file connections in build_engine
  ucsschool-objects/src/ucsschool_objects/core/adapters/sqlalchemy/session.py
  ucsschool-objects/tests/core/adapters/test_sqlalchemy_session.py
Due: none

refactor: reuse get_current_revision instead of re-deriving it in env.py
  alembic/env.py
  basedpyright-baseline.json
  kelvin-api/ucsschool/kelvin/service/dependency.py
Due: test kelvin-api

fix: check DB compatibility at startup instead of only on first request
  basedpyright-baseline.json
  kelvin-api/tests/test_lifespan.py
  kelvin-api/ucsschool/kelvin/service/lifespan.py
Due: test kelvin-api

feat: add DB-compatibility health check on an isolated connection
  basedpyright-baseline.json
  kelvin-api/tests/test_db_compatibility.py
  kelvin-api/tests/test_lifespan.py
  kelvin-api/ucsschool/kelvin/main.py
  kelvin-api/ucsschool/kelvin/service/dependency.py
  kelvin-api/ucsschool/kelvin/service/lifespan.py
Due: test kelvin-api

fix: remove unnecessary type stub reports and add py.typed file. New issues are existing typing issues (that where hidden before)
  basedpyright-baseline.json
  kelvin-api/ucsschool/kelvin/py.typed
Due: test kelvin-api

docs(installation-configuration): require app restart after DB credential change
  doc/docs/installation-configuration.rst
Due: none

ci: generate index.html for locust artifact reports
  .gitlab-ci/branch_performance_tests.cfg
  .gitlab-ci/gitlab-ci.yml
Due: none

wip: debug
  .gitlab-ci/branch_performance_tests.cfg
  .gitlab-ci/gitlab-ci.yml
Due: none

test(performance): ship v2 DB fence in the Kelvin container
  .gitlab-ci/branch_performance_tests.cfg
  .gitlab-ci/gitlab-ci.yml
  kelvin-api/ucsschool/kelvin/wait_for_db_full.py
  ucs-test-ucsschool-kelvin/94_ucsschool-kelvin-performance/README.md
  ucs-test-ucsschool-kelvin/94_ucsschool-kelvin-performance/wait_for_db_full.py
Due: test kelvin-api, ucs_test_deb_lint, ucs_test_deb_build_git

test(performance): raise connector replication timeout to 9h
  .gitlab-ci/branch_performance_tests.cfg
  .gitlab-ci/gitlab-ci.yml
  ucs-test-ucsschool-kelvin/94_ucsschool-kelvin-performance/README.md
  ucs-test-ucsschool-kelvin/94_ucsschool-kelvin-performance/wait_for_db_full.py
Due: ucs_test_deb_lint, ucs_test_deb_build_git

tests: Add search performance tests
  ucs-test-ucsschool-kelvin/94_ucsschool-kelvin-performance/012_search_users.py
  ucs-test-ucsschool-kelvin/94_ucsschool-kelvin-performance/022_search_classes.py
  ucs-test-ucsschool-kelvin/94_ucsschool-kelvin-performance/032_search_workgroups.py
  ucs-test-ucsschool-kelvin/94_ucsschool-kelvin-performance/locust_files/classes.py
  ucs-test-ucsschool-kelvin/94_ucsschool-kelvin-performance/locust_files/users.py
  ucs-test-ucsschool-kelvin/94_ucsschool-kelvin-performance/locust_files/workgroups.py
Due: ucs_test_deb_lint, ucs_test_deb_build_git

test(performance): wait for v2 connector to replicate before load-testing
  .gitlab-ci/branch_performance_tests.cfg
  .gitlab-ci/gitlab-ci.yml
  ucs-test-ucsschool-kelvin/94_ucsschool-kelvin-performance/README.md
  ucs-test-ucsschool-kelvin/94_ucsschool-kelvin-performance/wait_for_db_full.py
Due: ucs_test_deb_lint, ucs_test_deb_build_git

test(performance): support testing v1 and v2 Kelvin API endpoints
  .gitlab-ci/branch_performance_tests.cfg
  .gitlab-ci/compare_locust_versions.py
  .gitlab-ci/gitlab-ci.yml
  ucs-test-ucsschool-kelvin/94_ucsschool-kelvin-performance/001_get_all_schools.py
  ucs-test-ucsschool-kelvin/94_ucsschool-kelvin-performance/002_get_school.py
  ucs-test-ucsschool-kelvin/94_ucsschool-kelvin-performance/003_head_school.py
  ucs-test-ucsschool-kelvin/94_ucsschool-kelvin-performance/010_get_all_users.py
  ucs-test-ucsschool-kelvin/94_ucsschool-kelvin-performance/011_get_user.py
  ucs-test-ucsschool-kelvin/94_ucsschool-kelvin-performance/013_create_user.py
  ucs-test-ucsschool-kelvin/94_ucsschool-kelvin-performance/020_get_all_classes.py
  ucs-test-ucsschool-kelvin/94_ucsschool-kelvin-performance/021_get_class.py
  ucs-test-ucsschool-kelvin/94_ucsschool-kelvin-performance/030_get_all_workgroups.py
  ucs-test-ucsschool-kelvin/94_ucsschool-kelvin-performance/031_get_workgroup.py
  ucs-test-ucsschool-kelvin/94_ucsschool-kelvin-performance/040_get_all_roles.py
  ucs-test-ucsschool-kelvin/94_ucsschool-kelvin-performance/041_get_role.py
  ucs-test-ucsschool-kelvin/94_ucsschool-kelvin-performance/README.md
  ucs-test-ucsschool-kelvin/94_ucsschool-kelvin-performance/conftest.py
  ucs-test-ucsschool-kelvin/94_ucsschool-kelvin-performance/src/ucs_test_ucsschool_kelvin_performance/base.py
  ucs-test-ucsschool-kelvin/94_ucsschool-kelvin-performance/src/ucs_test_ucsschool_kelvin_performance/settings_locust.py
  ucs-test-ucsschool-kelvin/94_ucsschool-kelvin-performance/src/ucs_test_ucsschool_kelvin_performance/test_cleaner.py
Due: ucs_test_deb_lint, ucs_test_deb_build_git

fix: hostname
  .gitlab-ci/branch_performance_tests.cfg
  .gitlab-ci/gitlab-ci.yml
Due: none

ci: add performance-tests job with GitLab metrics artifact
  .gitlab-ci/branch_performance_tests.cfg
  .gitlab-ci/gitlab-ci.yml
  .gitlab-ci/locust_to_prometheus.py
Due: none

test: Generate diskcache from Kelvin DB
  ucs-test-ucsschool-kelvin/94_ucsschool-kelvin-performance/conftest.py
  ucs-test-ucsschool-kelvin/debian/control
Due: ucs_test_deb_lint, ucs_test_deb_build_git

wip: set RNG seed
  pyrightconfig.json
  ucs-test-ucsschool-kelvin/94_ucsschool-kelvin-performance/README.md
  ucs-test-ucsschool-kelvin/94_ucsschool-kelvin-performance/locust_files/classes.py
  ucs-test-ucsschool-kelvin/94_ucsschool-kelvin-performance/locust_files/roles.py
  ucs-test-ucsschool-kelvin/94_ucsschool-kelvin-performance/locust_files/schools.py
  ucs-test-ucsschool-kelvin/94_ucsschool-kelvin-performance/locust_files/users.py
  ucs-test-ucsschool-kelvin/94_ucsschool-kelvin-performance/locust_files/workgroups.py
  ucs-test-ucsschool-kelvin/94_ucsschool-kelvin-performance/src/ucs_test_ucsschool_kelvin_performance/base.py
  ucs-test-ucsschool-kelvin/94_ucsschool-kelvin-performance/src/ucs_test_ucsschool_kelvin_performance/settings_locust.py
  ucs-test-ucsschool-kelvin/94_ucsschool-kelvin-performance/src/ucs_test_ucsschool_kelvin_performance/test_data.py
Due: ucs_test_deb_lint, ucs_test_deb_build_git

feat(v2): retrieve several groups in one search request
  basedpyright-baseline.json
  doc/docs/resource-classes.rst
  doc/docs/resource-workgroups.rst
  kelvin-api/changelog.rst
  kelvin-api/tests/test_route_group_v2_filters.py
  kelvin-api/tests/test_route_school_class.py
  kelvin-api/tests/test_route_workgroup.py
  kelvin-api/ucsschool/kelvin/routers/v2/_filters.py
  kelvin-api/ucsschool/kelvin/routers/v2/school_class.py
  kelvin-api/ucsschool/kelvin/routers/v2/user.py
  kelvin-api/ucsschool/kelvin/routers/v2/workgroup.py
  ucsschool-objects/src/ucsschool_objects/database_models.py
Due: test kelvin-api
