Repository univention/ucsschool-kelvin-rest-api: changes, and which GitLab CI jobs are due for each by the changed paths.
All: prepare, html, pdf, linkcheck, spelling, docs-merge, build_docker_image, tests, ucs_test_deb_lint, ucs_test_deb_build_git, ucs_test_deb_repo_import, ucs_test_deb_repo_build

prepare:
  stage: prepare
  image:
    name: python:3.9-bullseye
  artifacts:
    paths:
    - docker/build/
    expire_in: 1 day
  cache:
  - key: $CI_COMMIT_REF_SLUG
    paths:
    - docker/build/
  script:
  - apt-get update
  - apt-get install -y git rsync
  - cd ${CI_PROJECT_DIR}/docker
  - ./gitlab_prepare_docker_image

docs-merge:
  needs:
  - job: html
    artifacts: true
  - job: pdf
    artifacts: true
  - job: spelling
    artifacts: false
  - job: linkcheck
    artifacts: false

build_docker_image:
  stage: build
  variables:
    KANIKO_BUILD_CONTEXT: $CI_PROJECT_DIR/docker/build/
    KANIKO_ARGS: --build-arg app_id="$APP_ID" --build-arg commit="$CI_COMMIT_SHA" --build-arg date="$CI_JOB_STARTED_AT" --cache=true --cache-repo $CI_REGISTRY_IMAGE/cache --cache-copy-layers

tests:
  stage: tests
  needs:
  - job: build_docker_image
  image: $IMAGE_TAG
  script:
  - cd ${CI_PROJECT_DIR}/kelvin-api && make test
  - cd ${CI_PROJECT_DIR}/ucs-school-lib/modules/ucsschool/lib && pytest -v tests

ucs_test_deb_lint:
  stage: lint
  image:
    name: $UCSLINT_IMAGE
    entrypoint:
    - ''
  script:
  - cd ucs-test-ucsschool-kelvin && ucslint -j ucslint.xml
  artifacts:
    reports:
      junit: ucs-test-ucsschool-kelvin/ucslint.xml

ucs_test_deb_build_git:
  stage: build
  image: $DEB_IMAGE
  script:
  - apt-get update
  - cd ucs-test-ucsschool-kelvin
  - apt-get -q --assume-yes build-dep .
  - dpkg-buildpackage -us -uc
  - install -d -m 755 build
  - mv ../*.tar.*z ../*.dsc ../*.deb ../*.buildinfo ../*.changes build/
  artifacts:
    paths:
  ...

ucs_test_deb_repo_import:
  stage: build
  variables:
    GIT_STRATEGY: none
  tags:
  - omar
  script:
  - 'repo_admin.py -G $CI_REPOSITORY_URL -b $CI_COMMIT_BRANCH -P ucs-test-ucsschool-kelvin -r ${UCS_RELEASE}-0-0 -s $SCOPE -p $PACKAGE
  
    '

ucs_test_deb_repo_build:
  stage: build
  needs:
  - job: ucs_test_deb_repo_import
    artifacts: false
  variables:
    GIT_STRATEGY: none
  tags:
  - ladda
  script:
  - 'build-package-ng --no-pbuilder-update -r ${UCS_RELEASE}-0-0 -s $SCOPE -p $PACKAGE
  
    '

Issue #81: Fix and update appcenter readme and app changelog
  appcenter/README_UPDATE_EN
  kelvin-api/changelog.rst
Due: prepare, build_docker_image, tests

Issue #00: cache admin group members instead of searching for them every time
  kelvin-api/ucsschool/kelvin/ldap.py
Due: prepare, build_docker_image, tests

Bug #55986: fix import for admin users
  ucs-school-lib/modules/ucsschool/lib/models/group.py
  ucs-school-lib/modules/ucsschool/lib/models/user.py
  ucs-school-lib/modules/ucsschool/lib/tests/test_user.py
Due: prepare, build_docker_image, tests

Bug #55986: fix is_x checks for User
  ucs-school-lib/modules/ucsschool/lib/models/user.py
  ucs-school-lib/modules/ucsschool/lib/tests/conftest.py
  ucs-school-lib/modules/ucsschool/lib/tests/test_user.py
Due: prepare, build_docker_image, tests

Bug #55986: Bump version to 1.8.9 and update changelogs
  appcenter/README_UPDATE_EN
  doc/docs/conf.py
  kelvin-api/VERSION.txt
  kelvin-api/changelog.rst
Due: prepare, html, pdf, linkcheck, spelling, docs-merge, build_docker_image, tests

Bug #55986: fix sphinx logo
  doc/docs/conf.py
Due: html, pdf, linkcheck, spelling, docs-merge

Issue #90: fix junit-prefix in 11_in_container_tests_kelvin_api
  ucs-test-ucsschool-kelvin/94_ucsschool-kelvin/11_in_container_tests_kelvin_api
Due: ucs_test_deb_lint, ucs_test_deb_build_git

Issue #90: Add changelog
  ucs-test-ucsschool-kelvin/debian/changelog
Due: ucs_test_deb_lint, ucs_test_deb_build_git, ucs_test_deb_repo_import, ucs_test_deb_repo_build

Bug #56097: update dependencies
  kelvin-api/requirements.txt
  kelvin-api/ucsschool/kelvin/routers/role.py
  kelvin-api/ucsschool/kelvin/routers/school.py
  kelvin-api/ucsschool/kelvin/routers/user.py
Due: prepare, build_docker_image, tests

Bug #56097: fix URL type
  kelvin-api/ucsschool/kelvin/routers/base.py
  kelvin-api/ucsschool/kelvin/routers/role.py
  kelvin-api/ucsschool/kelvin/routers/school.py
  kelvin-api/ucsschool/kelvin/routers/school_class.py
  kelvin-api/ucsschool/kelvin/routers/user.py
  kelvin-api/ucsschool/kelvin/routers/workgroup.py
Due: prepare, build_docker_image, tests

Bug #56097: replace timing middleware
  kelvin-api/requirements.txt
  kelvin-api/ucsschool/kelvin/main.py
Due: prepare, build_docker_image, tests

Bug #56097: add changelog entry
  appcenter/README_UPDATE_EN
Due: none

Issue #86: Adjust changelog entry
  appcenter/README_UPDATE_EN
  kelvin-api/changelog.rst
Due: prepare, build_docker_image, tests

Issue #86: Debian changelog version bump
  ucs-test-ucsschool-kelvin/debian/changelog
Due: ucs_test_deb_lint, ucs_test_deb_build_git, ucs_test_deb_repo_import, ucs_test_deb_repo_build

Issue #86: correct changelog
  appcenter/README_UPDATE_EN
  kelvin-api/changelog.rst
Due: prepare, build_docker_image, tests

Issue #85: add username checks and test
  kelvin-api/tests/test_route_user.py
  kelvin-api/ucsschool/kelvin/routers/user.py
Due: prepare, build_docker_image, tests

Issue #85: add changelogs
  appcenter/README_UPDATE_EN
  kelvin-api/changelog.rst
Due: prepare, build_docker_image, tests

Bug #56152: Add UCR-V for control of username validation
  appcenter/inst
  ucs-school-lib/modules/ucsschool/lib/models/attributes.py
Due: prepare, build_docker_image, tests

fixup! Issue #98: fix renaming users
  appcenter/README_UPDATE_EN
  doc/docs/conf.py
  kelvin-api/VERSION.txt
  kelvin-api/changelog.rst
Due: prepare, html, pdf, linkcheck, spelling, docs-merge, build_docker_image, tests

Issue #98: fix renaming users
  appcenter/README_UPDATE_EN
  doc/docs/conf.py
  kelvin-api/VERSION.txt
  kelvin-api/changelog.rst
  ucs-school-import/modules/ucsschool/importer/models/import_user.py
Due: prepare, html, pdf, linkcheck, spelling, docs-merge, build_docker_image, tests

Issue #85: fix tests
  kelvin-api/tests/test_route_user.py
Due: prepare, build_docker_image, tests

Bug #56152: Fix test_create_with_windows_reserved_name_raises
  kelvin-api/tests/test_route_user.py
Due: prepare, build_docker_image, tests

Issue #106: doc: Activate document search with Typesense
  doc/docs/conf.py
Due: html, pdf, linkcheck, spelling, docs-merge

Issue #106: doc: Activate website tracking
  doc/docs/conf.py
Due: html, pdf, linkcheck, spelling, docs-merge

Issue #106: doc: Revert content changes for document rebuild
  doc/docs/conf.py
Due: html, pdf, linkcheck, spelling, docs-merge

Revert "Issue #106: doc: Revert content changes for document rebuild"
  doc/docs/conf.py
Due: html, pdf, linkcheck, spelling, docs-merge

Bug #56152: Test new UCR-V in Kelvin correctly
  kelvin-api/tests/conftest.py
  kelvin-api/tests/test_route_user.py
Due: prepare, build_docker_image, tests

Issue #93: add test
  kelvin-api/tests/test_route_user.py
  ucs-school-lib/modules/ucsschool/lib/tests/conftest.py
  ucs-school-lib/modules/ucsschool/lib/tests/test_user.py
Due: prepare, build_docker_image, tests

Issue #93: reload UDM object after removing groups
  ucs-school-lib/modules/ucsschool/lib/models/user.py
Due: prepare, build_docker_image, tests

Issue #93: add changenlogs
  appcenter/README_UPDATE_EN
  kelvin-api/changelog.rst
Due: prepare, build_docker_image, tests

Issue #93: extend test to check that groups are added too
  kelvin-api/tests/test_route_user.py
  ucs-school-lib/modules/ucsschool/lib/tests/test_user.py
Due: prepare, build_docker_image, tests

Issue #102: Update changelogs
  appcenter/README_UPDATE_EN
  kelvin-api/changelog.rst
Due: prepare, build_docker_image, tests

Issue #102: increase version for future release
  doc/docs/conf.py
  kelvin-api/VERSION.txt
Due: prepare, html, pdf, linkcheck, spelling, docs-merge, build_docker_image, tests

Issue #107: add upload_appcenter_scripts_to_test_appcenter to pipeline
  .gitlab-ci.yml
Due: none

Issue #94: Disable OPA telemetry
  docker/opa.initd
Due: prepare, build_docker_image

Draft: Issue #100: Update readme
  README.md
Due: none

Issue #100: Add paragraph about Jenkins jobs
  README.md
Due: none

Path conditions:
  prepare: any of: docker/*, kelvin-api/**/*, ucs-school-import/**/*, ucs-school-lib/**/*, univention-directory-manager-modules-slim/**/*, univention-lib-slim/**/*
  html: any of: doc/docs/**/*
  pdf: any of: doc/docs/**/*
  linkcheck: any of: doc/docs/**/*
  spelling: any of: doc/docs/**/*
  docs-merge: any of: doc/docs/**/*
  build_docker_image: any of: docker/*, kelvin-api/**/*, ucs-school-import/**/*, ucs-school-lib/**/*, univention-directory-manager-modules-slim/**/*, univention-lib-slim/**/*
  tests: any of: kelvin-api/**/*, ucs-school-lib/**/*
  ucs_test_deb_lint: any of: ucs-test-ucsschool-kelvin/**/*
  ucs_test_deb_build_git: any of: ucs-test-ucsschool-kelvin/**/*
  ucs_test_deb_repo_import: any of: ucs-test-ucsschool-kelvin/debian/changelog
  ucs_test_deb_repo_build: any of: ucs-test-ucsschool-kelvin/debian/changelog
