Repository univention/ucsschool-kelvin-rest-api: changes, and which GitLab CI jobs are due for each by the changed paths.
All: prepare, html, pdf, linkcheck, spelling, docs-merge, build_docker_image, tests, ucs_test_deb_lint, ucs_test_deb_build_git, ucs_test_deb_repo_import, ucs_test_deb_repo_build

Path conditions:
  prepare: any of: docker/*, kelvin-api/**/*, ucs-school-import/**/*, ucs-school-lib/**/*, univention-directory-manager-modules-slim/**/*, univention-lib-slim/**/*
  html: any of: doc/docs/**/*
  pdf: any of: doc/docs/**/*
  linkcheck: any of: doc/docs/**/*
  spelling: any of: doc/docs/**/*
  docs-merge: any of: doc/docs/**/*
  build_docker_image: any of: docker/*, kelvin-api/**/*, ucs-school-import/**/*, ucs-school-lib/**/*, univention-directory-manager-modules-slim/**/*, univention-lib-slim/**/*
  tests: any of: kelvin-api/**/*, ucs-school-lib/**/*
  ucs_test_deb_lint: any of: ucs-test-ucsschool-kelvin/**/*
  ucs_test_deb_build_git: any of: ucs-test-ucsschool-kelvin/**/*
  ucs_test_deb_repo_import: any of: ucs-test-ucsschool-kelvin/debian/changelog
  ucs_test_deb_repo_build: any of: ucs-test-ucsschool-kelvin/debian/changelog

Issue #61: reduce diff to 5.0
  ucs-school-import/modules/ucsschool/importer/models/import_user.py
Due: prepare, build_docker_image

Issue #61: (squash me)
  kelvin-api/tests/test_pyhook.py
Due: prepare, build_docker_image, tests

Issue #61: test all hook phases (squash me)
  kelvin-api/tests/test_pyhook.py
Due: prepare, build_docker_image, tests

Issue id-broker-plugin#17: Specifiy openapi-generator-cli-5.4.0
  docker/Dockerfile
Due: prepare, build_docker_image

fixup! Issue id-broker-plugin#17: Specifiy openapi-generator-cli-5.4.0
  appcenter/configure
Due: none

Issue #61: change version to 1.8.6
  appcenter/README_UPDATE_EN
  doc/docs/conf.py
  kelvin-api/VERSION.txt
  kelvin-api/changelog.rst
Due: prepare, html, pdf, linkcheck, spelling, docs-merge, build_docker_image, tests

Issue #61: version & changelog
  appcenter/README_UPDATE_EN
  kelvin-api/changelog.rst
Due: prepare, build_docker_image, tests

Issue #61: fix ucsschool-import & ucsschool-lib hooks are called when kelvin api is used
  kelvin-api/tests/test_pyhook.py
  ucs-school-import/modules/ucsschool/importer/models/import_user.py
  ucs-school-lib/modules/ucsschool/lib/models/base.py
Due: prepare, build_docker_image, tests

Issue id-broker-plugin#17: ensure only one 'openapi-generator-cli-*.jar' exists in Docker image (univention/components/ucsschool-api-plugins/id-broker-plugin#17)
  docker/gitlab_prepare_docker_image
Due: prepare, build_docker_image

Issue id-broker-plugin#17: remove cached openapi-generator files
  docker/gitlab_prepare_docker_image
Due: prepare, build_docker_image

fixup! Issue id-broker-plugin#17: remove cached openapi-generator files
  docker/gitlab_prepare_docker_image
Due: prepare, build_docker_image

fixup! fixup! Issue id-broker-plugin#17: remove cached openapi-generator files
  docker/gitlab_prepare_docker_image
Due: prepare, build_docker_image

fixup! Issue id-broker-plugin#17: ensure only one 'openapi-generator-cli-*.jar' exists in Docker image (univention/components/ucsschool-api-plugins/id-broker-plugin#17)
  docker/gitlab_prepare_docker_image
Due: prepare, build_docker_image

Issue #17: ensure only one 'openapi-generator-cli-*.jar' exists in Docker image
  docker/gitlab_prepare_docker_image
Due: prepare, build_docker_image

Issue id-broker-plugin#17: Update readmes
  appcenter/README_UPDATE_EN
  kelvin-api/changelog.rst
Due: prepare, build_docker_image, tests

Issue #61: improve readme about pipelines
  README.md
Due: none

Issue #71: Add note about masking kelvin_password_hashes
  kelvin-api/ucsschool/kelvin/opa.py
Due: prepare, build_docker_image, tests

fixup! Issue #71: Add test
  ucs-test-ucsschool-kelvin/94_ucsschool-kelvin/03_user_resource.py
Due: ucs_test_deb_lint, ucs_test_deb_build_git

fixup! Issue #71: Add filter for sensitive attributes to opa client
  kelvin-api/ucsschool/kelvin/opa.py
Due: prepare, build_docker_image, tests

fixup! fixup! Issue #71: Add test
  ucs-test-ucsschool-kelvin/94_ucsschool-kelvin/03_user_resource.py
Due: ucs_test_deb_lint, ucs_test_deb_build_git

Issue #71: Add test
  ucs-test-ucsschool-kelvin/94_ucsschool-kelvin/03_user_resource.py
Due: ucs_test_deb_lint, ucs_test_deb_build_git

fixup! fixup! fixup! Issue #71: Add test
  kelvin-api/ucsschool/kelvin/opa.py
Due: prepare, build_docker_image, tests

fixup! fixup! Issue #71: Add filter for sensitive attributes to opa client
  kelvin-api/ucsschool/kelvin/opa.py
Due: prepare, build_docker_image, tests

Issue #71: Add filter for sensitive attributes to opa client
  kelvin-api/ucsschool/kelvin/opa.py
Due: prepare, build_docker_image, tests

Issue #71: Add a changelog entry
  ucs-test-ucsschool-kelvin/debian/changelog
Due: ucs_test_deb_lint, ucs_test_deb_build_git, ucs_test_deb_repo_import, ucs_test_deb_repo_build

Issue #71: Add filter for sensitive attributes to OPA client
  kelvin-api/ucsschool/kelvin/opa.py
  ucs-test-ucsschool-kelvin/94_ucsschool-kelvin/03_user_resource.py
  ucs-test-ucsschool-kelvin/debian/changelog
Due: prepare, build_docker_image, tests, ucs_test_deb_lint, ucs_test_deb_build_git, ucs_test_deb_repo_import, ucs_test_deb_repo_build

Issue #67: improve documentation
  doc/docs/installation-configuration.rst
Due: html, pdf, linkcheck, spelling, docs-merge

Bug #54307: keep mapped udm properties in sync
  kelvin-api/tests/conftest.py
Due: prepare, build_docker_image, tests

Bug #54307: revert keep mapped udm properties in sync (not strictly needed)
  kelvin-api/tests/conftest.py
Due: prepare, build_docker_image, tests

Issue #71: add changelog
  appcenter/README_UPDATE_EN
  doc/docs/conf.py
  kelvin-api/VERSION.txt
  kelvin-api/changelog.rst
Due: prepare, html, pdf, linkcheck, spelling, docs-merge, build_docker_image, tests

Bug #53519: validate usernames to avoid Windows reserved names
  kelvin-api/tests/test_route_user.py
  ucs-school-lib/modules/ucsschool/lib/de.po
  ucs-school-lib/modules/ucsschool/lib/models/attributes.py
Due: prepare, build_docker_image, tests

Bug #53519: add changelogs
  appcenter/README_UPDATE_EN
  kelvin-api/VERSION.txt
  kelvin-api/changelog.rst
Due: prepare, build_docker_image, tests

Issue #83: return 404 for non existing roles
  kelvin-api/tests/test_route_role.py
  kelvin-api/ucsschool/kelvin/routers/role.py
Due: prepare, build_docker_image, tests

Issue #83: bump version to 1.8.8 and update changelogs
  appcenter/README_UPDATE_EN
  doc/docs/conf.py
  kelvin-api/changelog.rst
Due: prepare, html, pdf, linkcheck, spelling, docs-merge, build_docker_image, tests

Issue #83: adapt compatibility table
  doc/docs/kelvin-client-compatibility.rst
Due: html, pdf, linkcheck, spelling, docs-merge

Issue #78: Fix text for license application
  LICENSE
Due: none

Issue #78: Annotate license header to source files for documentation
  doc/.gitignore
  doc/docs/Makefile
  doc/docs/authentication-authorization.rst
  doc/docs/bibliography.bib
  doc/docs/bibliography.rst
  doc/docs/conf.py
  doc/docs/index.rst
  doc/docs/installation-configuration.rst
  doc/docs/kelvin-client-compatibility.rst
  doc/docs/known-issues.rst
  doc/docs/openapi.rst
  doc/docs/overview.rst
  doc/docs/resource-classes.rst
  doc/docs/resource-roles.rst
  doc/docs/resource-schools.rst
  doc/docs/resource-users.rst
  doc/docs/resource-workgroups.rst
  doc/docs/resources.rst
  doc/docs/spelling_wordlist.license
  doc/readme.rst
Due: html, pdf, linkcheck, spelling, docs-merge

Issue #78: Reuse.software requires LICENSES directory
  LICENSES/AGPL-3.0-only.txt
Due: none

Issue #78: Add metadata for reuse.software
  .reuse/dep5
Due: none

Issue #78: Replace reuse downloaded AGPL-3.0-only license
  LICENSES/AGPL-3.0-only.txt
Due: none
