Repository univention/ucsschool-kelvin-rest-api: changes, and which GitLab CI jobs are due for each by the changed paths.
All: docs-html, docs-pdf, docs-linkcheck, docs-spelling, docs-merge-to-one-artifact, docs-review, docs-create-production-merge-request, test ucs-school-lib, test kelvin-api, ucs_test_deb_lint, ucs_test_deb_build_git, ucs_test_deb_repo_import, ucs_test_deb_repo_build

Path conditions:
  docs-html: any of: doc/docs/**/*, kelvin-api/changelog.rst
  docs-pdf: any of: doc/docs/**/*, kelvin-api/changelog.rst
  docs-linkcheck: any of: doc/docs/**/*, kelvin-api/changelog.rst
  docs-spelling: any of: doc/docs/**/*, kelvin-api/changelog.rst
  docs-merge-to-one-artifact: any of: doc/docs/**/*, kelvin-api/changelog.rst
  docs-review: any of: doc/docs/**/*, kelvin-api/changelog.rst
  docs-create-production-merge-request: any of: doc/docs/**/*, kelvin-api/changelog.rst
  test ucs-school-lib: any of: ucs-school-lib/**/*
  test kelvin-api: any of: kelvin-api/**/*
  ucs_test_deb_lint: any of: ucs-test-ucsschool-kelvin/**/*
  ucs_test_deb_build_git: any of: ucs-test-ucsschool-kelvin/**/*
  ucs_test_deb_repo_import: any of: ucs-test-ucsschool-kelvin/debian/changelog
  ucs_test_deb_repo_build: any of: ucs-test-ucsschool-kelvin/debian/changelog

perf(ucs-school-lib): Do not fetch non-school group objects from UDM
  .pre-commit-config.yaml
  kelvin-api/changelog.rst
  ucs-school-lib/modules/ucsschool/lib/models/user.py
Due: docs-html, docs-pdf, docs-linkcheck, docs-spelling, docs-merge-to-one-artifact, docs-review, docs-create-production-merge-request, test ucs-school-lib, test kelvin-api

feat: new type of logger handler to use Docker stdout
  docker/Dockerfile
  docker/logsocket.initd
  kelvin-api/etc/rsyslog.d/univention_kelvin.conf
  kelvin-api/socket_server.py
  kelvin-api/ucsschool/kelvin/main.py
  ucs-school-lib/modules/ucsschool/lib/models/utils.py
Due: test ucs-school-lib, test kelvin-api

fix: Fix behavior for ucsschool administrators
  README.md
  kelvin-api/tests/conftest.py
  kelvin-api/tests/test_pyhook.py
  kelvin-api/tests/test_route_role.py
  kelvin-api/tests/test_route_user.py
  kelvin-api/ucsschool/kelvin/ldap.py
  kelvin-api/ucsschool/kelvin/routers/role.py
  kelvin-api/ucsschool/kelvin/routers/user.py
  ucs-school-import/modules/ucsschool/importer/default_user_import_factory.py
  ucs-school-import/modules/ucsschool/importer/models/import_user.py
  ucs-school-import/modules/ucsschool/importer/utils/shell.py
  ucs-school-import/modules/ucsschool/importer/writer/new_user_password_csv_exporter.py
  ucs-school-import/modules/ucsschool/importer/writer/user_import_csv_result_exporter.py
  ucs-school-lib/modules/ucsschool/lib/models/user.py
  ucs-school-lib/modules/ucsschool/lib/models/validator.py
  ucs-school-lib/modules/ucsschool/lib/roles.py
  ucs-school-lib/modules/ucsschool/lib/tests/conftest.py
  ucs-school-lib/modules/ucsschool/lib/tests/test_user.py
  ucs-school-lib/modules/ucsschool/lib/tests/test_validation_to_dict.py
  ucs-school-lib/modules/ucsschool/lib/tests/test_validation_users.py
  ucs-test-ucsschool-kelvin/94_ucsschool-kelvin/12_in_container_tests_kelvin_api_coverage
Due: test ucs-school-lib, test kelvin-api, ucs_test_deb_lint, ucs_test_deb_build_git

ci: fix image path
  .gitlab-ci.yml
Due: none

fix: This should be this variable for the logic to work
  kelvin-api/ucsschool/kelvin/main.py
Due: test kelvin-api

fix: add new logsocket init.d file to prepare-docker file
  docker/gitlab_prepare_docker_image
Due: none

fix: fixed the error of the create_ou_using_python fixture
  ucs-school-lib/modules/ucsschool/lib/models/school.py
  ucs-school-lib/modules/ucsschool/lib/models/share.py
Due: test ucs-school-lib

feat: adding lib changes legalGuardian branch of school repo
  ucs-school-lib/modules/ucsschool/lib/de.po
  ucs-school-lib/modules/ucsschool/lib/i18n.py
  ucs-school-lib/modules/ucsschool/lib/models/__main__.py
  ucs-school-lib/modules/ucsschool/lib/models/attributes.py
  ucs-school-lib/modules/ucsschool/lib/models/school.py
  ucs-school-lib/modules/ucsschool/lib/models/user.py
  ucs-school-lib/modules/ucsschool/lib/models/validator.py
  ucs-school-lib/modules/ucsschool/lib/roles.py
  ucs-school-lib/modules/ucsschool/lib/roleshares.py
  ucs-school-lib/modules/ucsschool/lib/roleshares_umc.py
  ucs-school-lib/modules/ucsschool/lib/schoolldap.py
Due: test ucs-school-lib

feat: adding import changes legalGuardian branch of school repo
  ucs-school-import/debian/ucs-school-import.postinst
  ucs-school-import/debian/ucs-school-import.univention-config-registry-variables
  ucs-school-import/modules/ucsschool/importer/default_user_import_factory.py
  ucs-school-import/modules/ucsschool/importer/exceptions.py
  ucs-school-import/modules/ucsschool/importer/frontend/parse_user_import_cmdline.py
  ucs-school-import/modules/ucsschool/importer/models/import_user.py
  ucs-school-import/modules/ucsschool/importer/reader/csv_reader.py
  ucs-school-import/modules/ucsschool/importer/utils/constants.py
  ucs-school-import/modules/ucsschool/importer/utils/format_pyhook.py
  ucs-school-import/modules/ucsschool/importer/utils/shell.py
  ucs-school-import/schema/ucs-school-import.schema
  ucs-school-import/syntax/syntax.ucs-school-import.py
  ucs-school-import/udm_hook/de.po
  ucs-school-import/udm_hook/ucsschool_legal_guardian.py
  ucs-school-import/udm_hook/ucsschool_legal_ward.py
  ucs-school-import/usr/share/ucs-school-import/pyhooks-available/legal_guardian_as_record_uid.py
  ucs-school-import/usr/share/ucs-school-import/scripts/ucs-school-import
Due: none

feat: add legalGuardian to kelvin
  kelvin-api/tests/test_import_user.py
  kelvin-api/ucsschool/kelvin/routers/role.py
  kelvin-api/ucsschool/kelvin/routers/user.py
  ucs-school-import/modules/ucsschool/importer/models/import_user.py
  ucs-school-lib/modules/ucsschool/lib/models/user.py
Due: test ucs-school-lib, test kelvin-api

fix: make this method async, as this gave an error
  ucs-school-lib/modules/ucsschool/lib/models/user.py
Due: test ucs-school-lib

feat: several more changes for adding legalGuardian to kelvin
  kelvin-api/tests/test_route_user.py
  ucs-school-lib/modules/ucsschool/lib/models/user.py
  ucs-school-lib/modules/ucsschool/lib/tests/conftest.py
  ucs-school-lib/modules/ucsschool/lib/tests/test_user.py
Due: test ucs-school-lib, test kelvin-api

fix: fix issue at the calling method already
  ucs-school-lib/modules/ucsschool/lib/models/school.py
Due: test ucs-school-lib

fix: add changelog for the fix
  kelvin-api/changelog.rst
Due: docs-html, docs-pdf, docs-linkcheck, docs-spelling, docs-merge-to-one-artifact, docs-review, docs-create-production-merge-request, test kelvin-api

fix: add error log in case the educational group is missing
  ucs-school-lib/modules/ucsschool/lib/models/school.py
Due: test ucs-school-lib

fix: Add automatic test for the case of no administrative-group objects existing
  kelvin-api/tests/test_route_school.py
Due: test kelvin-api

fix: fixing the case that a school was created without the typical objects
  ucs-school-lib/modules/ucsschool/lib/models/school.py
Due: test ucs-school-lib

fix: small changelog change & adding it also to readme
  appcenter/README_UPDATE_EN
  kelvin-api/changelog.rst
Due: docs-html, docs-pdf, docs-linkcheck, docs-spelling, docs-merge-to-one-artifact, docs-review, docs-create-production-merge-request, test kelvin-api

fix: Merge two error catching cases
  ucs-school-lib/modules/ucsschool/lib/models/share.py
Due: test ucs-school-lib

fix: Remove this condition as it's also not in the ucs-school repo
  ucs-school-lib/modules/ucsschool/lib/models/school.py
Due: test ucs-school-lib

fix: getting the object-type instead of trying both and catching exceptions
  ucs-school-lib/modules/ucsschool/lib/models/share.py
Due: test ucs-school-lib

fix: add changelog for the fix
  appcenter/README_UPDATE_EN
  kelvin-api/changelog.rst
Due: docs-html, docs-pdf, docs-linkcheck, docs-spelling, docs-merge-to-one-artifact, docs-review, docs-create-production-merge-request, test kelvin-api

feat: new type of logger handler to use Docker stdout
  docker/Dockerfile
  docker/build.sh
  docker/logsocket.initd
  kelvin-api/etc/rsyslog.d/univention_kelvin.conf
  kelvin-api/socket_server.py
  kelvin-api/ucsschool/kelvin/main.py
  ucs-school-lib/modules/ucsschool/lib/models/utils.py
Due: test ucs-school-lib, test kelvin-api

fix: Use the built-in Union type of Python 3.10
  ucs-school-lib/modules/ucsschool/lib/models/utils.py
Due: test ucs-school-lib

fix: Fix failed test that constant wasn't used
  kelvin-api/tests/conftest.py
  kelvin-api/ucsschool/kelvin/constants.py
  kelvin-api/ucsschool/kelvin/main.py
  ucs-school-lib/modules/ucsschool/lib/models/utils.py
Due: test ucs-school-lib, test kelvin-api

fix: Don't use changelog reference of bug here
  appcenter/README_UPDATE_EN
Due: none

fix: Fixed validation test that failed for school-admins
  ucs-school-lib/modules/ucsschool/lib/tests/test_validation_users.py
Due: test ucs-school-lib

fix: Fixed import order
  ucs-school-import/modules/ucsschool/importer/default_user_import_factory.py
Due: none

feat: Add legal-guardian users to validation tests
  ucs-school-import/usr/share/ucs-school-import/scripts/ucs-school-import
  ucs-school-lib/modules/ucsschool/lib/tests/test_validation_users.py
Due: test ucs-school-lib

fix: Fixed tests - need to create UserModel instance depending on user_type
  kelvin-api/tests/test_route_user.py
Due: test kelvin-api

fix: Several more places to add legalGuardian code, seems to work now
  kelvin-api/tests/test_pyhook.py
  kelvin-api/tests/test_route_role.py
  kelvin-api/ucsschool/kelvin/ldap.py
  kelvin-api/ucsschool/kelvin/routers/role.py
  kelvin-api/ucsschool/kelvin/routers/user.py
  ucs-school-import/modules/ucsschool/importer/models/import_user.py
  ucs-school-import/udm_hook/ucsschool_user_options.py
  ucs-school-import/usr/share/ucs-school-import/scripts/migrate_ucsschool_roles
  ucs-school-import/usr/share/ucs-school-import/scripts/ucs-school-import
  ucs-school-lib/modules/ucsschool/lib/models/school.py
  ucs-school-lib/modules/ucsschool/lib/models/user.py
  ucs-school-lib/modules/ucsschool/lib/schoolldap.py
Due: test ucs-school-lib, test kelvin-api

fix: Fixed validation test that required new role
  ucs-school-lib/modules/ucsschool/lib/tests/test_validation_users.py
Due: test ucs-school-lib
