Repository univention/ucsschool-kelvin-rest-api: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test ucs-school-lib, test kelvin-api, ucs_test_deb_lint, ucs_test_deb_build_git, ucs_test_deb_repo_import, ucs_test_deb_repo_build

Path conditions:
  test ucs-school-lib: any of: ucs-school-lib/**/*
  test kelvin-api: any of: kelvin-api/**/*
  ucs_test_deb_lint: any of: ucs-test-ucsschool-kelvin/**/*
  ucs_test_deb_build_git: any of: ucs-test-ucsschool-kelvin/**/*
  ucs_test_deb_repo_import: any of: ucs-test-ucsschool-kelvin/debian/changelog
  ucs_test_deb_repo_build: any of: ucs-test-ucsschool-kelvin/debian/changelog

chore: uv for packages
  .gitignore
  .gitlab-ci.yml
  .justfile
  .python-version
  README.md
  appcenter/ini.jinja
  appcenter/inst
  autoupdate-kelvin-container
  docker/Dockerfile
  docker/alpine_apk_list.build
  docker/alpine_apk_list.runtime
  docker/build.sh
  docker/start-kelvin.sh
  kelvin-api/empty_configs/global.json
  kelvin-api/empty_configs/user_import.json
  kelvin-api/empty_configs/user_import_http-api.json
  kelvin-api/empty_configs/user_import_legacy.json
  kelvin-api/requirements_all.txt
  kelvin-api/setup.cfg
  kelvin-api/setup.py
  kelvin-api/ucsschool/kelvin/token_auth.py
  kelvin-api/update_openapi_client
  openapi-client-udm-1.0.2.tar.gz
  pyproject.toml
  ucs-school-import/modules/requirements.txt
  ucs-school-import/modules/setup.py
  ucs-school-import/pyproject.toml
  ucs-school-lib/modules/setup.cfg
  ucs-school-lib/modules/setup.py
  ucs-school-lib/modules/ucsschool/lib/tests/conftest.py
  ucs-school-lib/pyproject.toml
  univention-directory-manager-modules-slim/pyproject.toml
  univention-directory-manager-modules-slim/requirements.txt
  univention-directory-manager-modules-slim/setup.py
  univention-lib-slim/pyproject.toml
  univention-lib-slim/requirements.txt
  univention-lib-slim/setup.py
  univention-lib-slim/univention/lib/__init__.py
  uv.lock
Due: test ucs-school-lib, test kelvin-api

ci: Update pre-commit hooks
  .pre-commit-config.yaml
Due: none

feat: Retry method if it fails
  kelvin-api/requirements_all.txt
  ucs-school-lib/modules/ucsschool/lib/models/user.py
Due: test ucs-school-lib, test kelvin-api

test: Add test where UDM fails on first call
  ucs-school-lib/modules/ucsschool/lib/tests/test_user.py
Due: test ucs-school-lib

docs: Add changelog entry
  appcenter/README_UPDATE_EN
  kelvin-api/changelog.rst
Due: test kelvin-api

style(kelvin-api): Line break in entrypoint script
  docker/start-kelvin.sh
Due: none

feat(kelvin-api): Add env var at docker entrypoint
  appcenter/preinst
  docker/start-kelvin.sh
  kelvin-api/changelog.rst
Due: test kelvin-api

feat: Alternatively use primary server for LDAP check
  ucs-school-lib/modules/ucsschool/lib/models/base.py
  ucs-school-lib/modules/ucsschool/lib/models/utils.py
Due: test ucs-school-lib

feat: Alternatively only use primary if it's a backup system
  ucs-school-lib/modules/ucsschool/lib/models/utils.py
Due: test ucs-school-lib

feat: Only use local LDAP to verify existence (in case of running on backup system)
  ucs-school-lib/modules/ucsschool/lib/models/base.py
Due: test ucs-school-lib

feat: Let method use primary LDAP in backup systems
  kelvin-api/ucsschool/kelvin/routers/school.py
Due: test kelvin-api

feat: Alternatively only check locally in some cases
  ucs-school-lib/modules/ucsschool/lib/models/base.py
Due: test ucs-school-lib

feat: Only use local LDAP to verify existence where it's expected
  ucs-school-lib/modules/ucsschool/lib/models/base.py
Due: test ucs-school-lib

feat: Pass "server/role" variable to docker container
  appcenter/inst
Due: none

feat: Modify user, not groups when removing school-groups
  ucs-school-lib/modules/ucsschool/lib/models/user.py
  ucs-school-lib/modules/ucsschool/lib/tests/test_user.py
Due: test ucs-school-lib

ci(prek): Use prek instead of pre-commit in Gitlab Pipeline.
  .gitlab-ci.yml
Due: none

feat(preinst): add bats based test for preinst script
  .gitlab-ci.yml
  appcenter/preinst
  appcenter/tests/mocks/ucr
  appcenter/tests/preinst.bats
Due: none

wip: drafting the chapterr
  doc/docs/conf.py
  doc/docs/index.rst
  doc/docs/what-to-do-in-case-of-errors.rst
Due: none

feat: Use primary server for LDAP checks on backup system
  appcenter/inst
  kelvin-api/ucsschool/kelvin/routers/school.py
  ucs-school-lib/modules/ucsschool/lib/models/utils.py
Due: test ucs-school-lib, test kelvin-api

fix: Fix tests that failed when executed on a backup system
  kelvin-api/tests/conftest.py
  ucs-school-lib/modules/ucsschool/lib/tests/conftest.py
  ucs-school-lib/modules/ucsschool/lib/tests/test_user.py
  ucs-test-ucsschool-kelvin/94_ucsschool-kelvin/03_user_resource.py
  ucs-test-ucsschool-kelvin/94_ucsschool-kelvin/conftest.py
Due: test ucs-school-lib, test kelvin-api, ucs_test_deb_lint, ucs_test_deb_build_git

docs: Add changelog entry
  appcenter/README_UPDATE_EN
  kelvin-api/changelog.rst
  ucs-test-ucsschool-kelvin/debian/changelog
Due: test kelvin-api, ucs_test_deb_lint, ucs_test_deb_build_git, ucs_test_deb_repo_import, ucs_test_deb_repo_build

chore: dispatch open points as issues
  .gitlab-ci.yml
Due: none

build(kelvin-app-release): Update gitlab-ci component to latest
  .gitlab-ci.yml
Due: none

chore: Update issue template
  .gitlab/issue_templates/default.md
Due: none

chore: Update issue template team label
  .gitlab/issue_templates/default.md
Due: none

chore(dependencies): Sort dependencies alphanumeric
  kelvin-api/requirements_all.txt
Due: test kelvin-api

chore(dependencies): change reading version from git tag when running the (legacy) setuptools build backend
  kelvin-api/requirements_all.txt
Due: test kelvin-api

docs: add troubleshooting chapter
  doc/docs/conf.py
  doc/docs/index.rst
  doc/docs/what-to-do-in-case-of-errors.rst
Due: none

test: Fix school classes comparison
  ucs-school-lib/modules/ucsschool/lib/tests/test_user.py
  ucs-test-ucsschool-kelvin/94_ucsschool-kelvin/conftest.py
  ucs-test-ucsschool-kelvin/debian/changelog
Due: test ucs-school-lib, ucs_test_deb_lint, ucs_test_deb_build_git, ucs_test_deb_repo_import, ucs_test_deb_repo_build

test: Fix school classes comparison
  ucs-test-ucsschool-kelvin/94_ucsschool-kelvin/03_user_resource.py
  ucs-test-ucsschool-kelvin/debian/changelog
Due: ucs_test_deb_lint, ucs_test_deb_build_git, ucs_test_deb_repo_import, ucs_test_deb_repo_build

chore: Prepare for v3.1.2 release
  README.md
  appcenter/README_UPDATE_EN
  kelvin-api/VERSION.txt
  kelvin-api/changelog.rst
Due: test kelvin-api
