Repository univention/ucsschool-kelvin-rest-api: changes, and which GitLab CI jobs are due for each by the changed paths.
All: prepare, docs-html, docs-pdf, docs-linkcheck, docs-spelling, docs-merge-to-one-artifact, docs-review, docs-create-production-merge-request, build_docker_image, test ucs-school-lib, test kelvin-api, ucs_test_deb_lint, ucs_test_deb_build_git, ucs_test_deb_repo_import, ucs_test_deb_repo_build

prepare:
  stage: prepare
  image:
    name: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/python:3.9-bullseye
  artifacts:
    paths:
    - docker/build/
    expire_in: 1 day
  cache:
  - key: $CI_COMMIT_REF_SLUG
    paths:
    - docker/build/
  script:
  - apt-get update
  - apt-get install -y git rsync
  - cd ${CI_PROJECT_DIR}/docker
  ...

docs-merge-to-one-artifact:
  needs:
  - job: docs-html
  - job: docs-pdf
  - job: docs-spelling
    artifacts: false
  - job: docs-linkcheck
    artifacts: false

docs-review:
  needs:
  - job: docs-merge-to-one-artifact

docs-create-production-merge-request:
  needs:
  - job: docs-merge-to-one-artifact

build_docker_image:
  stage: build
  variables:
    KANIKO_BUILD_CONTEXT: $CI_PROJECT_DIR/docker/build/
    KANIKO_ARGS: --build-arg app_id="$APP_ID" --build-arg commit="$CI_COMMIT_SHA" --build-arg date="$CI_JOB_STARTED_AT" --cache=true --cache-repo $CI_REGISTRY_IMAGE/cache --cache-copy-layers

test ucs-school-lib:
  stage: tests
  needs:
  - job: build_docker_image
  image: $IMAGE_TAG
  script:
  - cp ucs-school-import/modules/ucsschool/lib/create_ou.py ucs-school-lib/modules/ucsschool/lib/
  - cd ucs-school-lib/modules
  ...

test kelvin-api:
  stage: tests
  needs:
  - job: build_docker_image
  image: $IMAGE_TAG
  script:
  - cd ${CI_PROJECT_DIR}/kelvin-api
  ...

ucs_test_deb_lint:
  stage: lint
  image:
    name: $UCSLINT_IMAGE
    entrypoint:
    - ''
  script:
  - cd ucs-test-ucsschool-kelvin && ucslint -j ucslint.xml
  artifacts:
    reports:
      junit: ucs-test-ucsschool-kelvin/ucslint.xml

ucs_test_deb_build_git:
  stage: build
  image: $DEB_IMAGE
  script:
  - apt-get update
  - cd ucs-test-ucsschool-kelvin
  - apt-get -q --assume-yes build-dep .
  - dpkg-buildpackage -us -uc
  - install -d -m 755 build
  - mv ../*.tar.*z ../*.dsc ../*.deb ../*.buildinfo ../*.changes build/
  artifacts:
    paths:
  ...

ucs_test_deb_repo_import:
  stage: build
  variables:
    GIT_STRATEGY: none
  tags:
  - omar
  script:
  - 'repo_admin.py -G $CI_REPOSITORY_URL -b $CI_COMMIT_BRANCH -P ucs-test-ucsschool-kelvin -r ${UCS_RELEASE}-0-0 -s $SCOPE -p $PACKAGE
  
    '

ucs_test_deb_repo_build:
  stage: build
  needs:
  - job: ucs_test_deb_repo_import
    artifacts: false
  variables:
    GIT_STRATEGY: none
  tags:
  - ladda
  script:
  - 'build-package-ng --no-pbuilder-update -r ${UCS_RELEASE}-0-0 -s $SCOPE -p $PACKAGE
  
    '

feat: Add profiling option
  kelvin-api/requirements_dev.txt
  kelvin-api/ucsschool/kelvin/main.py
Due: prepare, build_docker_image, test kelvin-api

ci: Adjust job include path for docs jobs
  .gitlab-ci.yml
Due: none

feat(doc/readme): Adjust location to sphinx-docker repository
  doc/readme.rst
Due: none

ci: fix repo path
  .gitlab-ci.yml
Due: none

chore: enable listener for users/groups/ous
  appcenter/ini.jinja
Due: none

chore: enable database for kelvin
  appcenter/ini.jinja
Due: none

ci: pipeline integration tests
  .gitlab-ci.yml
  .gitlab-ci/integration_tests.cfg
Due: none

docs: add docker livehtml
  doc/docs/Makefile
Due: docs-html, docs-pdf, docs-linkcheck, docs-spelling, docs-merge-to-one-artifact, docs-review, docs-create-production-merge-request

ci: update to component release
  .gitlab-ci.yml
  appcenter/ini.jinja
Due: none

chore: switch to compose app
  appcenter/compose.jinja
  appcenter/ini.jinja
Due: none

wip
  .gitlab-ci.yml
Due: none

ci: test buildkit
  .gitlab-ci.yml
Due: none

ci: tests
  .gitlab-ci.yml
  .gitlab-ci/integration_tests.cfg
Due: none

test: Fix check/mock of LDAP environment variables
  kelvin-api/tests/conftest.py
Due: prepare, build_docker_image, test kelvin-api

ci: Bump test package version
  ucs-test-ucsschool-kelvin/debian/changelog
Due: ucs_test_deb_lint, ucs_test_deb_build_git, ucs_test_deb_repo_import, ucs_test_deb_repo_build

ci: Fix image URL
  .gitlab-ci.yml
Due: none

docs: Update changelog
  kelvin-api/changelog.rst
Due: prepare, docs-html, docs-pdf, docs-linkcheck, docs-spelling, docs-merge-to-one-artifact, docs-review, docs-create-production-merge-request, build_docker_image, test kelvin-api

ci: add SonarQube
  .gitlab-ci.yml
  .gitlab-ci/SonarQube.yml
  sonar-project.properties
Due: none

Issue #0: Remove docker prepare script
  .dockerignore
  .gitlab-ci.yml
  docker/Dockerfile
  docker/gitlab_prepare_docker_image
  kelvin-api/requirements_all.txt
  ucs-school-lib/modules/requirements.txt
Due: prepare, build_docker_image, test ucs-school-lib, test kelvin-api

wip: poetry for packages
  docker/Dockerfile2
  kelvin-api/poetry.lock
  kelvin-api/pyproject.toml
  openapi-client-udm-1.0.2.tar.gz
  ucs-school-import/modules/poetry.lock
  ucs-school-import/modules/pyproject.toml
  ucs-school-lib/modules/poetry.lock
  ucs-school-lib/modules/pyproject.toml
  univention-directory-manager-modules-slim/poetry.lock
  univention-directory-manager-modules-slim/pyproject.toml
  univention-lib-slim/poetry.lock
  univention-lib-slim/pyproject.toml
Due: prepare, build_docker_image, test ucs-school-lib, test kelvin-api

ci: Remove docker prepare script
  .dockerignore
  .gitlab-ci.yml
  docker/Dockerfile
  docker/gitlab_prepare_docker_image
  kelvin-api/requirements.txt
  kelvin-api/requirements_all.txt
  kelvin-api/requirements_dev.txt
  kelvin-api/requirements_test.txt
  kelvin-api/setup.py
  ucs-school-lib/modules/requirements.txt
Due: prepare, build_docker_image, test ucs-school-lib, test kelvin-api

ci: Use release component
  .gitlab-ci.yml
  appcenter/ini.jinja
Due: none

docs: Update README
  README.md
Due: none

feat: add developer convenience script
  autoupdate-kelvin-container
Due: none

ci: move image build into script
  docker/Dockerfile
  docker/build.sh
Due: prepare, build_docker_image

Bug #58448: This change seemingly fixes the error of the create_ou_using_python fixture
  ucs-school-lib/modules/ucsschool/lib/tests/conftest.py
Due: prepare, build_docker_image, test ucs-school-lib

wip: uv for packages
  .gitignore
  .python-version
  docker/Dockerfile
  kelvin-api/empty_configs/global.json
  kelvin-api/empty_configs/user_import.json
  kelvin-api/empty_configs/user_import_http-api.json
  kelvin-api/empty_configs/user_import_legacy.json
  kelvin-api/ucsschool/kelvin/token_auth.py
  kelvin-api/update_openapi_client
  main.py
  openapi-client-udm-1.0.2.tar.gz
  pyproject.toml
  start.sh
  ucs-school-import/pyproject.toml
  ucs-school-lib/pyproject.toml
  univention-directory-manager-modules-slim/pyproject.toml
  univention-lib-slim/pyproject.toml
  univention-lib-slim/univention/lib/__init__.py
  uv.lock
Due: prepare, build_docker_image, test ucs-school-lib, test kelvin-api

Bug #58448: Alternative way of fixing the seen bug
  ucs-school-lib/modules/ucsschool/lib/models/school.py
  ucs-school-lib/modules/ucsschool/lib/models/share.py
  ucs-school-lib/modules/ucsschool/lib/tests/conftest.py
Due: prepare, build_docker_image, test ucs-school-lib

Bug #58448: Was wrong error class
  ucs-school-lib/modules/ucsschool/lib/models/share.py
Due: prepare, build_docker_image, test ucs-school-lib

Path conditions:
  prepare: any of: docker/*, kelvin-api/**/*, ucs-school-import/**/*, ucs-school-lib/**/*, univention-directory-manager-modules-slim/**/*, univention-lib-slim/**/*
  docs-html: any of: doc/docs/**/*, kelvin-api/changelog.rst
  docs-pdf: any of: doc/docs/**/*, kelvin-api/changelog.rst
  docs-linkcheck: any of: doc/docs/**/*, kelvin-api/changelog.rst
  docs-spelling: any of: doc/docs/**/*, kelvin-api/changelog.rst
  docs-merge-to-one-artifact: any of: doc/docs/**/*, kelvin-api/changelog.rst
  docs-review: any of: doc/docs/**/*, kelvin-api/changelog.rst
  docs-create-production-merge-request: any of: doc/docs/**/*, kelvin-api/changelog.rst
  build_docker_image: any of: docker/*, kelvin-api/**/*, ucs-school-import/**/*, ucs-school-lib/**/*, univention-directory-manager-modules-slim/**/*, univention-lib-slim/**/*
  test ucs-school-lib: any of: ucs-school-lib/**/*
  test kelvin-api: any of: kelvin-api/**/*
  ucs_test_deb_lint: any of: ucs-test-ucsschool-kelvin/**/*
  ucs_test_deb_build_git: any of: ucs-test-ucsschool-kelvin/**/*
  ucs_test_deb_repo_import: any of: ucs-test-ucsschool-kelvin/debian/changelog
  ucs_test_deb_repo_build: any of: ucs-test-ucsschool-kelvin/debian/changelog
