Repository univention/ucsschool-kelvin-rest-api: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test ucs-school-lib, test kelvin-api, ucs_test_deb_lint, ucs_test_deb_build_git, ucs_test_deb_repo_import, ucs_test_deb_repo_build

Path conditions:
  test ucs-school-lib: any of: ucs-school-lib/**/*
  test kelvin-api: any of: kelvin-api/**/*
  ucs_test_deb_lint: any of: ucs-test-ucsschool-kelvin/**/*
  ucs_test_deb_build_git: any of: ucs-test-ucsschool-kelvin/**/*
  ucs_test_deb_repo_import: any of: ucs-test-ucsschool-kelvin/debian/changelog
  ucs_test_deb_repo_build: any of: ucs-test-ucsschool-kelvin/debian/changelog

ci: build Kelvin developer manual
  .gitlab-ci.yml
Due: none

docs(adr): add permalink
  doc/dev/architecture-decisions.rst
Due: none

feat(api): implement versioned routing for V1 and V2 APIs with OpenAPI support
  doc/docs/openapi.rst
  doc/docs/overview.rst
  kelvin-api/VERSION.txt
  kelvin-api/changelog.rst
  kelvin-api/tests/conftest.py
  kelvin-api/tests/test_login.py
  kelvin-api/tests/test_route_base.py
  kelvin-api/ucsschool/kelvin/constants.py
  kelvin-api/ucsschool/kelvin/main.py
  ucs-test-ucsschool-kelvin/94_ucsschool-kelvin/00_api_root.py
  ucs-test-ucsschool-kelvin/debian/changelog
  ucs-test-ucsschool-kelvin/modules/univention/testing/ucsschool/kelvin_api.py
Due: test kelvin-api, ucs_test_deb_lint, ucs_test_deb_build_git, ucs_test_deb_repo_import, ucs_test_deb_repo_build

docs(fastapi_doc_patch): update module docstring to clarify purpose and reference known issue
  kelvin-api/ucsschool/kelvin/routers/fastapi_doc_patch.py
Due: test kelvin-api

feat(kelvin_swagger): Landing page for both api versions
  kelvin-api/ucsschool/kelvin/fastapi_doc_patch.py
  kelvin-api/ucsschool/kelvin/main.py
Due: test kelvin-api

fix(kelvin_urls): fix `cached_url_for` to work with versioned routes
  kelvin-api/tests/test_urls.py
  kelvin-api/ucsschool/kelvin/urls.py
Due: test kelvin-api

refactor(kelvin_docs): move doc related endpoints into dedicated module and use routers avoiding code duplication and in consistency with other endpoints
  kelvin-api/ucsschool/kelvin/main.py
  kelvin-api/ucsschool/kelvin/routers/doc.py
  kelvin-api/ucsschool/kelvin/routers/fastapi_doc_patch.py
Due: test kelvin-api

docs(openapi, overview): clarify v2 endpoint behaviour regarding PyHook support
  doc/docs/openapi.rst
  doc/docs/overview.rst
Due: none

chore: Make dev-server a docker compose with automatic restart for code changes.
  Makefile
  README.md
  dev/docker-compose.yaml
Due: none

fix: Fix ucsschool/kelvin/processes setting evaluation
  docker/start-kelvin.sh
Due: none

ci: Improve branch test cfg
  .gitlab-ci/branch_tests.cfg
Due: none

feat: add kelvin test package to container to keep tests in sync with code
  .dockerignore
  .gitlab-ci/branch_tests.cfg
  docker/Dockerfile
Due: none

fix: Migrate from pkg_resources to importlib
  kelvin-api/ucsschool/kelvin/constants.py
  ucs-school-lib/modules/ucsschool/lib/models/utils.py
Due: test ucs-school-lib, test kelvin-api

fix: use secrets.choice instead of random.choice
  ucs-school-lib/modules/ucsschool/lib/models/utils.py
Due: test ucs-school-lib

ci: Allow failure for integration tests
  .gitlab-ci.yml
Due: none

docs(perf-req): Found and fix a number bug
  doc/dev/requirements/requirements-nonfunctional.rst
Due: none

chore(link_check): ignore notes in gitlab merged requests
  doc/dev/conf.py
Due: none

docs(use-cases): Add use cases
  .gitlab-ci.yml
  doc/dev/conf.py
  doc/dev/spelling_wordlist
  doc/dev/usecases.rst
  doc/dev/usecases/uc001a_create_object.rst
  doc/dev/usecases/uc001b_read_object.rst
  doc/dev/usecases/uc001c_update_object.rst
  doc/dev/usecases/uc001d_delete_object.rst
  doc/dev/usecases/uc002a_bulk_create.rst
  doc/dev/usecases/uc002b_bulk_update.rst
  doc/dev/usecases/uc002c_bulk_delete.rst
  doc/dev/usecases/uc003a_simple_search.rst
  doc/dev/usecases/uc003b_complex_search.rst
  doc/dev/usecases/uc004a_health_check.rst
  doc/dev/usecases/uc004b_statistics.rst
  doc/dev/usecases/uc005a_user_hooks.rst
  doc/dev/usecases/uc005b_format_hooks.rst
  doc/dev/usecases/uc005c_config_hooks.rst
  doc/dev/usecases/uc006_coexistence.rst
  doc/dev/usecases/uc007_password_change.rst
  doc/dev/usecases/uc008_reset_password_multiple_users.rst
  doc/dev/usecases/uc009_mapped_udm_properties.rst
  doc/dev/usecases/uc010_multiple_instances.rst
  doc/dev/usecases/uc011_permission_system.rst
  doc/dev/usecases/uc012_read_only_kelvin.rst
Due: none

docs: update non-functional requirements from `doc/dev/10_quality_requirements.md`
  doc/dev/10_quality_requirements.md
  doc/dev/requirements/requirements-nonfunctional.rst
  doc/dev/requirements/requirements-nonfunctional_reference_envs.ods
  doc/dev/spelling_wordlist
Due: none

docs: initial version of Kelvin V2 API developer manual
  doc/Makefile
  doc/dev/Makefile
  doc/dev/_static/kelvin_rest_api_logo.svg
  doc/dev/api-reference.rst
  doc/dev/architecture-decisions.rst
  doc/dev/architecture.rst
  doc/dev/bibliography.bib
  doc/dev/bibliography.rst
  doc/dev/conf.py
  doc/dev/database.rst
  doc/dev/debugging.rst
  doc/dev/development.rst
  doc/dev/glossary.rst
  doc/dev/index.rst
  doc/dev/introduction.rst
  doc/dev/requirements/index.rst
  doc/dev/requirements/requirements-functional.rst
  doc/dev/requirements/requirements-nonfunctional.rst
  doc/dev/spelling_wordlist
  doc/dev/spelling_wordlist.license
  doc/dev/synchronisation.rst
  doc/dev/usecases.rst
  doc/readme.rst
Due: none

docs(adr): reference ucsschool-core/ADR-0015
  doc/dev/architecture-decisions.rst
  doc/dev/spelling_wordlist
Due: none

fix: update .gitignore to sphinx build dir
  doc/.gitignore
Due: none

docs: update spelling (from template)
  doc/dev/api-reference.rst
  doc/dev/development.rst
  doc/dev/glossary.rst
  doc/dev/spelling_wordlist
  doc/dev/synchronisation.rst
Due: none

refactor(kelvin_docs): move doc related endpoints into dedicated module and use routers avoiding code duplication and in consistency with other endpoints
  kelvin-api/static/swagger-ui-standalone-preset.js
  kelvin-api/ucsschool/kelvin/main.py
  kelvin-api/ucsschool/kelvin/routers/doc.py
  kelvin-api/ucsschool/kelvin/routers/fastapi_doc_patch.py
Due: test kelvin-api

docs(openapi, overview): clarify v2 endpoint behaviour regarding pyhooks and separate database.
  doc/docs/openapi.rst
  doc/docs/overview.rst
Due: none

feat(api): implement versioned routing for V1 and V2 APIs with OpenAPI support
  .gitlab-ci.yml
  doc/docs/openapi.rst
  doc/docs/overview.rst
  kelvin-api/VERSION.txt
  kelvin-api/changelog.rst
  kelvin-api/tests/conftest.py
  kelvin-api/tests/test_login.py
  kelvin-api/tests/test_route_base.py
  kelvin-api/ucsschool/kelvin/constants.py
  kelvin-api/ucsschool/kelvin/main.py
  ucs-test-ucsschool-kelvin/94_ucsschool-kelvin/00_api_root.py
  ucs-test-ucsschool-kelvin/94_ucsschool-kelvin/11_in_container_tests_kelvin_api_v1
  ucs-test-ucsschool-kelvin/94_ucsschool-kelvin/11_in_container_tests_kelvin_api_v2
  ucs-test-ucsschool-kelvin/debian/changelog
  ucs-test-ucsschool-kelvin/modules/univention/testing/ucsschool/kelvin_api.py
Due: test kelvin-api, ucs_test_deb_lint, ucs_test_deb_build_git, ucs_test_deb_repo_import, ucs_test_deb_repo_build

chore: Restore autoupdate-kelvin-container
  autoupdate-kelvin-container
Due: none

docs(dev): Add app lifecycle chapter
  doc/dev/conf.py
  doc/dev/index.rst
  doc/dev/lifecycle.rst
Due: none

feat: Database setup for multiple Kelvin instances
  appcenter/configure_host
  appcenter/ini.jinja
  appcenter/settings
  appcenter/uinst
Due: none

chore: use templates for files in appcenter scripts
  appcenter/configure_host
  appcenter/configure_host.jinja
  appcenter/includes/adjust_kelvin_posgresql_db_settings.py
  appcenter/includes/configure_host
  appcenter/includes/install_kelvin_postgresql_db.py
  appcenter/includes/remove_kelvin_posgresql_db_settings.py
  appcenter/includes/ucsschool-kelvin-rest-api_logrotate_template
  appcenter/includes/ucsschool-kelvin-rest-api_logrotate_template.info
  appcenter/includes/ucsschool-kelvin-rest-api_rsyslog.conf
  appcenter/includes/ucsschool-kelvin-rest-api_update_ca
  appcenter/includes/uinst
  appcenter/uinst.jinja
Due: none

docs(manual): Add database settings section
  doc/docs/installation-configuration.rst
Due: none

feat: Always update global settings/data object
  appcenter/includes/adjust_kelvin_posgresql_db_settings.py
Due: none

ci: fix bandit linting
  .bandit
  .pre-commit-config.yaml
Due: none

fix: ucr command was missing in container
  kelvin-api/ucsschool/kelvin/cli.py
  pyproject.toml
  uv.lock
Due: test kelvin-api
