Repository univention/ucsschool-kelvin-rest-api: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test ucs-school-lib, test kelvin-api, ucs_test_deb_lint, ucs_test_deb_build_git, ucs_test_deb_repo_import, ucs_test_deb_repo_build

Path conditions:
  test ucs-school-lib: any of: ucs-school-lib/**/*
  test kelvin-api: any of: kelvin-api/**/*
  ucs_test_deb_lint: any of: ucs-test-ucsschool-kelvin/**/*
  ucs_test_deb_build_git: any of: ucs-test-ucsschool-kelvin/**/*
  ucs_test_deb_repo_import: any of: ucs-test-ucsschool-kelvin/debian/changelog
  ucs_test_deb_repo_build: any of: ucs-test-ucsschool-kelvin/debian/changelog

refactor(models): replace SerializableDomainObject with DomainObject for consistency
  ucsschool-objects/src/ucsschool_objects/core/adapters/sqlalchemy/managers/_shared.py
  ucsschool-objects/src/ucsschool_objects/core/domain/json.py
  ucsschool-objects/src/ucsschool_objects/core/domain/load_spec.py
  ucsschool-objects/src/ucsschool_objects/core/domain/models.py
  ucsschool-objects/tests/core/domain/test_load_spec.py
Due: none

fix: Search group names case insensitively in v2 routers
  kelvin-api/ucsschool/kelvin/routers/v2/school_class.py
  kelvin-api/ucsschool/kelvin/routers/v2/workgroup.py
Due: test kelvin-api

chore: Match containers by image name in autoupdate script
  autoupdate-kelvin-container
Due: none

test: Wait for old gunicorn workers to exit after reload
  kelvin-api/tests/conftest.py
Due: test kelvin-api

test: Retry school route assertions until replicated
  kelvin-api/tests/test_route_school.py
Due: test kelvin-api

fix(tests): sort ucsschool_roles for consistent comparison in exam user test
  kelvin-api/tests/test_route_user.py
Due: test kelvin-api

fix(tests): reduce flakyness of `test_search_returns_no_exam_user`
  kelvin-api/tests/test_route_user.py
Due: test kelvin-api

fix(tests): reduce flakyness of `test_patch for user synchronization`
  kelvin-api/tests/test_route_user.py
Due: test kelvin-api

refactor(patch-types): replace PatchDict with specific patch types for Group, School, and User
  ucsschool-objects/src/ucsschool_objects/core/adapters/sqlalchemy/managers/group_manager.py
  ucsschool-objects/src/ucsschool_objects/core/adapters/sqlalchemy/managers/school_manager.py
  ucsschool-objects/src/ucsschool_objects/core/adapters/sqlalchemy/managers/user_manager.py
  ucsschool-objects/src/ucsschool_objects/core/adapters/sqlalchemy/mappers/to_domain.py
  ucsschool-objects/src/ucsschool_objects/core/domain/patch_types.py
Due: none

refactor(user): simplify to_user function by removing unused parameters
  ucsschool-objects/src/ucsschool_objects/core/adapters/sqlalchemy/managers/user_manager.py
  ucsschool-objects/src/ucsschool_objects/core/adapters/sqlalchemy/mappers/to_domain.py
  ucsschool-objects/tests/core/adapters/test_nested_field_queries.py
  ucsschool-objects/tests/core/contracts/test_manager_modify_contracts.py
Due: none

refactor(user): enhance _apply_user_patch to encapsulate patching (analog GroupManager)
  ucsschool-objects/src/ucsschool_objects/core/adapters/sqlalchemy/managers/user_manager.py
  ucsschool-objects/tests/core/contracts/test_manager_modify_contracts.py
Due: none

wip branch
  autoupdate-kelvin-container
  kelvin-api/tests/test_route_user.py
  kelvin-connector/src/kelvin_connector/sync.py
  kelvin-connector/tests/test_sync.py
Due: test kelvin-api

fix: improve handling of numeric values in `_udm_property_filters`
  kelvin-api/ucsschool/kelvin/routers/v2/user.py
Due: test kelvin-api

chore: add devbox configuration files for system dependencies
  devbox.json
  devbox.lock
Due: none

fix: Determine primary school from distinguished name
  autoupdate-kelvin-container
  kelvin-api/tests/test_route_user.py
  kelvin-connector/src/kelvin_connector/sync.py
  kelvin-connector/tests/test_sync.py
Due: test kelvin-api

chore: fix formatting
  kelvin-api/tests/test_route_user.py
  kelvin-connector/tests/test_sync.py
Due: test kelvin-api

refactor(user): extract _school_classes_and_workgroups helper
  kelvin-api/tests/test_user_to_model.py
  kelvin-api/ucsschool/kelvin/routers/v2/user.py
Due: test kelvin-api

chore(consumer): Extract magic numbers as module constants
  kelvin-connector/src/kelvin_connector/consumer.py
Due: none

fix: Don't recalculate tracker.patch
  kelvin-connector/src/kelvin_connector/sync.py
  ucsschool-objects/src/ucsschool_objects/core/adapters/sqlalchemy/managers/_shared.py
Due: none

fix: Warn if ucsschool role does not contain exactly three elements split by ':'
  kelvin-connector/src/kelvin_connector/models.py
  kelvin-connector/tests/test_sync.py
Due: none

fix(tests): rename user_like_case to user_ilike_case_insensitive and update query value
  ucsschool-objects/tests/core/contracts/test_query_contracts.py
Due: none

refactor(ucsschool-objects): move wildcard matching to domain-neutral MATCHES filters
  kelvin-api/ucsschool/kelvin/routers/v2/school.py
  kelvin-api/ucsschool/kelvin/routers/v2/school_class.py
  kelvin-api/ucsschool/kelvin/routers/v2/user.py
  kelvin-api/ucsschool/kelvin/routers/v2/workgroup.py
  kelvin-connector/src/kelvin_connector/sync.py
  ucsschool-objects/README.md
  ucsschool-objects/src/ucsschool_objects/__init__.py
  ucsschool-objects/src/ucsschool_objects/core/adapters/sqlalchemy/query_filter.py
  ucsschool-objects/src/ucsschool_objects/core/domain/errors.py
  ucsschool-objects/src/ucsschool_objects/core/domain/query.py
  ucsschool-objects/tests/core/adapters/test_nested_field_queries.py
  ucsschool-objects/tests/core/adapters/test_nested_field_query_filter.py
  ucsschool-objects/tests/core/contracts/test_exception_raises.py
  ucsschool-objects/tests/core/contracts/test_invalid_filter_behavior.py
  ucsschool-objects/tests/core/contracts/test_query_contracts.py
  ucsschool-objects/tests/core/domain/test_query_ast.py
  ucsschool-objects/tests/core/domain/test_wildcard_filter.py
Due: test kelvin-api

test: Add comparison test v1/v2
  kelvin-api/tests/conftest.py
  kelvin-api/tests/test_route_v1_v2_parity.py
Due: test kelvin-api

test: Fix restart_kelvin_api_server fixture.
  kelvin-api/tests/conftest.py
Due: test kelvin-api

refactor: type hints error.py
  ucsschool-objects/src/ucsschool_objects/core/domain/errors.py
Due: none

refactor(query-filter): enforce strict nested field map contract
  ucsschool-objects/src/ucsschool_objects/core/adapters/sqlalchemy/query_filter.py
  ucsschool-objects/tests/core/adapters/test_nested_field_queries.py
  ucsschool-objects/tests/core/adapters/test_nested_field_query_filter.py
Due: none

feat: Move DN mapper to ucsschool_objects core library
  alembic/env.py
  kelvin-connector/src/kelvin_connector/connector.py
  kelvin-connector/src/kelvin_connector/database_models.py
  kelvin-connector/src/kelvin_connector/nubus_compat.py
  kelvin-connector/src/kelvin_connector/ports.py
  kelvin-connector/src/kelvin_connector/sync.py
  kelvin-connector/tests/test_dummy.py
  kelvin-connector/tests/test_sync.py
  ucsschool-objects/src/ucsschool_objects/__init__.py
  ucsschool-objects/src/ucsschool_objects/core/adapters/sqlalchemy/__init__.py
  ucsschool-objects/src/ucsschool_objects/core/adapters/sqlalchemy/dn_mapper.py
  ucsschool-objects/src/ucsschool_objects/core/domain/ports/__init__.py
  ucsschool-objects/src/ucsschool_objects/core/domain/ports/dn_mapper.py
  ucsschool-objects/src/ucsschool_objects/database_models.py
  ucsschool-objects/tests/test_nubus_compat.py
Due: none

refactor(user): remove default factory for legal_wards and legal_guardians fields
  kelvin-connector/tests/conftest.py
  ucsschool-objects/src/ucsschool_objects/core/domain/models.py
Due: none

refactor: update imports and enhance private API policy documentation
  ucsschool-objects/src/ucsschool_objects/core/README.md
  ucsschool-objects/src/ucsschool_objects/core/adapters/sqlalchemy/managers/_shared.py
  ucsschool-objects/src/ucsschool_objects/core/adapters/sqlalchemy/managers/role_manager.py
  ucsschool-objects/src/ucsschool_objects/core/adapters/sqlalchemy/managers/school_manager.py
  ucsschool-objects/src/ucsschool_objects/core/adapters/sqlalchemy/managers/user_manager.py
  ucsschool-objects/src/ucsschool_objects/core/adapters/sqlalchemy/mappers/to_orm.py
  ucsschool-objects/src/ucsschool_objects/core/domain/__init__.py
Due: none

test: Increase integration test timeout to 7200
  ucs-test-ucsschool-kelvin/94_ucsschool-kelvin/11_in_container_tests_kelvin_api_v1
  ucs-test-ucsschool-kelvin/94_ucsschool-kelvin/11_in_container_tests_kelvin_api_v2
Due: ucs_test_deb_lint, ucs_test_deb_build_git

fix: Update on create event if already exists
  kelvin-connector/src/kelvin_connector/sync.py
Due: none

fix: Ignore delete if object does not exist
  kelvin-connector/src/kelvin_connector/sync.py
  kelvin-connector/tests/test_sync.py
Due: none

refactor: enhance type hints and improve public ID handling across managers and mappers
  ucsschool-objects/src/ucsschool_objects/core/adapters/sqlalchemy/managers/_shared.py
  ucsschool-objects/src/ucsschool_objects/core/adapters/sqlalchemy/managers/group_manager.py
  ucsschool-objects/src/ucsschool_objects/core/adapters/sqlalchemy/managers/school_manager.py
  ucsschool-objects/src/ucsschool_objects/core/adapters/sqlalchemy/managers/user_manager.py
  ucsschool-objects/src/ucsschool_objects/core/adapters/sqlalchemy/mappers/to_domain.py
  ucsschool-objects/src/ucsschool_objects/core/adapters/sqlalchemy/mappers/to_orm.py
  ucsschool-objects/src/ucsschool_objects/core/adapters/sqlalchemy/query_filter.py
  ucsschool-objects/src/ucsschool_objects/core/domain/errors.py
  ucsschool-objects/tests/core/adapters/test_nested_field_queries.py
  ucsschool-objects/tests/core/contracts/test_manager_modify_contracts.py
Due: none

feat: implement v2 routes
  kelvin-api/tests/test_db_compatibility.py
  kelvin-api/ucsschool/kelvin/routers/v2/__init__.py
  kelvin-api/ucsschool/kelvin/routers/v2/role.py
  kelvin-api/ucsschool/kelvin/routers/v2/school.py
  kelvin-api/ucsschool/kelvin/routers/v2/school_class.py
  kelvin-api/ucsschool/kelvin/routers/v2/user.py
  kelvin-api/ucsschool/kelvin/routers/v2/workgroup.py
  kelvin-api/ucsschool/kelvin/service/dependency.py
  kelvin-api/ucsschool/kelvin/service/lifespan.py
  ucsschool-objects/src/ucsschool_objects/core/adapters/sqlalchemy/managers/user_manager.py
Due: test kelvin-api

refactor(test): add comprehensive tests for domain_asdict and model setters
  ucsschool-objects/tests/core/domain/test_models.py
Due: none

test: Test v2 school endpoints
  kelvin-api/tests/test_route_school.py
Due: test kelvin-api

chore: improve test coverage
  ucsschool-objects/src/ucsschool_objects/core/adapters/sqlalchemy/managers/_shared.py
  ucsschool-objects/src/ucsschool_objects/core/adapters/sqlalchemy/mappers/to_orm.py
  ucsschool-objects/tests/core/adapters/test_nested_field_queries.py
  ucsschool-objects/tests/core/adapters/test_nested_field_query_filter.py
  ucsschool-objects/tests/core/contracts/test_manager_modify_contracts.py
Due: none

chore: fixed pyright warnings
  ucsschool-objects/src/ucsschool_objects/core/adapters/sqlalchemy/managers/_shared.py
  ucsschool-objects/src/ucsschool_objects/core/adapters/sqlalchemy/managers/group_manager.py
  ucsschool-objects/src/ucsschool_objects/core/adapters/sqlalchemy/managers/school_manager.py
  ucsschool-objects/src/ucsschool_objects/core/adapters/sqlalchemy/managers/user_manager.py
  ucsschool-objects/src/ucsschool_objects/core/adapters/sqlalchemy/mappers/to_domain.py
  ucsschool-objects/src/ucsschool_objects/core/adapters/sqlalchemy/mappers/to_orm.py
  ucsschool-objects/src/ucsschool_objects/core/adapters/sqlalchemy/query_filter.py
  ucsschool-objects/src/ucsschool_objects/core/adapters/sqlalchemy/session.py
  ucsschool-objects/src/ucsschool_objects/core/domain/patch.py
Due: none

refactor: imports for type checking
  ucsschool-objects/src/ucsschool_objects/core/adapters/sqlalchemy/managers/_shared.py
  ucsschool-objects/src/ucsschool_objects/core/adapters/sqlalchemy/managers/group_manager.py
  ucsschool-objects/src/ucsschool_objects/core/adapters/sqlalchemy/managers/role_manager.py
  ucsschool-objects/src/ucsschool_objects/core/adapters/sqlalchemy/managers/school_manager.py
  ucsschool-objects/src/ucsschool_objects/core/adapters/sqlalchemy/managers/user_manager.py
  ucsschool-objects/src/ucsschool_objects/core/adapters/sqlalchemy/mappers/to_domain.py
  ucsschool-objects/src/ucsschool_objects/core/adapters/sqlalchemy/mappers/to_orm.py
  ucsschool-objects/src/ucsschool_objects/core/adapters/sqlalchemy/query_filter.py
  ucsschool-objects/src/ucsschool_objects/core/domain/errors.py
  ucsschool-objects/src/ucsschool_objects/core/domain/load_spec.py
  ucsschool-objects/src/ucsschool_objects/core/domain/models.py
  ucsschool-objects/src/ucsschool_objects/core/domain/patch.py
  ucsschool-objects/src/ucsschool_objects/core/domain/ports/manager.py
  ucsschool-objects/src/ucsschool_objects/core/domain/ports/unit_of_work.py
  ucsschool-objects/src/ucsschool_objects/core/domain/query.py
  ucsschool-objects/tests/core/adapters/test_nested_field_queries.py
  ucsschool-objects/tests/core/adapters/test_nested_field_query_filter.py
  ucsschool-objects/tests/core/adapters/test_sqlalchemy_session.py
  ucsschool-objects/tests/core/contracts/contract_test_support.py
  ucsschool-objects/tests/core/contracts/test_exception_raises.py
  ucsschool-objects/tests/core/contracts/test_invalid_filter_behavior.py
  ucsschool-objects/tests/core/contracts/test_manager_contracts.py
  ucsschool-objects/tests/core/contracts/test_manager_create_contracts.py
  ucsschool-objects/tests/core/contracts/test_manager_load_spec_projections.py
  ucsschool-objects/tests/core/contracts/test_manager_modify_contracts.py
  ucsschool-objects/tests/core/contracts/test_query_contracts.py
  ucsschool-objects/tests/core/contracts/test_query_filter_primitives.py
Due: none
