Repository univention/ucsschool-kelvin-rest-api: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test ucs-school-lib, test kelvin-api, ucs_test_deb_lint, ucs_test_deb_build_git, ucs_test_deb_repo_import, ucs_test_deb_repo_build

Path conditions:
  test ucs-school-lib: any of: ucs-school-lib/**/*
  test kelvin-api: any of: kelvin-api/**/*
  ucs_test_deb_lint: any of: ucs-test-ucsschool-kelvin/**/*
  ucs_test_deb_build_git: any of: ucs-test-ucsschool-kelvin/**/*
  ucs_test_deb_repo_import: any of: ucs-test-ucsschool-kelvin/debian/changelog
  ucs_test_deb_repo_build: any of: ucs-test-ucsschool-kelvin/debian/changelog

docs(build): fix doc dev command
  doc/readme.rst
Due: none

docs(todo): location of doc and wording
  TODO.md
Due: none

docs(architecture): drafting quality goals
  TODO.md
  doc/quality_goals.md
Due: none

docs(architecture): finalized after syncing with Jürn and Sönke
  TODO.md
  doc/quality_goals.md
Due: none

docs(architecture): refined operation classes and industry standards for thresholds
  TODO.md
  doc/dev/10_quality_requirements.md
  doc/quality_goals.md
Due: none

ci: setup new SonarQube project
  sonar-project.properties
Due: none

ci: autobuild changelog from rst
  .gitlab-ci.yml
  appcenter/README_UPDATE_DE
  appcenter/README_UPDATE_DE.jinja
  appcenter/README_UPDATE_EN
  appcenter/README_UPDATE_EN.jinja
Due: none

ci: autobuild changelog from rst
  .gitlab-ci.yml
  README.md
  appcenter/README_UPDATE_DE
  appcenter/README_UPDATE_DE.jinja
  appcenter/README_UPDATE_EN
  appcenter/README_UPDATE_EN.jinja
Due: none

docs(conf): Activate numbering for listings
  doc/docs/conf.py
Due: none

docs: Review on content in case of errors
  doc/docs/what-to-do-in-case-of-errors.rst
Due: none

fix(preinst): check for correct log driver
  appcenter/preinst
  appcenter/settings
  kelvin-api/changelog.rst
Due: test kelvin-api

ci(prek): Use prek instead of pre-commit in Gitlab Pipeline.
  .gitlab-ci.yml
Due: none

docs(architecture): Define quality requirements
  doc/dev/10_dataset_size_calc.ods
  doc/dev/10_quality_requirements.md
Due: none

docs: Add note on user extended attributes in quality requirements
  doc/dev/10_quality_requirements.md
Due: none

docs: Remove TODO items related to syncing with PM/PS expectations in quality requirements
  doc/dev/10_quality_requirements.md
Due: none

chore: uv for packages
  .gitignore
  .gitlab-ci.yml
  .justfile
  .python-version
  README.md
  appcenter/ini.jinja
  appcenter/inst
  autoupdate-kelvin-container
  docker/Dockerfile
  docker/alpine_apk_list.build
  docker/alpine_apk_list.runtime
  docker/build.sh
  docker/start-kelvin.sh
  kelvin-api/empty_configs/global.json
  kelvin-api/empty_configs/user_import.json
  kelvin-api/empty_configs/user_import_http-api.json
  kelvin-api/empty_configs/user_import_legacy.json
  kelvin-api/requirements_all.txt
  kelvin-api/setup.cfg
  kelvin-api/setup.py
  kelvin-api/ucsschool/kelvin/token_auth.py
  kelvin-api/update_openapi_client
  openapi-client-udm-1.0.2.tar.gz
  pyproject.toml
  ucs-school-import/modules/requirements.txt
  ucs-school-import/modules/setup.py
  ucs-school-import/pyproject.toml
  ucs-school-lib/modules/setup.cfg
  ucs-school-lib/modules/setup.py
  ucs-school-lib/modules/ucsschool/lib/tests/conftest.py
  ucs-school-lib/pyproject.toml
  univention-directory-manager-modules-slim/pyproject.toml
  univention-directory-manager-modules-slim/requirements.txt
  univention-directory-manager-modules-slim/setup.py
  univention-lib-slim/pyproject.toml
  univention-lib-slim/requirements.txt
  univention-lib-slim/setup.py
  univention-lib-slim/univention/lib/__init__.py
  uv.lock
Due: test ucs-school-lib, test kelvin-api

ci: Update pre-commit hooks
  .pre-commit-config.yaml
Due: none

feat: Use primary server for LDAP checks on backup system
  appcenter/inst
  kelvin-api/ucsschool/kelvin/routers/school.py
  ucs-school-lib/modules/ucsschool/lib/models/utils.py
Due: test ucs-school-lib, test kelvin-api

fix: Fix tests that failed when executed on a backup system
  kelvin-api/tests/conftest.py
  ucs-school-lib/modules/ucsschool/lib/tests/conftest.py
  ucs-school-lib/modules/ucsschool/lib/tests/test_user.py
  ucs-test-ucsschool-kelvin/94_ucsschool-kelvin/03_user_resource.py
Due: test ucs-school-lib, test kelvin-api, ucs_test_deb_lint, ucs_test_deb_build_git

docs: Add changelog entry
  kelvin-api/changelog.rst
  ucs-test-ucsschool-kelvin/debian/changelog
Due: test kelvin-api, ucs_test_deb_lint, ucs_test_deb_build_git, ucs_test_deb_repo_import, ucs_test_deb_repo_build

docs(architecture): Remove TODO items related to syncing with PM/PS expectations in quality requirements
  doc/dev/10_quality_requirements.md
Due: none

docs(architecture): fix md indentation
  doc/dev/10_quality_requirements.md
Due: none

docs(architecture): Update user extended attributes and infrastructure sizing in quality requirements
  doc/dev/10_quality_requirements.md
Due: none

docs(architecture): fix naming for PDN, RDN, BDN
  doc/dev/10_quality_requirements.md
Due: none

docs(architecture): Adjust BDN amount
  doc/dev/10_quality_requirements.md
Due: none

docs(architecture): add source to numbers
  doc/dev/10_dataset_size_calc.ods
Due: none

feat: Use ldap/server/type to choose right server connection
  kelvin-api/ucsschool/kelvin/routers/school.py
  ucs-school-lib/modules/ucsschool/lib/models/utils.py
Due: test ucs-school-lib, test kelvin-api

test: Fix tests that failed when executed on a backup system
  kelvin-api/tests/conftest.py
  ucs-school-lib/modules/ucsschool/lib/tests/conftest.py
  ucs-school-lib/modules/ucsschool/lib/tests/test_user.py
  ucs-test-ucsschool-kelvin/94_ucsschool-kelvin/03_user_resource.py
  ucs-test-ucsschool-kelvin/debian/changelog
Due: test ucs-school-lib, test kelvin-api, ucs_test_deb_lint, ucs_test_deb_build_git, ucs_test_deb_repo_import, ucs_test_deb_repo_build

docs: Update changelog
  kelvin-api/changelog.rst
Due: test kelvin-api

docs: Remove known issue about school creation on single servers
  doc/docs/known-issues.rst
Due: none

tests: Use set when comparing school classes
  ucs-test-ucsschool-kelvin/94_ucsschool-kelvin/03_user_resource.py
Due: ucs_test_deb_lint, ucs_test_deb_build_git

test: Use set when comparing school classes
  ucs-test-ucsschool-kelvin/94_ucsschool-kelvin/03_user_resource.py
Due: ucs_test_deb_lint, ucs_test_deb_build_git

docs: initial version of Kelvin V2 API developer manual
  doc/dev/Makefile
  doc/dev/_static/kelvin_rest_api_logo.svg
  doc/dev/api-reference.rst
  doc/dev/architecture-decisions.rst
  doc/dev/architecture.rst
  doc/dev/bibliography.bib
  doc/dev/bibliography.rst
  doc/dev/conf.py
  doc/dev/database.rst
  doc/dev/debugging.rst
  doc/dev/development.rst
  doc/dev/glossary.rst
  doc/dev/index.rst
  doc/dev/introduction.rst
  doc/dev/requirements-functional.rst
  doc/dev/requirements-nonfunctional.rst
  doc/dev/requirements.rst
  doc/dev/synchonisation.rst
  doc/dev/usecases.rst
Due: none

chore: Kelvin version and changelog update
  kelvin-api/VERSION.txt
  kelvin-api/changelog.rst
Due: test kelvin-api

ci: fix broken changelog layout
  .gitlab-ci.yml
  .pre-commit-config.yaml
  build_appcenter_changelog.py
Due: none

docs: initial version of Kelvin V2 API developer manual
  doc/Makefile
  doc/dev/Makefile
  doc/dev/_static/kelvin_rest_api_logo.svg
  doc/dev/api-reference.rst
  doc/dev/architecture-decisions.rst
  doc/dev/architecture.rst
  doc/dev/bibliography.bib
  doc/dev/bibliography.rst
  doc/dev/conf.py
  doc/dev/database.rst
  doc/dev/debugging.rst
  doc/dev/development.rst
  doc/dev/glossary.rst
  doc/dev/index.rst
  doc/dev/introduction.rst
  doc/dev/requirements/index.rst
  doc/dev/requirements/requirements-functional.rst
  doc/dev/requirements/requirements-nonfunctional.rst
  doc/dev/spelling_wordlist
  doc/dev/spelling_wordlist.license
  doc/dev/synchronisation.rst
  doc/dev/usecases.rst
  doc/readme.rst
Due: none

ci: build Kelvin developer manual
  .gitlab-ci.yml
Due: none

fix: update .gitignore to sphinx build dir
  doc/.gitignore
Due: none
