Repository univention/ucsschool-kelvin-rest-api: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test ucs-school-lib, test kelvin-api, ucs_test_deb_lint, ucs_test_deb_build_git, ucs_test_deb_repo_import, ucs_test_deb_repo_build

Path conditions:
  test ucs-school-lib: any of: ucs-school-lib/**/*
  test kelvin-api: any of: kelvin-api/**/*
  ucs_test_deb_lint: any of: ucs-test-ucsschool-kelvin/**/*
  ucs_test_deb_build_git: any of: ucs-test-ucsschool-kelvin/**/*
  ucs_test_deb_repo_import: any of: ucs-test-ucsschool-kelvin/debian/changelog
  ucs_test_deb_repo_build: any of: ucs-test-ucsschool-kelvin/debian/changelog

chore(deps): update gitregistry.knut.univention.de/univention/dev/docs/sphinx-docker/base docker digest to 5d6aac4
  .gitlab-ci/gitlab-ci.yml
  docker/Dockerfile
Due: none

fix(deps): update minor & patch level from pypi
  kelvin-connector/pyproject.toml
  pyproject.toml
  ucs-school-lib/modules/requirements.txt
  ucs-school-lib/modules/requirements_test.txt
  ucs-school-lib/pyproject.toml
  ucs-test-ucsschool-kelvin/94_ucsschool-kelvin-performance/requirements.txt
  ucsschool-objects/pyproject.toml
Due: test ucs-school-lib, ucs_test_deb_lint, ucs_test_deb_build_git

chore(deps): update dependency faker to v40
  pyproject.toml
  ucs-school-lib/modules/requirements_test.txt
  ucs-test-ucsschool-kelvin/94_ucsschool-kelvin-performance/requirements.txt
  uv.lock
Due: test ucs-school-lib, ucs_test_deb_lint, ucs_test_deb_build_git

chore(deps): update dependency gevent to v26
  ucs-test-ucsschool-kelvin/94_ucsschool-kelvin-performance/requirements.txt
Due: ucs_test_deb_lint, ucs_test_deb_build_git

chore(deps): update dependency packaging to v26
  ucs-test-ucsschool-kelvin/94_ucsschool-kelvin-performance/requirements.txt
Due: ucs_test_deb_lint, ucs_test_deb_build_git

chore(deps): update dependency pycparser to v3
  ucs-test-ucsschool-kelvin/94_ucsschool-kelvin-performance/requirements.txt
Due: ucs_test_deb_lint, ucs_test_deb_build_git

chore(deps): update dependency pytest to v9
  ucs-school-lib/modules/requirements_test.txt
  ucs-test-ucsschool-kelvin/94_ucsschool-kelvin-performance/requirements.txt
Due: test ucs-school-lib, ucs_test_deb_lint, ucs_test_deb_build_git

chore(deps): update dependency pywin32 to v312
  ucs-test-ucsschool-kelvin/94_ucsschool-kelvin-performance/requirements.txt
Due: ucs_test_deb_lint, ucs_test_deb_build_git

chore(deps): update dependency tzdata to v2026
  ucs-test-ucsschool-kelvin/94_ucsschool-kelvin-performance/requirements.txt
Due: ucs_test_deb_lint, ucs_test_deb_build_git

fix(deps): update dependency setuptools to v84
  pyproject.toml
  ucs-school-lib/pyproject.toml
  ucs-test-ucsschool-kelvin/94_ucsschool-kelvin-performance/requirements.txt
  uv.lock
Due: test ucs-school-lib, ucs_test_deb_lint, ucs_test_deb_build_git

chore(deps): update minor & patch level from github-tags
  .pre-commit-config.yaml
Due: none

chore(ucsschool-objects): format the README code blocks with ruff 0.16
  ucsschool-objects/README.md
Due: none

chore(deps): update python docker tag to v3.14
  .python-version
  ucs-test-ucsschool-kelvin/94_ucsschool-kelvin-performance/.python-version
Due: ucs_test_deb_lint, ucs_test_deb_build_git

chore(deps): update dependency certifi to v2026
  ucs-test-ucsschool-kelvin/94_ucsschool-kelvin-performance/requirements.txt
  ucs-test-ucsschool-kelvin/94_ucsschool-kelvin-performance/uv.lock
Due: ucs_test_deb_lint, ucs_test_deb_build_git

chore(deps): update dependency coverage to v7
  pyproject.toml
  uv.lock
Due: none

chore(deps): update pyproject.toml
  pyproject.toml
  uv.lock
Due: none

chore(deps): update dependency univention/dev/tooling/ci-components to v2.18.0
  .gitlab-ci.yml
  .gitlab-ci/gitlab-ci-docs.yml
  .gitlab-ci/gitlab-ci.yml
Due: none

fix(deps): update dependency pydantic to v2
  pyproject.toml
  uv.lock
Due: none

chore(deps): lock gevent 26 with locust 2.46.6 for the performance tests
  ucs-test-ucsschool-kelvin/94_ucsschool-kelvin-performance/requirements.txt
  ucs-test-ucsschool-kelvin/94_ucsschool-kelvin-performance/uv.lock
Due: ucs_test_deb_lint, ucs_test_deb_build_git

chore(deps): lock pytest 9 with locust 2.46.6 for the performance tests
  ucs-test-ucsschool-kelvin/94_ucsschool-kelvin-performance/requirements.txt
  ucs-test-ucsschool-kelvin/94_ucsschool-kelvin-performance/uv.lock
Due: ucs_test_deb_lint, ucs_test_deb_build_git

chore(deps): lock faker 40 for the performance tests
  ucs-test-ucsschool-kelvin/94_ucsschool-kelvin-performance/requirements.txt
  ucs-test-ucsschool-kelvin/94_ucsschool-kelvin-performance/uv.lock
Due: ucs_test_deb_lint, ucs_test_deb_build_git

chore(deps): lock packaging 26 for the performance tests
  ucs-test-ucsschool-kelvin/94_ucsschool-kelvin-performance/requirements.txt
  ucs-test-ucsschool-kelvin/94_ucsschool-kelvin-performance/uv.lock
Due: ucs_test_deb_lint, ucs_test_deb_build_git

chore(deps): lock pycparser 3 for the performance tests
  ucs-test-ucsschool-kelvin/94_ucsschool-kelvin-performance/requirements.txt
  ucs-test-ucsschool-kelvin/94_ucsschool-kelvin-performance/uv.lock
Due: ucs_test_deb_lint, ucs_test_deb_build_git

chore(deps): lock pywin32 312 for the performance tests
  ucs-test-ucsschool-kelvin/94_ucsschool-kelvin-performance/requirements.txt
  ucs-test-ucsschool-kelvin/94_ucsschool-kelvin-performance/uv.lock
Due: ucs_test_deb_lint, ucs_test_deb_build_git

chore(deps): lock setuptools 84 for the performance tests
  ucs-test-ucsschool-kelvin/94_ucsschool-kelvin-performance/requirements.txt
  ucs-test-ucsschool-kelvin/94_ucsschool-kelvin-performance/uv.lock
Due: ucs_test_deb_lint, ucs_test_deb_build_git

chore(deps): lock tzdata 2026 for the performance tests
  ucs-test-ucsschool-kelvin/94_ucsschool-kelvin-performance/requirements.txt
  ucs-test-ucsschool-kelvin/94_ucsschool-kelvin-performance/uv.lock
Due: ucs_test_deb_lint, ucs_test_deb_build_git

chore(deps): lock the minor and patch updates for the performance tests
  ucs-test-ucsschool-kelvin/94_ucsschool-kelvin-performance/requirements.txt
  ucs-test-ucsschool-kelvin/94_ucsschool-kelvin-performance/uv.lock
Due: ucs_test_deb_lint, ucs_test_deb_build_git

chore(deps): update dependency pyfakefs to v6
  pyproject.toml
  uv.lock
Due: none

chore(deps): update dependency pytest-asyncio to v1
  ucs-school-lib/modules/requirements_test.txt
Due: test ucs-school-lib

chore(deps): update dependency pytest-cov to v7
  pyproject.toml
  uv.lock
Due: none

chore(deps): update postgres docker tag to v18
  dev/docker-compose.yaml
Due: none

chore(deps): lock file maintenance
  ucs-test-ucsschool-kelvin/94_ucsschool-kelvin-performance/uv.lock
  uv.lock
Due: ucs_test_deb_lint, ucs_test_deb_build_git

test: adapt the tests to the Faker 40 type stubs
  basedpyright-baseline.json
  kelvin-api/tests/conftest.py
  kelvin-api/tests/test_route_user.py
Due: test kelvin-api

fix(deps): update minor & patch level from pypi
  kelvin-connector/pyproject.toml
  pyproject.toml
  ucs-school-lib/modules/requirements.txt
  ucs-school-lib/modules/requirements_test.txt
  ucs-school-lib/pyproject.toml
  ucsschool-objects/pyproject.toml
Due: test ucs-school-lib

chore(deps): hold back fastapi, httpx, pyjwt and ruamel.yaml
  pyproject.toml
  ucs-school-lib/modules/requirements.txt
  ucs-school-lib/pyproject.toml
  uv.lock
Due: test ucs-school-lib
