Repository univention/ucsschool-kelvin-rest-api: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test ucs-school-lib, test kelvin-api, ucs_test_deb_lint, ucs_test_deb_build_git, ucs_test_deb_repo_import, ucs_test_deb_repo_build

Path conditions:
  test ucs-school-lib: any of: ucs-school-lib/**/*
  test kelvin-api: any of: kelvin-api/**/*
  ucs_test_deb_lint: any of: ucs-test-ucsschool-kelvin/**/*
  ucs_test_deb_build_git: any of: ucs-test-ucsschool-kelvin/**/*
  ucs_test_deb_repo_import: any of: ucs-test-ucsschool-kelvin/debian/changelog
  ucs_test_deb_repo_build: any of: ucs-test-ucsschool-kelvin/debian/changelog

chore: fix formatting
  kelvin-api/tests/test_route_user.py
  kelvin-connector/tests/test_sync.py
Due: test kelvin-api

fix(user_manager): create and delete school memberships on modify
  ucsschool-objects/src/ucsschool_objects/core/adapters/sqlalchemy/managers/user_manager.py
  ucsschool-objects/tests/core/contracts/test_manager_modify_contracts.py
Due: none

fix(kelvin-api): allow reader tokens on v2 read endpoints
  kelvin-api/ucsschool/kelvin/routers/v2/role.py
  kelvin-api/ucsschool/kelvin/routers/v2/school.py
  kelvin-api/ucsschool/kelvin/routers/v2/school_class.py
  kelvin-api/ucsschool/kelvin/routers/v2/user.py
  kelvin-api/ucsschool/kelvin/routers/v2/workgroup.py
Due: test kelvin-api

fix: Determine primary school from distinguished name
  autoupdate-kelvin-container
  kelvin-api/tests/test_route_user.py
  kelvin-connector/src/kelvin_connector/sync.py
  kelvin-connector/tests/test_sync.py
Due: test kelvin-api

fix(patch): support deep replace fields for membership groups and roles
  kelvin-connector/src/kelvin_connector/sync.py
  kelvin-connector/tests/test_sync.py
  ucsschool-objects/src/ucsschool_objects/core/domain/patch.py
  ucsschool-objects/tests/core/domain/test_patch.py
Due: none

refactor(tests): replace usage of `domain_asdict`
  ucsschool-objects/tests/core/adapters/test_nested_field_queries.py
  ucsschool-objects/tests/core/contracts/test_manager_load_spec_projections.py
  ucsschool-objects/tests/core/domain/test_user_model_identity_semantics.py
Due: none

chore: Match containers by image name in autoupdate script
  autoupdate-kelvin-container
Due: none

fix: format pre commit config
  .pre-commit-config.yaml
Due: none

feat: add pre commit config for type hints integration with Docker support
  .gitlab-ci/Dockerfile.pre-commit
  .gitlab-ci/gitlab-ci.yml
  .pre-commit-config.yaml
  docker/pre_commit/Dockerfile
  docker/pre_commit/run-basedpyright.sh
  pyrightconfig.json
Due: none

fix: update pre-commit component version to main
  .gitlab-ci/gitlab-ci.yml
Due: none

feat: add basedpyright pipeline enable gitlab code quality feature
  .gitlab-ci.yml
Due: none

fix: install dependencies before running basedpyright
  .gitlab-ci.yml
Due: none

feat: TEMPORAL falsy type hints
  kelvin-api/ucsschool/kelvin/main.py
Due: test kelvin-api

test: xfail parallel user tests on flaky APICommunicationError
  ucs-test-ucsschool-kelvin/94_ucsschool-kelvin/03_user_resource.py
Due: ucs_test_deb_lint, ucs_test_deb_build_git

fix: reconnect to LDAP immediately on first attempt after server restart
  kelvin-api/changelog.rst
  kelvin-api/tests/test_ldap.py
  kelvin-api/ucsschool/kelvin/ldap.py
Due: test kelvin-api

test(performance): wait for v2 connector to replicate before load-testing
  .gitlab-ci/branch_performance_tests.cfg
  .gitlab-ci/gitlab-ci.yml
  ucs-test-ucsschool-kelvin/94_ucsschool-kelvin-performance/README.md
  ucs-test-ucsschool-kelvin/94_ucsschool-kelvin-performance/wait_for_db_full.py
Due: ucs_test_deb_lint, ucs_test_deb_build_git

test(performance): support testing v1 and v2 Kelvin API endpoints
  .gitlab-ci/branch_performance_tests.cfg
  .gitlab-ci/compare_locust_versions.py
  .gitlab-ci/gitlab-ci.yml
  ucs-test-ucsschool-kelvin/94_ucsschool-kelvin-performance/001_get_all_schools.py
  ucs-test-ucsschool-kelvin/94_ucsschool-kelvin-performance/002_get_school.py
  ucs-test-ucsschool-kelvin/94_ucsschool-kelvin-performance/003_head_school.py
  ucs-test-ucsschool-kelvin/94_ucsschool-kelvin-performance/010_get_all_users.py
  ucs-test-ucsschool-kelvin/94_ucsschool-kelvin-performance/011_get_user.py
  ucs-test-ucsschool-kelvin/94_ucsschool-kelvin-performance/013_create_user.py
  ucs-test-ucsschool-kelvin/94_ucsschool-kelvin-performance/020_get_all_classes.py
  ucs-test-ucsschool-kelvin/94_ucsschool-kelvin-performance/021_get_class.py
  ucs-test-ucsschool-kelvin/94_ucsschool-kelvin-performance/030_get_all_workgroups.py
  ucs-test-ucsschool-kelvin/94_ucsschool-kelvin-performance/031_get_workgroup.py
  ucs-test-ucsschool-kelvin/94_ucsschool-kelvin-performance/040_get_all_roles.py
  ucs-test-ucsschool-kelvin/94_ucsschool-kelvin-performance/041_get_role.py
  ucs-test-ucsschool-kelvin/94_ucsschool-kelvin-performance/README.md
  ucs-test-ucsschool-kelvin/94_ucsschool-kelvin-performance/conftest.py
  ucs-test-ucsschool-kelvin/94_ucsschool-kelvin-performance/src/ucs_test_ucsschool_kelvin_performance/base.py
  ucs-test-ucsschool-kelvin/94_ucsschool-kelvin-performance/src/ucs_test_ucsschool_kelvin_performance/settings_locust.py
  ucs-test-ucsschool-kelvin/94_ucsschool-kelvin-performance/src/ucs_test_ucsschool_kelvin_performance/test_cleaner.py
Due: ucs_test_deb_lint, ucs_test_deb_build_git

fix: hostname
  .gitlab-ci/branch_performance_tests.cfg
  .gitlab-ci/gitlab-ci.yml
Due: none

ci: generate index.html for locust artifact reports
  .gitlab-ci/branch_performance_tests.cfg
  .gitlab-ci/gitlab-ci.yml
Due: none

fix(v2): default search limit to unlimited
  kelvin-api/ucsschool/kelvin/routers/v2/user.py
  ucsschool-objects/src/ucsschool_objects/core/adapters/sqlalchemy/managers/group_manager.py
  ucsschool-objects/src/ucsschool_objects/core/adapters/sqlalchemy/managers/role_manager.py
  ucsschool-objects/src/ucsschool_objects/core/adapters/sqlalchemy/managers/school_manager.py
  ucsschool-objects/src/ucsschool_objects/core/adapters/sqlalchemy/managers/user_manager.py
  ucsschool-objects/src/ucsschool_objects/core/domain/ports/manager.py
Due: test kelvin-api

test(performance): ship v2 DB fence in the Kelvin container
  .gitlab-ci/branch_performance_tests.cfg
  .gitlab-ci/gitlab-ci.yml
  kelvin-api/ucsschool/kelvin/wait_for_db_full.py
  ucs-test-ucsschool-kelvin/94_ucsschool-kelvin-performance/README.md
  ucs-test-ucsschool-kelvin/94_ucsschool-kelvin-performance/wait_for_db_full.py
Due: test kelvin-api, ucs_test_deb_lint, ucs_test_deb_build_git

ci: add performance-tests job with GitLab metrics artifact
  .gitlab-ci/branch_performance_tests.cfg
  .gitlab-ci/gitlab-ci.yml
  .gitlab-ci/locust_to_prometheus.py
Due: none

wip: debug
  .gitlab-ci/branch_performance_tests.cfg
  .gitlab-ci/gitlab-ci.yml
Due: none

test(performance): raise connector replication timeout to 9h
  .gitlab-ci/branch_performance_tests.cfg
  .gitlab-ci/gitlab-ci.yml
  ucs-test-ucsschool-kelvin/94_ucsschool-kelvin-performance/README.md
  ucs-test-ucsschool-kelvin/94_ucsschool-kelvin-performance/wait_for_db_full.py
Due: ucs_test_deb_lint, ucs_test_deb_build_git

fix(typecheck): pin basedpyright to 1.39.8 using new pipeline template variable
  .gitlab-ci.yml
  .pre-commit-config.yaml
  docker/pre_commit/run-basedpyright.sh
Due: none

chore(kelvin-connector): Add more log messages
  kelvin-connector/src/kelvin_connector/consumer.py
  kelvin-connector/tests/test_consumer.py
Due: none

docs(ai_context): (TEMPORAL) persist planning context for task
  docs/plan/README.md
  docs/plan/context.md
  docs/plan/decisions.md
  docs/plan/tasks/001-user-router-case-insensitive-filters.md
  docs/plan/tasks/002-school-router-case-insensitive-filters.md
  docs/plan/tasks/003-workgroup-router-case-insensitive-filters.md
  docs/plan/tasks/004-school-class-router-case-insensitive-filters.md
  docs/plan/tasks/005-migration-fixed-trigram-indexes.md
  docs/plan/tasks/006-indexed-udm-properties-config-module.md
  docs/plan/tasks/007-migration-configurable-udm-property-indexes.md
  docs/plan/tasks/008-kelvin-api-startup-validation-indexed-udm-properties.md
  docs/plan/tasks/009-unit-tests-query-filter-case-insensitive.md
  docs/plan/tasks/010-unit-tests-router-filter-helpers.md
  docs/plan/tasks/011-e2e-tests-case-insensitive-search.md
  docs/plan/tasks/012-postgres-integration-test-index-usage.md
  docs/plan/tasks/013-performance-evaluation-evidence.md
  docs/plan/tasks/014-optional-hoist-shared-str-filter.md
Due: none

docs(ai_context): (TEMPORAL): resolve stakeholder questions for case-insensitive filters
  docs/plan/README.md
  docs/plan/context.md
  docs/plan/decisions.md
  docs/plan/tasks/001-user-router-case-insensitive-filters.md
  docs/plan/tasks/002-school-router-case-insensitive-filters.md
  docs/plan/tasks/003-workgroup-router-case-insensitive-filters.md
  docs/plan/tasks/004-school-class-router-case-insensitive-filters.md
  docs/plan/tasks/010-unit-tests-router-filter-helpers.md
Due: none

docs(ai_context): (TEMPORAL): update context for previous commit
  docs/plan/README.md
  docs/plan/tasks/001-user-router-case-insensitive-filters.md
  docs/plan/tasks/002-school-router-case-insensitive-filters.md
  docs/plan/tasks/003-workgroup-router-case-insensitive-filters.md
  docs/plan/tasks/004-school-class-router-case-insensitive-filters.md
  docs/plan/tasks/014-optional-hoist-shared-str-filter.md
Due: none

feat: implement case-insensitive string filtering and refactor related code
  kelvin-api/ucsschool/kelvin/routers/v2/_filters.py
  kelvin-api/ucsschool/kelvin/routers/v2/school.py
  kelvin-api/ucsschool/kelvin/routers/v2/school_class.py
  kelvin-api/ucsschool/kelvin/routers/v2/user.py
  kelvin-api/ucsschool/kelvin/routers/v2/workgroup.py
Due: test kelvin-api

feat: update school, workgroup, and school-class routers for case-insensitive name filtering; maintain case sensitivity for identifiers
  kelvin-api/ucsschool/kelvin/routers/v2/school.py
  kelvin-api/ucsschool/kelvin/routers/v2/school_class.py
  kelvin-api/ucsschool/kelvin/routers/v2/workgroup.py
Due: test kelvin-api

docs(ai_context): (TEMPORAL): update context for previous commit
  docs/plan/README.md
  docs/plan/context.md
  docs/plan/decisions.md
  docs/plan/tasks/002-school-router-case-insensitive-filters.md
  docs/plan/tasks/003-workgroup-router-case-insensitive-filters.md
  docs/plan/tasks/004-school-class-router-case-insensitive-filters.md
  docs/plan/tasks/010-unit-tests-router-filter-helpers.md
Due: none

chore: update release date
  kelvin-api/changelog.rst
Due: test kelvin-api

ci: ai-review job now provided by CI component
  .gitlab-ci.yml
  .gitlab-ci/ai-review.yml
Due: none

ci: ai-review job now provided by CI component
  .gitlab-ci.yml
  .gitlab-ci/ai-review.yml
  .gitlab-ci/gitlab-ci.yml
Due: none

feat: add OpenTelemetry HTTP metrics to the Kelvin API
  appcenter/compose.jinja
  appcenter/settings
  kelvin-api/tests/test_telemetry.py
  kelvin-api/ucsschool/kelvin/service/lifespan.py
  kelvin-api/ucsschool/kelvin/service/middleware.py
  kelvin-api/ucsschool/kelvin/service/telemetry.py
  pyproject.toml
  uv.lock
Due: test kelvin-api
