Repository univention/ucsschool-kelvin-rest-api: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test ucs-school-lib, test kelvin-api, ucs_test_deb_lint, ucs_test_deb_build_git, ucs_test_deb_repo_import, ucs_test_deb_repo_build

test ucs-school-lib:
  stage: tests
  needs:
  - job: build_docker_image
  image: $IMAGE_TAG
  script:
  - cp ucs-school-import/modules/ucsschool/lib/create_ou.py ucs-school-lib/modules/ucsschool/lib/
  - cd ucs-school-lib/modules
  ...

test kelvin-api:
  stage: tests
  needs:
  - job: build_docker_image
  image: $IMAGE_TAG
  script:
  - cd ${CI_PROJECT_DIR}/kelvin-api
  ...

ucs_test_deb_lint:
  stage: build
  variables:
    GIT_DEPTH: 100
  image:
    name: $UCSLINT_IMAGE
    entrypoint:
    - ''
  script:
  - cd ucs-test-ucsschool-kelvin && ucslint -j ucslint.xml
  artifacts:
    reports:
      junit: ucs-test-ucsschool-kelvin/ucslint.xml

ucs_test_deb_build_git:
  stage: build
  image: $DEB_IMAGE
  variables:
    GIT_DEPTH: 100
  script:
  - apt-get update
  - cd ucs-test-ucsschool-kelvin
  - apt-get -q --assume-yes build-dep .
  - dpkg-buildpackage -us -uc
  - install -d -m 755 build
  - mv ../*.tar.*z ../*.dsc ../*.deb ../*.buildinfo ../*.changes build/
  artifacts:
    paths:
  ...

ucs_test_deb_repo_import:
  stage: build
  variables:
    GIT_STRATEGY: none
  tags:
  - omar
  script:
  - 'repo_admin.py -G $CI_REPOSITORY_URL -b $CI_COMMIT_BRANCH -P ucs-test-ucsschool-kelvin -r ${UCS_RELEASE}-0-0 -s $SCOPE -p $PACKAGE
  
    '

ucs_test_deb_repo_build:
  stage: build
  needs:
  - job: ucs_test_deb_repo_import
    artifacts: false
  variables:
    GIT_STRATEGY: none
  tags:
  - ladda
  script:
  - 'build-package-ng --no-pbuilder-update -r ${UCS_RELEASE}-0-0 -s $SCOPE -p $PACKAGE
  
    '

chore: allow kelvin to run locally
  .env.local-tests
  .gitignore
  Makefile
  kelvin-api/tests/conftest.py
  kelvin-api/ucsschool/kelvin/constants.py
  kelvin-api/ucsschool/kelvin/import_config.py
  kelvin-api/ucsschool/kelvin/routers/base.py
  kelvin-api/ucsschool/kelvin/routers/role.py
  ucs-school-import/modules/ucsschool/importer/utils/configuration_checks.py
  ucs-school-import/modules/ucsschool/importer/utils/shell.py
  ucs-school-lib/modules/ucsschool/lib/__init__.py
  ucs-school-lib/modules/ucsschool/lib/models/base.py
  ucs-school-lib/modules/ucsschool/lib/models/utils.py
  ucs-school-lib/modules/ucsschool/lib/tests/conftest.py
  univention-directory-manager-modules-slim/univention/admin/uldap_docker.py
Due: test ucs-school-lib, test kelvin-api

feat: Add core library for read/search access to School, User, and Group domain objects
  pyproject.toml
  ucsschool-objects/src/ucsschool_objects/core/README.md
  ucsschool-objects/src/ucsschool_objects/core/__init__.py
  ucsschool-objects/src/ucsschool_objects/core/adapters/__init__.py
  ucsschool-objects/src/ucsschool_objects/core/adapters/postgres/__init__.py
  ucsschool-objects/src/ucsschool_objects/core/adapters/postgres/mapping.py
  ucsschool-objects/src/ucsschool_objects/core/adapters/postgres/readers.py
  ucsschool-objects/src/ucsschool_objects/core/adapters/sqlite_memory/__init__.py
  ucsschool-objects/src/ucsschool_objects/core/adapters/sqlite_memory/mapping.py
  ucsschool-objects/src/ucsschool_objects/core/adapters/sqlite_memory/readers.py
  ucsschool-objects/src/ucsschool_objects/core/domain/__init__.py
  ucsschool-objects/src/ucsschool_objects/core/domain/errors.py
  ucsschool-objects/src/ucsschool_objects/core/domain/load_spec.py
  ucsschool-objects/src/ucsschool_objects/core/domain/models.py
  ucsschool-objects/src/ucsschool_objects/core/domain/query.py
  ucsschool-objects/src/ucsschool_objects/core/ports/__init__.py
  ucsschool-objects/src/ucsschool_objects/core/ports/readers.py
  ucsschool-objects/src/ucsschool_objects/core/py.typed
  ucsschool-objects/src/ucsschool_objects/core/translation/__init__.py
  ucsschool-objects/src/ucsschool_objects/core/translation/query_to_backend.py
  ucsschool-objects/tests/core/adapters/postgres/test_postgres_contract_binding.py
  ucsschool-objects/tests/core/adapters/sqlite_memory/test_sqlite_contract_binding.py
  ucsschool-objects/tests/core/conftest.py
  ucsschool-objects/tests/core/contracts/test_exception_raises.py
  ucsschool-objects/tests/core/contracts/test_invalid_filter_behavior.py
  ucsschool-objects/tests/core/contracts/test_query_negation_semantics.py
  ucsschool-objects/tests/core/contracts/test_query_ranges_numeric_datetime.py
  ucsschool-objects/tests/core/contracts/test_reader_contract_group.py
  ucsschool-objects/tests/core/contracts/test_reader_contract_school.py
  ucsschool-objects/tests/core/contracts/test_reader_contract_user.py
  ucsschool-objects/tests/core/contracts/test_sort_pagination_determinism.py
  ucsschool-objects/tests/core/domain/test_load_spec.py
  ucsschool-objects/tests/core/domain/test_query_ast.py
  ucsschool-objects/tests/core/fixtures/adapter_factories.py
  ucsschool-objects/tests/core/fixtures/corelib_contract_data.py
  ucsschool-objects/tests/core/test_ports.py
Due: none

refactor: using sqlalchemy's AsyncSession
  .pre-commit-config.yaml
  pyproject.toml
  ucsschool-objects/pyproject.toml
  ucsschool-objects/src/ucsschool_objects/core/adapters/postgres/readers.py
  ucsschool-objects/src/ucsschool_objects/core/adapters/sqlite_memory/readers.py
  ucsschool-objects/tests/conftest.py
  ucsschool-objects/tests/core/adapters/postgres/test_postgres_contract_binding.py
  ucsschool-objects/tests/core/adapters/sqlite_memory/test_sqlite_contract_binding.py
  ucsschool-objects/tests/core/conftest.py
  ucsschool-objects/tests/core/contracts/test_exception_raises.py
  ucsschool-objects/tests/core/contracts/test_invalid_filter_behavior.py
  ucsschool-objects/tests/core/contracts/test_query_negation_semantics.py
  ucsschool-objects/tests/core/contracts/test_query_ranges_numeric_datetime.py
  ucsschool-objects/tests/core/contracts/test_reader_contract_group.py
  ucsschool-objects/tests/core/contracts/test_reader_contract_school.py
  ucsschool-objects/tests/core/contracts/test_reader_contract_user.py
  ucsschool-objects/tests/core/contracts/test_sort_pagination_determinism.py
  ucsschool-objects/tests/core/fixtures/adapter_factories.py
  ucsschool-objects/tests/core/fixtures/corelib_contract_data.py
  ucsschool-objects/tests/test_database_models/test_relationships.py
  ucsschool-objects/tests/test_database_models/test_scalars.py
  ucsschool-objects/tests/test_database_models/test_school_membership.py
  ucsschool-objects/tests/test_types.py
  uv.lock
Due: none

fix(test): Introduce constants module for MAPPED_UDM_PROPERTIES and update imports
  kelvin-api/tests/conftest.py
  kelvin-api/tests/constants.py
  kelvin-api/tests/test_route_user.py
Due: test kelvin-api

test: add testcontainers
  .pre-commit-config.yaml
  ucsschool-objects/pyproject.toml
  ucsschool-objects/tests/conftest.py
  uv.lock
Due: none

test: old UDM_MAPPING_CONFIG in tests
  kelvin-api/tests/conftest.py
Due: test kelvin-api

test: fix test_06_expected_resources_exit_in_openapi_json_v2
  ucs-test-ucsschool-kelvin/94_ucsschool-kelvin/00_api_root.py
Due: ucs_test_deb_lint, ucs_test_deb_build_git

test: fix test_pyhook.py
  kelvin-api/tests/test_pyhook.py
Due: test kelvin-api

chore: switch to docker compose app
  appcenter/compose.jinja
  appcenter/includes/configure_host
  appcenter/ini.jinja
  appcenter/listener_trigger
  docker/start-kelvin.sh
Due: none

test: refactor config changes in tests
  kelvin-api/tests/conftest.py
Due: test kelvin-api

chore: Improve autoupdate-kelvin-container script
  autoupdate-kelvin-container
Due: none

feat: Add read-only account type
  appcenter/inst
  doc/docs/authentication-authorization.rst
  kelvin-api/changelog.rst
  kelvin-api/tests/conftest.py
  kelvin-api/tests/test_reader_auth.py
  kelvin-api/ucsschool/kelvin/constants.py
  kelvin-api/ucsschool/kelvin/ldap.py
  kelvin-api/ucsschool/kelvin/main.py
  kelvin-api/ucsschool/kelvin/routers/role.py
  kelvin-api/ucsschool/kelvin/routers/school.py
  kelvin-api/ucsschool/kelvin/routers/school_class.py
  kelvin-api/ucsschool/kelvin/routers/user.py
  kelvin-api/ucsschool/kelvin/routers/workgroup.py
  kelvin-api/ucsschool/kelvin/service/__init__.py
  kelvin-api/ucsschool/kelvin/token_auth.py
Due: test kelvin-api

refactor: extend core models and consolidate SQLAlchemy adapter code
  ucsschool-objects/src/ucsschool_objects/core/README.md
  ucsschool-objects/src/ucsschool_objects/core/adapters/postgres/__init__.py
  ucsschool-objects/src/ucsschool_objects/core/adapters/postgres/mapping.py
  ucsschool-objects/src/ucsschool_objects/core/adapters/postgres/readers.py
  ucsschool-objects/src/ucsschool_objects/core/adapters/sqlalchemy/__init__.py
  ucsschool-objects/src/ucsschool_objects/core/adapters/sqlalchemy/mapping.py
  ucsschool-objects/src/ucsschool_objects/core/adapters/sqlalchemy/query_filter.py
  ucsschool-objects/src/ucsschool_objects/core/adapters/sqlalchemy/readers.py
  ucsschool-objects/src/ucsschool_objects/core/adapters/sqlite_memory/__init__.py
  ucsschool-objects/src/ucsschool_objects/core/adapters/sqlite_memory/mapping.py
  ucsschool-objects/src/ucsschool_objects/core/adapters/sqlite_memory/readers.py
  ucsschool-objects/src/ucsschool_objects/core/domain/__init__.py
  ucsschool-objects/src/ucsschool_objects/core/domain/models.py
  ucsschool-objects/src/ucsschool_objects/core/ports/readers.py
  ucsschool-objects/src/ucsschool_objects/core/translation/__init__.py
  ucsschool-objects/tests/core/adapters/postgres/test_postgres_contract_binding.py
  ucsschool-objects/tests/core/adapters/sqlite_memory/test_sqlite_contract_binding.py
  ucsschool-objects/tests/core/contracts/test_exception_raises.py
  ucsschool-objects/tests/core/contracts/test_invalid_filter_behavior.py
  ucsschool-objects/tests/core/contracts/test_query_contracts.py
  ucsschool-objects/tests/core/contracts/test_query_negation_semantics.py
  ucsschool-objects/tests/core/contracts/test_query_ranges_numeric_datetime.py
  ucsschool-objects/tests/core/contracts/test_reader_contract_group.py
  ucsschool-objects/tests/core/contracts/test_reader_contract_school.py
  ucsschool-objects/tests/core/contracts/test_reader_contract_user.py
  ucsschool-objects/tests/core/contracts/test_reader_contracts.py
  ucsschool-objects/tests/core/contracts/test_user_reader_membership_projections.py
  ucsschool-objects/tests/core/domain/helpers/model_builders.py
  ucsschool-objects/tests/core/domain/test_school_membership_roles.py
  ucsschool-objects/tests/core/domain/test_user_model_groups.py
  ucsschool-objects/tests/core/domain/test_user_model_identity_semantics.py
  ucsschool-objects/tests/core/domain/test_user_model_primary_school.py
  ucsschool-objects/tests/core/fixtures/adapter_factories.py
Due: none

refactor: simplify domain model and consolidate readers, docs, and tests
  alembic/env.py
  ucsschool-objects/src/ucsschool_objects/__init__.py
  ucsschool-objects/src/ucsschool_objects/core/README.md
  ucsschool-objects/src/ucsschool_objects/core/adapters/sqlalchemy/__init__.py
  ucsschool-objects/src/ucsschool_objects/core/adapters/sqlalchemy/mapping.py
  ucsschool-objects/src/ucsschool_objects/core/adapters/sqlalchemy/query_filter.py
  ucsschool-objects/src/ucsschool_objects/core/adapters/sqlalchemy/readers.py
  ucsschool-objects/src/ucsschool_objects/core/domain/__init__.py
  ucsschool-objects/src/ucsschool_objects/core/domain/models.py
  ucsschool-objects/src/ucsschool_objects/core/domain/ports/__init__.py
  ucsschool-objects/src/ucsschool_objects/core/domain/ports/readers.py
  ucsschool-objects/src/ucsschool_objects/core/domain/query.py
  ucsschool-objects/src/ucsschool_objects/core/ports/readers.py
  ucsschool-objects/src/ucsschool_objects/database_models.py
  ucsschool-objects/tests/core/contracts/contract_test_support.py
  ucsschool-objects/tests/core/contracts/test_exception_raises.py
  ucsschool-objects/tests/core/contracts/test_invalid_filter_behavior.py
  ucsschool-objects/tests/core/contracts/test_query_contracts.py
  ucsschool-objects/tests/core/contracts/test_query_filter_primitives.py
  ucsschool-objects/tests/core/contracts/test_reader_contracts.py
  ucsschool-objects/tests/core/contracts/test_user_reader_membership_projections.py
  ucsschool-objects/tests/core/domain/helpers/model_builders.py
  ucsschool-objects/tests/core/domain/test_school_membership_roles.py
  ucsschool-objects/tests/core/domain/test_user_model_groups.py
  ucsschool-objects/tests/core/domain/test_user_model_identity_semantics.py
  ucsschool-objects/tests/core/domain/test_user_model_primary_school.py
  ucsschool-objects/tests/core/test_ports.py
Due: none

feat: support nested field queries and improve user role loading
  ucsschool-objects/src/ucsschool_objects/core/adapters/sqlalchemy/query_filter.py
  ucsschool-objects/src/ucsschool_objects/core/adapters/sqlalchemy/readers.py
  ucsschool-objects/src/ucsschool_objects/core/domain/__init__.py
  ucsschool-objects/src/ucsschool_objects/core/domain/errors.py
  ucsschool-objects/src/ucsschool_objects/core/domain/load_spec.py
  ucsschool-objects/src/ucsschool_objects/core/domain/models.py
  ucsschool-objects/src/ucsschool_objects/core/domain/ports/readers.py
  ucsschool-objects/tests/core/adapters/__init__.py
  ucsschool-objects/tests/core/adapters/test_nested_field_queries.py
  ucsschool-objects/tests/core/adapters/test_nested_field_query_filter.py
  ucsschool-objects/tests/core/contracts/test_reader_contracts.py
  ucsschool-objects/tests/core/contracts/test_user_reader_membership_projections.py
  ucsschool-objects/tests/core/domain/test_load_spec.py
  ucsschool-objects/tests/core/domain/test_user_model_roles.py
Due: none

feat: add lazy loading support across domain models
  ucsschool-objects/src/ucsschool_objects/core/adapters/sqlalchemy/mapping.py
  ucsschool-objects/src/ucsschool_objects/core/adapters/sqlalchemy/readers.py
  ucsschool-objects/src/ucsschool_objects/core/domain/models.py
  ucsschool-objects/tests/core/adapters/test_nested_field_queries.py
  ucsschool-objects/tests/core/contracts/test_query_contracts.py
  ucsschool-objects/tests/core/contracts/test_reader_contracts.py
  ucsschool-objects/tests/core/contracts/test_reader_load_spec_projections.py
  ucsschool-objects/tests/core/contracts/test_user_reader_membership_projections.py
  ucsschool-objects/tests/core/domain/test_school_membership_roles.py
  ucsschool-objects/tests/core/domain/test_user_model_groups.py
  ucsschool-objects/tests/core/domain/test_user_model_identity_semantics.py
  ucsschool-objects/tests/core/domain/test_user_model_primary_school.py
  ucsschool-objects/tests/core/domain/test_user_model_roles.py
Due: none

refactor: split SQLAlchemy readers into modules and consolidate shared logic
  ucsschool-objects/src/ucsschool_objects/core/adapters/sqlalchemy/readers.py
  ucsschool-objects/src/ucsschool_objects/core/adapters/sqlalchemy/readers/__init__.py
  ucsschool-objects/src/ucsschool_objects/core/adapters/sqlalchemy/readers/_shared.py
  ucsschool-objects/src/ucsschool_objects/core/adapters/sqlalchemy/readers/group_reader.py
  ucsschool-objects/src/ucsschool_objects/core/adapters/sqlalchemy/readers/role_reader.py
  ucsschool-objects/src/ucsschool_objects/core/adapters/sqlalchemy/readers/school_reader.py
  ucsschool-objects/src/ucsschool_objects/core/adapters/sqlalchemy/readers/user_reader.py
  ucsschool-objects/tests/core/adapters/test_nested_field_queries.py
Due: none

fix: tenacity is a prod dependency
  ucs-school-lib/pyproject.toml
  uv.lock
Due: test ucs-school-lib

fix: Install dev depencies recursive
  docker/Dockerfile
Due: none

refactor: codebase to replace 'Reader' with 'Manager' terminology
  ucsschool-objects/src/ucsschool_objects/__init__.py
  ucsschool-objects/src/ucsschool_objects/core/adapters/sqlalchemy/__init__.py
  ucsschool-objects/src/ucsschool_objects/core/adapters/sqlalchemy/managers/__init__.py
  ucsschool-objects/src/ucsschool_objects/core/adapters/sqlalchemy/managers/_shared.py
  ucsschool-objects/src/ucsschool_objects/core/adapters/sqlalchemy/managers/group_manager.py
  ucsschool-objects/src/ucsschool_objects/core/adapters/sqlalchemy/managers/role_manager.py
  ucsschool-objects/src/ucsschool_objects/core/adapters/sqlalchemy/managers/school_manager.py
  ucsschool-objects/src/ucsschool_objects/core/adapters/sqlalchemy/managers/user_manager.py
  ucsschool-objects/src/ucsschool_objects/core/adapters/sqlalchemy/query_filter.py
  ucsschool-objects/src/ucsschool_objects/core/adapters/sqlalchemy/readers/__init__.py
  ucsschool-objects/src/ucsschool_objects/core/domain/__init__.py
  ucsschool-objects/src/ucsschool_objects/core/domain/errors.py
  ucsschool-objects/src/ucsschool_objects/core/domain/ports/__init__.py
  ucsschool-objects/src/ucsschool_objects/core/domain/ports/manager.py
  ucsschool-objects/tests/core/adapters/test_nested_field_queries.py
  ucsschool-objects/tests/core/adapters/test_nested_field_query_filter.py
  ucsschool-objects/tests/core/contracts/contract_test_support.py
  ucsschool-objects/tests/core/contracts/test_exception_raises.py
  ucsschool-objects/tests/core/contracts/test_invalid_filter_behavior.py
  ucsschool-objects/tests/core/contracts/test_manager_contracts.py
  ucsschool-objects/tests/core/contracts/test_manager_load_spec_projections.py
  ucsschool-objects/tests/core/contracts/test_query_contracts.py
  ucsschool-objects/tests/core/contracts/test_query_filter_primitives.py
  ucsschool-objects/tests/core/contracts/test_user_manager_membership_projections.py
  ucsschool-objects/tests/core/test_ports.py
Due: none

feat: validation of domain objects
  ucsschool-objects/src/ucsschool_objects/core/domain/__init__.py
  ucsschool-objects/src/ucsschool_objects/core/domain/validators.py
  ucsschool-objects/tests/core/domain/test_model_validation.py
Due: none

feat: enhance session management with async session factory and transaction scope
  ucsschool-objects/src/ucsschool_objects/core/adapters/sqlalchemy/session.py
  ucsschool-objects/tests/core/adapters/test_sqlalchemy_session.py
Due: none

feat: add connector skeleton
  .gitlab-ci/gitlab-ci.yml
  alembic/env.py
  appcenter/compose.jinja
  dev/docker-compose.yaml
  docker/Dockerfile
  docker/start-connector.sh
  kelvin-connector/README.md
  kelvin-connector/pyproject.toml
  kelvin-connector/src/kelvin_connector/__init__.py
  kelvin-connector/src/kelvin_connector/database_models.py
  kelvin-connector/src/kelvin_connector/py.typed
  kelvin-connector/tests/test_dummy.py
  pyproject.toml
  uv.lock
Due: none

fix(dependencies): move aiosqlite to dev dependencies for clarity
  ucsschool-objects/pyproject.toml
  uv.lock
Due: none

Path conditions:
  test ucs-school-lib: any of: ucs-school-lib/**/*
  test kelvin-api: any of: kelvin-api/**/*
  ucs_test_deb_lint: any of: ucs-test-ucsschool-kelvin/**/*
  ucs_test_deb_build_git: any of: ucs-test-ucsschool-kelvin/**/*
  ucs_test_deb_repo_import: any of: ucs-test-ucsschool-kelvin/debian/changelog
  ucs_test_deb_repo_build: any of: ucs-test-ucsschool-kelvin/debian/changelog
