Repository univention/ucsschool-kelvin-rest-api: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test ucs-school-lib, test kelvin-api, ucs_test_deb_lint, ucs_test_deb_build_git, ucs_test_deb_repo_import, ucs_test_deb_repo_build

Path conditions:
  test ucs-school-lib: any of: ucs-school-lib/**/*
  test kelvin-api: any of: kelvin-api/**/*
  ucs_test_deb_lint: any of: ucs-test-ucsschool-kelvin/**/*
  ucs_test_deb_build_git: any of: ucs-test-ucsschool-kelvin/**/*
  ucs_test_deb_repo_import: any of: ucs-test-ucsschool-kelvin/debian/changelog
  ucs_test_deb_repo_build: any of: ucs-test-ucsschool-kelvin/debian/changelog

fix(user_manager): release the primary slot before promoting a membership
  ucsschool-objects/src/ucsschool_objects/core/adapters/sqlalchemy/managers/user_manager.py
  ucsschool-objects/tests/core/contracts/test_manager_modify_contracts.py
Due: none

feat: add explicit ILIKE and LIKE operator support and update related tests
  kelvin-connector/src/kelvin_connector/sync.py
  ucsschool-objects/src/ucsschool_objects/core/adapters/sqlalchemy/query_filter.py
  ucsschool-objects/src/ucsschool_objects/core/domain/query.py
  ucsschool-objects/tests/core/adapters/test_nested_field_queries.py
  ucsschool-objects/tests/core/adapters/test_nested_field_query_filter.py
  ucsschool-objects/tests/core/contracts/test_exception_raises.py
  ucsschool-objects/tests/core/contracts/test_invalid_filter_behavior.py
  ucsschool-objects/tests/core/contracts/test_query_contracts.py
  ucsschool-objects/tests/core/domain/test_query_ast.py
Due: none

feat: Move DN mapper to ucsschool_objects core library
  alembic/env.py
  kelvin-connector/src/kelvin_connector/connector.py
  kelvin-connector/src/kelvin_connector/database_models.py
  kelvin-connector/src/kelvin_connector/nubus_compat.py
  kelvin-connector/src/kelvin_connector/ports.py
  kelvin-connector/src/kelvin_connector/sync.py
  kelvin-connector/tests/test_dummy.py
  kelvin-connector/tests/test_sync.py
  ucsschool-objects/src/ucsschool_objects/__init__.py
  ucsschool-objects/src/ucsschool_objects/core/adapters/sqlalchemy/__init__.py
  ucsschool-objects/src/ucsschool_objects/core/adapters/sqlalchemy/dn_mapper.py
  ucsschool-objects/src/ucsschool_objects/core/domain/ports/__init__.py
  ucsschool-objects/src/ucsschool_objects/core/domain/ports/dn_mapper.py
  ucsschool-objects/src/ucsschool_objects/database_models.py
  ucsschool-objects/tests/test_nubus_compat.py
Due: none

feat(connector): add Kelvin health check and startup dependency
  appcenter/compose.jinja
  dev/docker-compose.yaml
  docker/Dockerfile
  docker/start-connector.sh
  kelvin-api/ucsschool/kelvin/main.py
Due: test kelvin-api

fix(query_filter): deduplicate nested queries with one join
  ucsschool-objects/src/ucsschool_objects/core/adapters/sqlalchemy/query_filter.py
  ucsschool-objects/tests/core/adapters/test_nested_field_query_filter.py
  ucsschool-objects/tests/core/contracts/contract_test_support.py
  ucsschool-objects/tests/core/contracts/test_query_contracts.py
Due: none

refactor(patch): compute track_changes patch on access
  ucsschool-objects/src/ucsschool_objects/core/domain/patch.py
  ucsschool-objects/tests/core/contracts/test_manager_modify_contracts.py
  ucsschool-objects/tests/core/domain/test_patch.py
Due: none

feat(query_filter): CONTAINS operator for multi-valued JSON properties
  ucsschool-objects/src/ucsschool_objects/core/adapters/sqlalchemy/query_filter.py
  ucsschool-objects/src/ucsschool_objects/core/domain/query.py
  ucsschool-objects/tests/core/adapters/test_json_contains_compilation.py
  ucsschool-objects/tests/core/contracts/test_invalid_filter_behavior.py
  ucsschool-objects/tests/core/contracts/test_query_contracts.py
Due: none

fix(kelvin-api): allow reader tokens on v2 read endpoints
  kelvin-api/ucsschool/kelvin/routers/v2/role.py
  kelvin-api/ucsschool/kelvin/routers/v2/school.py
  kelvin-api/ucsschool/kelvin/routers/v2/school_class.py
  kelvin-api/ucsschool/kelvin/routers/v2/user.py
  kelvin-api/ucsschool/kelvin/routers/v2/workgroup.py
Due: test kelvin-api

feat: add baseline
  .pre-commit-config.yaml
  basedpyright-baseline.json
Due: none

fix: Search group names case insensitively in v2 routers
  kelvin-api/ucsschool/kelvin/routers/v2/school_class.py
  kelvin-api/ucsschool/kelvin/routers/v2/workgroup.py
Due: test kelvin-api

fix(kelvin-api): resolve the alembic config via ALEMBIC_CONFIG with an absolute default
  kelvin-api/ucsschool/kelvin/constants.py
  kelvin-api/ucsschool/kelvin/service/dependency.py
Due: test kelvin-api

fix: Reorder provisioning topic selection
  appcenter/includes/setup-provisioning-subscription.sh
Due: none

chore: fix formatting
  kelvin-api/tests/test_route_user.py
  kelvin-connector/tests/test_sync.py
Due: test kelvin-api

fix(db): seed the school_admin role
  alembic/versions/a3f9c12e8b01_seed_default_roles.py
Due: none

fix: Don't recalculate tracker.patch
  kelvin-connector/src/kelvin_connector/sync.py
  ucsschool-objects/src/ucsschool_objects/core/adapters/sqlalchemy/managers/_shared.py
Due: none

fix(connector): use build_settings for DB, fix ORM relations, and extract provisioning script
  Makefile
  appcenter/includes/inst
  appcenter/includes/setup-provisioning-subscription.sh
  appcenter/inst.jinja
  kelvin-connector/src/kelvin_connector/consumer.py
  kelvin-connector/src/kelvin_connector/sync.py
  ucsschool-objects/src/ucsschool_objects/core/adapters/sqlalchemy/session.py
  ucsschool-objects/src/ucsschool_objects/core/domain/models.py
Due: none

feat: add pre commit config for type hints integration with Docker support
  .gitlab-ci/Dockerfile.pre-commit
  .gitlab-ci/gitlab-ci.yml
  .pre-commit-config.yaml
  docker/pre_commit/Dockerfile
  docker/pre_commit/run-basedpyright.sh
  pyrightconfig.json
Due: none

feat(query_filter): filter on scalar values inside JSON columns
  ucsschool-objects/src/ucsschool_objects/__init__.py
  ucsschool-objects/src/ucsschool_objects/core/adapters/sqlalchemy/managers/group_manager.py
  ucsschool-objects/src/ucsschool_objects/core/adapters/sqlalchemy/managers/school_manager.py
  ucsschool-objects/src/ucsschool_objects/core/adapters/sqlalchemy/managers/user_manager.py
  ucsschool-objects/src/ucsschool_objects/core/adapters/sqlalchemy/query_filter.py
  ucsschool-objects/src/ucsschool_objects/core/domain/errors.py
  ucsschool-objects/tests/core/contracts/test_invalid_filter_behavior.py
  ucsschool-objects/tests/core/contracts/test_query_contracts.py
  ucsschool-objects/tests/core/domain/test_models.py
Due: none

ci(type_hint_baseline): update baseline caused by rebase on `main`
  basedpyright-baseline.json
Due: none

fix(joinscript): hide jinja source include from shellcheck
  appcenter/includes/inst
Due: none

fix(appcenter): check provisioning-service in preinst instead of RequiredAppsInDomain
  appcenter/ini.jinja
  appcenter/preinst
Due: none

fix(joinscript): drop literal '{{ }}' from inst comment, breaks jinja render
  appcenter/includes/inst
Due: none

chore: Adjust baseline
  basedpyright-baseline.json
Due: none

chore(connector): Adjust basedpyright-baseline.json after changes
  basedpyright-baseline.json
Due: none

chore(connector): Add log messages to event handler
  kelvin-connector/src/kelvin_connector/consumer.py
  kelvin-connector/tests/test_consumer.py
Due: none

chore(connector): Fix pyright type hint warnings
  basedpyright-baseline.json
  kelvin-connector/src/kelvin_connector/consumer.py
Due: none

chore(connector): Add log messages for missing references
  kelvin-connector/src/kelvin_connector/sync.py
Due: none

fix: Ignore unsyncable groups
  kelvin-connector/src/kelvin_connector/sync.py
  kelvin-connector/tests/test_sync.py
Due: none

chore(connector): Update provisioning consumer lib to 0.9.9
  basedpyright-baseline.json
  kelvin-connector/pyproject.toml
  uv.lock
Due: none

ci: fix path to utils-local.sh
  .gitlab-ci/branch_tests.cfg
Due: none

feat(appcenter): open pg_hba.conf for remote hosts sharing the kelvin DB
  appcenter/includes/configure_host
  appcenter/includes/pg_hba/50-ucsschool-kelvin-rest-api.conf
  appcenter/includes/pg_hba/50-ucsschool-kelvin-rest-api.info
Due: none

fix(tests): poll for cache convergence in test_head
  basedpyright-baseline.json
  kelvin-api/tests/test_route_school.py
Due: test kelvin-api

test(coverage): create coverage dir before .coverage guard
  ucs-test-ucsschool-kelvin/94_ucsschool-kelvin/12_in_container_tests_kelvin_api_coverage
Due: ucs_test_deb_lint, ucs_test_deb_build_git

refactor: update type annotations to use Annotated for improved clarity and maintainability
  basedpyright-baseline.json
  kelvin-api/ucsschool/kelvin/routers/v2/school.py
  kelvin-api/ucsschool/kelvin/routers/v2/school_class.py
  kelvin-api/ucsschool/kelvin/routers/v2/workgroup.py
Due: test kelvin-api

fix(routers/v2): move Query defaults outside Annotated for name filters
  kelvin-api/ucsschool/kelvin/routers/v2/school.py
  kelvin-api/ucsschool/kelvin/routers/v2/school_class.py
  kelvin-api/ucsschool/kelvin/routers/v2/workgroup.py
Due: test kelvin-api

feat: implement case-insensitive string filtering and refactor related code
  kelvin-api/ucsschool/kelvin/routers/v2/_filters.py
  kelvin-api/ucsschool/kelvin/routers/v2/school.py
  kelvin-api/ucsschool/kelvin/routers/v2/school_class.py
  kelvin-api/ucsschool/kelvin/routers/v2/user.py
  kelvin-api/ucsschool/kelvin/routers/v2/workgroup.py
Due: test kelvin-api

feat: update school, workgroup, and school-class routers for case-insensitive name filtering; maintain case sensitivity for identifiers
  kelvin-api/ucsschool/kelvin/routers/v2/school.py
  kelvin-api/ucsschool/kelvin/routers/v2/school_class.py
  kelvin-api/ucsschool/kelvin/routers/v2/workgroup.py
Due: test kelvin-api

feat(db): add pg_trgm GIN trigram indexes for case-insensitive search
  alembic/versions/f142a77b29a4_add_trigram_indexes.py
  basedpyright-baseline.json
  pyrightconfig.json
Due: none

feat(tests): add execution-level tests for case-insensitive matching with wildcards
  ucsschool-objects/tests/core/__init__.py
  ucsschool-objects/tests/core/adapters/test_case_insensitive_filters.py
Due: none

refactor(db): squash alembic migrations into a single init revision
  alembic/versions/62810ee19208_rename_group_type_to_role.py
  alembic/versions/a3f9c12e8b01_seed_default_roles.py
  alembic/versions/e49791148e25_init_tables.py
  alembic/versions/e8b27dd51414_add_mapping_tables.py
  alembic/versions/f142a77b29a4_add_trigram_indexes.py
  basedpyright-baseline.json
Due: none
