Repository univention/ucsschool-kelvin-rest-api: changes, and which GitLab CI jobs are due for each by the changed paths.
All: docs-html, docs-pdf, docs-linkcheck, docs-spelling, docs-merge-to-one-artifact, docs-review, docs-create-production-merge-request, test ucs-school-lib, test kelvin-api, ucs_test_deb_lint, ucs_test_deb_build_git, ucs_test_deb_repo_import, ucs_test_deb_repo_build

docs-merge-to-one-artifact:
  needs:
  - job: docs-html
  - job: docs-pdf
  - job: docs-spelling
    artifacts: false
  - job: docs-linkcheck
    artifacts: false

docs-review:
  needs:
  - job: docs-merge-to-one-artifact

docs-create-production-merge-request:
  needs:
  - job: docs-merge-to-one-artifact

test ucs-school-lib:
  stage: tests
  needs:
  - job: build_docker_image
  image: $IMAGE_TAG
  script:
  - cp ucs-school-import/modules/ucsschool/lib/create_ou.py ucs-school-lib/modules/ucsschool/lib/
  - cd ucs-school-lib/modules
  ...

test kelvin-api:
  stage: tests
  needs:
  - job: build_docker_image
  image: $IMAGE_TAG
  script:
  - cd ${CI_PROJECT_DIR}/kelvin-api
  ...

ucs_test_deb_lint:
  stage: lint
  image:
    name: $UCSLINT_IMAGE
    entrypoint:
    - ''
  script:
  - cd ucs-test-ucsschool-kelvin && ucslint -j ucslint.xml
  artifacts:
    reports:
      junit: ucs-test-ucsschool-kelvin/ucslint.xml

ucs_test_deb_build_git:
  stage: build
  image: $DEB_IMAGE
  script:
  - apt-get update
  - cd ucs-test-ucsschool-kelvin
  - apt-get -q --assume-yes build-dep .
  - dpkg-buildpackage -us -uc
  - install -d -m 755 build
  - mv ../*.tar.*z ../*.dsc ../*.deb ../*.buildinfo ../*.changes build/
  artifacts:
    paths:
  ...

ucs_test_deb_repo_import:
  stage: build
  variables:
    GIT_STRATEGY: none
  tags:
  - omar
  script:
  - 'repo_admin.py -G $CI_REPOSITORY_URL -b $CI_COMMIT_BRANCH -P ucs-test-ucsschool-kelvin -r ${UCS_RELEASE}-0-0 -s $SCOPE -p $PACKAGE
  
    '

ucs_test_deb_repo_build:
  stage: build
  needs:
  - job: ucs_test_deb_repo_import
    artifacts: false
  variables:
    GIT_STRATEGY: none
  tags:
  - ladda
  script:
  - 'build-package-ng --no-pbuilder-update -r ${UCS_RELEASE}-0-0 -s $SCOPE -p $PACKAGE
  
    '

fix: Don't check shadowExpire if disabled
  kelvin-api/tests/test_route_user.py
Due: test kelvin-api

fix: legal_guardians and legal_wards in post request
  kelvin-api/ucsschool/kelvin/routers/user.py
Due: test kelvin-api

fix: Don't require the order to be the same
  kelvin-api/tests/test_route_user.py
Due: test kelvin-api

fix: Make last failed tests work
  kelvin-api/tests/test_route_school.py
  kelvin-api/tests/test_route_user.py
Due: test kelvin-api

chore: update changelogs and version for 3.0.0
  appcenter/README_UPDATE_EN
  kelvin-api/VERSION.txt
  kelvin-api/changelog.rst
Due: docs-html, docs-pdf, docs-linkcheck, docs-spelling, docs-merge-to-one-artifact, docs-review, docs-create-production-merge-request, test kelvin-api

feat: Remove UserModel subtypes again, send attributes always
  kelvin-api/tests/test_pyhook.py
  kelvin-api/tests/test_route_user.py
  kelvin-api/ucsschool/kelvin/routers/user.py
Due: test kelvin-api

feat: Remove user_type
  kelvin-api/ucsschool/kelvin/routers/user.py
  ucs-school-lib/modules/ucsschool/lib/models/user.py
  ucs-test-ucsschool-kelvin/94_ucsschool-kelvin/conftest.py
Due: test ucs-school-lib, test kelvin-api, ucs_test_deb_lint, ucs_test_deb_build_git

fix: Comment problematic lines & suggest solution
  kelvin-api/ucsschool/kelvin/routers/school.py
  ucs-school-import/modules/ucsschool/lib/create_ou.py
Due: test kelvin-api

fix: Remove MR-explaining comments again
  kelvin-api/ucsschool/kelvin/routers/school.py
  ucs-school-import/modules/ucsschool/lib/create_ou.py
Due: test kelvin-api

fix: Remove tests for correct subclass
  kelvin-api/tests/test_route_user.py
Due: test kelvin-api

docs: Update compatibility table
  doc/docs/kelvin-client-compatibility.rst
Due: docs-html, docs-pdf, docs-linkcheck, docs-spelling, docs-merge-to-one-artifact, docs-review, docs-create-production-merge-request

docs: Add legal guardian / legal wards to docs
  doc/docs/resource-users.rst
Due: docs-html, docs-pdf, docs-linkcheck, docs-spelling, docs-merge-to-one-artifact, docs-review, docs-create-production-merge-request

ci: move ucsschool-ci-utils -> ci-components
  .gitlab-ci.yml
Due: none

fix: Revert patch behaviour so that setting it to null removes email
  .pre-commit-config.yaml
  kelvin-api/tests/test_route_user.py
  kelvin-api/ucsschool/kelvin/routers/user.py
  ucs-school-import/modules/ucsschool/importer/models/import_user.py
Due: test kelvin-api

feat: Remove UserModel subtypes again, send attributes always
  kelvin-api/ucsschool/kelvin/routers/user.py
Due: test kelvin-api

feat: Remove UserModel subtypes again, send attributes always
  ucs-school-lib/modules/ucsschool/lib/models/user.py
Due: test ucs-school-lib

feat: Remove UserModel subtypes again, send attributes always
  ucs-test-ucsschool-kelvin/94_ucsschool-kelvin/conftest.py
Due: ucs_test_deb_lint, ucs_test_deb_build_git

chore: Add changelog entry to ucs-test-ucsschool-kelvin
  ucs-test-ucsschool-kelvin/debian/changelog
Due: ucs_test_deb_lint, ucs_test_deb_build_git, ucs_test_deb_repo_import, ucs_test_deb_repo_build

docs: adjust the Kelvin-API documentation
  doc/docs/resource-users.rst
Due: docs-html, docs-pdf, docs-linkcheck, docs-spelling, docs-merge-to-one-artifact, docs-review, docs-create-production-merge-request

chore: Add changelog entry
  appcenter/README_UPDATE_EN
  kelvin-api/changelog.rst
Due: docs-html, docs-pdf, docs-linkcheck, docs-spelling, docs-merge-to-one-artifact, docs-review, docs-create-production-merge-request, test kelvin-api

feat: Remove UserModel subtypes again, send attributes always
  kelvin-api/tests/test_pyhook.py
  kelvin-api/tests/test_route_user.py
  kelvin-api/ucsschool/kelvin/routers/user.py
  ucs-school-lib/modules/ucsschool/lib/models/user.py
  ucs-test-ucsschool-kelvin/94_ucsschool-kelvin/conftest.py
Due: test ucs-school-lib, test kelvin-api, ucs_test_deb_lint, ucs_test_deb_build_git

feat: Make PATCH work as POST & PATCH: Allow empty lists
  kelvin-api/ucsschool/kelvin/routers/user.py
Due: test kelvin-api

fix: Use dn directly in case of a PATCH that doesn't change this attribute
  ucs-school-import/modules/ucsschool/importer/models/import_user.py
Due: none

fix: Add necessary dependency to bandit
  .pre-commit-config.yaml
Due: none

chore: Bump version for test package rebuild
  ucs-test-ucsschool-kelvin/debian/changelog
Due: ucs_test_deb_lint, ucs_test_deb_build_git, ucs_test_deb_repo_import, ucs_test_deb_repo_build

chore: Release preparations
  appcenter/README_UPDATE_EN
  kelvin-api/VERSION.txt
  kelvin-api/changelog.rst
Due: docs-html, docs-pdf, docs-linkcheck, docs-spelling, docs-merge-to-one-artifact, docs-review, docs-create-production-merge-request, test kelvin-api

ci: deactivate docs temporarily
  .gitlab-ci.yml
Due: none

ci: revert docs deactivation
  .gitlab-ci.yml
Due: none

fix: Don't use user_class method here because of multi-role users
  kelvin-api/ucsschool/kelvin/routers/user.py
Due: test kelvin-api

fix: Revert patch behaviour so that setting it to null removes email
  kelvin-api/tests/test_route_user.py
  kelvin-api/ucsschool/kelvin/routers/user.py
  ucs-school-import/modules/ucsschool/importer/models/import_user.py
Due: test kelvin-api

test: Activated school-admin filter as it's fixed now
  kelvin-api/tests/test_route_user.py
Due: test kelvin-api

docs: Add changelog entry
  appcenter/README_UPDATE_EN
  kelvin-api/changelog.rst
Due: docs-html, docs-pdf, docs-linkcheck, docs-spelling, docs-merge-to-one-artifact, docs-review, docs-create-production-merge-request, test kelvin-api

Path conditions:
  docs-html: any of: doc/docs/**/*, kelvin-api/changelog.rst
  docs-pdf: any of: doc/docs/**/*, kelvin-api/changelog.rst
  docs-linkcheck: any of: doc/docs/**/*, kelvin-api/changelog.rst
  docs-spelling: any of: doc/docs/**/*, kelvin-api/changelog.rst
  docs-merge-to-one-artifact: any of: doc/docs/**/*, kelvin-api/changelog.rst
  docs-review: any of: doc/docs/**/*, kelvin-api/changelog.rst
  docs-create-production-merge-request: any of: doc/docs/**/*, kelvin-api/changelog.rst
  test ucs-school-lib: any of: ucs-school-lib/**/*
  test kelvin-api: any of: kelvin-api/**/*
  ucs_test_deb_lint: any of: ucs-test-ucsschool-kelvin/**/*
  ucs_test_deb_build_git: any of: ucs-test-ucsschool-kelvin/**/*
  ucs_test_deb_repo_import: any of: ucs-test-ucsschool-kelvin/debian/changelog
  ucs_test_deb_repo_build: any of: ucs-test-ucsschool-kelvin/debian/changelog
