Repository univention/ucsschool-kelvin-rest-api: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test ucs-school-lib, test kelvin-api, ucs_test_deb_lint, ucs_test_deb_build_git, ucs_test_deb_repo_import, ucs_test_deb_repo_build

Path conditions:
  test ucs-school-lib: any of: ucs-school-lib/**/*
  test kelvin-api: any of: kelvin-api/**/*
  ucs_test_deb_lint: any of: ucs-test-ucsschool-kelvin/**/*
  ucs_test_deb_build_git: any of: ucs-test-ucsschool-kelvin/**/*
  ucs_test_deb_repo_import: any of: ucs-test-ucsschool-kelvin/debian/changelog
  ucs_test_deb_repo_build: any of: ucs-test-ucsschool-kelvin/debian/changelog

test: Refresh token when near expiry
  kelvin-api/tests/conftest.py
  ucs-test-ucsschool-kelvin/debian/changelog
Due: test kelvin-api, ucs_test_deb_lint, ucs_test_deb_build_git, ucs_test_deb_repo_import, ucs_test_deb_repo_build

test: fix get_access_token fixture usage
  kelvin-api/tests/conftest.py
  ucs-test-ucsschool-kelvin/debian/changelog
Due: test kelvin-api, ucs_test_deb_lint, ucs_test_deb_build_git, ucs_test_deb_repo_import, ucs_test_deb_repo_build

test: Fix kelvin_reader user cleanup
  ucs-test-ucsschool-kelvin/94_ucsschool-kelvin/conftest.py
Due: ucs_test_deb_lint, ucs_test_deb_build_git

fix: Fix matching on hostgroup name
  kelvin-connector/src/kelvin_connector/consumer.py
Due: none

feat: Move DN mapper to ucsschool_objects core library
  alembic/env.py
  kelvin-connector/src/kelvin_connector/connector.py
  kelvin-connector/src/kelvin_connector/database_models.py
  kelvin-connector/src/kelvin_connector/nubus_compat.py
  kelvin-connector/src/kelvin_connector/ports.py
  kelvin-connector/src/kelvin_connector/sync.py
  kelvin-connector/tests/test_dummy.py
  kelvin-connector/tests/test_sync.py
  ucsschool-objects/src/ucsschool_objects/__init__.py
  ucsschool-objects/src/ucsschool_objects/core/adapters/sqlalchemy/__init__.py
  ucsschool-objects/src/ucsschool_objects/core/adapters/sqlalchemy/dn_mapper.py
  ucsschool-objects/src/ucsschool_objects/core/domain/ports/__init__.py
  ucsschool-objects/src/ucsschool_objects/core/domain/ports/dn_mapper.py
  ucsschool-objects/src/ucsschool_objects/database_models.py
  ucsschool-objects/tests/test_nubus_compat.py
Due: none

feat: implement v2 routes
  kelvin-api/tests/test_db_compatibility.py
  kelvin-api/ucsschool/kelvin/routers/v2/__init__.py
  kelvin-api/ucsschool/kelvin/routers/v2/role.py
  kelvin-api/ucsschool/kelvin/routers/v2/school.py
  kelvin-api/ucsschool/kelvin/routers/v2/school_class.py
  kelvin-api/ucsschool/kelvin/routers/v2/user.py
  kelvin-api/ucsschool/kelvin/routers/v2/workgroup.py
  kelvin-api/ucsschool/kelvin/service/dependency.py
  kelvin-api/ucsschool/kelvin/service/lifespan.py
  ucsschool-objects/src/ucsschool_objects/core/adapters/sqlalchemy/managers/user_manager.py
Due: test kelvin-api

refactor: move routers to v1 package
  kelvin-api/tests/conftest.py
  kelvin-api/tests/test_base.py
  kelvin-api/tests/test_pyhook.py
  kelvin-api/tests/test_route_school.py
  kelvin-api/tests/test_route_school_class.py
  kelvin-api/tests/test_route_user.py
  kelvin-api/tests/test_route_user_schemetest.py
  kelvin-api/tests/test_route_workgroup.py
  kelvin-api/tests/test_school_class_name_syntax.py
  kelvin-api/ucsschool/kelvin/main.py
  kelvin-api/ucsschool/kelvin/routers/v1/__init__.py
  kelvin-api/ucsschool/kelvin/routers/v1/base.py
  kelvin-api/ucsschool/kelvin/routers/v1/computer_client.py
  kelvin-api/ucsschool/kelvin/routers/v1/computer_room.py
  kelvin-api/ucsschool/kelvin/routers/v1/computer_server.py
  kelvin-api/ucsschool/kelvin/routers/v1/doc.py
  kelvin-api/ucsschool/kelvin/routers/v1/fastapi_doc_patch.py
  kelvin-api/ucsschool/kelvin/routers/v1/role.py
  kelvin-api/ucsschool/kelvin/routers/v1/school.py
  kelvin-api/ucsschool/kelvin/routers/v1/school_class.py
  kelvin-api/ucsschool/kelvin/routers/v1/user.py
  kelvin-api/ucsschool/kelvin/routers/v1/workgroup.py
Due: test kelvin-api

feat: Add preliminary log config
  kelvin-connector/src/kelvin_connector/connector.py
  kelvin-connector/tests/test_connector.py
Due: none

fix: Reorder provisioning topic selection
  appcenter/includes/setup-provisioning-subscription.sh
Due: none

test: Add comparison test v1/v2
  kelvin-api/tests/conftest.py
  kelvin-api/tests/test_route_v1_v2_parity.py
Due: test kelvin-api

test: Test v2 school endpoints
  kelvin-api/tests/test_route_school.py
Due: test kelvin-api

fix: Ignore delete if object does not exist
  kelvin-connector/src/kelvin_connector/sync.py
  kelvin-connector/tests/test_sync.py
Due: none

fix: Use fixed provisioning-consumer-template
  kelvin-connector/pyproject.toml
  uv.lock
Due: none

ci: Install provisioning-service app
  .gitlab-ci/branch_tests.cfg
Due: none

feat: Add connector to autoupdate script
  autoupdate-kelvin-container
Due: none

test: Increase integration test timeout to 7200
  ucs-test-ucsschool-kelvin/94_ucsschool-kelvin/11_in_container_tests_kelvin_api_v1
  ucs-test-ucsschool-kelvin/94_ucsschool-kelvin/11_in_container_tests_kelvin_api_v2
Due: ucs_test_deb_lint, ucs_test_deb_build_git

fix: Update on create event if already exists
  kelvin-connector/src/kelvin_connector/sync.py
Due: none

docs: Add notice about hook execution and v2
  doc/docs/installation-configuration.rst
Due: none

refactor: enhance type hints and improve public ID handling across managers and mappers
  ucsschool-objects/src/ucsschool_objects/core/adapters/sqlalchemy/managers/_shared.py
  ucsschool-objects/src/ucsschool_objects/core/adapters/sqlalchemy/managers/group_manager.py
  ucsschool-objects/src/ucsschool_objects/core/adapters/sqlalchemy/managers/school_manager.py
  ucsschool-objects/src/ucsschool_objects/core/adapters/sqlalchemy/managers/user_manager.py
  ucsschool-objects/src/ucsschool_objects/core/adapters/sqlalchemy/mappers/to_domain.py
  ucsschool-objects/src/ucsschool_objects/core/adapters/sqlalchemy/mappers/to_orm.py
  ucsschool-objects/src/ucsschool_objects/core/adapters/sqlalchemy/query_filter.py
  ucsschool-objects/src/ucsschool_objects/core/domain/errors.py
  ucsschool-objects/tests/core/adapters/test_nested_field_queries.py
  ucsschool-objects/tests/core/contracts/test_manager_modify_contracts.py
Due: none

chore: improve test coverage
  ucsschool-objects/src/ucsschool_objects/core/adapters/sqlalchemy/managers/_shared.py
  ucsschool-objects/src/ucsschool_objects/core/adapters/sqlalchemy/mappers/to_orm.py
  ucsschool-objects/tests/core/adapters/test_nested_field_queries.py
  ucsschool-objects/tests/core/adapters/test_nested_field_query_filter.py
  ucsschool-objects/tests/core/contracts/test_manager_modify_contracts.py
Due: none

refactor: type hints error.py
  ucsschool-objects/src/ucsschool_objects/core/domain/errors.py
Due: none

refactor: imports for type checking
  ucsschool-objects/src/ucsschool_objects/core/adapters/sqlalchemy/managers/_shared.py
  ucsschool-objects/src/ucsschool_objects/core/adapters/sqlalchemy/managers/group_manager.py
  ucsschool-objects/src/ucsschool_objects/core/adapters/sqlalchemy/managers/role_manager.py
  ucsschool-objects/src/ucsschool_objects/core/adapters/sqlalchemy/managers/school_manager.py
  ucsschool-objects/src/ucsschool_objects/core/adapters/sqlalchemy/managers/user_manager.py
  ucsschool-objects/src/ucsschool_objects/core/adapters/sqlalchemy/mappers/to_domain.py
  ucsschool-objects/src/ucsschool_objects/core/adapters/sqlalchemy/mappers/to_orm.py
  ucsschool-objects/src/ucsschool_objects/core/adapters/sqlalchemy/query_filter.py
  ucsschool-objects/src/ucsschool_objects/core/domain/errors.py
  ucsschool-objects/src/ucsschool_objects/core/domain/load_spec.py
  ucsschool-objects/src/ucsschool_objects/core/domain/models.py
  ucsschool-objects/src/ucsschool_objects/core/domain/patch.py
  ucsschool-objects/src/ucsschool_objects/core/domain/ports/manager.py
  ucsschool-objects/src/ucsschool_objects/core/domain/ports/unit_of_work.py
  ucsschool-objects/src/ucsschool_objects/core/domain/query.py
  ucsschool-objects/tests/core/adapters/test_nested_field_queries.py
  ucsschool-objects/tests/core/adapters/test_nested_field_query_filter.py
  ucsschool-objects/tests/core/adapters/test_sqlalchemy_session.py
  ucsschool-objects/tests/core/contracts/contract_test_support.py
  ucsschool-objects/tests/core/contracts/test_exception_raises.py
  ucsschool-objects/tests/core/contracts/test_invalid_filter_behavior.py
  ucsschool-objects/tests/core/contracts/test_manager_contracts.py
  ucsschool-objects/tests/core/contracts/test_manager_create_contracts.py
  ucsschool-objects/tests/core/contracts/test_manager_load_spec_projections.py
  ucsschool-objects/tests/core/contracts/test_manager_modify_contracts.py
  ucsschool-objects/tests/core/contracts/test_query_contracts.py
  ucsschool-objects/tests/core/contracts/test_query_filter_primitives.py
Due: none

refactor(to_domain): simplify conversion logic by introducing _convert_unloadable function
  ucsschool-objects/src/ucsschool_objects/core/adapters/sqlalchemy/mappers/to_domain.py
Due: none

refactor(query-filter): enforce strict nested field map contract
  ucsschool-objects/src/ucsschool_objects/core/adapters/sqlalchemy/query_filter.py
  ucsschool-objects/tests/core/adapters/test_nested_field_queries.py
  ucsschool-objects/tests/core/adapters/test_nested_field_query_filter.py
Due: none

refactor: update imports and enhance private API policy documentation
  ucsschool-objects/src/ucsschool_objects/core/README.md
  ucsschool-objects/src/ucsschool_objects/core/adapters/sqlalchemy/managers/_shared.py
  ucsschool-objects/src/ucsschool_objects/core/adapters/sqlalchemy/managers/role_manager.py
  ucsschool-objects/src/ucsschool_objects/core/adapters/sqlalchemy/managers/school_manager.py
  ucsschool-objects/src/ucsschool_objects/core/adapters/sqlalchemy/managers/user_manager.py
  ucsschool-objects/src/ucsschool_objects/core/adapters/sqlalchemy/mappers/to_orm.py
  ucsschool-objects/src/ucsschool_objects/core/domain/__init__.py
Due: none

chore: fixed pyright warnings
  ucsschool-objects/src/ucsschool_objects/core/adapters/sqlalchemy/managers/_shared.py
  ucsschool-objects/src/ucsschool_objects/core/adapters/sqlalchemy/managers/group_manager.py
  ucsschool-objects/src/ucsschool_objects/core/adapters/sqlalchemy/managers/school_manager.py
  ucsschool-objects/src/ucsschool_objects/core/adapters/sqlalchemy/managers/user_manager.py
  ucsschool-objects/src/ucsschool_objects/core/adapters/sqlalchemy/mappers/to_domain.py
  ucsschool-objects/src/ucsschool_objects/core/adapters/sqlalchemy/mappers/to_orm.py
  ucsschool-objects/src/ucsschool_objects/core/adapters/sqlalchemy/query_filter.py
  ucsschool-objects/src/ucsschool_objects/core/adapters/sqlalchemy/session.py
  ucsschool-objects/src/ucsschool_objects/core/domain/patch.py
Due: none

refactor(query-filter): simplify _get_column_type function and streamline range filter support
  ucsschool-objects/src/ucsschool_objects/core/adapters/sqlalchemy/query_filter.py
Due: none

feat: add explicit ILIKE and LIKE operator support and update related tests
  kelvin-connector/src/kelvin_connector/sync.py
  ucsschool-objects/src/ucsschool_objects/core/adapters/sqlalchemy/query_filter.py
  ucsschool-objects/src/ucsschool_objects/core/domain/query.py
  ucsschool-objects/tests/core/adapters/test_nested_field_queries.py
  ucsschool-objects/tests/core/adapters/test_nested_field_query_filter.py
  ucsschool-objects/tests/core/contracts/test_exception_raises.py
  ucsschool-objects/tests/core/contracts/test_invalid_filter_behavior.py
  ucsschool-objects/tests/core/contracts/test_query_contracts.py
  ucsschool-objects/tests/core/domain/test_query_ast.py
Due: none

refactor(user): remove default factory for legal_wards and legal_guardians fields
  kelvin-connector/tests/conftest.py
  ucsschool-objects/src/ucsschool_objects/core/domain/models.py
Due: none

feat: raising getters
  kelvin-connector/tests/test_sync.py
  ucsschool-objects/src/ucsschool_objects/__init__.py
  ucsschool-objects/src/ucsschool_objects/core/adapters/sqlalchemy/managers/_shared.py
  ucsschool-objects/src/ucsschool_objects/core/adapters/sqlalchemy/managers/group_manager.py
  ucsschool-objects/src/ucsschool_objects/core/adapters/sqlalchemy/managers/user_manager.py
  ucsschool-objects/src/ucsschool_objects/core/adapters/sqlalchemy/mappers/to_orm.py
  ucsschool-objects/src/ucsschool_objects/core/domain/__init__.py
  ucsschool-objects/src/ucsschool_objects/core/domain/models.py
  ucsschool-objects/src/ucsschool_objects/core/domain/patch.py
  ucsschool-objects/tests/core/adapters/test_nested_field_queries.py
  ucsschool-objects/tests/core/contracts/test_manager_create_contracts.py
  ucsschool-objects/tests/core/contracts/test_manager_load_spec_projections.py
  ucsschool-objects/tests/core/contracts/test_manager_modify_contracts.py
  ucsschool-objects/tests/core/domain/test_user_model_groups.py
  ucsschool-objects/tests/core/domain/test_user_model_identity_semantics.py
  ucsschool-objects/tests/core/domain/test_user_model_primary_school.py
  ucsschool-objects/tests/core/domain/test_user_model_roles.py
Due: none

refactor: moved normalise and to_json into separate module
  ucsschool-objects/src/ucsschool_objects/core/adapters/sqlalchemy/managers/_shared.py
  ucsschool-objects/src/ucsschool_objects/core/adapters/sqlalchemy/managers/group_manager.py
  ucsschool-objects/src/ucsschool_objects/core/adapters/sqlalchemy/managers/user_manager.py
  ucsschool-objects/src/ucsschool_objects/core/domain/json.py
  ucsschool-objects/src/ucsschool_objects/core/domain/patch.py
  ucsschool-objects/tests/core/domain/test_patch.py
  ucsschool-objects/tests/core/test_json.py
Due: none

refactor(test): add comprehensive tests for domain_asdict and model setters
  ucsschool-objects/tests/core/domain/test_models.py
Due: none

test: add architecture tests
  .pre-commit-config.yaml
  AGENTS.md
  CLAUDE.md
  README.md
  ucsschool-objects/AGENTS.md
  ucsschool-objects/README.md
  ucsschool-objects/pyproject.toml
  ucsschool-objects/tests/test_architecture.py
  uv.lock
Due: none

refactor: update type hints
  ucsschool-objects/src/ucsschool_objects/core/domain/patch.py
  ucsschool-objects/src/ucsschool_objects/core/domain/ports/dn_mapper.py
  ucsschool-objects/src/ucsschool_objects/core/domain/validators.py
  ucsschool-objects/src/ucsschool_objects/database_models.py
  ucsschool-objects/tests/core/contracts/test_manager_modify_contracts.py
Due: none

chore: update version number
  ucs-test-ucsschool-kelvin/debian/changelog
Due: ucs_test_deb_lint, ucs_test_deb_build_git, ucs_test_deb_repo_import, ucs_test_deb_repo_build
