Repository univention/ucsschool-kelvin-rest-api: changes, and which GitLab CI jobs are due for each by the changed paths.
All: docs-html, docs-pdf, docs-linkcheck, docs-spelling, docs-merge-to-one-artifact, docs-review, docs-create-production-merge-request, test ucs-school-lib, test kelvin-api, ucs_test_deb_lint, ucs_test_deb_build_git, ucs_test_deb_repo_import, ucs_test_deb_repo_build

docs-merge-to-one-artifact:
  needs:
  - job: docs-html
  - job: docs-pdf
  - job: docs-spelling
    artifacts: false
  - job: docs-linkcheck
    artifacts: false

docs-review:
  needs:
  - job: docs-merge-to-one-artifact

docs-create-production-merge-request:
  needs:
  - job: docs-merge-to-one-artifact

test ucs-school-lib:
  stage: tests
  needs:
  - job: build_docker_image
  image: $IMAGE_TAG
  script:
  - cp ucs-school-import/modules/ucsschool/lib/create_ou.py ucs-school-lib/modules/ucsschool/lib/
  - cd ucs-school-lib/modules
  ...

test kelvin-api:
  stage: tests
  needs:
  - job: build_docker_image
  image: $IMAGE_TAG
  script:
  - cd ${CI_PROJECT_DIR}/kelvin-api
  ...

ucs_test_deb_lint:
  stage: lint
  image:
    name: $UCSLINT_IMAGE
    entrypoint:
    - ''
  script:
  - cd ucs-test-ucsschool-kelvin && ucslint -j ucslint.xml
  artifacts:
    reports:
      junit: ucs-test-ucsschool-kelvin/ucslint.xml

ucs_test_deb_build_git:
  stage: build
  image: $DEB_IMAGE
  script:
  - apt-get update
  - cd ucs-test-ucsschool-kelvin
  - apt-get -q --assume-yes build-dep .
  - dpkg-buildpackage -us -uc
  - install -d -m 755 build
  - mv ../*.tar.*z ../*.dsc ../*.deb ../*.buildinfo ../*.changes build/
  artifacts:
    paths:
  ...

ucs_test_deb_repo_import:
  stage: build
  variables:
    GIT_STRATEGY: none
  tags:
  - omar
  script:
  - 'repo_admin.py -G $CI_REPOSITORY_URL -b $CI_COMMIT_BRANCH -P ucs-test-ucsschool-kelvin -r ${UCS_RELEASE}-0-0 -s $SCOPE -p $PACKAGE
  
    '

ucs_test_deb_repo_build:
  stage: build
  needs:
  - job: ucs_test_deb_repo_import
    artifacts: false
  variables:
    GIT_STRATEGY: none
  tags:
  - ladda
  script:
  - 'build-package-ng --no-pbuilder-update -r ${UCS_RELEASE}-0-0 -s $SCOPE -p $PACKAGE
  
    '

fix: Several more places to add legalGuardian code, seems to work now
  kelvin-api/tests/test_pyhook.py
  kelvin-api/tests/test_route_role.py
  kelvin-api/ucsschool/kelvin/ldap.py
  kelvin-api/ucsschool/kelvin/routers/role.py
  kelvin-api/ucsschool/kelvin/routers/user.py
  ucs-school-import/modules/ucsschool/importer/models/import_user.py
  ucs-school-import/udm_hook/ucsschool_user_options.py
  ucs-school-import/usr/share/ucs-school-import/scripts/migrate_ucsschool_roles
  ucs-school-import/usr/share/ucs-school-import/scripts/ucs-school-import
  ucs-school-lib/modules/ucsschool/lib/models/school.py
  ucs-school-lib/modules/ucsschool/lib/models/user.py
  ucs-school-lib/modules/ucsschool/lib/schoolldap.py
Due: test ucs-school-lib, test kelvin-api

feat: Add legal-guardian users to validation tests
  ucs-school-import/usr/share/ucs-school-import/scripts/ucs-school-import
  ucs-school-lib/modules/ucsschool/lib/tests/test_validation_users.py
Due: test ucs-school-lib

feat: adding import changes legalGuardian branch of school repo
  ucs-school-import/debian/ucs-school-import.postinst
  ucs-school-import/debian/ucs-school-import.univention-config-registry-variables
  ucs-school-import/modules/ucsschool/importer/default_user_import_factory.py
  ucs-school-import/modules/ucsschool/importer/exceptions.py
  ucs-school-import/modules/ucsschool/importer/frontend/parse_user_import_cmdline.py
  ucs-school-import/modules/ucsschool/importer/models/import_user.py
  ucs-school-import/modules/ucsschool/importer/reader/csv_reader.py
  ucs-school-import/modules/ucsschool/importer/utils/constants.py
  ucs-school-import/modules/ucsschool/importer/utils/format_pyhook.py
  ucs-school-import/modules/ucsschool/importer/utils/shell.py
  ucs-school-import/schema/ucs-school-import.schema
  ucs-school-import/syntax/syntax.ucs-school-import.py
  ucs-school-import/udm_hook/de.po
  ucs-school-import/udm_hook/ucsschool_legal_guardian.py
  ucs-school-import/udm_hook/ucsschool_legal_ward.py
  ucs-school-import/usr/share/ucs-school-import/pyhooks-available/legal_guardian_as_record_uid.py
  ucs-school-import/usr/share/ucs-school-import/scripts/ucs-school-import
Due: none

feat: several more changes for adding legalGuardian to kelvin
  kelvin-api/tests/test_route_user.py
  ucs-school-lib/modules/ucsschool/lib/models/user.py
  ucs-school-lib/modules/ucsschool/lib/tests/conftest.py
  ucs-school-lib/modules/ucsschool/lib/tests/test_user.py
Due: test ucs-school-lib, test kelvin-api

feat: Add changelog
  appcenter/README_UPDATE_EN
  kelvin-api/changelog.rst
Due: docs-html, docs-pdf, docs-linkcheck, docs-spelling, docs-merge-to-one-artifact, docs-review, docs-create-production-merge-request, test kelvin-api

fix: Few more changes from QA
  kelvin-api/tests/test_route_user.py
  ucs-school-import/syntax/syntax.ucs-school-import.py
Due: test kelvin-api

fix: Fix this condition - it was changed when trying to test something
  ucs-school-lib/modules/ucsschool/lib/models/user.py
Due: test ucs-school-lib

fix: Add proper error message for POST & PUT requests
  kelvin-api/tests/test_route_user.py
  kelvin-api/ucsschool/kelvin/routers/user.py
Due: test kelvin-api

fix: Add lines from previous commit to this test
  kelvin-api/tests/test_route_user.py
Due: test kelvin-api

fix: Check role first to speed up tests
  kelvin-api/tests/test_route_user.py
Due: test kelvin-api

fix: Applied suggested changes to tests of QA
  kelvin-api/tests/test_import_user.py
  kelvin-api/tests/test_route_user.py
  kelvin-api/ucsschool/kelvin/routers/user.py
Due: test kelvin-api

fix: Modify the Kelvin doc to add the two new roles
  doc/docs/resource-roles.rst
Due: docs-html, docs-pdf, docs-linkcheck, docs-spelling, docs-merge-to-one-artifact, docs-review, docs-create-production-merge-request

fix: Remove unused parameter, increase git depth
  .gitlab-ci.yml
  kelvin-api/tests/test_route_user.py
Due: test kelvin-api

fix: Make tests work
  kelvin-api/tests/test_pyhook.py
  kelvin-api/tests/test_route_user.py
  ucs-school-lib/modules/ucsschool/lib/tests/test_validation_to_dict.py
Due: test ucs-school-lib, test kelvin-api

fix: Add patch tests, fixing validations
  kelvin-api/tests/test_route_user.py
  ucs-school-lib/modules/ucsschool/lib/models/user.py
Due: test ucs-school-lib, test kelvin-api

fix: Add proper error message if legal-guardian parameters are used for wrong roles
  kelvin-api/tests/test_route_user.py
  kelvin-api/ucsschool/kelvin/routers/user.py
Due: test kelvin-api

fix: Allow legal-guardian to be a student (e.g. sibling)
  ucs-school-import/udm_hook/ucsschool_user_options.py
Due: none

fix: Make legal-guardian changes version 2.1.0
  appcenter/README_UPDATE_EN
  kelvin-api/changelog.rst
Due: docs-html, docs-pdf, docs-linkcheck, docs-spelling, docs-merge-to-one-artifact, docs-review, docs-create-production-merge-request, test kelvin-api

fix: Make the lists optional
  kelvin-api/ucsschool/kelvin/routers/user.py
Due: test kelvin-api

fix: Change this back as it isn't a read-problem - the change didn't happen
  kelvin-api/tests/test_route_user.py
Due: test kelvin-api

fix: Fixed two issues when creating / updating users
  kelvin-api/ucsschool/kelvin/routers/user.py
Due: test kelvin-api

chore: remove useless check
  kelvin-api/tests/test_import_user.py
Due: test kelvin-api

feat: Fix problem of different _hook_path values being used and not all hooks being deleted afterwards
  kelvin-api/tests/test_pyhook.py
Due: test kelvin-api

fix: Add default value to these lists
  kelvin-api/ucsschool/kelvin/routers/user.py
Due: test kelvin-api

fix: Remove this assignment again as it's no longer needed
  kelvin-api/ucsschool/kelvin/routers/user.py
Due: test kelvin-api

fix: Use UserDN instead of string here
  ucs-school-lib/modules/ucsschool/lib/models/attributes.py
Due: test ucs-school-lib

docs: add inline doc string
  kelvin-api/tests/test_pyhook.py
Due: test kelvin-api

feat: Fix problem of lastname being used as record_uid in tests (same name twice)
  ucs-school-lib/modules/ucsschool/lib/tests/conftest.py
Due: test ucs-school-lib

feat: Fix problem that this ou gives different samba-path when cached
  kelvin-api/tests/test_route_school.py
Due: test kelvin-api

fix: When disabled is true, it shouldn't have an expiration_date
  kelvin-api/tests/conftest.py
  kelvin-api/tests/test_route_user.py
Due: test kelvin-api

fix: Fix several more issues with the tests
  ucs-school-lib/modules/ucsschool/lib/models/user.py
  ucs-school-lib/modules/ucsschool/lib/roleshares.py
  ucs-school-lib/modules/ucsschool/lib/tests/test_hook.py
  ucs-school-lib/modules/ucsschool/lib/tests/test_user.py
  ucs-test-ucsschool-kelvin/94_ucsschool-kelvin/conftest.py
Due: test ucs-school-lib, ucs_test_deb_lint, ucs_test_deb_build_git

fix: Increase git-depth to 100 to not get this problem again
  .gitlab-ci.yml
Due: none

fix: Better fix for disable & shadowExpire problem
  kelvin-api/tests/conftest.py
  kelvin-api/tests/test_route_user.py
Due: test kelvin-api

fix: Remove legacy role tests and add legal-guardian role to tests
  ucs-school-lib/modules/ucsschool/lib/tests/test_user.py
Due: test ucs-school-lib

feat: Fix problems in tests without completely understanding the reason
  kelvin-api/tests/test_route_user.py
Due: test kelvin-api

fix: Fix pipeline issues
  .gitlab-ci.yml
Due: none

feat: Remove Hyphon from LastName and add a digit to the name
  ucs-school-lib/modules/ucsschool/lib/tests/conftest.py
Due: test ucs-school-lib

fix: Remove legacy role checks
  ucs-school-lib/modules/ucsschool/lib/models/user.py
Due: test ucs-school-lib

fix: Change parameter description
  .gitlab-ci.yml
  kelvin-api/ucsschool/kelvin/routers/user.py
Due: test kelvin-api

fix: Fix tests in ucs-test-ucsschool-kelvin
  kelvin-api/ucsschool/kelvin/routers/user.py
  ucs-school-import/modules/ucsschool/importer/models/import_user.py
  ucs-test-ucsschool-kelvin/94_ucsschool-kelvin/02_role_resource.py
  ucs-test-ucsschool-kelvin/94_ucsschool-kelvin/conftest.py
Due: test kelvin-api, ucs_test_deb_lint, ucs_test_deb_build_git

Path conditions:
  docs-html: any of: doc/docs/**/*, kelvin-api/changelog.rst
  docs-pdf: any of: doc/docs/**/*, kelvin-api/changelog.rst
  docs-linkcheck: any of: doc/docs/**/*, kelvin-api/changelog.rst
  docs-spelling: any of: doc/docs/**/*, kelvin-api/changelog.rst
  docs-merge-to-one-artifact: any of: doc/docs/**/*, kelvin-api/changelog.rst
  docs-review: any of: doc/docs/**/*, kelvin-api/changelog.rst
  docs-create-production-merge-request: any of: doc/docs/**/*, kelvin-api/changelog.rst
  test ucs-school-lib: any of: ucs-school-lib/**/*
  test kelvin-api: any of: kelvin-api/**/*
  ucs_test_deb_lint: any of: ucs-test-ucsschool-kelvin/**/*
  ucs_test_deb_build_git: any of: ucs-test-ucsschool-kelvin/**/*
  ucs_test_deb_repo_import: any of: ucs-test-ucsschool-kelvin/debian/changelog
  ucs_test_deb_repo_build: any of: ucs-test-ucsschool-kelvin/debian/changelog
