Repository univention/ucsschool-kelvin-rest-api: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test ucs-school-lib, test kelvin-api, ucs_test_deb_lint, ucs_test_deb_build_git, ucs_test_deb_repo_import, ucs_test_deb_repo_build

Path conditions:
  test ucs-school-lib: any of: ucs-school-lib/**/*
  test kelvin-api: any of: kelvin-api/**/*
  ucs_test_deb_lint: any of: ucs-test-ucsschool-kelvin/**/*
  ucs_test_deb_build_git: any of: ucs-test-ucsschool-kelvin/**/*
  ucs_test_deb_repo_import: any of: ucs-test-ucsschool-kelvin/debian/changelog
  ucs_test_deb_repo_build: any of: ucs-test-ucsschool-kelvin/debian/changelog

fix: wrong initial db username
  appcenter/ini.jinja
  appcenter/settings
Due: none

refactor: move migration info into migration script
  alembic/env.py
  docker/start-kelvin.sh
Due: none

refactor: implement advisory lock using context manager for migrations
  alembic/env.py
Due: none

fix: raise error for multiple Alembic heads instead of logging a warning
  alembic/env.py
Due: none

ci: build Kelvin developer manual
  .gitlab-ci.yml
Due: none

docs: update non-functional requirements from `doc/dev/10_quality_requirements.md`
  doc/dev/10_quality_requirements.md
  doc/dev/requirements/requirements-nonfunctional.rst
  doc/dev/requirements/requirements-nonfunctional_reference_envs.ods
  doc/dev/spelling_wordlist
Due: none

docs: update spelling (from template)
  doc/dev/api-reference.rst
  doc/dev/development.rst
  doc/dev/glossary.rst
  doc/dev/spelling_wordlist
  doc/dev/synchronisation.rst
Due: none

docs: initial version of Kelvin V2 API developer manual
  doc/Makefile
  doc/dev/Makefile
  doc/dev/_static/kelvin_rest_api_logo.svg
  doc/dev/api-reference.rst
  doc/dev/architecture-decisions.rst
  doc/dev/architecture.rst
  doc/dev/bibliography.bib
  doc/dev/bibliography.rst
  doc/dev/conf.py
  doc/dev/database.rst
  doc/dev/debugging.rst
  doc/dev/development.rst
  doc/dev/glossary.rst
  doc/dev/index.rst
  doc/dev/introduction.rst
  doc/dev/requirements/index.rst
  doc/dev/requirements/requirements-functional.rst
  doc/dev/requirements/requirements-nonfunctional.rst
  doc/dev/spelling_wordlist
  doc/dev/spelling_wordlist.license
  doc/dev/synchronisation.rst
  doc/dev/usecases.rst
  doc/readme.rst
Due: none

chore(link_check): ignore notes in gitlab merged requests
  doc/dev/conf.py
Due: none

docs(adr): reference ucsschool-core/ADR-0015
  doc/dev/architecture-decisions.rst
  doc/dev/spelling_wordlist
Due: none

fix: update .gitignore to sphinx build dir
  doc/.gitignore
Due: none

docs(adr): add permalink
  doc/dev/architecture-decisions.rst
Due: none

docs(use-cases): Add use cases
  .gitlab-ci.yml
  doc/dev/conf.py
  doc/dev/spelling_wordlist
  doc/dev/usecases.rst
  doc/dev/usecases/uc001a_create_object.rst
  doc/dev/usecases/uc001b_read_object.rst
  doc/dev/usecases/uc001c_update_object.rst
  doc/dev/usecases/uc001d_delete_object.rst
  doc/dev/usecases/uc002a_bulk_create.rst
  doc/dev/usecases/uc002b_bulk_update.rst
  doc/dev/usecases/uc002c_bulk_delete.rst
  doc/dev/usecases/uc003a_simple_search.rst
  doc/dev/usecases/uc003b_complex_search.rst
  doc/dev/usecases/uc004a_health_check.rst
  doc/dev/usecases/uc004b_statistics.rst
  doc/dev/usecases/uc005a_user_hooks.rst
  doc/dev/usecases/uc005b_format_hooks.rst
  doc/dev/usecases/uc005c_config_hooks.rst
  doc/dev/usecases/uc006_coexistence.rst
  doc/dev/usecases/uc007_password_change.rst
  doc/dev/usecases/uc008_reset_password_multiple_users.rst
  doc/dev/usecases/uc009_mapped_udm_properties.rst
  doc/dev/usecases/uc010_multiple_instances.rst
  doc/dev/usecases/uc011_permission_system.rst
  doc/dev/usecases/uc012_read_only_kelvin.rst
Due: none

docs(perf-req): Found and fix a number bug
  doc/dev/requirements/requirements-nonfunctional.rst
Due: none

feat(api): implement versioned routing for V1 and V2 APIs with OpenAPI support
  .gitlab-ci.yml
  doc/docs/openapi.rst
  doc/docs/overview.rst
  kelvin-api/changelog.rst
  kelvin-api/tests/conftest.py
  kelvin-api/tests/test_login.py
  kelvin-api/tests/test_route_base.py
  kelvin-api/ucsschool/kelvin/constants.py
  kelvin-api/ucsschool/kelvin/main.py
  ucs-test-ucsschool-kelvin/94_ucsschool-kelvin/00_api_root.py
  ucs-test-ucsschool-kelvin/94_ucsschool-kelvin/11_in_container_tests_kelvin_api_v1
  ucs-test-ucsschool-kelvin/94_ucsschool-kelvin/11_in_container_tests_kelvin_api_v2
  ucs-test-ucsschool-kelvin/debian/changelog
  ucs-test-ucsschool-kelvin/modules/univention/testing/ucsschool/kelvin_api.py
Due: test kelvin-api, ucs_test_deb_lint, ucs_test_deb_build_git, ucs_test_deb_repo_import, ucs_test_deb_repo_build

docs(manual): Add database settings section
  doc/docs/installation-configuration.rst
Due: none

feat: Add ucsschool-objects library
  docker/Dockerfile
  pyproject.toml
  ucsschool-objects/README.md
  ucsschool-objects/pyproject.toml
  ucsschool-objects/src/ucsschool_objects/__init__.py
  ucsschool-objects/src/ucsschool_objects/py.typed
  uv.lock
Due: none

docs(dev): Add app lifecycle chapter
  doc/dev/conf.py
  doc/dev/index.rst
  doc/dev/lifecycle.rst
Due: none

refactor(kelvin_docs): move doc related endpoints into dedicated module and use routers avoiding code duplication and in consistency with other endpoints
  kelvin-api/static/swagger-ui-standalone-preset.js
  kelvin-api/ucsschool/kelvin/main.py
  kelvin-api/ucsschool/kelvin/routers/doc.py
  kelvin-api/ucsschool/kelvin/routers/fastapi_doc_patch.py
Due: test kelvin-api

feat(kelvin_swagger): Landing page for both api versions
  kelvin-api/ucsschool/kelvin/fastapi_doc_patch.py
  kelvin-api/ucsschool/kelvin/main.py
Due: test kelvin-api

feat: Database setup for multiple Kelvin instances
  appcenter/configure_host
  appcenter/ini.jinja
  appcenter/settings
  appcenter/uinst
Due: none

fix(kelvin_urls): fix `cached_url_for` to work with versioned routes
  kelvin-api/tests/test_urls.py
  kelvin-api/ucsschool/kelvin/urls.py
Due: test kelvin-api

chore: Add SQLAlchemy base model.
  ucsschool-objects/src/ucsschool_objects/database_models.py
Due: none

chore: Add sqlalchemy as dependency for ucsschool-objects
  pyproject.toml
  ucsschool-objects/pyproject.toml
  uv.lock
Due: none

docs(openapi, overview): clarify v2 endpoint behaviour regarding pyhooks and separate database.
  doc/docs/openapi.rst
  doc/docs/overview.rst
Due: none

docs(fastapi_doc_patch): update module docstring to clarify purpose and reference known issue
  kelvin-api/ucsschool/kelvin/routers/fastapi_doc_patch.py
Due: test kelvin-api

feat: Always update global settings/data object
  appcenter/includes/adjust_kelvin_posgresql_db_settings.py
Due: none

ci: fix bandit linting
  .bandit
  .pre-commit-config.yaml
Due: none

chore: use templates for files in appcenter scripts
  appcenter/configure_host
  appcenter/configure_host.jinja
  appcenter/includes/adjust_kelvin_posgresql_db_settings.py
  appcenter/includes/configure_host
  appcenter/includes/install_kelvin_postgresql_db.py
  appcenter/includes/remove_kelvin_posgresql_db_settings.py
  appcenter/includes/ucsschool-kelvin-rest-api_logrotate_template
  appcenter/includes/ucsschool-kelvin-rest-api_logrotate_template.info
  appcenter/includes/ucsschool-kelvin-rest-api_rsyslog.conf
  appcenter/includes/ucsschool-kelvin-rest-api_update_ca
  appcenter/includes/uinst
  appcenter/uinst.jinja
Due: none

feat(kelvin_swagger): Landing page for both api versions
  kelvin-api/ucsschool/kelvin/fastapi_doc_patch.py
Due: test kelvin-api

refactor(kelvin_docs): move doc related endpoints into dedicated module and use routers avoiding code duplication and in consistency with other endpoints
  kelvin-api/ucsschool/kelvin/fastapi_doc_patch.py
Due: test kelvin-api

docs(dev): Add datamodel documentation
  Makefile
  doc/dev/architecture.rst
  doc/dev/architecture/er.md
  doc/dev/architecture/group-attributes.rst
  doc/dev/architecture/group-relations.rst
  doc/dev/architecture/group-udm-properties-attributes.rst
  doc/dev/architecture/group-udm-properties-relations.rst
  doc/dev/architecture/grouptype-attributes.rst
  doc/dev/architecture/grouptype-relations.rst
  doc/dev/architecture/role-attributes.rst
  doc/dev/architecture/role-relations.rst
  doc/dev/architecture/school-attributes.rst
  doc/dev/architecture/school-relations.rst
  doc/dev/architecture/school-udm-properties-attributes.rst
  doc/dev/architecture/school-udm-properties-relations.rst
  doc/dev/architecture/schoolmembership-attributes.rst
  doc/dev/architecture/schoolmembership-relations.rst
  doc/dev/architecture/user-attributes.rst
  doc/dev/architecture/user-relations.rst
  doc/dev/architecture/user-udm-properties-attributes.rst
  doc/dev/architecture/user-udm-properties-relations.rst
  doc/dev/render_er_diagram.py
  doc/dev/spelling_wordlist
  doc/dev/sqlalchemy_to_rst.py
Due: none

chore: add alembic dependency for datbase migrations
  pyproject.toml
  uv.lock
Due: none

chore: `alembic init --template pyproject alembic`
  alembic.ini
  alembic/README
  alembic/env.py
  alembic/script.py.mako
  pyproject.toml
Due: none

chore: add some columns for testing
  ucsschool-objects/src/ucsschool_objects/database_models.py
Due: none

chore(SonarQube): Use a union type expression for this type hint.
  alembic/versions/cdf3c3e64973_init_tables.py
Due: none

feat: db migration using alembic
  .env.alembic
  Makefile
  README.md
  alembic.ini
  alembic/README
  alembic/env.py
  alembic/versions/cdf3c3e64973_init_tables.py
  dev/docker-compose.yaml
  docker/Dockerfile
  docker/start-kelvin.sh
  kelvin-api/tests/test_db_compatibility.py
  kelvin-api/ucsschool/kelvin/constants.py
  kelvin-api/ucsschool/kelvin/database.py
  kelvin-api/ucsschool/kelvin/main.py
  kelvin-api/ucsschool/kelvin/service/dependency.py
  pyproject.toml
  uv.lock
Due: test kelvin-api

docs: a small note about database revisions
  doc/docs/installation-configuration.rst
Due: none

chore(SonarQube): Use "[[" instead of "[" for conditional tests
  docker/start-kelvin.sh
Due: none
