Repository univention/ucsschool-kelvin-rest-api: changes, and which GitLab CI jobs are due for each by the changed paths.
All: prepare, html, pdf, linkcheck, spelling, docs-merge, build, tests

prepare:
  stage: prepare
  image:
    name: python:3.9-bullseye
  artifacts:
    paths:
    - docker/build/
    expire_in: 1 day
  cache:
  - key: $CI_COMMIT_BRANCH
    paths:
    - docker/build/
  script:
  - apt-get update
  - apt-get install git rsync
  - cd ${CI_PROJECT_DIR}/docker
  - ./gitlab_prepare_docker_image

docs-merge:
  needs:
  - job: html
    artifacts: true
  - job: pdf
    artifacts: true
  - job: spelling
    artifacts: false
  - job: linkcheck
    artifacts: false

build:
  stage: build
  image:
    name: docker-registry.knut.univention.de/kaniko-project/executor:debug
    entrypoint:
    - ''
  variables:
    KANIKO_ARGS: --build-arg commit="$CI_COMMIT_SHA" --build-arg date="$CI_JOB_STARTED_AT" --cache=true --cache-repo "$CI_REGISTRY_IMAGE"
  script:
  ...

tests:
  stage: tests
  image: ${CI_REGISTRY_IMAGE}:branch-${CI_COMMIT_REF_SLUG}
  script:
  - cd ${CI_PROJECT_DIR}/kelvin-api && make test
  - cd ${CI_PROJECT_DIR}/ucs-school-lib/modules/ucsschool/lib && pytest -v tests

Issue #29: log unhandled exceptions (Bug #55114)
  kelvin-api/ucsschool/kelvin/main.py
Due: prepare, build, tests

Issue #237: move operations succeed, when a language header is set (univention/ucsschool-components/ui-users#237)
  kelvin-api/changelog.rst
  kelvin-api/requirements.txt
Due: prepare, build, tests

Issue #56: fix school test data
  kelvin-api/tests/conftest.py
Due: prepare, build, tests

Issue #56: fix test check for expiration_date/disabled
  kelvin-api/tests/test_route_user.py
Due: prepare, build, tests

Issue #56: fix pipeline
  .gitlab-ci.yml
Due: none

Issue #237: add readme update note
  appcenter/README_UPDATE_EN
Due: none

Issue #56: add instructions for virtualenv installation to README
  README.md
Due: none

Bug #55633: Add workaround in search for disabled users test
  kelvin-api/tests/test_route_user.py
Due: prepare, build, tests

Issue hackathon#62: build pre-commit image in pipeline
  .dockerignore
  .gitlab-ci.yml
  .gitlab-ci/Dockerfile.pre-commit
Due: none

Issue hackathon#62: pre-commit image in pipeline is used
  .gitlab-ci.yml
Due: none

Issue hackathon#62: IMAGE_TAG can't be reset
  .gitlab-ci.yml
Due: none

Issue hackathon#62: using docker-registry.knut.univention.de/knut/pre-commit-kelvin as CI_REGISTRY_IMAGE
  .gitlab-ci.yml
Due: none

Issue hackathon#62: try use .kaniko
  .gitlab-ci.yml
Due: none

Issue univention/components/ucsschool-kelvin-rest-api#63: Fix old doc documentation
  doc/Dockerfile_autobuild
  doc/readme.rst
  doc/requirements.pip
Due: none

Issue univention/components/ucsschool-kelvin-rest-api#63: Resolve "Fix wrong documentation for doc"
  doc/Dockerfile_autobuild
  doc/readme.rst
  doc/requirements.pip
Due: none

Issue #56: add ucs-test package
  .gitlab-ci.yml
  ucs-test-ucsschool-kelvin/94_ucsschool-kelvin-performance/01_users_post.py
  ucs-test-ucsschool-kelvin/94_ucsschool-kelvin-performance/__init__.py
  ucs-test-ucsschool-kelvin/94_ucsschool-kelvin-performance/conftest.py
  ucs-test-ucsschool-kelvin/94_ucsschool-kelvin-performance/locust_files/01_users_post.py
  ucs-test-ucsschool-kelvin/94_ucsschool-kelvin-performance/locust_files/__init__.py
  ucs-test-ucsschool-kelvin/94_ucsschool-kelvin-performance/locust_files/auth.py
  ucs-test-ucsschool-kelvin/94_ucsschool-kelvin-performance/locust_files/base.py
  ucs-test-ucsschool-kelvin/94_ucsschool-kelvin-performance/locust_files/settings_kelvin.py
  ucs-test-ucsschool-kelvin/94_ucsschool-kelvin-performance/locust_files/settings_locust.py
  ucs-test-ucsschool-kelvin/94_ucsschool-kelvin-performance/locust_files/test_cleaner.py
  ucs-test-ucsschool-kelvin/94_ucsschool-kelvin-performance/locust_files/test_data.py
  ucs-test-ucsschool-kelvin/94_ucsschool-kelvin-performance/requirements.txt
  ucs-test-ucsschool-kelvin/__init__.py
  ucs-test-ucsschool-kelvin/debian/changelog
  ucs-test-ucsschool-kelvin/debian/control
  ucs-test-ucsschool-kelvin/debian/copyright
  ucs-test-ucsschool-kelvin/debian/dirs
  ucs-test-ucsschool-kelvin/debian/rules
  ucs-test-ucsschool-kelvin/debian/ucs-test-ucsschool-kelvin-performance.dirs
  ucs-test-ucsschool-kelvin/debian/ucs-test-ucsschool-kelvin-performance.install
  ucs-test-ucsschool-kelvin/debian/ucs-test-ucsschool-kelvin-performance.postinst
  ucs-test-ucsschool-kelvin/debian/ucs-test-ucsschool-kelvin-performance.postrm
  ucs-test-ucsschool-kelvin/debian/ucslint.overrides
Due: none

Issue #56: move Kelvin tests from ucsschool to kelvin repo
  ucs-test-ucsschool-kelvin/94_ucsschool-kelvin/00_api_root.py
  ucs-test-ucsschool-kelvin/94_ucsschool-kelvin/01_school_resource.py
  ucs-test-ucsschool-kelvin/94_ucsschool-kelvin/02_role_resource.py
  ucs-test-ucsschool-kelvin/94_ucsschool-kelvin/03_user_resource.py
  ucs-test-ucsschool-kelvin/94_ucsschool-kelvin/04_workgroup_resource.py
  ucs-test-ucsschool-kelvin/94_ucsschool-kelvin/10_in_container_tests_kelvin_api
  ucs-test-ucsschool-kelvin/94_ucsschool-kelvin/10_in_container_tests_ucsschool_lib
  ucs-test-ucsschool-kelvin/94_ucsschool-kelvin/11_in_container_lint
  ucs-test-ucsschool-kelvin/94_ucsschool-kelvin/conftest.py
  ucs-test-ucsschool-kelvin/__init__.py
  ucs-test-ucsschool-kelvin/debian/control
  ucs-test-ucsschool-kelvin/debian/dirs
  ucs-test-ucsschool-kelvin/debian/rules
  ucs-test-ucsschool-kelvin/debian/ucs-test-ucsschool-kelvin-performance.dirs
  ucs-test-ucsschool-kelvin/debian/ucs-test-ucsschool-kelvin.install
  ucs-test-ucsschool-kelvin/debian/ucs-test-ucsschool-kelvin.pyinstall
  ucs-test-ucsschool-kelvin/debian/ucslint.overrides
  ucs-test-ucsschool-kelvin/modules/univention/testing/ucsschool/kelvin_api.py
Due: none

Issue #56: duplicate perf. test (stable/max), remove six, cleanup, add kelvin_app_ini
  .gitlab-ci.yml
  Makefile
  ucs-test-ucsschool-kelvin/94_ucsschool-kelvin-performance/011_users_post_stable.py
  ucs-test-ucsschool-kelvin/94_ucsschool-kelvin-performance/012_users_post_max.py
  ucs-test-ucsschool-kelvin/94_ucsschool-kelvin/01_school_resource.py
  ucs-test-ucsschool-kelvin/94_ucsschool-kelvin/02_role_resource.py
  ucs-test-ucsschool-kelvin/94_ucsschool-kelvin/03_user_resource.py
  ucs-test-ucsschool-kelvin/94_ucsschool-kelvin/04_workgroup_resource.py
  ucs-test-ucsschool-kelvin/94_ucsschool-kelvin/50_kelvin_app_ini.py
  ucs-test-ucsschool-kelvin/94_ucsschool-kelvin/conftest.py
  ucs-test-ucsschool-kelvin/modules/univention/testing/ucsschool/kelvin_api.py
Due: none

Issue #56: trigger build + import for ucs-test package
  ucs-test-ucsschool-kelvin/debian/changelog
Due: none

Issue #56: fix AttributeError in test
  ucs-test-ucsschool-kelvin/94_ucsschool-kelvin/50_kelvin_app_ini.py
  ucs-test-ucsschool-kelvin/debian/changelog
Due: none

Issue #56: make random test values unique
  kelvin-api/tests/conftest.py
  kelvin-api/tests/test_pyhook.py
  kelvin-api/tests/test_route_user.py
  kelvin-api/tests/test_route_workgroup.py
  kelvin-api/tests/test_school_class_name_syntax.py
Due: prepare, build, tests

Issue #64: More detail in readme
  appcenter/README_UPDATE_EN
Due: none

fixup! Issue #64: add tests for login
  kelvin-api/tests/test_login.py
Due: prepare, build, tests

fixup! Issue #64: REMOVE ME
  docker/Dockerfile
Due: prepare, build

Issue #64: REMOVE ME
  docker/Dockerfile
Due: prepare, build

Issue #64: update changelogs
  appcenter/README_UPDATE_EN
  doc/docs/conf.py
  kelvin-api/VERSION.txt
  kelvin-api/changelog.rst
Due: prepare, html, pdf, linkcheck, spelling, docs-merge, build, tests

Issue #64: handle uldap3 BindError
  kelvin-api/ucsschool/kelvin/ldap.py
Due: prepare, build, tests

Issue #64: Specify uldap3 version
  docker/Dockerfile
Due: prepare, build

fixup! fixup! fixup! Issue #64: add tests for login
  kelvin-api/tests/test_login.py
Due: prepare, build, tests

Issue #64: add tests for login
  kelvin-api/tests/test_login.py
Due: prepare, build, tests

fixup! fixup! Issue #64: add tests for login
  kelvin-api/tests/test_login.py
Due: prepare, build, tests

Issue #64: Fixes a critical security vulnerability with uldap3 connections
  appcenter/README_UPDATE_EN
  doc/docs/conf.py
  docker/Dockerfile
  kelvin-api/VERSION.txt
  kelvin-api/changelog.rst
  kelvin-api/tests/test_login.py
  kelvin-api/ucsschool/kelvin/ldap.py
Due: prepare, html, pdf, linkcheck, spelling, docs-merge, build, tests

fixup! fixup! Issue #60: add hook to fix created school admins
  custom_hooks/tests/conftest.py
  custom_hooks/tests/test_add_school_admins_to_admin_group.py
  kelvin-api/tests/test_custom_hooks_add_school_admins_to_admin_group.py
Due: prepare, build, tests

fixup! fixup! fixup! Issue #60: add hook to fix created school admins
  custom_hooks/add_school_admins_to_admin_group.py
Due: none

fixup! Issue #60: add hook to fix created school admins
  custom_hooks/add_school_admins_to_admin_group.py
  custom_hooks/tests/conftest.py
  custom_hooks/tests/test_add_school_admins_to_admin_group.py
Due: none

Issue #60: add hook to fix created school admins
  custom_hooks/add_school_admins_to_admin_group.py
  custom_hooks/tests/conftest.py
  custom_hooks/tests/test_add_school_admins_to_admin_group.py
Due: none

fixup! fixup! fixup! fixup! Issue #60: add hook to fix created school admins
  custom_hooks/add_school_admins_to_admin_group.py
Due: none

fixup! fixup! fixup! fixup! fixup! Issue #60: add hook to fix created school admins
  custom_hooks/add_school_admins_to_admin_group.py
Due: none

fixup! fixup! fixup! fixup! fixup! fixup! Issue #60: add hook to fix created school admins
  custom_hooks/add_school_admins_to_admin_group.py
Due: none

Path conditions:
  prepare: any of: docker/*, kelvin-api/**/*, ucs-school-import/**/*, ucs-school-lib/**/*, univention-directory-manager-modules-slim/**/*, univention-lib-slim/**/*
  html: any of: doc/docs/**/*
  pdf: any of: doc/docs/**/*
  linkcheck: any of: doc/docs/**/*
  spelling: any of: doc/docs/**/*
  docs-merge: any of: doc/docs/**/*
  build: any of: docker/*, kelvin-api/**/*, ucs-school-import/**/*, ucs-school-lib/**/*, univention-directory-manager-modules-slim/**/*, univention-lib-slim/**/*
  tests: any of: kelvin-api/**/*, ucs-school-lib/**/*
