Repository univention/ucsschool-kelvin-rest-api: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test ucs-school-lib, test kelvin-api, ucs_test_deb_lint, ucs_test_deb_build_git, ucs_test_deb_repo_import, ucs_test_deb_repo_build

test ucs-school-lib:
  stage: tests
  needs:
  - job: build_docker_image
  image: $IMAGE_TAG
  script:
  - cp ucs-school-import/modules/ucsschool/lib/create_ou.py ucs-school-lib/modules/ucsschool/lib/
  - cd ucs-school-lib/modules
  ...

test kelvin-api:
  stage: tests
  needs:
  - job: build_docker_image
  image: $IMAGE_TAG
  script:
  - cd ${CI_PROJECT_DIR}/kelvin-api
  ...

ucs_test_deb_lint:
  stage: build
  variables:
    GIT_DEPTH: 100
  image:
    name: $UCSLINT_IMAGE
    entrypoint:
    - ''
  script:
  - cd ucs-test-ucsschool-kelvin && ucslint -j ucslint.xml
  artifacts:
    reports:
      junit: ucs-test-ucsschool-kelvin/ucslint.xml

ucs_test_deb_build_git:
  stage: build
  image: $DEB_IMAGE
  variables:
    GIT_DEPTH: 100
  script:
  - apt-get update
  - cd ucs-test-ucsschool-kelvin
  - apt-get -q --assume-yes build-dep .
  - dpkg-buildpackage -us -uc
  - install -d -m 755 build
  - mv ../*.tar.*z ../*.dsc ../*.deb ../*.buildinfo ../*.changes build/
  artifacts:
    paths:
  ...

ucs_test_deb_repo_import:
  stage: build
  variables:
    GIT_STRATEGY: none
  tags:
  - omar
  script:
  - 'repo_admin.py -G $CI_REPOSITORY_URL -b $CI_COMMIT_BRANCH -P ucs-test-ucsschool-kelvin -r ${UCS_RELEASE}-0-0 -s $SCOPE -p $PACKAGE
  
    '

ucs_test_deb_repo_build:
  stage: build
  needs:
  - job: ucs_test_deb_repo_import
    artifacts: false
  variables:
    GIT_STRATEGY: none
  tags:
  - ladda
  script:
  - 'build-package-ng --no-pbuilder-update -r ${UCS_RELEASE}-0-0 -s $SCOPE -p $PACKAGE
  
    '

chore(SonarQube): Use "[[" instead of "[" for conditional tests
  docker/start-kelvin.sh
Due: none

docs(dev): Add app lifecycle chapter
  doc/dev/conf.py
  doc/dev/index.rst
  doc/dev/lifecycle.rst
Due: none

chore: add alembic dependency for datbase migrations
  pyproject.toml
  uv.lock
Due: none

docs(fastapi_doc_patch): update module docstring to clarify purpose and reference known issue
  kelvin-api/ucsschool/kelvin/routers/fastapi_doc_patch.py
Due: test kelvin-api

docs(manual): Add database settings section
  doc/docs/installation-configuration.rst
Due: none

ci: fix bandit linting
  .bandit
  .pre-commit-config.yaml
Due: none

chore: Add pytest dev dependency to ucsschool-objects
  ucsschool-objects/pyproject.toml
  uv.lock
Due: none

feat: Implement school models
  ucsschool-objects/src/ucsschool_objects/database_models.py
Due: none

test: Add fixtures for ucsschool-objects tests
  ucsschool-objects/tests/conftest.py
Due: none

docs: Extend architecture docs.
  doc/dev/architecture/schoolmembership-attributes.rst
  ucsschool-objects/src/ucsschool_objects/database_models.py
Due: none

test: Implement tests for db_models
  .gitlab-ci/gitlab-ci.yml
  ucsschool-objects/tests/test_database_models/test_relationships.py
  ucsschool-objects/tests/test_database_models/test_scalars.py
  ucsschool-objects/tests/test_database_models/test_school_membership.py
Due: none

refactor: Update type hints
  .pre-commit-config.yaml
  ucsschool-objects/src/ucsschool_objects/database_models.py
  ucsschool-objects/tests/__init__.py
  ucsschool-objects/tests/conftest.py
  ucsschool-objects/tests/py.typed
  ucsschool-objects/tests/test_database_models/test_relationships.py
  ucsschool-objects/tests/test_database_models/test_scalars.py
  ucsschool-objects/tests/test_database_models/test_school_membership.py
  ucsschool-objects/tests/test_types.py
Due: none

chore: Add eralchemy and graphviz as development dependencies
  pyproject.toml
  uv.lock
Due: none

fix(dev_docs): Handle empty udm_attr in model_to_rst function
  doc/dev/sqlalchemy_to_rst.py
Due: none

chore: rerun `uv run make update-architecture-docs`
  doc/dev/architecture/er.md
  doc/dev/architecture/role-attributes.rst
  doc/dev/architecture/school-attributes.rst
  doc/dev/architecture/schoolmembership-attributes.rst
  doc/dev/architecture/user-attributes.rst
Due: none

fix(docs): Correct spacing in `record_uid` description to reproduce built output
  doc/dev/architecture/er.md
  doc/dev/architecture/user-attributes.rst
  ucsschool-objects/src/ucsschool_objects/database_models.py
Due: none

fix(docs): Update diagram output to mmd (mermaid) for nicer IDE support
  doc/dev/architecture.rst
  doc/dev/architecture/er.mmd
  doc/dev/render_er_diagram.py
Due: none

chore: cleanup update_openapi_client
  appcenter/configure
  appcenter/inst
  appcenter/listener_trigger
  docker/start-kelvin.sh
  kelvin-api/update_openapi_client
Due: test kelvin-api

!fixup 63ca0889: fix(docs): Update diagram output to mmd (mermaid) for nicer IDE support
  Makefile
Due: none

step1: product brief update
  _bmad-output/planning-artifacts/product-brief-ucsschool-kelvin-rest-api.md
Due: none

feat: support opencode and vscode step2 (create symlinks)
  .github/skills
  .opencode/skills
  .pre-commit-config.yaml
Due: none

feat: add project context documentation for AI agents
  _bmad-output/project-context.md
Due: none

feat: add comprehensive Product Requirements Document for ucsschool-kelvin-rest-api
  _bmad-output/planning-artifacts/prd.md
Due: none

feat: add comprehensive architecture decision document for ucsschool-kelvin-rest-api
  _bmad-output/planning-artifacts/architecture.md
Due: none

feat: implement core library with non-ORM dataclasses for School, User, and Group
  _bmad-output/implementation-artifacts/1-1-implement-the-core-library-with-non-orm-dataclasses.md
Due: none

feat: Add core library for read/search access to School, User, and Group domain objects
  _bmad-output/implementation-artifacts/1-1-implement-the-core-library-with-non-orm-dataclasses.md
  kelvin-api/tests/corelib/adapters/postgres/test_postgres_contract_binding.py
  kelvin-api/tests/corelib/adapters/sqlite_memory/test_sqlite_contract_binding.py
  kelvin-api/tests/corelib/conftest.py
  kelvin-api/tests/corelib/contracts/test_invalid_filter_behavior.py
  kelvin-api/tests/corelib/contracts/test_no_pyhook_execution.py
  kelvin-api/tests/corelib/contracts/test_query_negation_semantics.py
  kelvin-api/tests/corelib/contracts/test_query_ranges_numeric_datetime.py
  kelvin-api/tests/corelib/contracts/test_reader_contract_group.py
  kelvin-api/tests/corelib/contracts/test_reader_contract_school.py
  kelvin-api/tests/corelib/contracts/test_reader_contract_user.py
  kelvin-api/tests/corelib/contracts/test_sort_pagination_determinism.py
  kelvin-api/tests/corelib/domain/test_errors.py
  kelvin-api/tests/corelib/domain/test_load_spec.py
  kelvin-api/tests/corelib/domain/test_query_ast.py
  kelvin-api/tests/corelib/fixtures/adapter_factories.py
  kelvin-api/tests/corelib/fixtures/corelib_contract_data.py
  kelvin-api/ucsschool/kelvin/corelib/README.md
  kelvin-api/ucsschool/kelvin/corelib/__init__.py
  kelvin-api/ucsschool/kelvin/corelib/adapters/__init__.py
  kelvin-api/ucsschool/kelvin/corelib/adapters/postgres/__init__.py
  kelvin-api/ucsschool/kelvin/corelib/adapters/postgres/mapping.py
  kelvin-api/ucsschool/kelvin/corelib/adapters/postgres/readers.py
  kelvin-api/ucsschool/kelvin/corelib/adapters/sqlite_memory/__init__.py
  kelvin-api/ucsschool/kelvin/corelib/adapters/sqlite_memory/mapping.py
  kelvin-api/ucsschool/kelvin/corelib/adapters/sqlite_memory/readers.py
  kelvin-api/ucsschool/kelvin/corelib/domain/__init__.py
  kelvin-api/ucsschool/kelvin/corelib/domain/errors.py
  kelvin-api/ucsschool/kelvin/corelib/domain/load_spec.py
  kelvin-api/ucsschool/kelvin/corelib/domain/models.py
  kelvin-api/ucsschool/kelvin/corelib/domain/query.py
  kelvin-api/ucsschool/kelvin/corelib/ports/__init__.py
  kelvin-api/ucsschool/kelvin/corelib/ports/readers.py
  kelvin-api/ucsschool/kelvin/corelib/py.typed
  kelvin-api/ucsschool/kelvin/corelib/translation/__init__.py
  kelvin-api/ucsschool/kelvin/corelib/translation/query_to_backend.py
Due: test kelvin-api

feat: add review findings for core library implementation and address sorting and error handling issues
  _bmad-output/implementation-artifacts/1-1-implement-the-core-library-with-non-orm-dataclasses.md
Due: none

feat: update core library and tests for improved filtering and sorting functionality
  _bmad-output/implementation-artifacts/1-1-implement-the-core-library-with-non-orm-dataclasses.md
  kelvin-api/tests/corelib/adapters/postgres/test_postgres_contract_binding.py
  kelvin-api/tests/corelib/conftest.py
  kelvin-api/tests/corelib/contracts/test_invalid_filter_behavior.py
  kelvin-api/tests/corelib/contracts/test_reader_contract_group.py
  kelvin-api/tests/corelib/contracts/test_sort_pagination_determinism.py
  kelvin-api/ucsschool/kelvin/corelib/adapters/postgres/readers.py
  kelvin-api/ucsschool/kelvin/corelib/translation/query_to_backend.py
Due: test kelvin-api

feat(ucsschool-objects): add hexagonal read/search core for User, Group, School
  Makefile
  ucsschool-objects/README.md
  ucsschool-objects/pyproject.toml
  ucsschool-objects/src/ucsschool_objects/__init__.py
  ucsschool-objects/src/ucsschool_objects/core/__init__.py
  ucsschool-objects/src/ucsschool_objects/core/adapters/__init__.py
  ucsschool-objects/src/ucsschool_objects/core/adapters/sqlalchemy_readers.py
  ucsschool-objects/src/ucsschool_objects/core/domain.py
  ucsschool-objects/src/ucsschool_objects/core/ports.py
  ucsschool-objects/src/ucsschool_objects/core/query.py
  ucsschool-objects/tests/conformance.py
  ucsschool-objects/tests/test_core_readers.py
  uv.lock
Due: none

test: fix test_06_expected_resources_exit_in_openapi_json_v2
  ucs-test-ucsschool-kelvin/94_ucsschool-kelvin/00_api_root.py
Due: ucs_test_deb_lint, ucs_test_deb_build_git

test: refactor config changes in tests
  kelvin-api/tests/conftest.py
Due: test kelvin-api

test: old UDM_MAPPING_CONFIG in tests
  kelvin-api/tests/conftest.py
Due: test kelvin-api

test: fix test_pyhook.py
  kelvin-api/tests/test_pyhook.py
Due: test kelvin-api

chore: switch to docker compose app
  appcenter/compose.jinja
  appcenter/ini.jinja
  appcenter/listener_trigger
  docker/start-kelvin.sh
Due: none

feat: remove unused load parameter from PostgresSchoolReader methods
  kelvin-api/ucsschool/kelvin/corelib/adapters/postgres/readers.py
Due: test kelvin-api

refactor: update factory functions to use school_membership_factory and target_session for improved session management
  ucsschool-objects/tests/conftest.py
  ucsschool-objects/tests/core/conftest.py
  ucsschool-objects/tests/core/contracts/test_reader_contract_user.py
  ucsschool-objects/tests/core/fixtures/corelib_contract_data.py
Due: none

refactor: update test function signatures to include type hints for improved clarity and type safety
  pyproject.toml
  ucsschool-objects/tests/core/adapters/postgres/test_postgres_contract_binding.py
  ucsschool-objects/tests/core/adapters/sqlite_memory/test_sqlite_contract_binding.py
  ucsschool-objects/tests/core/contracts/test_invalid_filter_behavior.py
  ucsschool-objects/tests/core/contracts/test_no_pyhook_execution.py
  ucsschool-objects/tests/core/contracts/test_query_negation_semantics.py
  ucsschool-objects/tests/core/contracts/test_query_ranges_numeric_datetime.py
  ucsschool-objects/tests/core/contracts/test_reader_contract_group.py
  ucsschool-objects/tests/core/contracts/test_reader_contract_school.py
  ucsschool-objects/tests/core/contracts/test_reader_contract_user.py
  ucsschool-objects/tests/core/contracts/test_sort_pagination_determinism.py
Due: none

Path conditions:
  test ucs-school-lib: any of: ucs-school-lib/**/*
  test kelvin-api: any of: kelvin-api/**/*
  ucs_test_deb_lint: any of: ucs-test-ucsschool-kelvin/**/*
  ucs_test_deb_build_git: any of: ucs-test-ucsschool-kelvin/**/*
  ucs_test_deb_repo_import: any of: ucs-test-ucsschool-kelvin/debian/changelog
  ucs_test_deb_repo_build: any of: ucs-test-ucsschool-kelvin/debian/changelog
