Repository univention/ucsschool-kelvin-rest-api: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test ucs-school-lib, test kelvin-api, ucs_test_deb_lint, ucs_test_deb_build_git, ucs_test_deb_repo_import, ucs_test_deb_repo_build

Path conditions:
  test ucs-school-lib: any of: ucs-school-lib/**/*
  test kelvin-api: any of: kelvin-api/**/*
  ucs_test_deb_lint: any of: ucs-test-ucsschool-kelvin/**/*
  ucs_test_deb_build_git: any of: ucs-test-ucsschool-kelvin/**/*
  ucs_test_deb_repo_import: any of: ucs-test-ucsschool-kelvin/debian/changelog
  ucs_test_deb_repo_build: any of: ucs-test-ucsschool-kelvin/debian/changelog

docs(dev): Naming convention: cache -> Kelvin DB
  AGENTS.md
  doc/dev/api-reference.rst
  doc/dev/architecture.rst
  doc/dev/database.rst
  doc/dev/debugging.rst
  doc/dev/development.rst
  doc/dev/glossary.rst
  doc/dev/introduction.rst
  doc/dev/synchronisation.rst
Due: none

fix(docker): Exit when the database migration fails
  docker/start-kelvin.sh
Due: none

docs: Improve docs regarding legal guardians
  doc/docs/resource-users.rst
Due: none

chore: drop mypy in favor of basedpyright
  pyproject.toml
  uv.lock
Due: none

refactor(pre-commit): replace bandit with ruff's flake8-bandit rules
  .bandit
  kelvin-api/ucsschool/kelvin/constants.py
  pyproject.toml
  ucs-school-lib/modules/ucsschool/lib/models/school.py
  ucs-school-lib/modules/ucsschool/lib/models/utils.py
  ucsschool-objects/src/ucsschool_objects/core/adapters/sqlalchemy/query_filter.py
Due: test ucs-school-lib, test kelvin-api

refactor: resolve SonarQube findings on lines touched by this MR
  basedpyright-baseline.json
  ucs-school-import/modules/ucsschool/http_api/client.py
  ucs-school-lib/modules/ucsschool/lib/models/utils.py
Due: test ucs-school-lib

refactor(pre-commit): replace black, isort and flake8 with ruff
  .black
  .flake8
  .isort.cfg
  .pre-commit-config.yaml
  pyproject.toml
Due: none

refactor(type_hints): add ignore rules and fixed imports in tests
  basedpyright-baseline.json
  kelvin-api/tests/conftest.py
  kelvin-api/tests/test_route_user.py
  pyrightconfig.json
  ucsschool-objects/tests/conftest.py
  ucsschool-objects/tests/core/contracts/__init__.py
  ucsschool-objects/tests/core/contracts/contract_test_support.py
  ucsschool-objects/tests/core/contracts/test_exception_raises.py
  ucsschool-objects/tests/core/contracts/test_invalid_filter_behavior.py
  ucsschool-objects/tests/core/contracts/test_manager_contracts.py
  ucsschool-objects/tests/core/contracts/test_manager_create_contracts.py
  ucsschool-objects/tests/core/contracts/test_manager_load_spec_projections.py
  ucsschool-objects/tests/core/contracts/test_manager_modify_contracts.py
  ucsschool-objects/tests/core/contracts/test_query_contracts.py
  ucsschool-objects/tests/core/contracts/test_user_manager_membership_projections.py
  ucsschool-objects/tests/core/domain/__init__.py
  ucsschool-objects/tests/core/domain/helpers/__init__.py
  ucsschool-objects/tests/core/domain/test_models.py
  ucsschool-objects/tests/core/domain/test_patch.py
  ucsschool-objects/tests/core/domain/test_school_membership_roles.py
  ucsschool-objects/tests/core/domain/test_user_model_groups.py
  ucsschool-objects/tests/core/domain/test_user_model_identity_semantics.py
  ucsschool-objects/tests/core/domain/test_user_model_primary_school.py
  ucsschool-objects/tests/core/domain/test_user_model_roles.py
  ucsschool-objects/tests/core/test_json.py
  ucsschool-objects/tests/test_database_models/__init__.py
  ucsschool-objects/tests/test_database_models/test_relationships.py
  ucsschool-objects/tests/test_database_models/test_scalars.py
  ucsschool-objects/tests/test_database_models/test_school_membership.py
Due: test kelvin-api

refactor(docker): OPTIONAL update Dockerfile to install basedpyright, not at runtime script
  docker/pre_commit/Dockerfile
  docker/pre_commit/run-basedpyright.sh
Due: none

ci(ai-review): bump to 2.10.1, enable deletion of previous comments
  .gitlab-ci/gitlab-ci.yml
Due: none

docs: update changelog
  kelvin-api/changelog.rst
Due: test kelvin-api

refactor(type_hints): add ignore rules and resolve test imports
  basedpyright-baseline.json
  kelvin-api/tests/conftest.py
  kelvin-api/tests/test_route_user.py
  pyrightconfig.json
Due: test kelvin-api

ci: use the renovate and sonarqube CI components
  .gitlab-ci.yml
  .gitlab-ci/SonarQube.yml
  .gitlab-ci/gitlab-ci.yml
  renovate.json
Due: none

ci: pin the remaining CI components to 2.12.0
  .gitlab-ci.yml
  .gitlab-ci/gitlab-ci.yml
Due: none

chore(ci): drop the stale renovate todo
  .gitlab-ci/gitlab-ci.yml
Due: none

ci(docs): Publish docs after merge to default branch
  .gitlab-ci/gitlab-ci.yml
Due: none

ci(ai-review): bump to 2.13.1, enable deletion of previous comments
  .gitlab-ci/gitlab-ci.yml
Due: none

ci: report the test results with the allure component
  .gitlab-ci/gitlab-ci.yml
  kelvin-connector/pyproject.toml
  pyproject.toml
  uv.lock
Due: none

ci: run the integration tests in a nightly schedule
  .gitlab-ci.yml
  .gitlab-ci/gitlab-ci.yml
Due: none

ci: give the ai review a stage of its own
  .gitlab-ci/gitlab-ci.yml
Due: none

ci: move the documentation jobs into a file of their own
  .gitlab-ci/gitlab-ci-docs.yml
  .gitlab-ci/gitlab-ci.yml
Due: none

ci: build the documentation with the sphinx-docs component
  .gitlab-ci/gitlab-ci-docs.yml
Due: none

docs: say why the shallow-clone warning is suppressed
  doc/dev/conf.py
  doc/docs/conf.py
Due: none

ci: make the Pages job a Pages job by keyword, not by name
  .gitlab-ci/gitlab-ci-docs.yml
Due: none

fix(ci): publish the PDF alongside the documentation on Pages
  .gitlab-ci/gitlab-ci-docs.yml
Due: none

fix(ci): let the package import re-import a revision it already has
  .gitlab-ci/gitlab-ci.yml
Due: none

refactor(db): build trigram indexes via op.create_index, not f-strings
  alembic/versions/e49791148e25_init_tables.py
  doc/dev/database.rst
Due: none

test: deselect the container-only tests instead of skipping them
  .gitlab-ci/gitlab-ci.yml
  kelvin-api/tests/test_base.py
  kelvin-api/tests/test_caching.py
  kelvin-api/tests/test_config.py
  kelvin-api/tests/test_import_framework_config.py
  kelvin-api/tests/test_import_user.py
  kelvin-api/tests/test_ldap.py
  kelvin-api/tests/test_login.py
  kelvin-api/tests/test_pyhook.py
  kelvin-api/tests/test_reader_auth.py
  kelvin-api/tests/test_route_role.py
  kelvin-api/tests/test_route_school.py
  kelvin-api/tests/test_route_school_class.py
  kelvin-api/tests/test_route_user.py
  kelvin-api/tests/test_route_user_schemetest.py
  kelvin-api/tests/test_route_v1_v2_parity.py
  kelvin-api/tests/test_route_workgroup.py
  kelvin-api/tests/test_school_class_name_syntax.py
  kelvin-api/tests/test_token_auth.py
  pyproject.toml
  ucs-school-lib/modules/ucsschool/lib/tests/test_create_ou.py
  ucs-school-lib/modules/ucsschool/lib/tests/test_hook.py
  ucs-school-lib/modules/ucsschool/lib/tests/test_school_class.py
  ucs-school-lib/modules/ucsschool/lib/tests/test_share.py
  ucs-school-lib/modules/ucsschool/lib/tests/test_user.py
  ucs-school-lib/modules/ucsschool/lib/tests/test_validation_school.py
  ucs-school-lib/modules/ucsschool/lib/tests/test_validation_to_dict.py
  ucs-school-lib/modules/ucsschool/lib/tests/test_validation_users.py
Due: test ucs-school-lib, test kelvin-api

test: let the 'in_container' marker carry the skip as well
  basedpyright-baseline.json
  kelvin-api/tests/conftest.py
  kelvin-api/tests/test_base.py
  kelvin-api/tests/test_caching.py
  kelvin-api/tests/test_config.py
  kelvin-api/tests/test_import_framework_config.py
  kelvin-api/tests/test_import_user.py
  kelvin-api/tests/test_ldap.py
  kelvin-api/tests/test_login.py
  kelvin-api/tests/test_pyhook.py
  kelvin-api/tests/test_reader_auth.py
  kelvin-api/tests/test_route_role.py
  kelvin-api/tests/test_route_school.py
  kelvin-api/tests/test_route_school_class.py
  kelvin-api/tests/test_route_user.py
  kelvin-api/tests/test_route_user_schemetest.py
  kelvin-api/tests/test_route_v1_v2_parity.py
  kelvin-api/tests/test_route_workgroup.py
  kelvin-api/tests/test_school_class_name_syntax.py
  kelvin-api/tests/test_token_auth.py
  pyproject.toml
  ucs-school-lib/modules/ucsschool/lib/tests/conftest.py
  ucs-school-lib/modules/ucsschool/lib/tests/test_create_ou.py
  ucs-school-lib/modules/ucsschool/lib/tests/test_hook.py
  ucs-school-lib/modules/ucsschool/lib/tests/test_school_class.py
  ucs-school-lib/modules/ucsschool/lib/tests/test_share.py
  ucs-school-lib/modules/ucsschool/lib/tests/test_user.py
  ucs-school-lib/modules/ucsschool/lib/tests/test_validation_school.py
  ucs-school-lib/modules/ucsschool/lib/tests/test_validation_to_dict.py
  ucs-school-lib/modules/ucsschool/lib/tests/test_validation_users.py
Due: test ucs-school-lib, test kelvin-api

fix(ci): give Allure the integration results in a directory it reads
  .gitlab-ci/gitlab-ci.yml
  .gitlab-ci/parse_junit.py
Due: none

ci: clean up gitlab-ci
  .gitlab-ci.yml
  .gitlab-ci/gitlab-ci.yml
Due: none

chore(deps): update dependency univention/dev/tooling/ci-components to v2.16.1
  .gitlab-ci.yml
  .gitlab-ci/gitlab-ci-docs.yml
  .gitlab-ci/gitlab-ci.yml
Due: none

ci: add the baseline-buddy component for basedpyright baseline diffs
  .gitlab-ci/gitlab-ci.yml
Due: none

feat: make unwise change
  basedpyright-baseline.json
  custom_hooks/add_school_admins_to_admin_group.py
Due: none

test: cover the school change with a case-differing primary group DN
  basedpyright-baseline.json
  ucs-school-lib/modules/ucsschool/lib/tests/test_user.py
Due: test ucs-school-lib

refactor(type_hints): annotate the school change fix and its test
  basedpyright-baseline.json
  ucs-school-lib/modules/ucsschool/lib/tests/test_user_school_change.py
Due: test ucs-school-lib

fix: remove primary group from groups case insensitively
  ucs-school-lib/modules/ucsschool/lib/models/user.py
  ucs-school-lib/modules/ucsschool/lib/tests/test_user_school_change.py
Due: test ucs-school-lib

docs(changelog): add v4.0.1 entry for the school change fix
  kelvin-api/changelog.rst
Due: test kelvin-api
