Repository univention/ucsschool-kelvin-rest-api: changes, and which GitLab CI jobs are due for each by the changed paths.
All: prepare, html, pdf, linkcheck, spelling, docs-merge, build_docker_image, tests, ucs_test_deb_lint, ucs_test_deb_build_git, ucs_test_deb_repo_import, ucs_test_deb_repo_build

prepare:
  stage: prepare
  image:
    name: python:3.9-bullseye
  artifacts:
    paths:
    - docker/build/
    expire_in: 1 day
  cache:
  - key: $CI_COMMIT_REF_SLUG
    paths:
    - docker/build/
  script:
  - apt-get update
  - apt-get install -y git rsync
  - cd ${CI_PROJECT_DIR}/docker
  - ./gitlab_prepare_docker_image

docs-merge:
  needs:
  - job: html
    artifacts: true
  - job: pdf
    artifacts: true
  - job: spelling
    artifacts: false
  - job: linkcheck
    artifacts: false

build_docker_image:
  stage: build
  variables:
    KANIKO_BUILD_CONTEXT: $CI_PROJECT_DIR/docker/build/
    KANIKO_ARGS: --build-arg app_id="$APP_ID" --build-arg commit="$CI_COMMIT_SHA" --build-arg date="$CI_JOB_STARTED_AT" --cache=true --cache-repo $CI_REGISTRY_IMAGE/cache --cache-copy-layers

tests:
  stage: tests
  needs:
  - job: build_docker_image
  image: $IMAGE_TAG
  script:
  - cd ${CI_PROJECT_DIR}/kelvin-api && make test
  - cd ${CI_PROJECT_DIR}/ucs-school-lib/modules/ucsschool/lib && pytest -v tests

ucs_test_deb_lint:
  stage: lint
  image:
    name: $UCSLINT_IMAGE
    entrypoint:
    - ''
  script:
  - cd ucs-test-ucsschool-kelvin && ucslint -j ucslint.xml
  artifacts:
    reports:
      junit: ucs-test-ucsschool-kelvin/ucslint.xml

ucs_test_deb_build_git:
  stage: build
  image: $DEB_IMAGE
  script:
  - apt-get update
  - cd ucs-test-ucsschool-kelvin
  - apt-get -q --assume-yes build-dep .
  - dpkg-buildpackage -us -uc
  - install -d -m 755 build
  - mv ../*.tar.*z ../*.dsc ../*.deb ../*.buildinfo ../*.changes build/
  artifacts:
    paths:
  ...

ucs_test_deb_repo_import:
  stage: build
  variables:
    GIT_STRATEGY: none
  tags:
  - omar
  script:
  - 'repo_admin.py -G $CI_REPOSITORY_URL -b $CI_COMMIT_BRANCH -P ucs-test-ucsschool-kelvin -r ${UCS_RELEASE}-0-0 -s $SCOPE -p $PACKAGE
  
    '

ucs_test_deb_repo_build:
  stage: build
  needs:
  - job: ucs_test_deb_repo_import
    artifacts: false
  variables:
    GIT_STRATEGY: none
  tags:
  - ladda
  script:
  - 'build-package-ng --no-pbuilder-update -r ${UCS_RELEASE}-0-0 -s $SCOPE -p $PACKAGE
  
    '

fixup! fixup! fixup! fixup! fixup! fixup! fixup! Issue #60: add hook to fix created school admins
  custom_hooks/add_school_admins_to_admin_group.py
Due: none

fixup! fixup! fixup! fixup! fixup! fixup! fixup! fixup! Issue #60: add hook to fix created school admins
  custom_hooks/add_school_admins_to_admin_group.py
  kelvin-api/tests/test_custom_hooks_add_school_admins_to_admin_group.py
Due: prepare, build_docker_image, tests

fixup! fixup! fixup! fixup! fixup! fixup! fixup! fixup! fixup! Issue #60: add hook to fix created school admins
  custom_hooks/add_school_admins_to_admin_group.py
Due: none

fixup! fixup! fixup! fixup! fixup! fixup! fixup! fixup! fixup! fixup! Issue #60: add hook to fix created school admins
  custom_hooks/add_school_admins_to_admin_group.py
  kelvin-api/tests/test_custom_hooks_add_school_admins_to_admin_group.py
Due: prepare, build_docker_image, tests

fixup! fixup! fixup! fixup! fixup! fixup! fixup! fixup! fixup! fixup! fixup! Issue #60: add hook to fix created school admins
  custom_hooks/add_school_admins_to_admin_group.py
  kelvin-api/tests/test_custom_hooks_add_school_admins_to_admin_group.py
Due: prepare, build_docker_image, tests

fixup! fixup! fixup! fixup! fixup! fixup! fixup! fixup! fixup! fixup! fixup! fixup! Issue #60: add hook to fix created school admins
  kelvin-api/tests/test_custom_hooks_add_school_admins_to_admin_group.py
Due: prepare, build_docker_image, tests

Issue #60: add hook to fix created school admins
  custom_hooks/add_school_admins_to_admin_group.py
  kelvin-api/tests/test_custom_hooks_add_school_admins_to_admin_group.py
Due: prepare, build_docker_image, tests

Issue #60: add changelog
  ucs-test-ucsschool-kelvin/debian/changelog
Due: ucs_test_deb_lint, ucs_test_deb_build_git, ucs_test_deb_repo_import, ucs_test_deb_repo_build

Issue #56: log responses for errors in performance tests
  ucs-test-ucsschool-kelvin/94_ucsschool-kelvin-performance/011_users_post_stable.py
  ucs-test-ucsschool-kelvin/94_ucsschool-kelvin-performance/012_users_post_max.py
  ucs-test-ucsschool-kelvin/94_ucsschool-kelvin-performance/locust_files/01_users_post.py
  ucs-test-ucsschool-kelvin/debian/changelog
Due: ucs_test_deb_lint, ucs_test_deb_build_git, ucs_test_deb_repo_import, ucs_test_deb_repo_build

Bug #55730: Fix Kelvin error h11
  kelvin-api/requirements.txt
Due: prepare, build_docker_image, tests

Bug #55730: add changelogs and bump version to 1.8.5
  appcenter/README_UPDATE_EN
  kelvin-api/VERSION.txt
  kelvin-api/changelog.rst
Due: prepare, build_docker_image, tests

Bug #55730: add changelogs and bump version to 1.8.5
  appcenter/README_UPDATE_EN
  doc/docs/conf.py
  kelvin-api/VERSION.txt
  kelvin-api/changelog.rst
Due: prepare, html, pdf, linkcheck, spelling, docs-merge, build_docker_image, tests

Issue #56: make sure random values for IDs and passwords are unique
  ucs-school-lib/modules/ucsschool/lib/tests/conftest.py
  ucs-test-ucsschool-kelvin/94_ucsschool-kelvin/conftest.py
  ucs-test-ucsschool-kelvin/debian/changelog
  ucs-test-ucsschool-kelvin/modules/univention/testing/ucsschool/kelvin_api.py
Due: prepare, build_docker_image, tests, ucs_test_deb_lint, ucs_test_deb_build_git, ucs_test_deb_repo_import, ucs_test_deb_repo_build

Issue #56: make sure when using mulitple OUs in tests, they are different OUs
  kelvin-api/tests/test_custom_hooks_add_school_admins_to_admin_group.py
  kelvin-api/tests/test_route_user.py
  kelvin-api/tests/test_route_workgroup.py
Due: prepare, build_docker_image, tests

Issue #56: fix fixture
  ucs-school-lib/modules/ucsschool/lib/tests/conftest.py
  ucs-test-ucsschool-kelvin/94_ucsschool-kelvin/conftest.py
  ucs-test-ucsschool-kelvin/debian/changelog
Due: prepare, build_docker_image, tests, ucs_test_deb_lint, ucs_test_deb_build_git, ucs_test_deb_repo_import, ucs_test_deb_repo_build

Issue #56: add timings of user-create route
  kelvin-api/ucsschool/kelvin/routers/user.py
  ucs-school-import/modules/ucsschool/importer/models/import_user.py
  ucs-school-lib/modules/ucsschool/lib/models/base.py
  ucs-school-lib/modules/ucsschool/lib/models/user.py
Due: prepare, build_docker_image, tests

Issue #56: log user search timings
  kelvin-api/ucsschool/kelvin/routers/user.py
Due: prepare, build_docker_image, tests

Issue #56: improve test setup
  ucs-school-lib/modules/ucsschool/lib/tests/conftest.py
  ucs-school-lib/modules/ucsschool/lib/tests/test_school_class.py
  ucs-school-lib/modules/ucsschool/lib/tests/test_share.py
Due: prepare, build_docker_image, tests

Issue #56: do not support legacy users (find by position) anymore, reduces ucsschool.lib User search by half
  ucs-school-lib/modules/ucsschool/lib/models/user.py
Due: prepare, build_docker_image, tests

Issue #56: move uldap helpers to ucsschool.lib
  docker/Dockerfile
  docker/gitlab_prepare_docker_image
  kelvin-api/requirements.txt
  kelvin-api/setup.py
  kelvin-api/ucsschool/kelvin/ldap.py
  kelvin-api/ucsschool/kelvin/routers/user.py
  ucs-school-lib/modules/requirements.txt
  ucs-school-lib/modules/setup.py
  ucs-school-lib/modules/ucsschool/lib/models/utils.py
Due: prepare, build_docker_image, tests

Issue #56: make doesn't work properly in Alpine anymore (see https://gitlab.alpinelinux.org/alpine/aports/-/issues/12396)
  .gitlab-ci.yml
Due: none

Issue #56: remove workaround for Bug #32337, we have validation now
  ucs-school-lib/modules/ucsschool/lib/models/user.py
Due: prepare, build_docker_image, tests

Issue #56: flake8 v6 ignores py2 type annotations, thus: F401 'typing.___' imported but unused
  ucs-school-import/modules/ucsschool/http_api/client.py
  ucs-school-import/modules/ucsschool/http_api/import_api/serializers.py
  ucs-school-import/modules/ucsschool/importer/configuration.py
  ucs-school-import/modules/ucsschool/importer/default_user_import_factory.py
  ucs-school-import/modules/ucsschool/importer/factory.py
  ucs-school-import/modules/ucsschool/importer/frontend/cmdline.py
  ucs-school-import/modules/ucsschool/importer/frontend/parse_user_import_cmdline.py
  ucs-school-import/modules/ucsschool/importer/frontend/user_import_cmdline.py
  ucs-school-import/modules/ucsschool/importer/mass_import/mass_import.py
  ucs-school-import/modules/ucsschool/importer/mass_import/sisopi_user_import.py
  ucs-school-import/modules/ucsschool/importer/mass_import/user_import.py
  ucs-school-import/modules/ucsschool/importer/reader/csv_reader.py
  ucs-school-import/modules/ucsschool/importer/utils/config_pyhook.py
  ucs-school-import/modules/ucsschool/importer/utils/configuration_checks.py
  ucs-school-import/modules/ucsschool/importer/utils/logging.py
  ucs-school-import/modules/ucsschool/importer/utils/user_pyhook.py
  ucs-school-import/udm_hook/ucsschool_role_computers.py
  ucs-school-import/usr/share/ucs-school-import/pyhooks-available/ext_config_dep_on_role.py
  ucs-school-import/usr/share/ucs-school-import/pyhooks-available/log_user_object.py
  ucs-school-import/usr/share/ucs-school-import/scripts/migrate_ucsschool_import_user
  ucs-school-import/usr/share/ucs-school-import/scripts/ucs-school-purge-expired-users
  ucs-school-lib/modules/ucsschool/lib/models/base.py
  ucs-school-lib/modules/ucsschool/lib/models/group.py
  ucs-school-lib/modules/ucsschool/lib/models/hook.py
  ucs-school-lib/modules/ucsschool/lib/models/misc.py
Due: prepare, build_docker_image, tests

Issue #56: massive speedup for searching WorkGroupShare
  ucs-school-lib/modules/ucsschool/lib/models/base.py
  ucs-school-lib/modules/ucsschool/lib/models/school.py
  ucs-school-lib/modules/ucsschool/lib/models/share.py
Due: prepare, build_docker_image, tests

Issue #56: use more specific filter for group searches (-> ignore objects in wrong container)
  ucs-school-lib/modules/ucsschool/lib/models/group.py
Due: prepare, build_docker_image, tests

Issue #56: remove unnecessary async, fixes RuntimeError when sync-caching async url_to_dn()
  kelvin-api/ucsschool/kelvin/routers/base.py
  kelvin-api/ucsschool/kelvin/routers/school.py
  kelvin-api/ucsschool/kelvin/routers/school_class.py
  kelvin-api/ucsschool/kelvin/routers/user.py
  kelvin-api/ucsschool/kelvin/routers/workgroup.py
  kelvin-api/ucsschool/kelvin/urls.py
Due: prepare, build_docker_image, tests

Issue #56: fix test
  ucs-school-lib/modules/ucsschool/lib/tests/test_share.py
Due: prepare, build_docker_image, tests

Issue #56: ignore multiple virtual envs
  .black
  .flake8
  .gitignore
  .isort.cfg
Due: none

Issue #56: improve logging of share handling in group module
  ucs-school-lib/modules/ucsschool/lib/models/group.py
Due: prepare, build_docker_image, tests

Issue #56: remove duplicate validate() call
  kelvin-api/ucsschool/kelvin/routers/user.py
  ucs-school-import/modules/ucsschool/importer/models/import_user.py
  ucs-school-lib/modules/ucsschool/lib/models/base.py
  ucs-school-lib/modules/ucsschool/lib/models/user.py
Due: prepare, build_docker_image, tests

Issue #56: stabilize tests on non-primary, when alternating UDM-REST and LDAP connections
  ucs-school-lib/modules/ucsschool/lib/tests/conftest.py
Due: prepare, build_docker_image, tests

Issue #56: make handling of cls.Meta.udm_filter consistent
  ucs-school-lib/modules/ucsschool/lib/models/base.py
  ucs-school-lib/modules/ucsschool/lib/models/school.py
Due: prepare, build_docker_image, tests

Issue #56: changelog, version bump
  appcenter/README_UPDATE_EN
  kelvin-api/changelog.rst
  kelvin-api/ucsschool/kelvin/constants.py
Due: prepare, build_docker_image, tests

Issue #56: user 'school_class' and 'workgroup' attributes cannot be strings in Kelvin
  ucs-school-import/modules/ucsschool/importer/models/import_user.py
Due: prepare, build_docker_image

Issue #56: use direct LDAP queries and cache computer_dn <-> name resolution
  kelvin-api/ucsschool/kelvin/routers/school.py
Due: prepare, build_docker_image, tests

Issue #56: remove duplicate validation
  ucs-school-lib/modules/ucsschool/lib/models/base.py
Due: prepare, build_docker_image, tests

Issue #56: fix test
  kelvin-api/tests/test_route_user.py
Due: prepare, build_docker_image, tests

Issue #56: use LDAP instead of UDM-REST in exists(), where safe
  ucs-school-lib/modules/ucsschool/lib/models/base.py
  ucs-school-lib/modules/ucsschool/lib/models/computer.py
  ucs-school-lib/modules/ucsschool/lib/models/group.py
  ucs-school-lib/modules/ucsschool/lib/models/meta.py
  ucs-school-lib/modules/ucsschool/lib/models/misc.py
  ucs-school-lib/modules/ucsschool/lib/models/school.py
  ucs-school-lib/modules/ucsschool/lib/models/share.py
  ucs-school-lib/modules/ucsschool/lib/models/user.py
  ucs-school-lib/modules/ucsschool/lib/models/utils.py
Due: prepare, build_docker_image, tests

Issue #56: use LDAP to find users DN
  kelvin-api/ucsschool/kelvin/routers/user.py
Due: prepare, build_docker_image, tests

Issue #56: small improvement and fix
  kelvin-api/ucsschool/kelvin/routers/school_class.py
  ucs-school-lib/modules/ucsschool/lib/models/school.py
Due: prepare, build_docker_image, tests

Path conditions:
  prepare: any of: docker/*, kelvin-api/**/*, ucs-school-import/**/*, ucs-school-lib/**/*, univention-directory-manager-modules-slim/**/*, univention-lib-slim/**/*
  html: any of: doc/docs/**/*
  pdf: any of: doc/docs/**/*
  linkcheck: any of: doc/docs/**/*
  spelling: any of: doc/docs/**/*
  docs-merge: any of: doc/docs/**/*
  build_docker_image: any of: docker/*, kelvin-api/**/*, ucs-school-import/**/*, ucs-school-lib/**/*, univention-directory-manager-modules-slim/**/*, univention-lib-slim/**/*
  tests: any of: kelvin-api/**/*, ucs-school-lib/**/*
  ucs_test_deb_lint: any of: ucs-test-ucsschool-kelvin/**/*
  ucs_test_deb_build_git: any of: ucs-test-ucsschool-kelvin/**/*
  ucs_test_deb_repo_import: any of: ucs-test-ucsschool-kelvin/debian/changelog
  ucs_test_deb_repo_build: any of: ucs-test-ucsschool-kelvin/debian/changelog
