Repository univention/ucsschool-kelvin-rest-api: changes, and which GitLab CI jobs are due for each by the changed paths.
All: prepare, html, pdf, linkcheck, spelling, docs-merge, build_docker_image, tests, ucs_test_deb_lint, ucs_test_deb_build_git, ucs_test_deb_repo_import, ucs_test_deb_repo_build

prepare:
  stage: prepare
  image:
    name: python:3.9-bullseye
  artifacts:
    paths:
    - docker/build/
    expire_in: 1 day
  cache:
  - key: $CI_COMMIT_REF_SLUG
    paths:
    - docker/build/
  script:
  - apt-get update
  - apt-get install -y git rsync
  - cd ${CI_PROJECT_DIR}/docker
  - ./gitlab_prepare_docker_image

docs-merge:
  needs:
  - job: html
    artifacts: true
  - job: pdf
    artifacts: true
  - job: spelling
    artifacts: false
  - job: linkcheck
    artifacts: false

build_docker_image:
  stage: build
  variables:
    KANIKO_BUILD_CONTEXT: $CI_PROJECT_DIR/docker/build/
    KANIKO_ARGS: --build-arg app_id="$APP_ID" --build-arg commit="$CI_COMMIT_SHA" --build-arg date="$CI_JOB_STARTED_AT" --cache=true --cache-repo $CI_REGISTRY_IMAGE/cache --cache-copy-layers

tests:
  stage: tests
  needs:
  - job: build_docker_image
  image: $IMAGE_TAG
  script:
  - cd ${CI_PROJECT_DIR}/kelvin-api && make test
  - cd ${CI_PROJECT_DIR}/ucs-school-lib/modules/ucsschool/lib && pytest -v tests

ucs_test_deb_lint:
  stage: lint
  image:
    name: $UCSLINT_IMAGE
    entrypoint:
    - ''
  script:
  - cd ucs-test-ucsschool-kelvin && ucslint -j ucslint.xml
  artifacts:
    reports:
      junit: ucs-test-ucsschool-kelvin/ucslint.xml

ucs_test_deb_build_git:
  stage: build
  image: $DEB_IMAGE
  script:
  - apt-get update
  - cd ucs-test-ucsschool-kelvin
  - apt-get -q --assume-yes build-dep .
  - dpkg-buildpackage -us -uc
  - install -d -m 755 build
  - mv ../*.tar.*z ../*.dsc ../*.deb ../*.buildinfo ../*.changes build/
  artifacts:
    paths:
  ...

ucs_test_deb_repo_import:
  stage: build
  variables:
    GIT_STRATEGY: none
  tags:
  - omar
  script:
  - 'repo_admin.py -G $CI_REPOSITORY_URL -b $CI_COMMIT_BRANCH -P ucs-test-ucsschool-kelvin -r ${UCS_RELEASE}-0-0 -s $SCOPE -p $PACKAGE
  
    '

ucs_test_deb_repo_build:
  stage: build
  needs:
  - job: ucs_test_deb_repo_import
    artifacts: false
  variables:
    GIT_STRATEGY: none
  tags:
  - ladda
  script:
  - 'build-package-ng --no-pbuilder-update -r ${UCS_RELEASE}-0-0 -s $SCOPE -p $PACKAGE
  
    '

Issue #56: make group name fixing same for wg and sc and move into common place
  ucs-school-import/modules/ucsschool/importer/models/import_user.py
  ucs-school-lib/modules/ucsschool/lib/models/user.py
Due: prepare, build_docker_image, tests

Issue #56: parallize automatic school class creation and work group existence check
  ucs-school-import/modules/ucsschool/importer/models/import_user.py
  ucs-school-lib/modules/ucsschool/lib/models/user.py
Due: prepare, build_docker_image, tests

Issue #56: fix school cache invalidation
  kelvin-api/ucsschool/kelvin/routers/school.py
Due: prepare, build_docker_image, tests

Issue #56: use exists() if UDM object is not used
  kelvin-api/ucsschool/kelvin/routers/school.py
  ucs-school-lib/modules/ucsschool/lib/models/school.py
Due: prepare, build_docker_image, tests

Issue #56: cache expensive string handling
  kelvin-api/requirements.txt
  kelvin-api/tests/test_route_school.py
  kelvin-api/ucsschool/kelvin/routers/base.py
  kelvin-api/ucsschool/kelvin/routers/role.py
  kelvin-api/ucsschool/kelvin/routers/school.py
  kelvin-api/ucsschool/kelvin/routers/school_class.py
  kelvin-api/ucsschool/kelvin/routers/user.py
  kelvin-api/ucsschool/kelvin/routers/workgroup.py
  kelvin-api/ucsschool/kelvin/urls.py
  ucs-school-lib/modules/ucsschool/lib/models/base.py
  ucs-school-lib/modules/ucsschool/lib/schoolldap.py
  univention-directory-manager-modules-slim/univention/admin/uldap_docker.py
Due: prepare, build_docker_image, tests

Issue #56: use LDAP instead of UDM-REST
  ucs-school-import/modules/ucsschool/lib/create_ou.py
  ucs-school-lib/modules/ucsschool/lib/models/computer.py
  ucs-school-lib/modules/ucsschool/lib/models/school.py
  ucs-school-lib/modules/ucsschool/lib/models/user.py
Due: prepare, build_docker_image, tests

Issue #56: upgrade Alpine to upgrade Python to 3.11, replace ujson with orjson
  .black
  .gitlab-ci.yml
  .gitlab-ci/Dockerfile.pre-commit
  .isort.cfg
  .pre-commit-config.yaml
  docker/Dockerfile
  docker/alpine_apk_list.runtime
  docker/gitlab_prepare_docker_image
  kelvin-api/requirements.txt
  kelvin-api/setup.py
  kelvin-api/tests/conftest.py
  kelvin-api/tests/test_ldap.py
  kelvin-api/tests/test_route_user.py
  kelvin-api/ucsschool/kelvin/config.py
  kelvin-api/ucsschool/kelvin/main.py
  kelvin-api/ucsschool/kelvin/routers/base.py
  kelvin-api/ucsschool/kelvin/routers/school.py
  ucs-school-import/modules/setup.py
  ucs-school-import/modules/ucsschool/http_api/import_api/migrations/0001_initial.py
  ucs-school-import/modules/ucsschool/http_api/import_api/migrations/0002_auto_20180309_1104.py
  ucs-school-import/modules/ucsschool/http_api/import_api/migrations/0003_auto_20180601_0848.py
  ucs-school-import/modules/ucsschool/http_api/import_api/serializers.py
  ucs-school-import/modules/ucsschool/importer/configuration.py
  ucs-school-lib/modules/setup.py
  ucs-school-lib/modules/ucsschool/lib/models/__main__.py
  ucs-school-lib/modules/ucsschool/lib/models/utils.py
  ucs-school-lib/modules/ucsschool/lib/school_umc_base.py
  ucs-school-lib/modules/ucsschool/lib/school_umc_ldap_connection.py
  ucs-school-lib/modules/ucsschool/lib/schoollessons.py
Due: prepare, build_docker_image, tests

Issue #56: search using LDAP
  ucs-school-lib/modules/ucsschool/lib/models/group.py
  ucs-school-lib/modules/ucsschool/lib/models/school.py
Due: prepare, build_docker_image, tests

Issue #56: use cn=admin account to bypass LDAP ACLs
  docker/Dockerfile
  docker/gitlab_prepare_docker_image
  kelvin-api/requirements.txt
  kelvin-api/tests/conftest.py
  kelvin-api/tests/test_route_school.py
  kelvin-api/ucsschool/kelvin/ldap.py
  kelvin-api/ucsschool/kelvin/routers/school.py
  ucs-school-lib/modules/ucsschool/lib/tests/test_create_ou.py
Due: prepare, build_docker_image, tests

Issue #56: check for existence of groups using LDAP, instead of always trying to create them
  ucs-school-lib/modules/ucsschool/lib/models/user.py
Due: prepare, build_docker_image, tests

Issue #5: depend on fixed uldap3 version (univention/components/uldap3#5)
  kelvin-api/requirements.txt
Due: prepare, build_docker_image, tests

Issue #64: More tests
  kelvin-api/tests/test_login.py
Due: prepare, build_docker_image, tests

Issue #56: ensure Python 3.11 compatible openapi-client-udm package version
  docker/Dockerfile
Due: prepare, build_docker_image

Issue #56: improve changelog
  appcenter/README_UPDATE_EN
Due: none

Issue #56: hard code openapi-generator-cli version to circumvent image build caching problems
  docker/gitlab_prepare_docker_image
Due: prepare, build_docker_image

Issue #56: remove temporary developer code form performance test data
  ucs-test-ucsschool-kelvin/94_ucsschool-kelvin-performance/locust_files/test_data.py
  ucs-test-ucsschool-kelvin/debian/changelog
Due: ucs_test_deb_lint, ucs_test_deb_build_git, ucs_test_deb_repo_import, ucs_test_deb_repo_build

Issue univention/components/ucsschool-kelvin-rest-api#62: Improve dev env setup instructions
  README.md
Due: none

Issue #68: switch base image
  docker/Dockerfile
Due: prepare, build_docker_image

Issue #68: cleanup dependencies
  docker/Dockerfile
  docker/alpine_apk_list.build
  docker/alpine_apk_list.runtime
Due: prepare, build_docker_image

Issue #68: Add build deps
  docker/alpine_apk_list.build
Due: prepare, build_docker_image

Issue #56: performance tests: warmup school cache, add user-get
  ucs-test-ucsschool-kelvin/94_ucsschool-kelvin-performance/001_school_cache_warmup.py
  ucs-test-ucsschool-kelvin/94_ucsschool-kelvin-performance/011_users_post_stable.py
  ucs-test-ucsschool-kelvin/94_ucsschool-kelvin-performance/021_users_get_stable.py
  ucs-test-ucsschool-kelvin/94_ucsschool-kelvin-performance/022_users_get_max.py
  ucs-test-ucsschool-kelvin/94_ucsschool-kelvin-performance/locust_files/00_schools_get_all.py
  ucs-test-ucsschool-kelvin/94_ucsschool-kelvin-performance/locust_files/01_users_post.py
  ucs-test-ucsschool-kelvin/94_ucsschool-kelvin-performance/locust_files/02_users_get.py
  ucs-test-ucsschool-kelvin/94_ucsschool-kelvin-performance/locust_files/auth.py
  ucs-test-ucsschool-kelvin/94_ucsschool-kelvin-performance/locust_files/settings_kelvin.py
  ucs-test-ucsschool-kelvin/94_ucsschool-kelvin-performance/locust_files/settings_locust.py
  ucs-test-ucsschool-kelvin/debian/changelog
Due: ucs_test_deb_lint, ucs_test_deb_build_git, ucs_test_deb_repo_import, ucs_test_deb_repo_build

Issue #56: workaround Alpine make problem, reorder and rename performance test
  ucs-test-ucsschool-kelvin/94_ucsschool-kelvin-performance/011_users_head_stable.py
  ucs-test-ucsschool-kelvin/94_ucsschool-kelvin-performance/021_users_get_obj_stable.py
  ucs-test-ucsschool-kelvin/94_ucsschool-kelvin-performance/022_users_get_obj_max.py
  ucs-test-ucsschool-kelvin/94_ucsschool-kelvin-performance/031_users_get_list_stable.py
  ucs-test-ucsschool-kelvin/94_ucsschool-kelvin-performance/041_users_post_stable.py
  ucs-test-ucsschool-kelvin/94_ucsschool-kelvin-performance/042_users_post_max.py
  ucs-test-ucsschool-kelvin/94_ucsschool-kelvin-performance/051_users_patch_stable.py
  ucs-test-ucsschool-kelvin/94_ucsschool-kelvin-performance/061_users_put_stable.py
  ucs-test-ucsschool-kelvin/94_ucsschool-kelvin-performance/071_users_delete_stable.py
  ucs-test-ucsschool-kelvin/94_ucsschool-kelvin-performance/locust_files/02_users_get_obj.py
  ucs-test-ucsschool-kelvin/94_ucsschool-kelvin-performance/locust_files/04_users_post.py
  ucs-test-ucsschool-kelvin/94_ucsschool-kelvin/11_in_container_lint
  ucs-test-ucsschool-kelvin/94_ucsschool-kelvin/11_in_container_tests_kelvin_api
  ucs-test-ucsschool-kelvin/94_ucsschool-kelvin/12_in_container_tests_kelvin_api_coverage
  ucs-test-ucsschool-kelvin/debian/changelog
Due: ucs_test_deb_lint, ucs_test_deb_build_git, ucs_test_deb_repo_import, ucs_test_deb_repo_build

Issue #56: remove uniqueness constraint for ints between 10 and 99
  ucs-school-lib/modules/ucsschool/lib/tests/conftest.py
  ucs-test-ucsschool-kelvin/94_ucsschool-kelvin-performance/041_users_post_stable.py
  ucs-test-ucsschool-kelvin/94_ucsschool-kelvin-performance/042_users_post_max.py
  ucs-test-ucsschool-kelvin/debian/changelog
Due: prepare, build_docker_image, tests, ucs_test_deb_lint, ucs_test_deb_build_git, ucs_test_deb_repo_import, ucs_test_deb_repo_build

Issue #56: fix call to create_multiple_ous
  kelvin-api/tests/test_custom_hooks_add_school_admins_to_admin_group.py
  kelvin-api/tests/test_route_user.py
  kelvin-api/tests/test_route_workgroup.py
Due: prepare, build_docker_image, tests

Issue #56: fix tests start (pytest-rerunfailures not installed anymore)
  ucs-test-ucsschool-kelvin/94_ucsschool-kelvin/10_in_container_tests_ucsschool_lib
  ucs-test-ucsschool-kelvin/debian/changelog
Due: ucs_test_deb_lint, ucs_test_deb_build_git, ucs_test_deb_repo_import, ucs_test_deb_repo_build

Issue #56: fix tests
  kelvin-api/tests/conftest.py
  ucs-school-lib/modules/ucsschool/lib/tests/test_school_class.py
Due: prepare, build_docker_image, tests

Issue #56: fix typo
  kelvin-api/tests/conftest.py
Due: prepare, build_docker_image, tests

Issue #56: refactor udm_properties mapping check, and fix error in school_class
  kelvin-api/tests/test_route_school.py
  kelvin-api/tests/test_route_school_class.py
  kelvin-api/tests/test_route_user.py
  kelvin-api/tests/test_route_workgroup.py
  kelvin-api/ucsschool/kelvin/routers/base.py
  kelvin-api/ucsschool/kelvin/routers/school_class.py
  kelvin-api/ucsschool/kelvin/routers/user.py
  kelvin-api/ucsschool/kelvin/routers/workgroup.py
  ucs-school-lib/modules/ucsschool/lib/tests/test_school_class.py
Due: prepare, build_docker_image, tests

Issue #56: stabilize flaky test
  kelvin-api/tests/test_route_school.py
Due: prepare, build_docker_image, tests

Issue #72: changelog, version bump (to 1.8.6)
  appcenter/README_UPDATE_EN
  doc/docs/conf.py
  kelvin-api/VERSION.txt
  kelvin-api/changelog.rst
  kelvin-api/ucsschool/kelvin/constants.py
Due: prepare, html, pdf, linkcheck, spelling, docs-merge, build_docker_image, tests

Bug #54976: instruct users to restart kelvin after UDM changes
  doc/docs/installation-configuration.rst
Due: html, pdf, linkcheck, spelling, docs-merge

Issue #67: ci: Update readme about how to publish docs
  doc/readme.rst
Due: none

Issue #67: ci: Move rules changes and if to one previous job
  .gitlab-ci.yml
Due: none

Issue #67: ci: Add job to trigger downstream
  .gitlab-ci.yml
Due: none

Issue #67: ci: Add job for warnings
  .gitlab-ci.yml
Due: none

Issue #67: ci: Merge to one artifact runs in branch pipelines
  .gitlab-ci.yml
Due: none

Issue #70: add installation instructions for pre-commit
  README.md
Due: none

Issue #61: fix ucsschool-import & ucsschool-lib hooks are called when kelvin api is used
  kelvin-api/tests/test_pyhook.py
  ucs-school-import/modules/ucsschool/importer/models/import_user.py
  ucs-school-lib/modules/ucsschool/lib/models/base.py
Due: prepare, build_docker_image, tests

Issue #61: version & changelog
  appcenter/README_UPDATE_EN
  doc/docs/conf.py
  kelvin-api/VERSION.txt
  kelvin-api/changelog.rst
Due: prepare, html, pdf, linkcheck, spelling, docs-merge, build_docker_image, tests

fixup! Issue #61: fix ucsschool-import & ucsschool-lib hooks are called when kelvin api is used
  kelvin-api/tests/test_pyhook.py
Due: prepare, build_docker_image, tests

Path conditions:
  prepare: any of: docker/*, kelvin-api/**/*, ucs-school-import/**/*, ucs-school-lib/**/*, univention-directory-manager-modules-slim/**/*, univention-lib-slim/**/*
  html: any of: doc/docs/**/*
  pdf: any of: doc/docs/**/*
  linkcheck: any of: doc/docs/**/*
  spelling: any of: doc/docs/**/*
  docs-merge: any of: doc/docs/**/*
  build_docker_image: any of: docker/*, kelvin-api/**/*, ucs-school-import/**/*, ucs-school-lib/**/*, univention-directory-manager-modules-slim/**/*, univention-lib-slim/**/*
  tests: any of: kelvin-api/**/*, ucs-school-lib/**/*
  ucs_test_deb_lint: any of: ucs-test-ucsschool-kelvin/**/*
  ucs_test_deb_build_git: any of: ucs-test-ucsschool-kelvin/**/*
  ucs_test_deb_repo_import: any of: ucs-test-ucsschool-kelvin/debian/changelog
  ucs_test_deb_repo_build: any of: ucs-test-ucsschool-kelvin/debian/changelog
