Repository univention/ucsschool-kelvin-rest-api: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test ucs-school-lib, test kelvin-api, ucs_test_deb_lint, ucs_test_deb_build_git, ucs_test_deb_repo_import, ucs_test_deb_repo_build

test ucs-school-lib:
  stage: tests
  needs:
  - job: build_docker_image
  image: $IMAGE_TAG
  script:
  - cp ucs-school-import/modules/ucsschool/lib/create_ou.py ucs-school-lib/modules/ucsschool/lib/
  - cd ucs-school-lib/modules
  ...

test kelvin-api:
  stage: tests
  needs:
  - job: build_docker_image
  image: $IMAGE_TAG
  script:
  - cd ${CI_PROJECT_DIR}/kelvin-api
  ...

ucs_test_deb_lint:
  stage: build
  variables:
    GIT_DEPTH: 100
  image:
    name: $UCSLINT_IMAGE
    entrypoint:
    - ''
  script:
  - cd ucs-test-ucsschool-kelvin && ucslint -j ucslint.xml
  artifacts:
    reports:
      junit: ucs-test-ucsschool-kelvin/ucslint.xml

ucs_test_deb_build_git:
  stage: build
  image: $DEB_IMAGE
  variables:
    GIT_DEPTH: 100
  script:
  - apt-get update
  - cd ucs-test-ucsschool-kelvin
  - apt-get -q --assume-yes build-dep .
  - dpkg-buildpackage -us -uc
  - install -d -m 755 build
  - mv ../*.tar.*z ../*.dsc ../*.deb ../*.buildinfo ../*.changes build/
  artifacts:
    paths:
  ...

ucs_test_deb_repo_import:
  stage: build
  variables:
    GIT_STRATEGY: none
  tags:
  - omar
  script:
  - 'repo_admin.py -G $CI_REPOSITORY_URL -b $CI_COMMIT_BRANCH -P ucs-test-ucsschool-kelvin -r ${UCS_RELEASE}-0-0 -s $SCOPE -p $PACKAGE
  
    '

ucs_test_deb_repo_build:
  stage: build
  needs:
  - job: ucs_test_deb_repo_import
    artifacts: false
  variables:
    GIT_STRATEGY: none
  tags:
  - ladda
  script:
  - 'build-package-ng --no-pbuilder-update -r ${UCS_RELEASE}-0-0 -s $SCOPE -p $PACKAGE
  
    '

chore(ci): Update reuse-toml pre-commit hook
  .pre-commit-config.yaml
Due: none

chore: Correct spelling in dev docs
  doc/dev/synchronisation.rst
Due: none

chore: Add reuse files and licenses
  .pre-commit-config.yaml
  .reuse/dep5
  .reuse/templates/univention.jinja2
  LICENSES/Apache-2.0.txt
  LICENSES/GPL-3.0-only.txt
  LICENSES/LicenseRef-Univention-Proprietary.txt
  LICENSES/MIT.txt
  LICENSES/Python-2.0.txt
  REUSE.toml
Due: none

chore: Add SPDX header to project root files
  .bandit
  .black
  .dockerignore
  .env.alembic
  .flake8
  .gitattributes
  .gitignore
  .gitignore.example
  .gitlab-ci.yml
  .gitmodules
  .isort.cfg
  AGENTS.md
  Makefile
  README.md
  autoupdate-kelvin-container
  build_docs.py
  fix_nt_acl_on_shares
  pyproject.toml
  sonar-project.properties
Due: none

chore: Add SPDX header to docker files
  docker/Dockerfile
  docker/pre_commit/Dockerfile
  docker/pre_commit/run-basedpyright.sh
  docker/start-connector.sh
  docker/start-kelvin.sh
Due: none

chore: Add SPDX header to kelvin-connector files
  kelvin-connector/README.md
  kelvin-connector/pyproject.toml
  kelvin-connector/src/kelvin_connector/__init__.py
  kelvin-connector/src/kelvin_connector/connector.py
  kelvin-connector/src/kelvin_connector/models.py
  kelvin-connector/src/kelvin_connector/ports.py
  kelvin-connector/src/kelvin_connector/sync.py
  kelvin-connector/tests/conftest.py
  kelvin-connector/tests/test_connector.py
  kelvin-connector/tests/test_consumer.py
  kelvin-connector/tests/test_sync.py
Due: none

chore: Add SPDX header to udm-modules-slim files
  univention-directory-manager-modules-slim/pyproject.toml
  univention-directory-manager-modules-slim/univention/admin/__init__.py
  univention-directory-manager-modules-slim/univention/admin/client.py
  univention-directory-manager-modules-slim/univention/admin/filter.py
  univention-directory-manager-modules-slim/univention/admin/localization.py
  univention-directory-manager-modules-slim/univention/admin/modules.py
  univention-directory-manager-modules-slim/univention/admin/objects.py
  univention-directory-manager-modules-slim/univention/admin/syntax.py
  univention-directory-manager-modules-slim/univention/admin/types.py
  univention-directory-manager-modules-slim/univention/admin/uexceptions.py
  univention-directory-manager-modules-slim/univention/admin/uldap.py
  univention-directory-manager-modules-slim/univention/admin/uldap_docker.py
Due: none

chore(ci): Add SPDX header to ci files
  .gitlab-ci/SonarQube.yml
  .gitlab-ci/branch_tests.cfg
  .gitlab-ci/gitlab-ci.yml
Due: none

docs(changelog): note v2 storage requirements in upgrade instructions
  kelvin-api/changelog.rst
Due: test kelvin-api

ci: publish docs to GitLab Pages from the default branch
  .gitlab-ci/gitlab-ci.yml
Due: none

fix(tests): add `retry_until_replicated` to retry until replicated
  basedpyright-baseline.json
  ucs-test-ucsschool-kelvin/94_ucsschool-kelvin/03_user_resource.py
  ucs-test-ucsschool-kelvin/modules/univention/testing/ucsschool/kelvin_api.py
Due: ucs_test_deb_lint, ucs_test_deb_build_git

wip: debug
  .gitlab-ci/branch_performance_tests.cfg
  .gitlab-ci/gitlab-ci.yml
Due: none

fix: hostname
  .gitlab-ci/branch_performance_tests.cfg
  .gitlab-ci/gitlab-ci.yml
Due: none

ci: add performance-tests job with GitLab metrics artifact
  .gitlab-ci/branch_performance_tests.cfg
  .gitlab-ci/gitlab-ci.yml
  .gitlab-ci/locust_to_prometheus.py
Due: none

ci: generate index.html for locust artifact reports
  .gitlab-ci/branch_performance_tests.cfg
  .gitlab-ci/gitlab-ci.yml
Due: none

test(performance): support testing v1 and v2 Kelvin API endpoints
  .gitlab-ci/branch_performance_tests.cfg
  .gitlab-ci/compare_locust_versions.py
  .gitlab-ci/gitlab-ci.yml
  ucs-test-ucsschool-kelvin/94_ucsschool-kelvin-performance/001_get_all_schools.py
  ucs-test-ucsschool-kelvin/94_ucsschool-kelvin-performance/002_get_school.py
  ucs-test-ucsschool-kelvin/94_ucsschool-kelvin-performance/003_head_school.py
  ucs-test-ucsschool-kelvin/94_ucsschool-kelvin-performance/010_get_all_users.py
  ucs-test-ucsschool-kelvin/94_ucsschool-kelvin-performance/011_get_user.py
  ucs-test-ucsschool-kelvin/94_ucsschool-kelvin-performance/013_create_user.py
  ucs-test-ucsschool-kelvin/94_ucsschool-kelvin-performance/020_get_all_classes.py
  ucs-test-ucsschool-kelvin/94_ucsschool-kelvin-performance/021_get_class.py
  ucs-test-ucsschool-kelvin/94_ucsschool-kelvin-performance/030_get_all_workgroups.py
  ucs-test-ucsschool-kelvin/94_ucsschool-kelvin-performance/031_get_workgroup.py
  ucs-test-ucsschool-kelvin/94_ucsschool-kelvin-performance/040_get_all_roles.py
  ucs-test-ucsschool-kelvin/94_ucsschool-kelvin-performance/041_get_role.py
  ucs-test-ucsschool-kelvin/94_ucsschool-kelvin-performance/README.md
  ucs-test-ucsschool-kelvin/94_ucsschool-kelvin-performance/conftest.py
  ucs-test-ucsschool-kelvin/94_ucsschool-kelvin-performance/src/ucs_test_ucsschool_kelvin_performance/base.py
  ucs-test-ucsschool-kelvin/94_ucsschool-kelvin-performance/src/ucs_test_ucsschool_kelvin_performance/settings_locust.py
  ucs-test-ucsschool-kelvin/94_ucsschool-kelvin-performance/src/ucs_test_ucsschool_kelvin_performance/test_cleaner.py
Due: ucs_test_deb_lint, ucs_test_deb_build_git

tests: Add search performance tests
  ucs-test-ucsschool-kelvin/94_ucsschool-kelvin-performance/012_search_users.py
  ucs-test-ucsschool-kelvin/94_ucsschool-kelvin-performance/022_search_classes.py
  ucs-test-ucsschool-kelvin/94_ucsschool-kelvin-performance/032_search_workgroups.py
  ucs-test-ucsschool-kelvin/94_ucsschool-kelvin-performance/locust_files/classes.py
  ucs-test-ucsschool-kelvin/94_ucsschool-kelvin-performance/locust_files/users.py
  ucs-test-ucsschool-kelvin/94_ucsschool-kelvin-performance/locust_files/workgroups.py
Due: ucs_test_deb_lint, ucs_test_deb_build_git

test(performance): wait for v2 connector to replicate before load-testing
  .gitlab-ci/branch_performance_tests.cfg
  .gitlab-ci/gitlab-ci.yml
  ucs-test-ucsschool-kelvin/94_ucsschool-kelvin-performance/README.md
  ucs-test-ucsschool-kelvin/94_ucsschool-kelvin-performance/wait_for_db_full.py
Due: ucs_test_deb_lint, ucs_test_deb_build_git

test(performance): raise connector replication timeout to 9h
  .gitlab-ci/branch_performance_tests.cfg
  .gitlab-ci/gitlab-ci.yml
  ucs-test-ucsschool-kelvin/94_ucsschool-kelvin-performance/README.md
  ucs-test-ucsschool-kelvin/94_ucsschool-kelvin-performance/wait_for_db_full.py
Due: ucs_test_deb_lint, ucs_test_deb_build_git

test: Generate diskcache from Kelvin DB
  ucs-test-ucsschool-kelvin/94_ucsschool-kelvin-performance/conftest.py
  ucs-test-ucsschool-kelvin/debian/control
Due: ucs_test_deb_lint, ucs_test_deb_build_git

test(performance): ship v2 DB fence in the Kelvin container
  .gitlab-ci/branch_performance_tests.cfg
  .gitlab-ci/gitlab-ci.yml
  kelvin-api/ucsschool/kelvin/wait_for_db_full.py
  ucs-test-ucsschool-kelvin/94_ucsschool-kelvin-performance/README.md
  ucs-test-ucsschool-kelvin/94_ucsschool-kelvin-performance/wait_for_db_full.py
Due: test kelvin-api, ucs_test_deb_lint, ucs_test_deb_build_git

fix(joinscript): Use correct ucr command
  appcenter/includes/inst
  kelvin-api/changelog.rst
Due: test kelvin-api

test(joinscript): Check that UCR variables are synchronized into the container
  basedpyright-baseline.json
  ucs-test-ucsschool-kelvin/94_ucsschool-kelvin/000_ucr_variables_synced_to_container.py
Due: ucs_test_deb_lint, ucs_test_deb_build_git

fix(joinscript): Remove obsolete joinscript procedure
  appcenter/includes/inst
Due: none

chore: update changelog
  kelvin-api/changelog.rst
Due: test kelvin-api

fix: Add missing log statements
  basedpyright-baseline.json
  kelvin-api/ucsschool/kelvin/service/dependency.py
Due: test kelvin-api

fix: Cache check_db_compatibility engine
  kelvin-api/tests/test_db_compatibility.py
  kelvin-api/ucsschool/kelvin/service/dependency.py
Due: test kelvin-api

fix(tests): wait for the s4 round trip in the object-creating fixtures
  basedpyright-baseline.json
  kelvin-api/tests/conftest.py
  kelvin-api/tests/test_route_user.py
  kelvin-api/tests/utils.py
Due: test kelvin-api

fix(tests): bind against the primary in check_password
  basedpyright-baseline.json
  kelvin-api/tests/conftest.py
Due: test kelvin-api

ci: build the images with the buildkit component instead of kaniko
  .gitlab-ci/gitlab-ci.yml
Due: none

chore: Update default issue template
  .gitlab/issue_templates/default.md
Due: none

docs(dev): Fix use case docs
  doc/dev/usecases/uc002a_bulk_create.rst
  doc/dev/usecases/uc002b_bulk_update.rst
Due: none

docs(dev): Use right verb, fix rendering
  doc/dev/usecases/uc002a_bulk_create.rst
  doc/dev/usecases/uc002b_bulk_update.rst
Due: none

docs(agents): mark the Kelvin Connector as implemented
  AGENTS.md
Due: none

docs(dev): Add missing requirements explanation.
  doc/dev/requirements/index.rst
Due: none

docs(dev): fill in the developer manual chapters
  doc/dev/api-reference.rst
  doc/dev/architecture.rst
  doc/dev/database.rst
  doc/dev/debugging.rst
  doc/dev/development.rst
  doc/dev/glossary.rst
  doc/dev/introduction.rst
  doc/dev/spelling_wordlist
  doc/dev/synchronisation.rst
Due: none

docs(dev): style review
  doc/Makefile
  doc/dev/api-reference.rst
  doc/dev/architecture-decisions.rst
  doc/dev/architecture.rst
  doc/dev/conf.py
  doc/dev/database.rst
  doc/dev/debugging.rst
  doc/dev/development.rst
  doc/dev/glossary.rst
  doc/dev/index.rst
  doc/dev/introduction.rst
  doc/dev/lifecycle.rst
  doc/dev/requirements/requirements-functional.rst
  doc/dev/requirements/requirements-nonfunctional.rst
  doc/dev/spelling_wordlist
  doc/dev/synchronisation.rst
  doc/dev/usecases.rst
  doc/dev/usecases/uc001a_create_object.rst
  doc/dev/usecases/uc001b_read_object.rst
  doc/dev/usecases/uc001c_update_object.rst
  doc/dev/usecases/uc001d_delete_object.rst
  doc/dev/usecases/uc002a_bulk_create.rst
  doc/dev/usecases/uc002b_bulk_update.rst
  doc/dev/usecases/uc002c_bulk_delete.rst
  doc/dev/usecases/uc003a_simple_search.rst
  doc/dev/usecases/uc003b_complex_search.rst
  doc/dev/usecases/uc004a_health_check.rst
  doc/dev/usecases/uc004b_statistics.rst
  doc/dev/usecases/uc005a_user_hooks.rst
  doc/dev/usecases/uc005b_format_hooks.rst
  doc/dev/usecases/uc005c_config_hooks.rst
  doc/dev/usecases/uc006_coexistence.rst
  doc/dev/usecases/uc010_multiple_instances.rst
  doc/docs/installation-configuration.rst
  doc/docs/known-issues.rst
  doc/docs/openapi.rst
  doc/readme.rst
Due: none

docs(dev): Fix spelling issues
  doc/dev/architecture.rst
  doc/dev/database.rst
  doc/dev/debugging.rst
  doc/dev/development.rst
  doc/dev/requirements/index.rst
  doc/dev/spelling_wordlist
  doc/dev/synchronisation.rst
Due: none

Path conditions:
  test ucs-school-lib: any of: ucs-school-lib/**/*
  test kelvin-api: any of: kelvin-api/**/*
  ucs_test_deb_lint: any of: ucs-test-ucsschool-kelvin/**/*
  ucs_test_deb_build_git: any of: ucs-test-ucsschool-kelvin/**/*
  ucs_test_deb_repo_import: any of: ucs-test-ucsschool-kelvin/debian/changelog
  ucs_test_deb_repo_build: any of: ucs-test-ucsschool-kelvin/debian/changelog
