Repository univention/ucsschool-kelvin-rest-api: changes, and which GitLab CI jobs are due for each by the changed paths.
All: docs-html, docs-pdf, docs-linkcheck, docs-spelling, docs-merge-to-one-artifact, docs-review, docs-create-production-merge-request, test ucs-school-lib, test kelvin-api, ucs_test_deb_lint, ucs_test_deb_build_git, ucs_test_deb_repo_import, ucs_test_deb_repo_build

docs-merge-to-one-artifact:
  needs:
  - job: docs-html
  - job: docs-pdf
  - job: docs-spelling
    artifacts: false
  - job: docs-linkcheck
    artifacts: false

docs-review:
  needs:
  - job: docs-merge-to-one-artifact

docs-create-production-merge-request:
  needs:
  - job: docs-merge-to-one-artifact

test ucs-school-lib:
  stage: tests
  needs:
  - job: build_docker_image
  image: $IMAGE_TAG
  script:
  - cp ucs-school-import/modules/ucsschool/lib/create_ou.py ucs-school-lib/modules/ucsschool/lib/
  - cd ucs-school-lib/modules
  ...

test kelvin-api:
  stage: tests
  needs:
  - job: build_docker_image
  image: $IMAGE_TAG
  script:
  - cd ${CI_PROJECT_DIR}/kelvin-api
  ...

ucs_test_deb_lint:
  stage: lint
  image:
    name: $UCSLINT_IMAGE
    entrypoint:
    - ''
  script:
  - cd ucs-test-ucsschool-kelvin && ucslint -j ucslint.xml
  artifacts:
    reports:
      junit: ucs-test-ucsschool-kelvin/ucslint.xml

ucs_test_deb_build_git:
  stage: build
  image: $DEB_IMAGE
  script:
  - apt-get update
  - cd ucs-test-ucsschool-kelvin
  - apt-get -q --assume-yes build-dep .
  - dpkg-buildpackage -us -uc
  - install -d -m 755 build
  - mv ../*.tar.*z ../*.dsc ../*.deb ../*.buildinfo ../*.changes build/
  artifacts:
    paths:
  ...

ucs_test_deb_repo_import:
  stage: build
  variables:
    GIT_STRATEGY: none
  tags:
  - omar
  script:
  - 'repo_admin.py -G $CI_REPOSITORY_URL -b $CI_COMMIT_BRANCH -P ucs-test-ucsschool-kelvin -r ${UCS_RELEASE}-0-0 -s $SCOPE -p $PACKAGE
  
    '

ucs_test_deb_repo_build:
  stage: build
  needs:
  - job: ucs_test_deb_repo_import
    artifacts: false
  variables:
    GIT_STRATEGY: none
  tags:
  - ladda
  script:
  - 'build-package-ng --no-pbuilder-update -r ${UCS_RELEASE}-0-0 -s $SCOPE -p $PACKAGE
  
    '

fix: Add parameter description to PATCH, PUT & POST requests
  kelvin-api/ucsschool/kelvin/routers/user.py
Due: test kelvin-api

fix: Fix tests in ucs-test-ucsschool-kelvin
  kelvin-api/ucsschool/kelvin/routers/user.py
  ucs-school-import/modules/ucsschool/importer/models/import_user.py
  ucs-test-ucsschool-kelvin/94_ucsschool-kelvin/02_role_resource.py
  ucs-test-ucsschool-kelvin/94_ucsschool-kelvin/conftest.py
Due: test kelvin-api, ucs_test_deb_lint, ucs_test_deb_build_git

fix: Fix several more issues with the tests
  ucs-school-lib/modules/ucsschool/lib/models/user.py
  ucs-school-lib/modules/ucsschool/lib/roleshares.py
  ucs-school-lib/modules/ucsschool/lib/tests/test_hook.py
  ucs-school-lib/modules/ucsschool/lib/tests/test_user.py
  ucs-test-ucsschool-kelvin/94_ucsschool-kelvin/conftest.py
Due: test ucs-school-lib, ucs_test_deb_lint, ucs_test_deb_build_git

fix: Fix pipeline issues
  .gitlab-ci.yml
Due: none

fix: Increased git-depth also necessary here
  .gitlab-ci.yml
Due: none

fix: Send URL instead of dn and accept URL or username for legal_guardians & legal_wards
  kelvin-api/tests/test_route_user.py
  kelvin-api/ucsschool/kelvin/routers/user.py
Due: test kelvin-api

fix: Here it still uses the dn as it comes from udm
  kelvin-api/tests/test_route_user.py
Due: test kelvin-api

fix: Can't assume legal-guardian is in same school - use existing make_legal_guardians method
  kelvin-api/ucsschool/kelvin/routers/user.py
Due: test kelvin-api

fix: Change parameter description
  .gitlab-ci.yml
  kelvin-api/ucsschool/kelvin/routers/user.py
Due: test kelvin-api

fix: Remove this assignment again as it's no longer needed
  kelvin-api/ucsschool/kelvin/routers/user.py
Due: test kelvin-api

fix: Remove legacy role checks
  ucs-school-lib/modules/ucsschool/lib/models/user.py
Due: test ucs-school-lib

fix: This should be this variable for the logic to work
  kelvin-api/ucsschool/kelvin/main.py
Due: test kelvin-api

feat: mount certificates
  appcenter/configure
  appcenter/configure_host
  appcenter/ini.jinja
  appcenter/settings
  doc/docs/installation-configuration.rst
Due: docs-html, docs-pdf, docs-linkcheck, docs-spelling, docs-merge-to-one-artifact, docs-review, docs-create-production-merge-request

feat: remove openrc service and run gunicorn directly
  README.md
  appcenter/configure
  appcenter/listener_trigger
  doc/docs/installation-configuration.rst
  doc/docs/known-issues.rst
  docker/Dockerfile
  docker/alpine_apk_list.runtime
  docker/build.sh
  docker/start-kelvin.sh
  docker/ucsschool-kelvin-rest-api.initd
  kelvin-api/tests/conftest.py
  ucs-test-ucsschool-kelvin/94_ucsschool-kelvin/conftest.py
  ucs-test-ucsschool-kelvin/modules/univention/testing/ucsschool/kelvin_api.py
Due: docs-html, docs-pdf, docs-linkcheck, docs-spelling, docs-merge-to-one-artifact, docs-review, docs-create-production-merge-request, test kelvin-api, ucs_test_deb_lint, ucs_test_deb_build_git

feat: mount ldap.secret
  appcenter/ini.jinja
  appcenter/inst
Due: none

feat: new type of logger handler to use Docker stdout
  appcenter/configure_host
  kelvin-api/tests/conftest.py
  kelvin-api/ucsschool/kelvin/constants.py
  kelvin-api/ucsschool/kelvin/main.py
  ucs-school-lib/modules/ucsschool/lib/models/utils.py
Due: test ucs-school-lib, test kelvin-api

fix: no need to mount logfiles
  appcenter/ini.jinja
Due: none

fix: logroate in the container can be removed
  docker/build.sh
Due: none

feat: add logrotate config on host
  appcenter/configure_host
Due: none

feat: directly read from journal in rsyslog config
  appcenter/configure_host
  docker/Dockerfile
  kelvin-api/setup.cfg
  kelvin-api/tests/conftest.py
  kelvin-api/ucsschool/kelvin/constants.py
  kelvin-api/ucsschool/kelvin/main.py
  ucs-school-lib/modules/ucsschool/lib/models/utils.py
Due: test ucs-school-lib, test kelvin-api

test: less code -> less coverage
  .gitlab-ci.yml
Due: none

fix: 'Mount' object has no attribute 'endpoint'
  kelvin-api/ucsschool/kelvin/main.py
Due: test kelvin-api

fix: Use postrotate instead of copytruncate in logrotate
  appcenter/configure_host
Due: none

fix: Escape brackets to not be interpreted as regex
  README.md
  appcenter/configure
  appcenter/listener_trigger
Due: none

fix: init.d service doesn't exist - call script manually
  appcenter/configure_host
Due: none

docs: Add changelog & increase version
  appcenter/README_UPDATE_EN
  kelvin-api/VERSION.txt
  kelvin-api/changelog.rst
Due: docs-html, docs-pdf, docs-linkcheck, docs-spelling, docs-merge-to-one-artifact, docs-review, docs-create-production-merge-request, test kelvin-api

feat: Use syslogtag as APP_NAME doesn't seem to always work
  appcenter/configure_host
Due: none

fix: install new configuration files on update
  appcenter/configure_host
Due: none

ci: always build image, we need the tag for the appcenter
  .gitlab-ci.yml
Due: none

feat: add legalGuardian to kelvin
  kelvin-api/tests/test_import_user.py
  kelvin-api/ucsschool/kelvin/routers/role.py
  kelvin-api/ucsschool/kelvin/routers/user.py
  ucs-school-import/modules/ucsschool/importer/models/import_user.py
  ucs-school-lib/modules/ucsschool/lib/models/user.py
Due: test ucs-school-lib, test kelvin-api

fix: Several more fixes for the automatic tests
  kelvin-api/tests/test_pyhook.py
  kelvin-api/tests/test_route_user.py
  ucs-school-lib/modules/ucsschool/lib/models/user.py
Due: test ucs-school-lib, test kelvin-api

fix: Fixed validation test that failed for school-admins
  ucs-school-lib/modules/ucsschool/lib/tests/test_validation_users.py
Due: test ucs-school-lib

fix: Fixed tests - need to create UserModel instance depending on user_type
  kelvin-api/tests/test_route_user.py
Due: test kelvin-api

fix: Fixed import order
  ucs-school-import/modules/ucsschool/importer/default_user_import_factory.py
Due: none

fix: Remove temporary test that wasn't suppose to be committed
  ucs-school-lib/modules/ucsschool/lib/models/user.py
Due: test ucs-school-lib

feat: Create method for distinguishing between user-types and use it for all user APIs
  kelvin-api/ucsschool/kelvin/routers/user.py
Due: test kelvin-api

fix: make this method async, as this gave an error
  ucs-school-lib/modules/ucsschool/lib/models/user.py
Due: test ucs-school-lib

feat: adding lib changes legalGuardian branch of school repo
  ucs-school-lib/modules/ucsschool/lib/de.po
  ucs-school-lib/modules/ucsschool/lib/i18n.py
  ucs-school-lib/modules/ucsschool/lib/models/__main__.py
  ucs-school-lib/modules/ucsschool/lib/models/attributes.py
  ucs-school-lib/modules/ucsschool/lib/models/school.py
  ucs-school-lib/modules/ucsschool/lib/models/user.py
  ucs-school-lib/modules/ucsschool/lib/models/validator.py
  ucs-school-lib/modules/ucsschool/lib/roles.py
  ucs-school-lib/modules/ucsschool/lib/roleshares.py
  ucs-school-lib/modules/ucsschool/lib/roleshares_umc.py
  ucs-school-lib/modules/ucsschool/lib/schoolldap.py
Due: test ucs-school-lib

feat: Make users search API return one of three types of user models
  kelvin-api/ucsschool/kelvin/routers/user.py
  ucs-school-lib/modules/ucsschool/lib/models/user.py
Due: test ucs-school-lib, test kelvin-api

fix: Fixed validation test that required new role
  ucs-school-lib/modules/ucsschool/lib/tests/test_validation_users.py
Due: test ucs-school-lib

Path conditions:
  docs-html: any of: doc/docs/**/*, kelvin-api/changelog.rst
  docs-pdf: any of: doc/docs/**/*, kelvin-api/changelog.rst
  docs-linkcheck: any of: doc/docs/**/*, kelvin-api/changelog.rst
  docs-spelling: any of: doc/docs/**/*, kelvin-api/changelog.rst
  docs-merge-to-one-artifact: any of: doc/docs/**/*, kelvin-api/changelog.rst
  docs-review: any of: doc/docs/**/*, kelvin-api/changelog.rst
  docs-create-production-merge-request: any of: doc/docs/**/*, kelvin-api/changelog.rst
  test ucs-school-lib: any of: ucs-school-lib/**/*
  test kelvin-api: any of: kelvin-api/**/*
  ucs_test_deb_lint: any of: ucs-test-ucsschool-kelvin/**/*
  ucs_test_deb_build_git: any of: ucs-test-ucsschool-kelvin/**/*
  ucs_test_deb_repo_import: any of: ucs-test-ucsschool-kelvin/debian/changelog
  ucs_test_deb_repo_build: any of: ucs-test-ucsschool-kelvin/debian/changelog
