Repository univention/ucsschool-kelvin-rest-api: changes, and which GitLab CI jobs are due for each by the changed paths.
All: prepare, docs-html, docs-pdf, docs-linkcheck, docs-spelling, docs-warnings, docs-merge-to-one-artifact, docs-create-production-merge-request, build_docker_image, tests, ucs_test_deb_lint, ucs_test_deb_build_git, ucs_test_deb_repo_import, ucs_test_deb_repo_build, upload_appcenter_scripts_to_test_appcenter

prepare:
  stage: prepare
  image:
    name: python:3.9-bullseye
  artifacts:
    paths:
    - docker/build/
    expire_in: 1 day
  cache:
  - key: $CI_COMMIT_REF_SLUG
    paths:
    - docker/build/
  script:
  - apt-get update
  - apt-get install -y git rsync
  - cd ${CI_PROJECT_DIR}/docker
  - ./gitlab_prepare_docker_image

docs-merge-to-one-artifact:
  needs:
  - job: docs-html
  - job: docs-pdf
  - job: docs-spelling
    artifacts: false
  - job: docs-linkcheck
    artifacts: false

docs-create-production-merge-request:
  needs:
  - job: docs-merge-to-one-artifact

build_docker_image:
  stage: build
  variables:
    KANIKO_BUILD_CONTEXT: $CI_PROJECT_DIR/docker/build/
    KANIKO_ARGS: --build-arg app_id="$APP_ID" --build-arg commit="$CI_COMMIT_SHA" --build-arg date="$CI_JOB_STARTED_AT" --cache=true --cache-repo $CI_REGISTRY_IMAGE/cache --cache-copy-layers

tests:
  stage: tests
  needs:
  - job: build_docker_image
  image: $IMAGE_TAG
  script:
  - cd ${CI_PROJECT_DIR}/ucs-school-lib/modules/ucsschool/lib && python3 -m pytest -lvv --asyncio-mode=auto tests
  - cd ${CI_PROJECT_DIR}/kelvin-api && python3 -m pytest -lvv --asyncio-mode=auto tests

ucs_test_deb_lint:
  stage: lint
  image:
    name: $UCSLINT_IMAGE
    entrypoint:
    - ''
  script:
  - cd ucs-test-ucsschool-kelvin && ucslint -j ucslint.xml
  artifacts:
    reports:
      junit: ucs-test-ucsschool-kelvin/ucslint.xml

ucs_test_deb_build_git:
  stage: build
  image: $DEB_IMAGE
  script:
  - apt-get update
  - cd ucs-test-ucsschool-kelvin
  - apt-get -q --assume-yes build-dep .
  - dpkg-buildpackage -us -uc
  - install -d -m 755 build
  - mv ../*.tar.*z ../*.dsc ../*.deb ../*.buildinfo ../*.changes build/
  artifacts:
    paths:
  ...

ucs_test_deb_repo_import:
  stage: build
  variables:
    GIT_STRATEGY: none
  tags:
  - omar
  script:
  - 'repo_admin.py -G $CI_REPOSITORY_URL -b $CI_COMMIT_BRANCH -P ucs-test-ucsschool-kelvin -r ${UCS_RELEASE}-0-0 -s $SCOPE -p $PACKAGE
  
    '

ucs_test_deb_repo_build:
  stage: build
  needs:
  - job: ucs_test_deb_repo_import
    artifacts: false
  variables:
    GIT_STRATEGY: none
  tags:
  - ladda
  script:
  - 'build-package-ng --no-pbuilder-update -r ${UCS_RELEASE}-0-0 -s $SCOPE -p $PACKAGE
  
    '

upload_appcenter_scripts_to_test_appcenter:
  stage: production
  image: $APPCENTER_CONTROL_IMAGE
  script:
  - APP_VERSION="$(cat kelvin-api/VERSION.txt)"
  - cd appcenter
  - echo "updating $APP_NAME=$APP_VERSION"
  ...

Issue #100: Apply suggestions
  README.md
Due: none

fixup! Issue #100: Add paragraph about Jenkins jobs
  README.md
Due: none

Bug #55924: fix OX hook
  ucs-school-import/usr/share/ucs-school-import/pyhooks-available/create_new_ox_contexts_kelvin.py
Due: prepare, build_docker_image

Issue #100: Update readme
  README.md
Due: none

Bug #54333: Require ucsschool app to be installed
  appcenter/preinst
Due: upload_appcenter_scripts_to_test_appcenter

Revert "Bug #54333: test version"
  kelvin-api/VERSION.txt
Due: prepare, build_docker_image, tests

Issue #102: Adjust 50_kelvin_app_ini test
  ucs-test-ucsschool-kelvin/94_ucsschool-kelvin/50_kelvin_app_ini.py
Due: ucs_test_deb_lint, ucs_test_deb_build_git

fixup! Bug #54333: test version
  appcenter/preinst
Due: upload_appcenter_scripts_to_test_appcenter

Bug #54333: test version
  kelvin-api/VERSION.txt
Due: prepare, build_docker_image, tests

Bug #54333: Require ucsschool app to be installed
  appcenter/preinst
  ucs-test-ucsschool-kelvin/94_ucsschool-kelvin/50_kelvin_app_ini.py
Due: ucs_test_deb_lint, ucs_test_deb_build_git, upload_appcenter_scripts_to_test_appcenter

Issue #91: Update debian package
  ucs-test-ucsschool-kelvin/debian/changelog
Due: ucs_test_deb_lint, ucs_test_deb_build_git, ucs_test_deb_repo_import, ucs_test_deb_repo_build

Issue #105: URL to name conversion does not depend on host name anymore
  kelvin-api/ucsschool/kelvin/urls.py
Due: prepare, build_docker_image, tests

fixup! Issue #105: Add test cases
  kelvin-api/tests/test_caching.py
Due: prepare, build_docker_image, tests

Issue #105: QA suggestions
  kelvin-api/ucsschool/kelvin/urls.py
Due: prepare, build_docker_image, tests

Issue #105: Use host header for hashing
  kelvin-api/ucsschool/kelvin/urls.py
Due: prepare, build_docker_image, tests

Issue #105: Add test cases
  kelvin-api/tests/conftest.py
  kelvin-api/tests/test_caching.py
  kelvin-api/tests/test_route_user.py
Due: prepare, build_docker_image, tests

Issue #105: URL to name conversion does not depend on host name anymore
  kelvin-api/tests/conftest.py
  kelvin-api/tests/test_caching.py
  kelvin-api/tests/test_route_user.py
  kelvin-api/ucsschool/kelvin/urls.py
Due: prepare, build_docker_image, tests

Issue #116: Fix changelog
  appcenter/README_UPDATE_EN
  kelvin-api/changelog.rst
Due: prepare, build_docker_image, tests, upload_appcenter_scripts_to_test_appcenter

fixup! Issue #116: Fix changelog
  appcenter/README_UPDATE_EN
  doc/docs/conf.py
  kelvin-api/VERSION.txt
  kelvin-api/changelog.rst
Due: prepare, docs-html, docs-pdf, docs-linkcheck, docs-spelling, docs-warnings, docs-merge-to-one-artifact, docs-create-production-merge-request, build_docker_image, tests, upload_appcenter_scripts_to_test_appcenter

Issue #116: Fix changelog and bump version
  appcenter/README_UPDATE_EN
  doc/docs/conf.py
  kelvin-api/VERSION.txt
  kelvin-api/changelog.rst
Due: prepare, docs-html, docs-pdf, docs-linkcheck, docs-spelling, docs-warnings, docs-merge-to-one-artifact, docs-create-production-merge-request, build_docker_image, tests, upload_appcenter_scripts_to_test_appcenter

Issue #94: add changelogs
  appcenter/README_UPDATE_EN
  kelvin-api/changelog.rst
Due: prepare, build_docker_image, tests, upload_appcenter_scripts_to_test_appcenter

Issue #94: add bug number to changelogs
  appcenter/README_UPDATE_EN
  kelvin-api/changelog.rst
Due: prepare, build_docker_image, tests, upload_appcenter_scripts_to_test_appcenter

Issue ucsschool-id-connector#24: correct appname in pipeline
  .gitlab-ci.yml
Due: none

Issue #131: The docker-service image now support multiple python versions
  .gitlab-ci.yml
Due: none

Issue #131: Use gitlab proxy for image to avoid rate limit
  .gitlab-ci.yml
Due: none

Issue #131: Split Tests
  .gitlab-ci.yml
Due: none

Issue #131: load is deprecated
  ucs-school-lib/modules/requirements.txt
Due: prepare, build_docker_image, tests

Issue #131: Coverage
  .gitlab-ci.yml
Due: none

Issue #131: Add non-covered line to kelvin-api
  kelvin-api/ucsschool/kelvin/routers/user.py
Due: prepare, build_docker_image, tests

fixup! Issue #131: Add non-covered line to kelvin-api
  kelvin-api/ucsschool/kelvin/routers/user.py
Due: prepare, build_docker_image, tests

Issue #131: Add lines to ucsschool-lib
  ucs-school-lib/modules/ucsschool/lib/models/user.py
Due: prepare, build_docker_image, tests

Issue #131: pytest coverage excludes unreachable code ;)
  kelvin-api/ucsschool/kelvin/routers/user.py
  ucs-school-lib/modules/ucsschool/lib/models/user.py
Due: prepare, build_docker_image, tests

Issue #131: test small coverage change
  kelvin-api/ucsschool/kelvin/routers/user.py
  ucs-school-lib/modules/ucsschool/lib/models/user.py
Due: prepare, build_docker_image, tests

fixup! Issue #131: test small coverage change
  kelvin-api/ucsschool/kelvin/routers/user.py
  ucs-school-lib/modules/ucsschool/lib/models/user.py
Due: prepare, build_docker_image, tests

Issue #133: Pin alpine image
  docker/Dockerfile
Due: prepare, build_docker_image

Bug #55556: Redirect to docs for base url
  kelvin-api/tests/test_route_base.py
  kelvin-api/ucsschool/kelvin/main.py
Due: prepare, build_docker_image, tests

Issue #127: wip
  files/logrotate.d/ucsschool-kelvin-rest-api
  files/ucsschool-kelvin-rest-api.univention-config-registry
  ucs-school-lib/modules/ucsschool/lib/models/utils.py
Due: prepare, build_docker_image, tests

Issue #136: Restart with ucs cert
  appcenter/update-certificates
Due: upload_appcenter_scripts_to_test_appcenter

Issue #136: changelog and version bumb
  appcenter/README_UPDATE_EN
  doc/docs/conf.py
  kelvin-api/VERSION.txt
  kelvin-api/changelog.rst
Due: prepare, docs-html, docs-pdf, docs-linkcheck, docs-spelling, docs-warnings, docs-merge-to-one-artifact, docs-create-production-merge-request, build_docker_image, tests, upload_appcenter_scripts_to_test_appcenter

Issue #108: fix cache instance
  kelvin-api/tests/test_route_school.py
  kelvin-api/ucsschool/kelvin/routers/school.py
Due: prepare, build_docker_image, tests

Path conditions:
  prepare: any of: docker/*, kelvin-api/**/*, ucs-school-import/**/*, ucs-school-lib/**/*, univention-directory-manager-modules-slim/**/*, univention-lib-slim/**/*
  docs-html: any of: doc/docs/**/*
  docs-pdf: any of: doc/docs/**/*
  docs-linkcheck: any of: doc/docs/**/*
  docs-spelling: any of: doc/docs/**/*
  docs-warnings: any of: doc/docs/**/*
  docs-merge-to-one-artifact: any of: doc/docs/**/*
  docs-create-production-merge-request: any of: doc/docs/**/*
  build_docker_image: any of: docker/*, kelvin-api/**/*, ucs-school-import/**/*, ucs-school-lib/**/*, univention-directory-manager-modules-slim/**/*, univention-lib-slim/**/*
  tests: any of: kelvin-api/**/*, ucs-school-lib/**/*
  ucs_test_deb_lint: any of: ucs-test-ucsschool-kelvin/**/*
  ucs_test_deb_build_git: any of: ucs-test-ucsschool-kelvin/**/*
  ucs_test_deb_repo_import: any of: ucs-test-ucsschool-kelvin/debian/changelog
  ucs_test_deb_repo_build: any of: ucs-test-ucsschool-kelvin/debian/changelog
  upload_appcenter_scripts_to_test_appcenter: any of: appcenter/**
